{% extends '@views/layouts/main.twig' %}
{% block content %}
    <h1>Generator events for testing</h1>
    <a href="{{ url('events/push', {'name': 'forum.comment.add'}) }}">Добавить комментарий</a>
{% endblock %}
