{% if count(pages) > 0 %}
        <span class="smallText">
            {{ translate('Maybe you mean') }} {{ output | raw }}
        </span>
{% else %}
    <span class="smallText">
    {{ translate('Maybe you mean') }} <a href="{{ url('/') }}">{{ url('/') }}</a>
</span>
{% endif %}