@font-face {
	font-family: 'League Gothic';
	src: url("files/leaguegothic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@orange: #d05504;
@orange2: #ff6600;
@yellow: #ffbe00;
@grey: #222222;
@white: #ffffff;
*{
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
}
body, html{
	width: 100%;
	height: 100%;
	background-color: @white;
	font-family: 'Open Sans', arial, sans-serif;
}
body.layout-boxed{
	line-height: normal;
}
.tr(@tr){
    transition: @tr;
    -webkit-transition: @tr;
    -moz-transition: @tr;
    -o-transition: @tr;
    -ms-transition: @tr;
}
.dnone{
	display: none;
}
.crossWrapper{
	max-width: 1180px;
	margin: auto;
	padding: 0 20px;
	position: relative;
	min-height: 1px;
}
.crossTitle{
	font-size: 40px;
	line-height: 74px;
	color: #777777;
	font-family: 'League Gothic', arial, sans-serif;
	text-align: center;
	font-weight: 400;
	position: relative;
	&:after{
		content: " ";
		display: inline-block;
		max-width: 26px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 4px;
		background-color: @orange2;
		margin: auto;
	}
}
.clear{
	clear: both;
}
.crossBander{
	height: 100%;
	min-height: 720px;
	background-image: url('./img/banderBack.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	.crossWrapper{
		height: 100%;
	}
	.crossVerticcalWrapper{
		position: absolute;
		min-height: 480px;
		top: 0;
		bottom: 0;
		left: 20px;
		right: 20px;
		height: 50%;
		margin: auto;
	}
	.crossLogo{
		float: left;
		font-family: 'League Gothic', arial, sans-serif;
		text-align: center;
		font-weight: 400;
		font-size: 85px;
		width: 360px;
		height: 360px;
		img{
			display: block;
			width: 360px;
			height: 360px;
			padding: 80px;
			border: 5px solid @orange;
			color: @white;
			background-color: transparent;
			box-shadow: inset 3px 3px 5px rgba(0,0,0,.5),
						inset -3px -3px 5px rgba(0,0,0,.5),
						3px 3px 5px rgba(0,0,0,.5),
						-3px -3px 5px rgba(0,0,0,.5);
		}
	}
	.crossDescr{
		float: left;
		width: calc(~'100% - 360px');
		padding-left: 100px;
		color: @white;
		font-size: 30px;
		line-height: 45px;
		font-weight: bold;
		.crossH1{
			color: @yellow;
			font-size: 60px;
			line-height: 75px;
			font-weight: bold;
			margin-bottom: 5px;
			margin-top: 45px;
		}
	}
}
.crossTimers{
	margin-top: -250px;
	min-height: 250px;
	background-image: url('./img/polukrug.png');
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 5;
}
.timer-separator{
	display: none;
}
.timer-element{
	display: block;
	width: 195px;
	height: 195px;
	text-align: center;
	background-image: url('./img/timer.png');
	font-weight: 400;
	color: @white!important;
	text-transform: uppercase;
	padding-top: 50px;
	box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}
#timer-element-cross-days{
	position: absolute;
	left: 115px;
	top: 40px;
}
#timer-element-cross-hours{
	position: absolute;
	top: 0;
	left: 365px;
}
#timer-element-cross-minutes{
	position: absolute;
	top: 0;
	right: 365px;
}
#timer-element-cross-secundes{
	position: absolute;
	top: 40px;
	right: 115px;
}
#timer-text-cross-days{
	font-size: 0!important;
	&:before{
		content: "Days";
		font-size: 19px!important;
	}
}
#timer-text-cross-hours{
	font-size: 0!important;
	&:before{
		content: "Hours";
		font-size: 19px!important;
	}
}
#timer-text-cross-minutes{
	font-size: 0!important;
	&:before{
		content: "Minutes";
		font-size: 19px!important;
	}
}
#timer-text-cross-secundes{
	font-size: 0!important;
	&:before{
		content: "Seconds";
		font-size: 19px!important;
	}
}
img{
	max-width: 100%;
}
.crossBtnAdaptiveBlock{
	display: none;
}
.crossSubscribeLine{
	margin-top: -70px;
	background-color: @grey;
	padding-top: 80px;
	padding-bottom: 160px;
	color: @white;
	text-align: center;
	position: relative;
	z-index: 4;
	&:after{
		content: " ";
		position: absolute;
		height: 28px;
		bottom: -14px;
		left: 0;
		right: 0;
		background-image: url('./img/2.png');
	}
	.crossH2{
		font-size: 20px;
		color: #555555;
		text-align: center;
		position: relative;
		&:after{
			content: " ";
			display: inline-block;
			width: 100px;
			height: 1px;
			background-color: #555555;
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			top: 40px;
		}
	}
	.crossForm{
		width: 100%;
		background-color: #111111;
		box-shadow: inset 0 5px 6px #000, inset 0 -5px 6px #000;
		max-height: 0px;
		overflow: hidden;
		.tr(.6s);
		margin-top: 75px;
		&.open{
			padding-top: 60px;
			padding-bottom: 80px;
			max-height: 1000px;
			&~.crossBtn{
				opacity: 0;
			}
		}
		.crossFormTitle{
			font-size: 30px;
			color: #444;
			line-height: 26px;
			margin-bottom: 40px;
		}
		.crossFormTitleBold{
			font-size: 40px;
			line-height: 74px;
			font-weight: 400;
			color: @orange2;
			font-family: 'League Gothic', arial, sans-serif;
		}
		.crossNumber{
			span{
				font-size: 35px;
				font-weight: 400;
				font-family: 'League Gothic', arial, sans-serif;
				color: @white;
				display: inline-block;
			}
			.car{
				font-size: 40px;
				font-weight: 400;
				font-family: 'League Gothic', arial, sans-serif;
				color: @yellow;
				display: inline-block;
				margin-top: 60px;
				background-image: url('./img/balid.png');
				width: 300px;
				height: 200px;
				line-height: 200px;
				background-position: center;
				background-repeat: no-repeat;
				text-align: left;
				padding-left: 75px;
				margin-left: 20px;
			}
		}
		.subscribeText{
			font-size: 30px;
			font-family: 'League Gothic', arial, sans-serif;
			font-weight: 400;
			line-height: 40px;
            
            a {
                color: @yellow !important;
            }
		}
		.crossFormBody{
			max-width: 960px;
			padding: 0 20px;
			width: 100%;
			margin: auto;
			font-size: 20px;
			line-height: 26px;
			font-weight: 300;
			p{
				margin-bottom: 20px;
			}
			a{
				color: @orange;
			}
		}
		.crossInputWrapper{			
			margin-bottom: 30px;
			.yellow{			
				max-width: 100%;
				text-align: center;
				margin: auto;
				color: @yellow;
			}
			.form-group{
				margin-bottom: 0;	
			}
			&:after{
				content: " ";
				display: table;
				clear: both;
			}
			.wrapperInner{				
				width: 360px;
				max-width: 100%;
				font-size: 12px;
				padding: 0;
				text-align: left;
				margin: auto;				
				.has-success{
					
				}
				.help-block{
					text-align: center;
				}
				input[type="checkbox"]{
					display: none;			
					&:checked+label:before{    
						background-image: url(../images/check.png);
					}
					&+label{
						display: block;
						width: 100%;
						padding-left: 34px;
						position: relative;
						line-height: 1.1em;
						color: #fff;
						&:before{			
							content: " ";
						    display: block;
				   			width: 24px;
							height: 24px;
							border: 2px solid #777;
							cursor: pointer;
							background-repeat: no-repeat;
							background-position: center;
							background-color: #fff;
							transition: all .3s;
							-webkit-transition: all .3s;
							-moz-transition: all .3s;
							-o-transition: all .3s;
							-ms-transition: all .3s;
							position: absolute;
							top: 0;
							left: 0;
						}
					}
				}
			}
		}
		.crossInput{
			width: 360px;
			max-width: 100%;
			height: 50px;
			line-height: 50px;
			border: 2px solid #aaaaaa;
			color: #444;
			font-size: 20px;
			padding: 0 10px;
			clear: both;
			&:focus{
				color: #444;
				border-color: @orange2;
			}
		}
	}
	.crossBtn{
		display: inline-block;
		width: 360px;
		max-width: 100%;
		text-align: center;
		background-color: @orange2;
		border: 0;
		color: @white;
		font-weight: 400;
		font-family: 'League Gothic', arial, sans-serif;
		font-size: 38px;
		line-height: 72px;
		height: 68px;
		cursor: pointer;
		text-decoration: none;
		box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
		opacity: 1;
		.tr(.3s);
		&.disabled{
			opacity: .3;
		}
		&:hover{
			background-color: @orange;
		}
	}
	.crossLineProgress{
		width: 100%;
		float: left;
		margin-top: 75px;
	}
	.crossProgressName{
		width: 220px;
		float: left;
		font-size: 40px;
		line-height: 40px;
		font-weight: 400;
		color: #555555;
		font-family: 'League Gothic', arial, sans-serif;
		&.active{
			color: @white;
		}
		.crossProgressLine{
			height: 10px;
			width: 100%;
			margin-top: 25px;
			background-color: #555555;
			position: relative;
			&:before{
				position: absolute;
				content: " ";
				display: block;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-image: url('./img/shkala.png');
			}
			.crossLine{
				height: 10px;
				background-color: @yellow;
				width: 0;
			}
		}
	}
	.dot{
		float: left;
		width: 52px;
		padding-top: 95px;
		font-size: 20px;
		color: #555555;
		font-family: 'League Gothic', arial, sans-serif;
		position: relative;
		text-align: center;
		&:before{
			content: " ";
			display: inline-block;
			width: 34px;
			height: 34px;
			background-color: @grey;
			border: 1px solid #555555;
			border-radius: 50%;
			position: absolute;
			top: 52px;
			left: 0;
			right: 0;
			margin: auto;
		}
		&:after{
			content: " ";
			position: absolute;
			display: inline-block;
			width: 18px;
			height: 18px;
			background-color: #555;
			top: 61px;
			left: 0;
			right: 0;
			margin: auto;
			border-radius: 50%;
		}
		&.active{
			&:before{
				border-color: @yellow;
			}
			&:after{
				background-color: @yellow;
			}
		}
	}
}
.crossPrizes{
	padding-top: 120px;
	padding-bottom: 160px;
	background-image: url('./img/formula_f2.jpg');
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 3;
	.crossFund{
		font-size: 180px;
		font-weight: bold;
		color: @orange2;
		margin-top: 50px;
		text-shadow: 3px 4px 1px #444444;
	}
	.crossCups{
		margin-top: -70px;
	}
	&:after{
		content: " ";
		position: absolute;
		height: 28px;
		bottom: -14px;
		left: 0;
		right: 0;
		background-image: url('./img/1.png');
	}
}
.crossKey{
	position: relative;
	z-index: 2;
	background-color: @grey;
	padding-top: 120px;
	padding-bottom: 160px;
	.crossTitle{
		color: @white;
	}
	&:after{
		content: " ";
		position: absolute;
		height: 28px;
		bottom: -14px;
		left: 0;
		right: 0;
		background-image: url('./img/2.png');
	}
	.crossSide{
		margin-top: 100px;
		float: left;
		.imag{
			.tr(.3s);
			&:before{
				content: " ";
				background-color: rgba(255,190,0,.1);
				width: 1px;
				height: 1px;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				border-radius: 50%;
				.tr(.3s);
			}
			&.active{
				&:before{
					width: 150px;
					height: 150px;
				}
			}

		}
		.tickets{
			width: 166px;
			height: 157px;
			background-image: url('./img/hren/tickets.png');
			position: absolute;    
			top: -35px;
			left: -35px;
			&.active{				
				background-image: url('./img/hren/tickets_h.png');
			}
		}
		.kluchi{
			width: 166px;
			height: 157px;
			background-image: url('./img/hren/kluch.png');
			position: absolute;
			top: 35px;
			left: 240px;
			&.active{				
				background-image: url('./img/hren/kluch_h.png');
			}
		}
		.cup{
			width: 166px;
			height: 157px;
			background-image: url('./img/hren/cup.png');
			position: absolute;    
			top: 170px;
			left: 130px;
			&.active{				
				background-image: url('./img/hren/cup_h.png');
			}					
		}
		.circles{
			width: 166px;
			height: 157px;
			background-image: url('./img/hren/circle.png');
			position: absolute;    
			top: 240px;
			left: 310px;	
			&.active{				
				background-image: url('./img/hren/circle_h.png');
			}
			&:before{
				top: -27px;
    			left: 27px;
			}	
		}
		.cars{
			width: 226px;
			height: 215px;
			background-image: url('./img/hren/car.png');
			position: absolute;    
			top: 369px;
			left: 75px;
			&.active{				
				background-image: url('./img/hren/cars_h.png');
			}				
		}
		.crossList{
			width: 50%;
			float: left;
			.crossListElem{
				display: inline-block;
				font-size: 40px;
				margin-bottom: 50px;
				margin-top: 10px;
				font-family: 'League Gothic', arial, sans-serif;
				font-weight: 400;
				text-decoration: none;
				color: #aaa;
				cursor: default;
				position: relative;
				clear: both;
				cursor: pointer;
				&:last-child{
					margin-bottom: 0px;
				}
				&.open{
					.crossDescription{
						max-height: 1000px;
						margin-top: 15px;
					}
				}
				.crossDescription{
					font-size: 16px;
					line-height: 23px;
					font-family: 'Open Sans', arial, sans-serif;
					display: block;
					color: @white;
					max-height: 0px;
					cursor: default;
					overflow: hidden;
    				max-width: 450px;
					.tr(.3s);
				}
				&:hover{
					color: @yellow;
					.crossDescription{
						color: @white;
					}
					span{
						color: @yellow;
					}
				}
				span{
					color: #555;
				}
			}
		}
	}
	.crossMap{
		float: left;
		width: 50%;
		.map{
			height: 540px;
			width: 585px;
			background-image: url('./img/map.png');
			background-repeat: no-repeat;
			background-position: center;
			position: relative;
		}
	}
}

.crossCore{
	padding-top: 120px;
	padding-bottom: 160px;
	background-image: url('./img/textura_kletka.png');
	.crossBody{
		margin-top: 110px;
		.crossBlockText{
			float: left;
			width: 35%;
			.crossTitleText{
				font-size: 40px;
				font-family: 'League Gothic', arial, sans-serif;
				color: @orange2;
				font-weight: 400;
				line-height: 74px;
			}
			.crossBodyText{
				font-size: 16px;
				line-height: 22px;
				color: #333333;
				p{
					margin-bottom: 15px;
				}
				ul{
					margin-bottom: 15px;
					padding-left: 0;
					list-style: none;
					li{
						&:before{
							content: "— ";
						}
					}
				}
			}
		}
	}
	.crossBtnBlock{
		float: left;
		text-align: center;
		width: 30%;
		.btn{
			width: 230px;
			height: 230px;
			border: 3px solid @orange2;
			display: inline-block;
			margin-top: 80px;
			border-radius: 50%;
			text-decoration: none;    
			padding-top: 65px;
			color: #333333;
			font-size: 19px;
			line-height: 22px;
			.tr(.3s);
			&:hover{
				background-color: @orange2;
				color: #fff;
				transform: scale(1.1);
			}
			span{
				font-size: 48px;
				line-height: 63px;
				font-weight: 400;
				font-family: 'League Gothic', arial, sans-serif;
				display: block;
			}
		}
	}
}
.crossBlackLine{
	height: 300px;
	width: 100%;
	background-image: url('./img/tipa_paralax_no_ne_to_chto_ya_dumayu.jpg');
	background-attachment: fixed;
	background-size: cover;
}
.crossPartners{
	padding-top: 120px;
	padding-bottom: 120px;
	background-image: url('./img/textura_kletka.png');
	.crossButtons{
		clear: both;
		text-align: center;
		margin-top: 20px;
		.crossBtn{
			max-width: 260px;
			width: 100%;
			height: 70px;
			line-height: 66px;
			border: 2px solid @orange2;
			text-align: center;
			display: inline-block;
			margin: 0 20px;
			font-family: 'League Gothic', arial, sans-serif;
			font-size: 26px;
			font-weight: 400;
			color: #555555;
			cursor: pointer;
			text-decoration: none;
			margin-bottom: 40px;
			.tr(.3s);
			&:hover{
				background-color: @orange2;
				color: @white;
			}
		}
	}
	.block{
		width: 50%;
		float: left;
		margin-bottom: 40px;
		text-align: center;
		.partnerDescription{
			font-size: 35px;
			font-weight: 400;
			font-family: 'League Gothic', arial, sans-serif;
			color: #aaaaaa;
			line-height: 82px;
			background-image: url('./img/textura_kletka.png');
			position: relative;
		}
		.crossPartnerLogo{
			max-height: 77px;
			line-height: 77px;
			max-width: 250px;
			display: inline-block;
		}
		&.double{
			width: 100%;
			margin-top: 65px;
			.el{
				display: inline-block;
				margin: 0 40px;
				text-align: center;
			}
		}
	}
	.crossPartnersList{
		margin-bottom: 40px;
		float: left;
		width: 100%;
		ul{
			padding: 0;
			margin: 0;
			margin-top: 65px;
			li{
				list-style: none;
				display: block;
				width: 100%;
				float: left;
				position: relative;
				&.no-line{
					&:before{
						content: none;
					}
				}
				&:before{
					content: " ";
					position: absolute;
					top: 40px;
					left: 20px;
					right: 20px;
					height: 1px;
					border-bottom: 1px dashed @orange2;
				}
				.partnerDescription{
					float: left;
					font-size: 35px;
					font-weight: 400;
					font-family: 'League Gothic', arial, sans-serif;
					color: #aaaaaa;
					line-height: 82px;
					background-image: url('./img/textura_kletka.png');
					position: relative;
				    padding-right: 15px;	
				}
				.crossPartnerLogo{
					float: right;
					background-image: url('./img/textura_kletka.png');
					position: relative;
					padding-left: 15px;
					max-width: 250px;
					line-height: 77px;
					max-height: 77px;
				}
			}
		}
	}
}
.crossBlock{
	max-width: 100%;
}
@media screen and (max-width: 1180px) {
	.crossBander .crossLogo img{
		width: 300px;
		height: 300px;
		padding: 60px;
	}
	.crossBander .crossLogo{
		width: 300px;
		height: 300px;
	}
	.crossBander .crossDescr{
	    width: calc(~'100% - 300px');
        padding-left: 80px;    
        font-size: 26px;
    	line-height: 40px;
	}
	.crossBander .crossDescr .crossH1{
	    color: #ffbe00;
	    font-size: 50px;
	    line-height: 60px;
	    font-weight: 700;
	    margin-bottom: 5px;
	    margin-top: 25px;
	}
	.timer-element{
		background-size: contain;
		position: static!important;
		margin-left: 15px!important;
		margin-right: 15px!important;
	}
	.crossSubscribeLine .dot{
		width: 4.56%;
	}
	.crossSubscribeLine .crossProgressName{
		font-size: 36px;
		width: 19.3%;
	}
	.crossSubscribeLine .dot:after{
		width: 16px;
		height: 16px;
	}
	.crossSubscribeLine .dot:before{
		width: 32px;
		height: 32px;
	}
	.crossKey .crossSide .crossList .crossListElem .crossDescription{
		font-size: 14px;
	}
	.crossKey .crossSide .crossList .crossListElem{
		font-size: 35px;
	}
	.crossKey .crossSide .crossList{
		width: 40%;
	}
	.crossCore .crossBody .crossBlockText .crossTitleText{
		font-size: 36px;
		line-height: 60px;
	}
}
@media screen and (max-width: 960px) {
	.crossCore .crossBody .crossBlockText{
		width: 50%;
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 40px;
	}
	.crossBtnAdaptiveBlock{
		display: block;
		color: #6f6f6f;
		text-align: center;
		clear: both;
		span{
			display: block;
		}
		.btn{
			display: inline-block;
			max-width: 250px;
			width: 100%;
			clear: both;
			height: 52px;
			border: 2px solid @orange;
			line-height: 48px;    
			font-family: 'League Gothic',arial,sans-serif;
			color: #555555;
			font-size: 28px;
			text-decoration: none;
			margin-top: 10px;
			.tr(0.3s);
			&:hover{
				background-color: @orange;
				color: #fff;
			}
		}
	}
	.crossCore .crossBtnBlock{
		display: none;
	}
	.crossKey {
		.crossWrapper{
			padding: 0;
		}
	}
	.crossKey .crossSide{
		width: 100%;
		float: left;
		margin-top: 50px;
	}
	.crossKey .crossSide .crossList .crossListElem{
		margin-top: 0;
		margin-bottom: 0;
		border-top: 1px solid #353535;
		width: 100%;
		color: @yellow;
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
		.tr(.3s);
		&:last-child{
			border-bottom: 1px solid #353535;
		}
		&.open{
			background-color: #111111;
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
	.crossKey .crossSide .crossList{
		br{
			display: none;
		}
	}
	.crossKey .crossSide .crossList{
		width: 100%;
	}
	.crossKey .crossSide .crossMap{
		display: none;
	}
	.crossSubscribeLine {
		padding-bottom: 110px;
	}
	.crossPrizes, .crossKey, .crossCore, .crossPartners{
		padding-top: 80px;
		padding-bottom: 110px;
	}
	.crossPrizes .crossFund {
	    font-size: 150px;
	    font-weight: 700;
	    color: #f60;
	    margin-top: 15px;
	    text-shadow: 3px 4px 1px #444;
	}
	.crossPrizes .crossCups{
		margin-top: -50px;
	}
	.crossSubscribeLine .dot:after{
		width: 10px;
		height: 10px;
		top: 65px;
	}
	.crossSubscribeLine .dot{
	    padding-top: 85px;
    	font-size: 18px;
	}
	.crossSubscribeLine .dot:before{
		width: 20px;
		height: 20px;
		top: 59px;
	}
	.crossSubscribeLine .crossProgressName{
		font-size: 30px;
	}
	.crossBander .crossDescr .crossH1{
	    color: #ffbe00;
	    font-size: 35px;
	    line-height: 45px;
	    font-weight: 700;
	    margin-bottom: 5px;
	    margin-top: 70px;
	}
	.crossBander .crossDescr{
	    padding-left: 40px;
		font-size: 19px;
		line-height: 30px;
	}
	.timer-element{
		width: 150px;
		height: 150px;
		background-size: contain;
		padding-top: 40px;
		position: static!important;
		margin-left: 10px!important;
		margin-right: 10px!important;
	}
	#timer-text-cross-days, #timer-text-cross-hours, #timer-text-cross-minutes, #timer-text-cross-secundes{
		margin-top: 50px!important;
		&:before{
			font-size: 16px!important;
		}
	}
}
@media screen and (max-width: 768px) {
	.crossSubscribeLine .crossProgressName{
		font-size: 24px;
	}
	.crossSubscribeLine .crossProgressName .crossProgressLine {
	    height: 10px;
	    width: 80%;
	    margin: auto;
	    margin-top: 25px;
	    background-color: #555;
	    position: relative;
	}
	.crossSubscribeLine .dot:after {
	    width: 8px;
	    height: 8px;
	    top: 65px;
	}
	.crossSubscribeLine .dot:before {
	    width: 18px;
	    height: 18px;
	    top: 59px;
	}
	.crossSubscribeLine .dot {
	    padding-top: 85px;
	    font-size: 16px;
	}
	.crossKey .crossSide .crossList .crossListElem .crossDescription{
		font-size: 12px;
	}
	.crossKey .crossSide .crossList .crossListElem{
		font-size: 30px;
	}
	.crossPartners .crossPartnersList ul li .partnerDescription{
		line-height: 52px;
		font-size: 24px;
	}
	.crossPartners .crossPartnersList ul li:before{
		top: 26px;
	}
	.crossPartners .crossPartnersList ul li .crossPartnerLogo img{
		max-height: 52px;
	}
	.crossBlackLine{
		height: 200px;
	}
	.crossCore .crossBody .crossBlockText .crossTitleText{
		font-size: 28px;
		line-height: 32px;
	}
	.crossCore .crossBody .crossBlockText .crossBodyText{
		margin-top: 20px;
		font-size: 12px;
    	line-height: 18px;
	}
	.crossCore .crossBody{
		margin-top: 40px;
	}
	.crossCore, .crossKey, .crossPartners, .crossPrizes{
		padding-top: 40px;
		padding-bottom: 60px;
	}
	.crossSubscribeLine{
		padding-bottom: 80px;
		padding-top: 0;
	}
	.crossPrizes .crossFund{
		font-size: 100px;
	}
	.crossPrizes .crossCups{
		margin-top: -20px;
	}
	.crossBander{
		background-size: cover;
		background-position: center;
	}
	.timer-element{
	    width: 88px;
    	height: 88px;
    	padding-top: 20px;
    	span{
    		font-size: 35px!important;
    	}
	}
	#timer-text-cross-days, #timer-text-cross-hours, #timer-text-cross-minutes, #timer-text-cross-secundes{
		margin-top: 0!important;
		&:before{
		    font-size: 9px!important;
		}
	}
	.crossBander{
		.crossWrapper{
			max-width: 480px;
			.crossLogo{
				width: 168px;
				height: 168px;
				img{					
					width: 168px;
					height: 168px;
					padding: 35px;
				}
			}
			.crossDescr{
				width: calc(~'100% - 168px');
				font-size: 16px;
				line-height: 22px;
				font-weight: normal;
				.crossH1{
					font-size: 20px;
					line-height: 22px;
					margin-top: 20px;
				}
			}
		}
	}
}
@media screen and (max-width: 480px) {
	.crossPartners .block{
		width: 100%;
	}
	.crossTimers {
		margin-top: -150px;
		min-height: 150px;
	}
	.crossSubscribeLine {
		margin-top: -40px;
		z-index: 5;
		
		.crossSubscribeLine .crossH2::after {
			display: none;
		}
	}
	
	.crossSubscribeLine .crossForm .crossInput{		
	    height: 40px;
	    line-height: 40px;    
	    font-size: 16px;
	}
	.crossSubscribeLine .crossForm .crossBtn{
		margin-top: 10px;
	}
	.crossSubscribeLine .crossProgressName {
	    font-size: 30px;
	    text-align: left;
	}
	.crossBander .crossWrapper .crossLogo{
		width: 100%;
		height: 120px;
	}
	.crossBander .crossWrapper .crossLogo img {
	    width: 120px;
	    height: 120px;
	    padding: 28px;
	    display: block;
	    margin: auto;
	}
	.crossBander .crossWrapper .crossDescr {
	    width: 100%;
	    font-size: 16px;
	    line-height: 22px;
	    font-weight: 400;
	    padding-left: 0;
	    text-align: center;
	    br{
	    	display: none;
	    }
	}
	.crossBander .crossWrapper .crossDescr .crossH1 {
	    font-size: 22px;
	    line-height: 28px;
	    margin-top: 25px;
	}
	.timer-element {
	    width: 56px;
	    height: 56px;
	    padding-top: 17px;    
	    margin-left: 6px!important;
    	margin-right: 6px!important;
	}
	.timer-element span {
	    font-size: 24px!important;
	}
	#timer-text-cross-days, #timer-text-cross-hours, #timer-text-cross-minutes, #timer-text-cross-secundes {
	    margin-top: 20px!important;
	}
	.crossSubscribeLine .openForm{
		display: none;
	}
	.crossSubscribeLine .crossForm{
		max-height: 2000px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.crossSubscribeLine .crossForm .crossFormBody {
	    padding: 0;
	    font-size: 14px;
	    line-height: 22px;
	}
	.crossSubscribeLine .crossForm .crossFormTitle {
	    font-size: 20px;
	    color: #444;
	    line-height: 20px;
	    margin-bottom: 25px;
	}
	.crossSubscribeLine .crossBtn {
	    font-size: 30px;
	    line-height: 60px;
	    height: 60px;
	}
	#timercross{
		margin-top: 40px;
	}
	.crossCore, .crossKey, .crossPartners, .crossPrizes {
	    padding-top: 20px;
	    padding-bottom: 40px;
	}
	.crossPrizes .crossFund {
	    font-size: 70px;
	    text-align: center;
	    margin-top: 10px;
	}
	.crossPrizes .crossCups {
	    margin-top: 0;
	}
	.crossTitle{
		font-size: 34px;
		line-height: 60px;
	}
	.crossKey .crossSide .crossList .crossListElem {
	    font-size: 28px;
	}
	.crossCore .crossBody .crossBlockText {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	    margin-bottom: 20px;
	}
	.crossPartners .crossPartnersList ul{
		margin-top: 20px;
	}
	.crossPartners .crossPartnersList ul li .partnerDescription{
		width: 100%;
		text-align: center;
		padding-right: 0;
	}
	.crossPartners .crossPartnersList ul li .crossPartnerLogo {
	    padding-left: 0;
	    width: 100%;
	    text-align: center;
	}
	.crossPartners .crossPartnersList ul li {
	    margin-bottom: 15px;
	}
	.crossSubscribeLine .crossLineProgress{
		margin-top: 40px;
	}
	.crossSubscribeLine .dot {
		width: 120px;
	    padding-top: 0;
	    font-size: 18px;
	    text-align: right;
		padding-right: 40px;
	}
	.crossSubscribeLine .dot:before {
	    top: 1px;
		margin: 0;
		left: auto;
		right: 10px;
	}
	.crossSubscribeLine .dot:after {
	    top: 6px;
		margin: 0;
		left: auto;
		right: 15px;
	}
	.crossSubscribeLine .crossProgressName{
	    width: calc(~'100% - 120px');
	    position: relative;
	    padding-bottom: 0;
	    line-height: 100px;
	    padding-top: 10px;
		padding-left: 20px;
	}
	.crossSubscribeLine .crossProgressName .crossProgressLine {
	    height: auto;
	    width: 2px;
	    margin-top: 0;
	    background-color: #555;
	    position: absolute;
	    top: 28px;
	    bottom: 10px;
	    left: -20px;
	}
	.crossSubscribeLine .crossProgressName .crossProgressLine .crossLine{
		width: 100%!important;
		height: auto;
	}
}
@media screen and (max-width: 2560px) and (min-width: 480px) {
	.crossSubscribeLine .crossProgressName .crossProgressLine .crossLine{
		width: 0;
		height: 100%!important;
	}
}
.ptmc-footer{
	position: relative!important;
}