{{ this.registerJs("
        /* it is neeed for articles random_feature */
        var without_prevent_default = '" ~ without_prevent_default ~ "';

            function like(item){
                var params = $(item).data();
                if($(item).hasClass('disabled')){
                    return false;
                }
                jQuery.ajax({
                    type: 'POST',
                    url: '/site/set-like?field=count_like',
                    data: {id: params.id, entity: params.className},
                    success: function(data){
                        if(params.selectorCounter){
                            $(params.selectorCounter).html(JSON.parse(data).count_like);
                        }
                        $(item).addClass('disabled');
                    },
               });
            }
            /* Send like */
            jQuery('#like-btn').click(function(e){

               if(!without_prevent_default){
                    e.preventDefault();
                }

                jQuery(this).addClass('disabled');
                var id = jQuery(this).attr('data-id');
                var class_name = jQuery(this).attr('data-class-name');
                var class_name = jQuery(this).attr('data-class-name');
                var selector = jQuery(this).attr('selector-counter');
                jQuery.ajax({
                    type: 'POST',
                    url: '/site/set-like?field=count_like',
                    data: {id: id, entity: class_name},
                    success: function(data){
                        jQuery( '.count-like[data-id=' + id + ']' ).html(JSON.parse(data).count_like);
                        jQuery( '.count-dislike[data-id=' + id + ']' ).html(JSON.parse(data).count_dislike);
                        jQuery( '.count-percent[data-id=' + id + ']' ).html(JSON.parse(data).count_percent + '%');
                        jQuery( '.progress-bar[data-id=' + id + ']' ).css('width', JSON.parse(data).count_percent + '%');
                        if(selector){
                            $(selector).html(JSON.parse(data).count_like);
                        }
                    },
               });
            });

            jQuery('.like-btn').click(function(e){

               if(!without_prevent_default){
                    e.preventDefault();
                }

                jQuery(this).addClass('disabled');
                var id = jQuery(this).attr('data-id');
                var class_name = jQuery(this).attr('data-class-name');
                var class_name = jQuery(this).attr('data-class-name');
                var selector = jQuery(this).attr('selector-counter');
                jQuery.ajax({
                    type: 'POST',
                    url: '/site/set-like?field=count_like',
                    data: {id: id, entity: class_name},
                    success: function(data){
                        jQuery( '.count-like[data-id=' + id + ']' ).html(JSON.parse(data).count_like);
                        jQuery( '.count-dislike[data-id=' + id + ']' ).html(JSON.parse(data).count_dislike);
                        jQuery( '.count-percent[data-id=' + id + ']' ).html(JSON.parse(data).count_percent + '%');
                        jQuery( '.progress-bar[data-id=' + id + ']' ).css('width', JSON.parse(data).count_percent + '%');
                        if(selector){
                            $(selector).html(JSON.parse(data).count_like);
                        }
                    },
               });
            });

            /* Send dislike */
            jQuery('.dislike-btn').click(function(e){

                e.preventDefault();
                jQuery(this).addClass('disabled');
                var id = jQuery(this).attr('data-id');
                var class_name = jQuery(this).attr('data-class-name');

                jQuery.ajax({
                    type: 'POST',
                    url: '/site/set-like?field=count_dislike',
                    data: {id: id, entity: class_name},
                    success: function(data){
                        jQuery( '.count-like[data-id=' + id + ']' ).html(JSON.parse(data).count_like);
                        jQuery( '.count-dislike[data-id=' + id + ']' ).html(JSON.parse(data).count_dislike);
                    },
               });
            });
    ", constant('\\yii\\web\\View::POS_END')) }}