<script src="https://apis.google.com/js/platform.js" async defer></script>

<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>

{{ this.registerJs("
    $( document ).ready(function() {
        $( '.fb-share-button' ).attr('data-href', document.location.href);
        $( '.linkedin-btn' ).attr('data-href', document.location.href);

        var tweet_src =  $( '#tweet-button' ).attr('src');
        tweet_src += '&url=' + encodeURIComponent(document.location.href);
        $( '#tweet-button' ).attr('src', tweet_src);
    });


    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = '//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5&appId=1490777351220342';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
") }}