
    <div class="tab-pane active" id="{{ id ? id : 'login-form-tab' }}">

        {#{{ use('nodge/eauth/Widget') }}#}
        {{ use('yii/helpers/Html') }}
        {{ use('yii/widgets/ActiveForm') }}


        {% set form = flat_active_form_begin({ 'id' : 'login-form','action' : '/login' }) %}



        <form action="#" class="form-horizontal">

            <div class="modal-body">

                <input type="hidden" id="login-website">
                <input type="text" placeholder="Email / Username" class="form-control" name="LoginForm[username]" required>
                <input type="password" placeholder="{{ translate('Password') }}" class="form-control" name="LoginForm[password]" required>

                <a href="{{ selector ? selector : '#recovery-form-tab' }}" class="recovery" data-toggle="tab" aria-expanded="false"> {{ translate('Restore password') }}</a>
                <button onclick="ga('send', 'event', 'button', 'click', 'login_en');" type="submit" id="enter" class="btn btn-ptmc">{{translate('Log in')}}</button>

            </div>
    </form>

    {{ flat_active_form_end() }}
</div>

    {{ this.registerJs("
        $('form').submit(function(){
                if ($('input#login-website').val().length != 0) {
                    return false;
                }
        });
") }}
