    {#{{ use('nodge/eauth/Widget') }}#}
    {{ use('yii/helpers/Html') }}
    {{ use('yii/widgets/ActiveForm') }}


            {#{{ app.session.getFlash('password-changed')[2] }}#}

            <div class="tab-pane" id="{{ id ? id : 'registration-form-tab' }}">

                {% set form = active_form_begin({ 'id' : 'sign-up-form','action' : '/sign-up' }) %}

                <form action="#" class="form-horizontal">
        
                    <div class="modal-body">

                        <input type="hidden" id="registration-website">
                        <input type="email" placeholder="Email" class="form-control" name="SignUp[email]"
                                           required>
                        <input id="gmt_input" style="display: none"  type="text" class="form-control" name="SignUp[gmt]">
                        <button onclick="ga('send', 'event', 'button', 'click', 'registration_en');" type="submit" id="reg" class="btn btn-ptmc">
                            {{translate('Registration')}}
                        </button>
                    </div>
                </form>

                {{ active_form_end() }}
            </div>

    {{ this.registerJs("
        $('form').submit(function(){
                if ($('input#registration-website').val().length != 0) {
                    return false;
                }
        });

        x = new Date();
        gmt = -x.getTimezoneOffset() / 60;
        if (gmt > 0) {
            gmt = 'UTC+' + gmt;
        } else if (gmt < 0) {
            gmt = 'UTC-' + gmt;
        } else {
            gmt = 'UTC±' + gmt;
        }
        $('#gmt_input').val(gmt);
") }}
