{#{{ use('nodge/eauth/Widget') }}#}
    {{ use('yii/helpers/Html') }}
    {{ use('yii/widgets/ActiveForm') }}


            <div class="tab-pane" id="{{ id ? id : 'recovery-form-tab' }}">

                {% set form = active_form_begin({ 'id' : 'sign-up-form','action' : '/recovery-password' }) %}

                <form action="#" class="form-horizontal">
        
                    <div class="modal-body">

                        <input type="hidden" id="recovery-website">
                        <input type="email" placeholder="Your Email" class="form-control" name="RecoveryPassword[email]" required>
                        <button type="submit" id="reg" class="btn btn-ptmc">{{translate('Send password')}}</button>
                        
                    </div>
                </form>

                {{ active_form_end() }}
            </div>

{{ this.registerJs("
        $('form').submit(function(){
                if ($('input#recovery-website').val().length != 0) {
                    return false;
                }
        });
") }}
