{% if app.user.isGuest %}

    <div id="modal_form_inline" class="modal fade">
        <i class="fa fa-close close-modal" data-dismiss="modal"></i>
        
        <div class="modal-dialog login">

            <div class="modal-content">

                <div class="tabbable">

                    <div class="modal-header">
                        <ul class="nav nav-tabs nav-tabs-solid nav-justified">
                            <li class="active">
                                <a href="#login-form-tab-download" data-toggle="tab" aria-expanded="false" id="login-tab-item">
                                    {{ translate('Log in') }}
                                </a>
                            </li>
                            <li>
                                <a href="#registration-form-tab-download" data-toggle="tab"
                                   aria-expanded="false" id="registration-tab-item">
                                   {{ translate('Registration') }}
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">

                        {{ use('nodge/eauth/Widget') }}
                        {{ use('yii/helpers/Html') }}
                        {{ use('yii/widgets/ActiveForm') }}

                        {% include '@views/user/modal/__login_form.twig' with{id:'login-form-tab-download', selector:'#recovery-tab-registration'}%}
                        {% include '@views/user/modal/__registration_form.twig' with{id:'registration-form-tab-download'} %}
                        {% include '@views/user/modal/__recovery_password_form.twig' with{id:'recovery-tab-registration'} %}

                        <div id="social-widget" onclick="ga('send', 'event', 'button', 'click', 'registration_social');">
                            {{ Widget_widget({"action" : "/login"}) }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}

{#<a class="header-link" data-toggle="modal" data-target="#modal_form_inline" href="#">Войти</a>#}
