<div style="padding-left: 20px;">

    {#<a href="#" class="btn btn-success" id="save" data-pjax="0">{{ translate('Save ' ~ params.title) }}</a>#}
    {{ html.a(translate('Save ' ~ params.title), '#', {

        'class' : 'btn btn-success',
        'id' : 'save',
        'data-pjax' : 0

    } ) | raw }}



    <a href="{{ params.indexUrl }}" class="btn btn-default" data-pjax="0">{{ translate('Cancel') }}</a>

    {% if not model.isNewRecord %}

        <a href="{{ createUrl({'0' : params.deleteUrl, 'id':getQueryParams('id')}) }}" class="btn btn-danger"
           data-pjax="0"
           onclick="if(confirm('Do you want to delete ?'))
                   {
                   return true;
                   } else {
                   return false;
                   }
                   ">{{ 'Delete' }}</a>

    {% endif %}

</div>