<!-- event_change_category modal -->
<div id="event_change_category" class="modal fade">
    <div class="modal-dialog ptmc-modal">
        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <span class="modal-title h6">
                    {{ translate('Category id was changed, do we need new canonical?') }}
                </span>

            </div>


            <div class="modal-footer">
                <button id="no" type="button" class="btn btn-link" data-dismiss="modal">
                    {{ translate('No') }}
                </button>

                <button id="yes" type="button" class="btn btn-ptmc">
                    {{ translate('Yes') }}
                </button>
            </div>

        </div>
    </div>
</div>

<input type="hidden" id="clear_canonical" name="clear_canonical">

{% include '@app/components/JsEventsWidget/views/_buttons.twig' %}