{% if (count > 0) %}
<ul class="menu" id="notify">
  {% for notify in items %}
    <li>
      <a class="img" href="{{ notify.sender.getViewUrl() }}">
        {{ notify.sender.getAvatar() | raw}}
      </a>
      <span class="title">
        {{ notify.getDateTime() }} | <span class="{{ notify.getTitleHtmlClass() }}">{{ notify.getLabel() | raw }}</span>
      </span>
      <span class="name">
        <a href="{{ notify.getViewUrl() }}">
          {{ notify.getDescription() | raw }}
        </a>
      </span>
    </li>
  {% endfor %}
</ul>
{% endif %}
