<li class="dropdown notifications">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <i class="fa fa-bell active"></i><span id="notify-counter">3</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">Your Notifications <div class="pull-right">
                <a class="mr-5" href="{{ '/notify/all' }}" {% if(count <= 0) %}style="display: none" {% endif %} data-confirm="Are you sure?" id="mark-all-read">Mark all as read</a>
                <a href="/edit-profile#notific">
                    <!-- <i class="fa fa-cog"></i> -->
                    <img class="cog" src="/images/x.svg" onerror="this.onerror=null; this.src='/images/x.png'" alt="">
                </a></div></li>
        <li class="body">
            <ul class="menu" id="notify">
                {% for item in messages %}
                    {% if(count(item['messages']) == 1) %}
                        <li>
                            <a class="img" href="#">
                                <img src="http://1.gravatar.com/avatar/4c8857dda9ea6263ffd1d215ddc3f00f?s=52&r=g" alt="">
                            </a>
                            <span class="title">
                               <a class="user" href="#">Michael Jackson</a> <span class="">{{ item['template'].getTitle(item['messages'][0].getNotify())}}</span>
                            </span>
                            <span class="name">
                              <a href="#">
                                  {{ item['template'].getBody(item['messages'][0].getNotify()) | raw}}
                              </a>
                            </span>
                            <span class="text-muted data">
                                Yesterday at 15:10
                            </span>
                        </li>
                    {% else %}
                        <li class="double">
                            <span class="dot"></span>
                            <span class="title">
                               <span class="">{{ item['template'].getTitle(item['messages'][0].getNotify(), count(item['messages'])) | raw}}</span>
                            </span>
                            <span class="name">
                              <a href="#">
                                  {{ item['template'].getBody(item['messages'][0].getNotify(), count(item['messages'])) | raw}}
                              </a>
                            </span>
                            <span class="text-muted data">
                                Yesterday at 16:39
                            </span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        <li class="footer"><a href="{{ app.user.identity.getViewUrl() }}#not">See All Messages</a></li>
    </ul>
</li>
