<a href="{{ app.user.identity.getViewUrl() }}#not" class="mr-20 mob_not">
  {% if(count > 0) %}
      <i class="fa fa-bell active"></i><span id="notify-counter">{{ count }}</span>
  {% else %}
      <i class="fa fa-bell"></i><span id="notify-counter"></span>
  {% endif %}
</a>