<div id="" class="sidebar-category">
    <div class="category-title">
        <span class="panel-title h4">{{ self.title }}</span>
    </div>
    <div class="category-content">
        <div class="form-group frListMore">
            {% for model in models %}
                <div class="media">
                    <div class="media-body"> 
                        <a href="{{ self.getViewUrl(model.id) }}" class="media-heading text-semibold">
                            <div class="frListMoreVotes" title="{{ translate("Votes") }}">
                                {{ self.getVotes(model) }}
                            </div>
                            <div class="frListMoreTitle">
                                {{ model.title }}    
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
            <div class="clear"></div>
        </div>
    </div>
</div>