{{ use('vova07/imperavi/Widget') }}

<div class="addComment">
    <div class="comAuth">

        <span class="photo">
            {{ app.user.identity.getAvatar(28,28) | raw }}
        </span>

        <span class="text-muted">
           {{ app.user.identity.getFullname() }}
        </span>

    </div>

    <div class="comEditor">

        {% set form = active_form_begin({
        'options' : {
        'class' : 'form-horizontal group-border-dashed',
        'id':'custom-comment-form',
        'enctype' : 'multipart/form-data',
        },
        'fieldConfig' : {
        'template' : '{input}\n{hint}\n{error}',
        'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
        'errorOptions' : {'class' : 'col-lg-3 help-block'}
        }
        }) %}


        {{ form.field(model, 'entity').input('hidden').label(false) | raw }}
        {{ form.field(model, 'entity_id').input('hidden').label(false) | raw }}
        {{ form.field(model, 'content').widget('\\vova07\\imperavi\\Widget', {
            'plugins': [
                '\\app\\assets\\ImperaviAsset',
            ],
            'settings' : {
                'focus': false,
                'replaceDivs':false,
                'toolbar': true,
                'minHeight' : 100,
                'imageUpload' : '/articles/image-upload',
                'uploadImageFields' : {
                    'path' : 'upload/articles-comments/' ~ current.id,
                },
                'plugins':['advanced'],
                'pastePlainText': true,
                'buttons' : ['bold', 'italic', 'link','image'],
                'placeholder': 'Enter your comment',
                'fileUpload' : '/articles/file-upload',
                'uploadFileFields' : {
                    'path' : 'upload/forum-comments' ~ model.id,
                },
                'imageUploadCallback' : jsexpression('function(e, response){$(e).wrap(\'<a href="\'+response.original+\'" data-popup="lightbox">\')}')
            }
        }) | raw }}
    </div>

    <div>

        {{ html.submitButton(translate('Publish') , {'class' : 'btn btn-ptmc'} ) | raw }}

      {{ active_form_end() }}
    </div>
</div>
