{{ use('app/components/widgets/imperavi/Redactor') }}

<div id="edit" class="modal fade">
    <div class="modal-dialog ptmc-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <span class="modal-title h6 text-muted">{{ translate('Edit') }}</span>
            </div>
            <div class="modal-body">
                <!-- <span class="text-semibold h6"><i class="icon-pencil7 position-left"></i> Ваш комментарий</span> -->
                <div class="content-group">
                    <div id="edit-answer">

                        <input id="edit-comment-id" type="hidden" name="edit_comment_id" value="">
                        <input type="hidden" name="topic_id" id="topic_id" value="">

                        {% set form = active_form_begin({
                        'options' : {
                        'id': 'edit-custom-comments-form',
                        'class' : 'form-horizontal group-border-dashed',
                        'enctype' : 'multipart/form-data',
                        },
                        'fieldConfig' : {
                        'template' : '{label}{error}\n<div class="col-lg-12 no-padding">{input}</div>\n{hint}',
                        'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
                        'labelOptions' : {'class' : 'col-lg-6 control-label no-padding-left'},
                        'errorOptions' : {'class' : 'col-lg-6 help-block no-padding-right pull-right'}
                        }}) %}

                        {{ form.field(edit_form, 'id').textInput({'maxlength' : 255, 'style' : 'display:none'}).label(false) | raw }}

                        {{ Redactor_widget({
                            'model' : edit_form,
                            'form' : form,
                            'field' : 'comment',
                            'type' : constant('app\\components\\widgets\\imperavi\\Redactor::TYPE_FRONTEND'),
                            'imageUpload' : '/upload',
                        }) }}
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">{{ translate('Cancel') }}</button>
                <button id="btn-save" type="submit" class="btn btn-ptmc">{{ translate('Save') }}</button>
            </div>

            {{ active_form_end() }}

        </div>
    </div>
</div>

<div id="answer" class="modal fade">
    <div class="modal-dialog ptmc-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <span class="modal-title h6 text-muted">{{ translate('Answer') }} <span
                            id="answer-author"></span></span>
            </div>

            {% set form = active_form_begin({
            'options' : {
            'id' : 'reply-custom-comments-form',
            'class' : 'form-horizontal group-border-dashed',
            'enctype' : 'multipart/form-data',
            },
            'fieldConfig' : {
            'template' : '{input}\n{hint}\n{error}',
            'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
            'errorOptions' : {'class' : 'col-lg-3 help-block', 'style' : 'margin-bottom: 8px;'}
            }
            }) %}

            <div class="modal-body">
                <div class="content-group">
                    <div class="replText"></div>
                    <div id="add-answer">

                        <input id="answer-comment-id" type="hidden" name="CustomCommentForm[answer_comment_id]" value="">
                        <input type="hidden" value="{{ model.id }}" name="CustomCommentForm[id]">
                        <input type="hidden" name="topic_id" id="topic_id2" value="">
                        <input type="hidden" name="CustomCommentForm[class_name]" id="class_name" value="">

                        {{ Redactor_widget({
                            'model' : reply_form,
                            'form' : form,
                            'field' : 'comment',
                            'type' : constant('app\\components\\widgets\\imperavi\\Redactor::TYPE_FRONTEND'),
                            'imageUpload' : '/upload',
                        }) }}
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">{{ translate('Cancel') }}</button>
                <button type="submit" class="btn btn-ptmc">{{ translate('Add') }}</button>
            </div>

            {{ active_form_end() }}

        </div>
    </div>
</div>
