{% set padding_num = comment.level > 3 ? 3 : comment.level %}
<li class="media commentItem child{{ padding_num }}" id="reply{{ comment.id }}">
    <div class="media-left comAuth">
        <a href="{{ comment.user.getProfileLink() }}">
            {#<img src="http://placehold.it/100x100" class="img-circle img-sm" alt="">#}
            {{ comment.user.getAvatar(28,28) | raw }}
        </a>
    </div>


    <div class="media-body comBody" id="{{ comment.id }}">

        <div class="media-heading">

            <a href="{{ comment.user.getProfileLink() }}" class="author-fullname text-muted">{{ comment.user.getFullname() }}</a>
            {% if isPtmcTeam(comment.user_id) %}
                <span class="ptmc_team" title="PTMC team"></span>
            {% endif %}

            <span class="media-annotation dotted">{{ comment.getDate() }}</span>
            

            <!--<span class="media-annotation dotted">
                <span class="text-success count-like-comment" data-id="{{ comment.id }}"
                      data-class-name="{{ getClassName(comment) }}">
                            {{ comment.counts.count_like  | default(0) }}
                      </span>
                <a class="like-btn-comment" data-id="{{ comment.id }}" href="#"
                   data-class-name="{{ getClassName(comment) }}"><i class="icon-arrow-up22 text-success"></i></a>

                <span class="text-danger count-dislike-comment" data-id="{{ comment.id }}"
                      data-class-name="{{ getClassName(comment) }}">
                            {{ comment.counts.count_dislike | default(0) }}
                      </span>
                <a class="dislike-btn-comment" data-id="{{ comment.id }}" href="#"
                   data-class-name="{{ getClassName(comment) }}"><i class="icon-arrow-down22 text-danger"></i></a>
            </span>-->


            {% if comment.level < 3 and not app.user.isGuest and comment.user_id != app.user.identity.getSafeId() %}
            <span class="media-annotation commControl dotted">
                <a id="com-answer" data-target="#answer"
                   onclick="app.comments.reply('{{ comment.id }}')">{{ translate('Answer') }}</a>
            </span>
            {% endif %}
            {% if  (comment.user.id == app.user.identity.id and not app.user.isGuest and not comment.hasChildren())  or app.user.identity.isAdmin() %}
            <span class="media-annotation commControl dotted">
                <a id="com-edit" data-target="#edit" onclick="app.comments.edit('{{ comment.id }}')">{{ translate('Edit') }}
                </a>
            </span>
            {% endif %}

            {% if  app.user.identity.isAdmin() or (app.user.identity.id and comment.user.id == app.user.identity.id and not comment.hasChildren()) %}
                <span class="media-annotation commControl dotted">
                <a
                        href="/comments/delete?id={{ comment.id}}"
                        id="com-delete"
                        data-confirm="Are you sure to delete this comment ?"

                >Delete</a>
            </span>
            {% endif %}
        </div>
        <div class="comment_content link_target_rel">
            {{ comment.content | raw }}
        </div>
        <div class="showPost">
            <div class="links">
                <a class="showPostLink text-muted">Show more</a>
                <a class="hidePostLink text-muted">Shorten</a>
            </div>
        </div>
    </div>
</li>

{% include '@app/components/customComments/views/_include/_js.twig' %}