<ul class="media-list content-group-lg stack-media-on-mobile commentsList">
{% for root in models %}

    {% include '@app/components/customComments/views/_include/_comment.twig' with {'comment' : root} %}

    {% for leaves in root.children().notDeleted().all() %}

        {% include '@app/components/customComments/views/_include/_comment.twig' with {'comment' : leaves} %}

    {% endfor %}

{% endfor %}
</ul>