{{ use('app/components/widgets/imperavi/Redactor') }}

<div id="comment-modal-form" class="modal fade">
    <div class="modal-dialog ptmc-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                {% if reply_message %}
                    <span class="modal-title h6 text-muted">{{ translate('Answer to: ') }} <span
                                id="answer-author">{{ user.fullname }}</span></span>
                {% else %}
                    <span class="modal-title h6 text-muted">{{ translate('Edit') }}</span>
                {% endif %}
            </div>
            {% set form = active_form_begin({
            'options' : {
                'id' : 'comment-modal-form',
                'class' : 'form-horizontal group-border-dashed',
                'enctype' : 'multipart/form-data',
            },
            'fieldConfig' : {
                'template' : '{label}{error}\n<div class="col-lg-12 no-padding">{input}</div>\n{hint}',
                'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
            'labelOptions' : {'class' : 'col-lg-6гыукек control-label no-padding-left'},
                'errorOptions' : {'class' : 'col-lg-6 help-block no-padding-right pull-right'}
            }
            }) %}
            <div class="modal-body">
                <div class="content-group">
                    {% if reply_message %}
                        <div class="replText">{{ reply_message | raw}}</div>
                    {% endif %}
                    <div id="add-answer">
                        {{ form.field(model, 'id').input('hidden').label(false) | raw }}
                        {{ form.field(model, 'entity').input('hidden').label(false) | raw }}
                        {{ form.field(model, 'entity_id').input('hidden').label(false) | raw }}
                        {{ form.field(model, 'root').input('hidden').label(false) | raw }}

                        {{ Redactor_widget({
                            'model' : model,
                            'form' : form,
                            'field' : 'content',
                            'type' : constant('app\\components\\widgets\\imperavi\\Redactor::TYPE_FRONTEND'),
                            'input_id' : '#text-area-redactor',
                            'option_id' : 'text-area-redactor',
                            'imageUpload' : '/articles/image-upload',
                        }) }}

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">{{ translate('Cancel') }}</button>
                <button type="submit" class="btn btn-ptmc">{{ translate('Add') }}</button>
            </div>
            {{ active_form_end() }}
        </div>
    </div>
</div>