{{ this.registerJs("

        jQuery(document).ready(function(){

            /* Send like */
            jQuery('.like-btn-comment').click(function(e){

                e.preventDefault();
                jQuery(this).addClass('disabled');
                var id = jQuery(this).attr('data-id');
                var class_name = jQuery(this).attr('data-class-name');

                jQuery.ajax({
                    type: 'POST',
                    url: '/site/set-like?field=count_like',
                    data: {id: id, entity: class_name},
                    success: function(data){
                        jQuery( '.count-like-comment[data-id=' + id + ']' ).html(JSON.parse(data).count_like);
                        jQuery( '.count-dislike-comment[data-id=' + id + ']' ).html(JSON.parse(data).count_dislike);
                    },
               });
            });

            /* Send dislike */
            jQuery('.dislike-btn-comment').click(function(e){

                e.preventDefault();
                jQuery(this).addClass('disabled');
                var id = jQuery(this).attr('data-id');
                var class_name = jQuery(this).attr('data-class-name');

                jQuery.ajax({
                    type: 'POST',
                    url: '/site/set-like?field=count_dislike',
                    data: {id: id, entity: class_name},
                    success: function(data){
                        jQuery( '.count-like-comment[data-id=' + id + ']' ).html(JSON.parse(data).count_like);
                        jQuery( '.count-dislike-comment[data-id=' + id + ']' ).html(JSON.parse(data).count_dislike);
                    },
               });
            });

        });
    ") }}