﻿.js-colorPicker-cpRainbowBar
{
	position: absolute;
	left: 262px;
	top: 30px;
	width: 18px;
	height: 256px;
	background: url(web_only/colorPicker/cpBarHue_20x256.png) no-repeat scroll 0px 0px transparent;
	border-radius: 0px;
}

.js-colorPicker-cpRainbowSelector
{
	position: absolute;
	left: 0px;
	bottom: 100px;
	width: 18px;
	height: 7px;
	background: url(web_only/colorPicker/rainbowSelector.png) no-repeat scroll 0px 0px transparent;
}


.js-colorPicker-cpMap
{
	position: absolute;
	left: 0px;
	top: 30px;
	width: 256px;
	height: 256px;
	background: url(web_only/colorPicker/cpMapHue_256x256.png) no-repeat scroll 0px 0px transparent;
	border-radius: 0px;
	overflow: hidden;
}

.js-colorPicker-cpCurrentColor
{
	position: absolute;
	display: inline-block;
	left: 0px;
	top: 0px;
	width: 25px;
	height: 20px;
	/*border-top: 1px solid #000000;
	border-bottom: 1px solid #ffffff;*/
	background-color: red;
	border-radius: 0px;
	margin-bottom: 0px;
    //border: 1px solid #ffffff;
    //box-shadow: 0px 0px 5px 0px #000000;
}

.js-colorPicker-cpCurrentColor-container
{
	position: absolute;
	display: inline-block;
	left: 0px;
	top: 0px;
	width: 25px;
	height: 20px;
	/*border-top: 1px solid #000000;
	border-bottom: 1px solid #ffffff;*/
	background-color: red;
	border-radius: 0px;
	margin-bottom: 0px;
	border: 1px solid #ffffff;
	box-shadow: 0px 0px 5px 0px #000000;
	background: url(web_only/colorPicker/21x16_colorOpacity.png) 100% 100% no-repeat transparent;	
	background-size: cover;
}

.js-colorPicker-opacity-container
{
	position: absolute;
	left:0px;
	top: 292px;
	width: 280px;
	height: 10px;
	background: url(web_only/colorPicker/opacity.png) 100% 100% no-repeat transparent;
	border-radius: 0px;
	background-size: cover;
}

.js-colorPicker-opacity
{
	position: absolute;
	display: inline-block;
	left: 0px;
	top: 0px;
	width: 280px;
	height: 10px;
	border-radius: 0px;
	margin-bottom: 0px;
}

.js-colorPicker-cpOpacitySelector
{
	position: absolute;
	left: 0px;
	top: -4px;
	width: 7px;
	height: 18px;
	background: url(web_only/colorPicker/opacitySelector.png) no-repeat scroll 0px 0px transparent;
}


.js-colorPicker-cpPoint
{
	position: absolute;
	left: 10px;
	top: 10px;
	width: 8px;
	height: 8px;
}
.js-cp-blackPoint
{
	background: url(web_only/colorPicker/cpPointBlack_8x8.gif) no-repeat scroll 0px 0px transparent;
}
.js-cp-whitePoint
{
	background: url(web_only/colorPicker/cpPointWhite_8x8.gif) no-repeat scroll 0px 0px transparent;
}