﻿$windowBorderColor: transparent;
$windowBorderColorFocused: $globalWindowBorderColorFocused;
$windowBorderWidth: 2px;

/*************************** Tab Host ********************************/
.tab-host { background-color: transparent; }

.tab-content { background-color: transparent; }

.tab-handle-list-container {
	background-color: transparent;
	white-space: nowrap;
	top: 2px;
	position: relative;
	overflow: hidden;
}

/******************* Dock Manager ********************/
.dock-container { background-color: transparent; }

/******************* Document Manager ********************/
.document-manager { background-color: transparent; }

.tab-handle {
	background-color: #b4b4b4;
	box-shadow: 0 0 0 #000;
	margin-left: 2px;
	height: 22px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-left: 2px solid $windowBorderColor; 
	border-top: 2px solid $windowBorderColor; 
	border-right: 2px solid $windowBorderColor; 	
	display: inline-block;
	vertical-align: middle;
	&:not(.tab-handle-focused):hover {
		background: #ccc;
	}
}

.tab-handle-focused {
	height: 22px;
	border-left: 2px solid $windowBorderColorFocused; 
	border-top: 2px solid $windowBorderColorFocused; 
	border-right: 2px solid $windowBorderColorFocused; 
	background: #dcdcdc;	
	z-index:1 !important;
}

.tab-handle-list-container  .tab-handle-focused:first-child {
	margin-left: 0;
	top: 2px;
	position: relative;
	overflow: hidden;
}

.tab-handle-not-focused {
	height: 20px;
	z-index:0 !important;
}

.tab-handle-text {
	margin-top: 3px;
	margin-left: 6px;
	margin-right: 10px;
	white-space: nowrap;
	overflow: hidden;
	float: left;
	font-family: Tahoma, Verdana;
	font-size: 11px;
	color: #222;
}

.tab-handle-close-button {
	float: right;
	padding-top:20px;
	padding-right:22px;
	cursor: pointer;
	background:url("components/panels_tabs/14x14_icon_close_default.png") no-repeat center center transparent;
	display: inline-block;
	&:hover {
		background: url("components/panels_tabs/14x14_icon_close_hover.png") no-repeat center center transparent; 
	}
}

.panel-titlebar {
	background-color: #b4b4b4;
	height:20px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.panel-titlebar-text {
	float: left;
	padding-left:10px;
	padding-top:3px;
	font-family: Tahoma, Verdana;
	font-size: 11px;
	color: #222;
	text-shadow: 0 1px 0 #dcdcdc;
}

.panel-titlebar-button-close {
	float: right;
	//padding-top:20px;
	//padding-right:22px;
	width:16px;
	height:16px;
	background:url("components/panels_tabs/14x14_icon_close_default.png") no-repeat center center transparent;
	display: inline-block;
	&:hover {
		background: url("components/panels_tabs/14x14_icon_close_hover.png") no-repeat center center transparent; 
	}
}

.fa { font-family: Tahoma, Verdana; }

.panel-content {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color:#dcdcdc
}

.tab-handle-accLink {
	float: right;
	//padding-top: 5px;
	//padding-right: 15px;
	width:20px;
	height:16px;
	margin-top: 4px;
}

.tab-handle-symbLink {
	float: right;
	//padding-top: 5px;
	//padding-right: 20px;
	width:20px;
	height:16px;
	margin-top: 4px;
}

.tab-handle-symbLink-noAccLink {
	//padding-right: 20px; 
}

.splitbar-vertical {
	background-color: transparent;
	width:2px;
	&:hover { background-color: rgba($globalAccentColor, 0.8); }
}

.splitbar-horizontal {
	background-color: transparent;
	height:2px;
	&:hover { background-color: rgba($globalAccentColor, 0.8); }
}

.panel-outer {
	position: relative;
	border: $windowBorderWidth solid $windowBorderColor; 
	border-radius: 6px;
}

.panel-outerFocused {
	border: $windowBorderWidth solid $windowBorderColorFocused; 
}

.tab-handle-selected { background: #dcdcdc; }

/******************* Dock Wheel ********************/

.dock-wheel-panel-preview { 
	background-color:rgba($windowBorderColorFocused, 0.5); 
	border-radius: 6px;
}

@mixin dockWheelImg($url) {
	background: url($url) center center no-repeat;
}

.dock-wheel-fill-icon { 
	@include dockWheelImg("m_dockable/DockIndicator_PanelFill.png");
}

.dock-wheel-left-icon { 
	@include dockWheelImg("m_dockable/DockIndicator_PanelLeft.png");
}

.dock-wheel-right-icon { 
	@include dockWheelImg("m_dockable/DockIndicator_PanelRight.png");
}

.dock-wheel-top-icon { 
	@include dockWheelImg("m_dockable/DockIndicator_PanelTop.png");
}

.dock-wheel-down-icon { 
	@include dockWheelImg("m_dockable/DockIndicator_PanelBottom.png");
}

.dock-wheel-fill-icon-hover { 
	@include dockWheelImg("m_dockable/DockIndicator_PanelFill_active.png");
}

.dock-wheel-left-icon-hover { 
	@include dockWheelImg("m_dockable/DockIndicator_PanelLeft_active.png");
}

.dock-wheel-right-icon-hover { 
	@include dockWheelImg("m_dockable/DockIndicator_PanelRight_active.png");
}

.dock-wheel-top-icon-hover { 
	@include dockWheelImg("m_dockable/DockIndicator_PanelTop_active.png");
}

.dock-wheel-down-icon-hover { 
	@include dockWheelImg("m_dockable/DockIndicator_PanelBottom_active.png");
}