﻿.js-main-newNetTrader-innerContainer{

}

.js-main{
    position: absolute;
    z-index: 0;

    left: 0;
    top: 0;
    width: 100%;
	min-width: 1280px;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
	background-image: url("e_app_background/gridBg_51x51.png");
}

.js-main-newNetTrader-header
{
    position: relative;
    height: 20px;
    display: block;
    padding-left: 10px;
    padding-right: 4px;
    background-color: #b4b4b4;
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    margin-bottom: 4px !important;
    font-family: Tahoma, Verdana;
    font-size: 11px;
    color: #222222;
    line-height: 20px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    border-bottom: 0 solid #777777;
    cursor: default ;
    vertical-align:bottom;
	@include containerRule;
}

.js-main-newNetTrader-footer
{
    position: absolute;
    height: 20px;
    display: block;
	width:100%;
    background-color: #b4b4b4;
    border-left: 2px solid transparent;
	border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    font-family: Tahoma, Verdana;
    font-size: 11px;
    color: #222222;
    line-height: 20px;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    cursor: default ;
    vertical-align:bottom;
	bottom: 0;
	@include containerRule;
}



.js-main[showHeader="0"]  .js-main-newNetTrader-header
{
  display:none;
}

.js-main[showFooter="0"]  .js-main-newNetTrader-footer
{
 display:none;
} 

.js-main-top, .js-main-bottom { z-index: 9800; }

.js-main-top
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    border-bottom: 1px solid #888888;
    background: #d2d2d2;
    padding: 9px;
    overflow: hidden;
	@include containerRule;
} 

.js-main-bottom
{
    background-color: #d2d2d2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 28px;
    border-top: 0 solid #f0f0f0;
	@include containerRule;

	.js-right {
        position: absolute;
        display: table;
		right:0;
        margin: 0;
        padding: 0;
        height: 28px;
        cursor: default;

        div {
            position: relative;
            margin: 0;
            padding: 0;

            text-shadow: 0 1px 0 #eeeeee;
            font-family: Tahoma,Verdana;
            font-size: 10px;
            vertical-align: middle;
        }

        & > div { display: table-cell; }

        .js-time { 
            color: #222222; 
            padding: 0 7px;
            &:hover { background-color: #F0F0F0; }

            & + .js-in-out-label { padding-left: 7px; }
        }

        .js-in-out-label { 
            color: #888888; 
            padding-right: 4px;
        }

        .js-in-out-value { 
            color: #222222; 
            &.js-in { padding-right: 7px; }
        }

        .js-connect-btn {
            width: 34px;
            height: 28px;
            background-repeat: no-repeat;
            background-position: center 10px;
        }
	}
}