﻿.datepicker {
    border-color: $globalAccentColor;
    background-color: #f0f0f0;
    color:#000;
}

.datepicker--cell {
    &.-other-month-, &.-other-decade- {
        color: #969696;
    }
	&.-current- {
		border: 1px solid $globalAccentColor;
	}
	&.-selected- {
		background-color: $globalAccentColor;
		color: #fff;
	}
	&.-focus- {
		background-color: #c8c8c8;
		color: #000;
	}
	&.-disabled- {
		opacity: 0.2;
		border:none;
		background:none;
		cursor:default;
		color: gray;
	}
}

.datepicker--nav-title:hover {
    background-color: #c8c8c8;
    color: #000;
}

.datepicker--days-names {
    background: #fff;
    color: #000;
}

.datepicker--nav-action[data-action="prev"] {
    background: url("components/scroll/14x14_scroll_arrow_left_default.png") no-repeat center center;
    &:hover {
        background: url("components/scroll/14x14_scroll_arrow_left_hover.png") no-repeat center center;
    }
}

.datepicker--nav-action[data-action="next"] {
    background: url("components/scroll/14x14_scroll_arrow_right_default.png") no-repeat center center;
    &:hover {
        background: url("components/scroll/14x14_scroll_arrow_right_hover.png") no-repeat center center;
    }
}