﻿






//min width












.js-tabStrip {
	position:absolute;
	left:0;
	right:350px;
	top:0;
	bottom:0;
	div {
		position: relative;
		display: inline-block;
	}
	font-size:0;
}

.tabStrip-item {
    margin: 0 0 0 2px;
    height: 23px;
    border-right: 1px solid #888888;
    border-left: 1px solid #888888;
    border-bottom: 1px solid #888888;
    border-radius: 0 0 4px 4px;
    font-family: Tahoma, Verdana;
    font-size: 11px;
    color: #555555;
 
    cursor: default;

    &:hover { 
        .tabStrip-deleteItem { visibility: visible; } 
    }
}

.tabStrip-item:not([active]):hover {
        border-color: #444444;
        background: #cccccc;
        background: -moz-linear-gradient(top, #dfdfdf, #b4b4b4); /* Firefox 3.6+ */
        background: -webkit-linear-gradient(top, #dfdfdf, #b4b4b4);
        background: -o-linear-gradient(top, #dfdfdf, #b4b4b4); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #dfdfdf, #b4b4b4); /* IE10 */
        background: linear-gradient(top, #dfdfdf, #b4b4b4); /* CSS3 */
}

.tabStrip-item[active]
{
    background-color: #555555;
    color: #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;

	.tabStrip-itemText {
		text-shadow: 0 -1px 0 #000000;
	}

    .tabStrip-deleteItem { visibility: visible; }
}


.tabStrip-newItem
{
	position:relative;
	display:inline-block;

    margin: 0 0 0 2px;
	width: 18px;
    height: 23px;
    border-right: 1px solid #888888;
    border-left: 1px solid #888888;
    border-bottom: 1px solid #888888;
    border-radius: 0 0 4px 4px;
}

.tabStrip-newItem .tabStrip-newItem-icon {
	position:relative;
	display:inline-block;

    width: 18px;
    height: 23px;
    background: url(common_icons/16x16_icon_add.png) no-repeat center center transparent;
}

.tabStrip-newItem:hover
{
    border-color: #444444;
    background: #cccccc;
    background: -moz-linear-gradient(top, #dfdfdf, #b4b4b4); /* Firefox 3.6+ */
    background: -webkit-linear-gradient(top, #dfdfdf, #b4b4b4);
    background: -o-linear-gradient(top, #dfdfdf, #b4b4b4); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dfdfdf, #b4b4b4); /* IE10 */
    background: linear-gradient(top, #dfdfdf, #b4b4b4); /* CSS3 */
    
}

.tabStrip-deleteItem
{
    visibility: hidden;
    width: 18px;   
	height:23px;
    background: url(c_workspaces_toolbar/tabs/16x16_icon_def_tab_close_default.png) no-repeat center center transparent;
    &:hover {
        background-image: url(c_workspaces_toolbar/tabs/16x16_icon_def_tab_close_hover.png);
    }
}

.tabStrip-item[active] .tabStrip-deleteItem { background-image: url(c_workspaces_toolbar/tabs/16x16_icon_close_default.png);}
.tabStrip-item[active] .tabStrip-deleteItem:hover { background-image: url(c_workspaces_toolbar/tabs/16x16_icon_close_hover.png);}
.tabStrip-item[active] .tabStrip-itemText { text-shadow: 0 -1px 0 #000000;}

.tabStrip-itemText 
{
	vertical-align:top;
    padding-top:4px;
    padding-left: 10px;
    padding-right: 4px;
    font-size: 12px;
    text-shadow: 0 1px 0 #ffffff;
    max-width: 150px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.tabStrip-itemLock
{
    width: 18px;
	height: 23px;
    background: url(c_workspaces_toolbar/tabs/16x16_icon_lock_default.png) no-repeat 3px center;
}
.tabStrip-itemLock:hover
{
    background-image: url(c_workspaces_toolbar/tabs/16x16_icon_lock_hover.png);
}

.tabStrip-itemLock[locked]
{
    background-image: url(c_workspaces_toolbar/tabs/16x16_icon_lock_active.png);
}

.tabStrip-itemLock[locked]:hover
{
    background-image: url(c_workspaces_toolbar/tabs/16x16_icon_lock_active_hover.png);
}