﻿.js-radio-button { margin-right: 6px; }

.js-radio
{
    width: 16px;
    height: 16px;
    border: 0 solid red;
    background: url("components/radiobutton/radiobutton_of.png") no-repeat center center transparent;
    color: #999999;
    margin-right: 4px;
    position: relative;
    float: left;
    outline:none;
}

.js-radio[ischecked="0"] {background: url("components/radiobutton/radiobutton_of.png") no-repeat center center transparent;}
.js-radio[ischecked="0"]:hover {background-image: url("components/radiobutton/radiobutton_hover.png");}
.js-radio[ischecked="0"][focused] {background-image: url("components/radiobutton/radiobutton_hover.png");}

.js-radio[ischecked="1"]{background: url("components/radiobutton/radiobutton_on.png") no-repeat center center transparent;}
.js-radio[ischecked="1"]:hover {background-image: url("components/radiobutton/radiobutton_on_hover.png");}
.js-radio[ischecked="1"][focused] {background-image: url("components/radiobutton/radiobutton_on_hover.png");}

.js-radio:disabled {background-image: url("components/radiobutton/radiobutton_disabled.png");}
.js-radio:disabled:hover {background-image: url("components/radiobutton/radiobutton_disabled.png");}
.js-radio:disabled[focused] {background-image: url("components/radiobutton/radiobutton_disabled.png");}

.js-radio[ischecked="1"][disabled]  {background-image: url("components/radiobutton/radiobutton_on_disable.png");}
.js-radio[ischecked="1"][disabled]:hover  {background-image: url("components/radiobutton/radiobutton_on_disable.png");}
.js-radio[ischecked="1"][disabled][focused]  {background-image: url("components/radiobutton/radiobutton_on_disable.png");}
