﻿.js-instrument-total-info {
    background-color: #f0f0f0 !important;
    display: table;
    width: 100%;
    margin:0;
    padding: 2px 4px 0 4px;

    .js-title, .js-value { 
        display: table-cell;
        font-family: Tahoma, Verdana;
        font-size: 11px;
        cursor:default;
    }
    .js-title { 
        color: #838383; 
        text-align: right;
        width: 16%;
    }
    .js-value { 
        color: #333333; 
        text-align: left;
        padding-left: 10px;
        width: 17%;
    }
    .js-spacer { display: table-cell; }
}