﻿.js-tercera-lookup {
    $borderRadius: 2px;
    .js-input-container  {
        input { 
            border-radius: 2px 0 0 2px; 
        }
    }
    .js-tercera-btn-focus-border {
        position:absolute;
        top:0;
        bottom:0;
        right: 1px;
        width: 20px;
        border:1px solid $globalAccentColor;
        border-radius: 0 2px 2px 0;
    }
	.js-border { border: 1px solid $globalAccentColor; }
}

.js-tercera-lookup-items{
padding-left:6px;padding-top:2px;top:1px;left:1px;font-family:Tahoma,Verdana;
font-weight:normal;font-size:11px;overflow:hidden;white-space:nowrap;position:absolute;
background-color:#fff;
height:16px;
}