﻿$inputBGColor: #ffffff; 
$inputBorder: 1px solid #838383;
$inputTextColor: #333333;
$inputBGColorDisable: #dcdcdc;
$inputColorDisable: #aaaaaa;
$inputBGColorHover: #ebebeb;
$inputActiveFocusBorderColor: $globalAccentColor;
$inputDefCursor:default;

@mixin input-bg-active-focus
{
	background-color: $inputBGColor; 
	border-color: $inputActiveFocusBorderColor;
}
@mixin input-bg-disable
{
	background-color: $inputBGColorDisable; 
	color: $inputColorDisable; 
	cursor: $inputDefCursor;
}
@mixin input-container
{
	border-radius: 2px; 
	font-family:Tahoma, Verdana; 
	font-size:11px; 
	font-weight: normal;
	@include containerRule
}
@mixin input-padding
{
	padding-left:6px; 
	padding-right:6px;
}


body {
input::-ms-clear { display: none; }
input::-ms-reveal { display: none; }

.js-input-container {
    @include input-container; 
    border-width: 0; 
    background-color: $inputBGColor; 
    position:relative;
    @include bottomShadowStrip;
}
.js-input-container input {@include input-container; width:100%; height:100%; color: $inputTextColor; border:$inputBorder; @include input-padding;}
.js-input-container:hover input {background-color: $inputBGColorHover;}
.js-input-container input:active {@include input-bg-active-focus}
.js-input-container input[focused] {@include input-bg-active-focus}
.js-input-container input[disable] {@include input-bg-disable}
.js-input-container input[disable]:hover {@include input-bg-disable}
.js-input-container[disable] {opacity: 0.5; cursor: $inputDefCursor;}
.js-input-container[disable] div {cursor: $inputDefCursor;}

.js-input-container-error {border-color:red !important}
}