﻿$ChBCursor:default;
$ChBImageVisibilityType:no-repeat 0px 0px transparent;

.js-tercera-checkbox-container {
    .js-checkbox {
        width: 14px;
        height: 15px;
        background: url("components/checkbox/checkbox_unchecked.png")$ChBImageVisibilityType;
        margin-right: 4px;
        margin-bottom: 8px;
        border-width: 0;
        outline: 0;
        position: absolute;

        &[ischecked="0"] {
            background: url("components/checkbox/checkbox_unchecked.png") $ChBImageVisibilityType;

            &:hover {
                background-image: url("components/checkbox/checkbox_unchecked_hover.png");
            }

            &[focused] {
                background-image: url("components/checkbox/checkbox_unchecked_hover.png");
            }
        }

        &[ischecked="1"] {
            background: url("components/checkbox/checkbox_checked.png") $ChBImageVisibilityType;

            &:hover {
                background-image: url("components/checkbox/checkbox_checked_hover.png");
            }

            &[focused] {
                background-image: url("components/checkbox/checkbox_checked_hover.png");
            }

            &[checkBoxCheckedState="indeterminate"] {
                background: url("components/checkbox/checkbox_intermediate.png") $ChBImageVisibilityType;

                &:hover {
                    background-image: url("components/checkbox/checkbox_intermediate_hover.png");
                }

                &[focused] {
                    background-image: url("components/checkbox/checkbox_intermediate_hover.png");
                }
            }
        }

        &[disabled] {
            background-image: url("components/checkbox/checkbox_unchecked_disabled.png");
            cursor: $ChBCursor;

            &:hover {
                background-image: url("components/checkbox/checkbox_unchecked_disabled.png");
                cursor: $ChBCursor;
            }

            &[focused] {
                background-image: url("components/checkbox/checkbox_unchecked_disabled.png");
                cursor: $ChBCursor;
            }

            &[ischecked="1"] {
                background-image: url("components/checkbox/checkbox_checked_disable.png");
                cursor: $ChBCursor;

                &[checkBoxCheckedState="indeterminate"] {
                    background-image: url("components/checkbox/checkbox_intermediate_disabled.png");
                    cursor: $ChBCursor;
                }
            }
        }
    }
    .js-tercera-label {
        left: 18px;
        top: 0;
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        color: #333;
    }
}



.js-tercera-checkbox-button-sl{
	width:22px;
	height:21px;
	background: url("components/sl_tp/sl_split_button_default.png")no-repeat center center transparent;
}
.js-tercera-checkbox-button-sl:hover      { background: url("components/sl_tp/sl_split_button_hover.png")no-repeat center center transparent;}   
.js-tercera-checkbox-button-sl:active     { background: url("components/sl_tp/sl_split_button_checked.png")no-repeat center center transparent;} 
.js-tercera-checkbox-button-sl[checked]   { background: url("components/sl_tp/sl_split_button_checked.png")no-repeat center center transparent;}
.js-tercera-checkbox-button-sl[checked]:hover  { background: url("components/sl_tp/sl_split_button_checked_hover.png")no-repeat center center transparent;}

.js-tercera-checkbox-button-tp{
	width:22px;
	height:21px;
	background: url("components/sl_tp/tp_split_button_default.png")no-repeat center center transparent;
}
.js-tercera-checkbox-button-tp:hover      { background: url("components/sl_tp/tp_split_button_hover.png")no-repeat center center transparent;}   
.js-tercera-checkbox-button-tp:active     { background: url("components/sl_tp/tp_split_button_checked.png")no-repeat center center transparent;} 
.js-tercera-checkbox-button-tp[checked]   { background: url("components/sl_tp/tp_split_button_checked.png")no-repeat center center transparent;}
.js-tercera-checkbox-button-tp[checked]:hover  { background: url("components/sl_tp/tp_split_button_checked_hover.png")no-repeat center center transparent;}

.js-checkbox-group-container {
    background-color: #f0f0f0;
    border: 1px solid #777777;
    border-radius: 2px;
	li { 
		position:relative; 
		height:20px;
		& > div { left:10px;top:3px; }
	}
}