﻿@mixin setIcon($iconName)
{
	background: url("i_messagebox/32x32_icon_" + $iconName + ".png") no-repeat 10px center #dcdcdc;
}

body {
	.js-warning-message
	{
		height: 45px;
		font-family: Tahoma, Verdana;
		font-size: 11px;
		color: #555555;
		line-height: 45px;
		text-align: left;
		padding-left: 50px;
		text-shadow: 0px 1px 0px #dddddd;
	}
	.js-warning-message.icon-warning{ @include setIcon("warning"); }
	.js-warning-message.icon-error{ @include setIcon("error"); }
	.js-warning-message.icon-info{ @include setIcon("info"); }
	.js-warning-message.icon-question{ @include setIcon("question"); }
}