﻿.js-level1-panel {
    background-color: #f0f0f0 !important;
    padding: 6px 4px 4px;
    // Row.
    & > div {
        display: table;
        width: 100%;
        .js-title, .js-value { 
            display: table-cell;
            font-family: Tahoma, Verdana;
            font-size: 11px;
            line-height: 14px;
            width: 66px;
            cursor:default;
        }
        .js-title { color: #838383; }
        .js-value { color: #333333; }
        .js-spacer { display: table-cell; }
    }
}