﻿@mixin font() {
    font-family: Tahoma, Verdana;
    text-align: left;
    font-size: 12px;
    text-shadow: 0 1px 0 #eeeeee;
}

.js-screen-about
{
    position: absolute;
    top: 0; 
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    & .js-brand-image {
        position:absolute;
        left:38px;
        width: 200px;
        height: 57px;
        background: url("g_login/login_branding.png") no-repeat center center transparent;
    }
    & .js-tercera-label {
        @include font();
        color: #333333;
    }
    & .js-link-label {
        @include font();
        color: $globalAccentColor;
    }
}