﻿.mCS-tercera.mCSB_scrollTools {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 14px;
    background-color: #c8c8c8;
    
    border-radius: 0;
    opacity: 1;
    
    display: block;
    & a+.mCSB_draggerContainer {
        margin: 14px 0;
    }
}

.mCS-tercera.mCSB_scrollTools .mCSB_buttonUp {
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 14px;
    background: url("components/scroll/14x14_scroll_arrow_up_default.png") no-repeat center center transparent;
    &:hover { background-image: url("components/scroll/14x14_scroll_arrow_up_hover.png"); }
}

.mCS-tercera.mCSB_scrollTools .mCSB_buttonDown {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 14px;
    height: 14px;
    background: url("components/scroll/14x14_scroll_arrow_down_default.png") no-repeat center center transparent;
    &:hover { background-image: url("components/scroll/14x14_scroll_arrow_down_hover.png"); }
}

.mCS-tercera.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    position: absolute;
    right: 2px;
    width: 8px;
    border: 1px solid #a1a1a1;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #f4f4f4;
    background: #d2d2d2;
    background: -moz-linear-gradient(top, #ffffff 0, #d2d2d2 2px, #d2d2d2 100%); /* Firefox 3.6+ */
    background: -webkit-linear-gradient(top, #ffffff 0, #d2d2d2 2px, #d2d2d2 100%);
    background: -o-linear-gradient(top, #ffffff 0, #d2d2d2 2px, #d2d2d2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0, #d2d2d2 2px, #d2d2d2 100%); /* IE10 */
    background: linear-gradient(top, #ffffff 0, #d2d2d2 2px, #d2d2d2 100%); /* CSS3 */
    &:hover
    {
        border: 1px solid #444444;
        background: #999999;
        background: -moz-linear-gradient(top, #ffffff 0, #dddddd 2px, #b4b4b4 10px, #b4b4b4 100%); /* Firefox 3.6+ */
        background: -webkit-linear-gradient(top, #ffffff 0, #dddddd 2px, #b4b4b4 10px, #b4b4b4 100%);
        background: -o-linear-gradient(top, #ffffff 0, #dddddd 2px, #b4b4b4 10px, #b4b4b4 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ffffff 0, #dddddd 2px, #b4b4b4 10px, #b4b4b4 100%); /* IE10 */
        background: linear-gradient(top, #ffffff 0, #dddddd 2px, #b4b4b4 10px, #b4b4b4 100%); /* CSS3 */
    }
    &:active
    {
        border: 1px solid #444444;
        background: #999999;
        background: -moz-linear-gradient(top, #ffffff 0, #c8c8c8 2px, #999999 10px, #999999 100%); /* Firefox 3.6+ */
        background: -webkit-linear-gradient(top, #ffffff 0, #c8c8c8 2px, #999999 10px, #999999 100%);
        background: -o-linear-gradient(top, #ffffff 0, #c8c8c8 2px, #999999 10px, #999999 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ffffff 0, #c8c8c8 2px, #999999 10px, #999999 100%); /* IE10 */
        background: linear-gradient(top, #ffffff 0, #c8c8c8 2px, #999999 10px, #999999 100%); /* CSS3 */
    }
}

.mCS-tercera.mCSB_scrollTools .mCSB_draggerRail {
    display:none;
}

.mCS-tercera .mCSB_container {
    margin: 0;
}