﻿$linkLabaleColor: $globalAccentColor;

body {
.js-link-label
{
    color: $linkLabaleColor;
	cursor: pointer;
	text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin-top: 10px;
    right: 40px;
    text-shadow: 0 1px 0 #ffffff;
	font-family: Tahoma,Verdana;
	@include NoSelectTextRule;
}
.js-link-label a:link {
    color: $linkLabaleColor; /* Цвет ссылок */
	text-decoration: none;
   }
.js-link-label a:visited {
    color: $linkLabaleColor; /* Цвет посещенных ссылок */
	text-decoration: none;
   }

.js-link-label:active { background: none;}
.js-link-label:hover
{
    color: $linkLabaleColor;
    text-decoration: underline !important;
}
}