﻿.js-tercera-menu-container
{
	margin: 0;
	padding: 0;
}

.js-tercera-menu {

	$textColor: #333333;
	$textColorHover: #ffffff;

	$subItemsBackground: url("components/dropdown_menu/dropdown_menu_arrow_def.png") 4px 2px no-repeat;
	$subItemsBackgroundHover: url("components/dropdown_menu/dropdown_menu_arrow_hover.png") 4px 2px no-repeat;

	$backgroundColor: #f0f0f0;
	$backgroundColorHover: $globalAccentColor;

	$borderColor: $globalAccentColor;

	margin: 0;
	padding: 0;

	position:relative;

	max-height:300px;

	background-color: $backgroundColor;
	border: 1px solid $borderColor;

	.mCSB_container {
		display: table;
		table-layout: fixed;
		width: 94%;
		width: calc(100% - 14px);
		&.mCS_y_hidden { width: 100%; }
	}

	li {
		margin: 0;
		padding: 0;
		height: 20px;        
		display: table-row;
        
		& > div {
			position: relative;
			display: table-cell;
		}

		&.js-separator-container {  
			height: 2px;
			& > .js-separator {
				position: absolute;
			}
		}

		.image-left { 
			width: 27px;
			div {
				width: 27px;
				height: 20px; 
				position: absolute;
				background-position: 8px center;
				background-repeat: no-repeat;
			}
			.default {
				&.check {
					background-image:url("components/dropdown_menu/dropdown_menu_check_def.png");
				}
			}
			.hovered { 
				visibility: hidden; 
				&.check {
					background-image:url("components/dropdown_menu/dropdown_menu_check_hover.png");
				}
			}
		}

		.text {
			color: $textColor;
			font-family: Tahoma, Verdana;
			font-size: 11px;
			line-height: 8px;
			vertical-align: middle;
			overflow: hidden; 
			-ms-text-overflow: ellipsis; 
			-o-text-overflow:ellipsis; 
			text-overflow:ellipsis;
			white-space:nowrap;
		}

		.image-subitems {
			width: 20px;
			background: none;
		}

		&:hover, &#initialSelectedValue{
			background-color: $backgroundColorHover;
			.text { color: $textColorHover; }
			.image-left {
				.default { visibility: hidden; }
				.hovered { visibility: visible; }
			}
		}

		&.js-has-subitems {
			.image-subitems { background: $subItemsBackground; }
			&:not([disabled]):hover {
				.image-subitems { background: $subItemsBackgroundHover; }
			}
		}

		&[disabled] {
			opacity: 0.55;
			&:hover {
				background-color:$backgroundColor;
				.text { color: $textColor; }
				.image-left {
					.default { visibility: visible; }
					.hovered { visibility: hidden; }
				}
			}
		}

		cursor: default;
	}
}