﻿.js-sltp-numeric {
	input { padding-left:27px; }
	&.tr-stop-visible {
		input { padding-right:45px; }
		.js-numeric-arrow { right:21px; }
	}

	.js-tercera-checkbox-container, .terceraButton {
		overflow: hidden;
	}

	.js-tercera-checkbox-container {
		& > div {
			position:absolute;
			background-position: -1px -1px;
			&:hover { background-position: -1px -1px; }
		}
	}

	.terceraButton {
		& > span {
			background-position: -1px -1px;
			&:hover { background-position: -1px -1px; }
		}
	}

	.js-vertical-line {
		position:absolute;
		top:1px;
		width: 1px;
		height:18px;
		background:#838383;
		&.focused { background: $globalAccentColor; }
		&.error { background: red; }
		&.disabled { background: #838383; }
	}
}