﻿$buttonStandardTextColor:  #333333; $buttonStandardTextShadowColor: 0px 1px 0px #dddddd;
$buttonCheckedTextColor:  #ffffff; $buttonCheckedTextShadowColor: 0px 1px 0px #000000;
$buttonToolbarTextColor:  #333333; $buttonToolbarTextShadowColor: 0px 1px 0px #dddddd;
$buttonBlueTextColor: #00436d; $buttonBlueTextShadowColor:  0px 1px 0px #b1dcff;
$buttonBuyTextColor: #ffffff; $buttonBuyTextShadowColor: 0px -1px 0px #000000;
$buttonSellTextColor: #ffffff; $buttonSellTextShadowColor: 0px -1px 0px #000000;
$buttonDisableTextColor: #888888; $buttonDisableTextShadowColor:  #888888;
$buttonBorder: 2px;

@mixin baseButton($height)
{
	font-size: 12px;
	font-weight: normal; 
	font-family: Tahoma, Verdana; 

	text-align: center;
	height: $height;
	line-height: $height;
	width:98px;
	
	position: absolute; /* Абсолютное позиционирование */
    left: 0; /* Положение от левого края окна */
    top: 0; /* Положение от верхнего края */
	cursor: default;

    .js-text {
        overflow: hidden; 
        -ms-text-overflow: ellipsis; 
        -o-text-overflow:ellipsis; 
        text-overflow:ellipsis;
        white-space:nowrap;
    }
}
@mixin baseButtonBorders($imgUrl, $height)
{
	width: $buttonBorder;
	height: $height;
	line-height: $height;
	background: url($imgUrl) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	content: " ";
	top: 0;
	display: block;
	position: absolute;
}
@mixin baseButtonBordersBefore($imgUrl, $height)
{
	@include baseButtonBorders($imgUrl, $height); 
	left: -$buttonBorder; background-position: top left;
}
@mixin baseButtonBordersAfter($imgUrl, $height)
{
	@include baseButtonBorders($imgUrl, $height); 
	right: -$buttonBorder; background-position: top right;
}
@mixin standardButtonText
{
	color: $buttonStandardTextColor;
	text-shadow: $buttonStandardTextShadowColor;
}
@mixin checkedButtonText
{
	color: $buttonCheckedTextColor;
	text-shadow: $buttonCheckedTextShadowColor;
}
@mixin toolbarButtonText
{
	color: $buttonToolbarTextColor;
	text-shadow: $buttonToolbarTextShadowColor;
}
@mixin blueButtonText
{
	color: $buttonBlueTextColor;
	text-shadow: $buttonBlueTextShadowColor;
}
@mixin buyButtonText
{
	color: $buttonBuyTextColor;
	text-shadow: $buttonBuyTextShadowColor;
}
@mixin sellButtonText
{
	color: $buttonSellTextColor;
	text-shadow: $buttonSellTextShadowColor;
}

@mixin image-bg-pos($imgUrl)
{
    background: url($imgUrl) center repeat-x; 
	-moz-background-size: 300% 100%; -o-background-size: 300% 100%; -webkit-background-size: 300% 100%; background-size: 300% 100%;
}

body {
// standard-button-25px
.terceraButton[buttonStyle="js-button-gray25"] { @include baseButton(25px); @include standardButtonText; @include image-bg-pos("components/buttons/02_button_default.png");}
.terceraButton[buttonStyle="js-button-gray25"]:before {@include baseButtonBordersBefore("components/buttons/02_button_default.png", 25px); }
.terceraButton[buttonStyle="js-button-gray25"]:after {@include baseButtonBordersAfter("components/buttons/02_button_default.png", 25px); }
.terceraButton[buttonStyle="js-button-gray25"]:hover {@include image-bg-pos("components/buttons/02_button_hover.png");}
.terceraButton[buttonStyle="js-button-gray25"]:hover:after, 
.terceraButton[buttonStyle="js-button-gray25"]:hover:before {background-image: url("components/buttons/02_button_hover.png");}
.terceraButton[buttonStyle="js-button-gray25"]:active {@include image-bg-pos("components/buttons/02_button_click.png");}
.terceraButton[buttonStyle="js-button-gray25"]:active:after, 
.terceraButton[buttonStyle="js-button-gray25"]:active:before {background-image: url("components/buttons/02_button_click.png");}
.terceraButton[buttonStyle="js-button-gray25"][disabled] {background-image: url("components/buttons/02_button_disabled.png"); color: #aaaaaa; text-shadow: 0 1px 0 #eeeeee; cursor: default; opacity: 1;}
.terceraButton[buttonStyle="js-button-gray25"][disabled]:after, 
.terceraButton[buttonStyle="js-button-gray25"][disabled]:before {background-image: url("components/buttons/02_button_disabled.png"); cursor: default;}
.terceraButton[buttonStyle="js-button-gray25"][checked] {background-image: url("components/buttons/02_button_checked_default.png");  @include checkedButtonText;}
.terceraButton[buttonStyle="js-button-gray25"][checked]:after, 
.terceraButton[buttonStyle="js-button-gray25"][checked]:before {background-image: url("components/buttons/02_button_checked_default.png"); cursor: default;}
.terceraButton[buttonStyle="js-button-gray25"][checked]:hover {background-image: url("components/buttons/02_button_checked_hover.png");  @include checkedButtonText;}
.terceraButton[buttonStyle="js-button-gray25"][checked]:hover:after, 
.terceraButton[buttonStyle="js-button-gray25"][checked]:hover:before {background-image: url("components/buttons/02_button_checked_hover.png"); cursor: default;}
.terceraButton[buttonStyle="js-button-gray25"][disabled][checked] {background-image: url("components/buttons/03_blue_button_disable.png");}
.terceraButton[buttonStyle="js-button-gray25"][disabled][checked]:after, 
.terceraButton[buttonStyle="js-button-gray25"][disabled][checked]:before {background-image: url("components/buttons/03_blue_button_disable.png");}
// blue-button-25px
.terceraButton[buttonStyle="js-button-blue25"] { @include baseButton(25px); @include blueButtonText; @include image-bg-pos("components/buttons/03_blue_button_default.png");}
.terceraButton[buttonStyle="js-button-blue25"]:before {@include baseButtonBordersBefore("components/buttons/03_blue_button_default.png", 25px); }
.terceraButton[buttonStyle="js-button-blue25"]:after {@include baseButtonBordersAfter("components/buttons/03_blue_button_default.png", 25px); }
.terceraButton[buttonStyle="js-button-blue25"]:hover {@include image-bg-pos("components/buttons/03_blue_button_hover.png");}
.terceraButton[buttonStyle="js-button-blue25"]:hover:after, 
.terceraButton[buttonStyle="js-button-blue25"]:hover:before {background-image: url("components/buttons/03_blue_button_hover.png");}
.terceraButton[buttonStyle="js-button-blue25"]:active {@include image-bg-pos("components/buttons/03_blue_button_click.png");}
.terceraButton[buttonStyle="js-button-blue25"]:active:after,
.terceraButton[buttonStyle="js-button-blue25"]:active:before {background-image: url("components/buttons/03_blue_button_click.png");}
.terceraButton[buttonStyle="js-button-blue25"][disabled] {background-image: url("components/buttons/03_blue_button_disable.png"); color:#888888; cursor: default; opacity: 0.55;}
.terceraButton[buttonStyle="js-button-blue25"][disabled]:after, 
.terceraButton[buttonStyle="js-button-blue25"][disabled]:before {background-image: url("components/buttons/03_blue_button_disable.png"); cursor: default;}
// buy-button-25px
.terceraButton[buttonStyle="js-button-buy25"] { @include baseButton(25px); @include buyButtonText; @include image-bg-pos("components/buttons/02_button_buy_default.png");}
.terceraButton[buttonStyle="js-button-buy25"]:before {@include baseButtonBordersBefore("components/buttons/02_button_buy_default.png", 25px); }
.terceraButton[buttonStyle="js-button-buy25"]:after {@include baseButtonBordersAfter("components/buttons/02_button_buy_default.png", 25px); }
.terceraButton[buttonStyle="js-button-buy25"]:hover {@include image-bg-pos("components/buttons/02_button_buy_hover.png");}
.terceraButton[buttonStyle="js-button-buy25"]:hover:after, 
.terceraButton[buttonStyle="js-button-buy25"]:hover:before {background-image: url("components/buttons/02_button_buy_hover.png");}
.terceraButton[buttonStyle="js-button-buy25"]:active {@include image-bg-pos("components/buttons/02_button_buy_click.png");}
.terceraButton[buttonStyle="js-button-buy25"]:active:after, 
.terceraButton[buttonStyle="js-button-buy25"]:active:before {background-image: url("components/buttons/02_button_buy_click.png");}
.terceraButton[buttonStyle="js-button-buy25"][disabled] {background-image: url("components/buttons/02_button_buy_disabled.png"); color:#2564b6; text-shadow: 0 1px 0 #62a6cd;  cursor: default; opacity: 1;}
.terceraButton[buttonStyle="js-button-buy25"][disabled]:after, 
.terceraButton[buttonStyle="js-button-buy25"][disabled]:before {background-image: url("components/buttons/02_button_buy_disabled.png"); cursor: default;}
// sell-button-25px
.terceraButton[buttonStyle="js-button-sell25"] { @include baseButton(25px); @include sellButtonText; @include image-bg-pos("components/buttons/02_button_sell_default.png");}
.terceraButton[buttonStyle="js-button-sell25"]:before { @include baseButtonBordersBefore("components/buttons/02_button_sell_default.png", 25px); }
.terceraButton[buttonStyle="js-button-sell25"]:after { @include baseButtonBordersAfter("components/buttons/02_button_sell_default.png", 25px); }
.terceraButton[buttonStyle="js-button-sell25"]:hover { @include image-bg-pos("components/buttons/02_button_sell_hover.png");}
.terceraButton[buttonStyle="js-button-sell25"]:hover:after,
.terceraButton[buttonStyle="js-button-sell25"]:hover:before {background-image: url("components/buttons/02_button_sell_hover.png");}
.terceraButton[buttonStyle="js-button-sell25"]:active { @include image-bg-pos("components/buttons/02_button_sell_click.png");}
.terceraButton[buttonStyle="js-button-sell25"]:active:after,
.terceraButton[buttonStyle="js-button-sell25"]:active:before {background-image: url("components/buttons/02_button_sell_click.png");}
.terceraButton[buttonStyle="js-button-sell25"][disabled] { background-image: url("components/buttons/02_button_sell_disabled.png"); color: #944444; text-shadow: 0 1px 0 #e59191; cursor: default; }
.terceraButton[buttonStyle="js-button-sell25"][disabled]:after, 
.terceraButton[buttonStyle="js-button-sell25"][disabled]:before {background-image: url("components/buttons/02_button_sell_disabled.png"); cursor: default;}
// fx-buy
.terceraButton[buttonStyle="js-button-fx-buy"] { @include baseButton(41px); @include buyButtonText; @include image-bg-pos("k_fx_board/02_buy_button_default.png");}
.terceraButton[buttonStyle="js-button-fx-buy"]:before {@include baseButtonBordersBefore("k_fx_board/02_buy_button_default.png", 41px); }
.terceraButton[buttonStyle="js-button-fx-buy"]:after {@include baseButtonBordersAfter("k_fx_board/02_buy_button_default.png", 41px); }
.terceraButton[buttonStyle="js-button-fx-buy"]:hover {@include image-bg-pos("k_fx_board/02_buy_button_hover.png");}
.terceraButton[buttonStyle="js-button-fx-buy"]:hover:after, 
.terceraButton[buttonStyle="js-button-fx-buy"]:hover:before {background-image: url("k_fx_board/02_buy_button_hover.png");}
.terceraButton[buttonStyle="js-button-fx-buy"]:active {@include image-bg-pos("k_fx_board/02_buy_button_click.png");}
.terceraButton[buttonStyle="js-button-fx-buy"]:active:after, 
.terceraButton[buttonStyle="js-button-fx-buy"]:active:before {background-image: url("k_fx_board/02_buy_button_click.png");}
.terceraButton[buttonStyle="js-button-fx-buy"][disabled] {background-image: url("k_fx_board/02_buy_button_default.png"); color:#888888; cursor: default; opacity: 0.55;}
.terceraButton[buttonStyle="js-button-fx-buy"][disabled]:after, 
.terceraButton[buttonStyle="js-button-fx-buy"][disabled]:before {background-image: url("k_fx_board/02_buy_button_default.png"); cursor: default;}
.terceraButton[buttonStyle="js-button-fx-buy" ]{ .js-fx-caption{ text-shadow: 0 1px 0 #86daef; }}
// fx-sell
.terceraButton[buttonStyle="js-button-fx-sell"] { @include baseButton(41px); @include sellButtonText; @include image-bg-pos("k_fx_board/03_sell_button_default.png");}
.terceraButton[buttonStyle="js-button-fx-sell"]:before { @include baseButtonBordersBefore("k_fx_board/03_sell_button_default.png", 41px); }
.terceraButton[buttonStyle="js-button-fx-sell"]:after { @include baseButtonBordersAfter("k_fx_board/03_sell_button_default.png", 41px); }
.terceraButton[buttonStyle="js-button-fx-sell"]:hover { @include image-bg-pos("k_fx_board/03_sell_button_hover.png");}
.terceraButton[buttonStyle="js-button-fx-sell"]:hover:after,
.terceraButton[buttonStyle="js-button-fx-sell"]:hover:before {background-image: url("k_fx_board/03_sell_button_hover.png");}
.terceraButton[buttonStyle="js-button-fx-sell"]:active { @include image-bg-pos("k_fx_board/03_sell_button_click.png");}
.terceraButton[buttonStyle="js-button-fx-sell"]:active:after,
.terceraButton[buttonStyle="js-button-fx-sell"]:active:before {background-image: url("k_fx_board/03_sell_button_click.png");}
.terceraButton[buttonStyle="js-button-fx-sell"][disabled] { background-image: url("k_fx_board/03_sell_button_default.png"); color:#888888; cursor: default; opacity: 0.55;}
.terceraButton[buttonStyle="js-button-fx-sell"][disabled]:after, 
.terceraButton[buttonStyle="js-button-fx-sell"][disabled]:before {background-image: url("k_fx_board/03_sell_button_default.png"); cursor: default;}
.terceraButton[buttonStyle="js-button-fx-sell"]{ .js-fx-caption{ text-shadow: 0 1px 0 #f78b8b; }}
.js-fx-caption {
    position:absolute;
    top:4px;
    left:8px;
    font-size: 10px;
    line-height:10px;
    color: #222222;
}
.js-fx-value {
    position: absolute;
    bottom: 0;
    left: 8px;
    font-size: 14px;
    line-height:24px;
    & > span { font-size: 24px; }
}
//fx-position
.terceraButton[buttonStyle="js-button-fx-position"] { @include baseButton(21px); @include toolbarButtonText; @include image-bg-pos("components/buttons/01_toolbar_button_default.png");}
.terceraButton[buttonStyle="js-button-fx-position"]:before {@include baseButtonBordersBefore("components/buttons/01_toolbar_button_default.png", 21px);  }
.terceraButton[buttonStyle="js-button-fx-position"]:after {@include baseButtonBordersAfter("components/buttons/01_toolbar_button_default.png", 21px); }
.terceraButton[buttonStyle="js-button-fx-position"][disabled] {background-image: url("components/buttons/01_toolbar_button_default.png"); color:$buttonDisableTextColor; cursor: default; opacity: 0.55;}
.terceraButton[buttonStyle="js-button-fx-position"][disabled]:after, 
.terceraButton[buttonStyle="js-button-fx-position"][disabled]:before {background-image: url("components/buttons/01_toolbar_button_default.png"); cursor: default;}
//
// toolbar-button-21px
//
.terceraButton[buttonStyle="js-toolbarbutton-gray21"] { @include baseButton(21px); @include toolbarButtonText; @include image-bg-pos("components/buttons/01_toolbar_button_default.png");}
.terceraButton[buttonStyle="js-toolbarbutton-gray21"]:before {@include baseButtonBordersBefore("components/buttons/01_toolbar_button_default.png", 21px);  }
.terceraButton[buttonStyle="js-toolbarbutton-gray21"]:after {@include baseButtonBordersAfter("components/buttons/01_toolbar_button_default.png", 21px); }
.terceraButton[buttonStyle="js-toolbarbutton-gray21"]:hover {@include image-bg-pos("components/buttons/01_toolbar_button_hover.png");}
.terceraButton[buttonStyle="js-toolbarbutton-gray21"]:hover:after, 
.terceraButton[buttonStyle="js-toolbarbutton-gray21"]:hover:before {background-image: url("components/buttons/01_toolbar_button_hover.png");}
.terceraButton[buttonStyle="js-toolbarbutton-gray21"]:active {@include image-bg-pos("components/buttons/01_toolbar_button_click.png");}
.terceraButton[buttonStyle="js-toolbarbutton-gray21"]:active:after, 
.terceraButton[buttonStyle="js-toolbarbutton-gray21"]:active:before {background-image: url("components/buttons/01_toolbar_button_click.png");}
.terceraButton[buttonStyle="js-toolbarbutton-gray21"][disabled] {background-image: url("components/buttons/01_toolbar_button_default.png"); color:$buttonDisableTextColor; cursor: default; opacity: 0.55;}
.terceraButton[buttonStyle="js-toolbarbutton-gray21"][disabled]:after, 
.terceraButton[buttonStyle="js-toolbarbutton-gray21"][disabled]:before {background-image: url("components/buttons/01_toolbar_button_default.png"); cursor: default;}
.terceraButton[buttonStyle="js-toolbarbutton-gray21"][checked] {background-image: url("components/buttons/01_toolbar_button_checked_default.png"); @include checkedButtonText;}
.terceraButton[buttonStyle="js-toolbarbutton-gray21"][checked]:after, 
.terceraButton[buttonStyle="js-toolbarbutton-gray21"][checked]:before {background-image: url("components/buttons/01_toolbar_button_checked_default.png"); }
.terceraButton[buttonStyle="js-toolbarbutton-gray21"][checked]:hover {background-image: url("components/buttons/01_toolbar_button_checked_hover.png"); @include checkedButtonText;}
.terceraButton[buttonStyle="js-toolbarbutton-gray21"][checked]:hover:after, 
.terceraButton[buttonStyle="js-toolbarbutton-gray21"][checked]:hover:before {background-image: url("components/buttons/01_toolbar_button_checked_hover.png"); }
.terceraButton[buttonStyle="js-toolbarbutton-gray21"][disabled][checked] {background-image: url("components/buttons/01_toolbar_button_checked_disable.png");}
.terceraButton[buttonStyle="js-toolbarbutton-gray21"][disabled][checked]:after, 
.terceraButton[buttonStyle="js-toolbarbutton-gray21"][disabled][checked]:before {background-image: url("components/buttons/01_toolbar_button_checked_disable.png");}

//BuyToolbar: 'js-toolbarbutton-buy21',
.terceraButton[buttonStyle="js-toolbarbutton-buy21"] { @include baseButton(21px); @include buyButtonText; @include image-bg-pos("components/buttons/01_toolbar_button_buy_default.png");}
.terceraButton[buttonStyle="js-toolbarbutton-buy21"]:before {@include baseButtonBordersBefore("components/buttons/01_toolbar_button_buy_default.png", 21px);  }
.terceraButton[buttonStyle="js-toolbarbutton-buy21"]:after {@include baseButtonBordersAfter("components/buttons/01_toolbar_button_buy_default.png", 21px); }
.terceraButton[buttonStyle="js-toolbarbutton-buy21"]:hover {@include image-bg-pos("components/buttons/01_toolbar_button_buy_hover.png");}
.terceraButton[buttonStyle="js-toolbarbutton-buy21"]:hover:after, 
.terceraButton[buttonStyle="js-toolbarbutton-buy21"]:hover:before {background-image: url("components/buttons/01_toolbar_button_buy_hover.png");}
.terceraButton[buttonStyle="js-toolbarbutton-buy21"]:active {@include image-bg-pos("components/buttons/01_toolbar_button_buy_click.png");}
.terceraButton[buttonStyle="js-toolbarbutton-buy21"]:active:after, 
.terceraButton[buttonStyle="js-toolbarbutton-buy21"]:active:before {background-image: url("components/buttons/01_toolbar_button_buy_click.png");}
.terceraButton[buttonStyle="js-toolbarbutton-buy21"][disabled] {background-image: url("components/buttons/01_toolbar_button_buy_disabled.png"); color:$buttonDisableTextColor; cursor: default; opacity: 0.55;}
.terceraButton[buttonStyle="js-toolbarbutton-buy21"][disabled]:after, 
.terceraButton[buttonStyle="js-toolbarbutton-buy21"][disabled]:before {background-image: url("components/buttons/01_toolbar_button_buy_disabled.png"); cursor: default;}
//SellToolbar: 's-toolbarbutton-sell21',
.terceraButton[buttonStyle="js-toolbarbutton-sell21"] { @include baseButton(21px); @include sellButtonText; @include image-bg-pos("components/buttons/01_toolbar_button_sell_default.png");}
.terceraButton[buttonStyle="js-toolbarbutton-sell21"]:before {@include baseButtonBordersBefore("components/buttons/01_toolbar_button_sell_default.png", 21px);  }
.terceraButton[buttonStyle="js-toolbarbutton-sell21"]:after {@include baseButtonBordersAfter("components/buttons/01_toolbar_button_sell_default.png", 21px); }
.terceraButton[buttonStyle="js-toolbarbutton-sell21"]:hover {@include image-bg-pos("components/buttons/01_toolbar_button_sell_hover.png");}
.terceraButton[buttonStyle="js-toolbarbutton-sell21"]:hover:after, 
.terceraButton[buttonStyle="js-toolbarbutton-sell21"]:hover:before {background-image: url("components/buttons/01_toolbar_button_sell_hover.png");}
.terceraButton[buttonStyle="js-toolbarbutton-sell21"]:active {@include image-bg-pos("components/buttons/01_toolbar_button_sell_click.png");}
.terceraButton[buttonStyle="js-toolbarbutton-sell21"]:active:after, 
.terceraButton[buttonStyle="js-toolbarbutton-sell21"]:active:before {background-image: url("components/buttons/01_toolbar_button_sell_click.png");}
.terceraButton[buttonStyle="js-toolbarbutton-sell21"][disabled] {background-image: url("components/buttons/01_toolbar_button_sell_disabled.png"); color:$buttonDisableTextColor; cursor: default; opacity: 0.55;}
.terceraButton[buttonStyle="js-toolbarbutton-sell21"][disabled]:after, 
.terceraButton[buttonStyle="js-toolbarbutton-sell21"][disabled]:before {background-image: url("components/buttons/01_toolbar_button_sell_disabled.png"); cursor: default;}
    


.terceraButton[buttonStyle="js-borderless-imagesbutton"]{@include baseButton(25px); @include standardButtonText;}


    
@mixin CreateButtonStyle($newBtnClassName, $width, $height, $defaultImageUrl, $hoverImageUrl, $disabledImageUrl, $clickImageUrl, $checkedImageUrl)
{   
	$imagesRule:no-repeat center center transparent;
	@if $defaultImageUrl!="" {
		.#{$newBtnClassName}			  {		background: url($defaultImageUrl)no-repeat center center transparent;
												left: 0px; 
												right: 0px; 
												top: 0px; 
												bottom: 0px; 
												width:$width+px;
												height:$height+px;
												position: absolute;
												}
	}
	@if $hoverImageUrl!=""{
		.#{$newBtnClassName}:hover     { background: url($hoverImageUrl)no-repeat center center transparent;        }       
	}
	@if $clickImageUrl!=""{
		.#{$newBtnClassName}:active    { background: url($clickImageUrl)no-repeat center center transparent;        } 
	}
	@if $checkedImageUrl!=""{
		.#{$newBtnClassName}[checked]  { background: url($checkedImageUrl)no-repeat center center transparent;      }
	}
	@if $disabledImageUrl!=""{
		.#{$newBtnClassName}[disabled] { background: url($disabledImageUrl)no-repeat center center transparent;     }
	}
}


@include CreateButtonStyle("js-closeWindowBtn",16,16,"components/panels_tabs/14x14_icon_close_default.png","components/panels_tabs/14x14_icon_close_hover.png","","","");

@include CreateButtonStyle("js-panel-oe"				,24,24, "b_toolbar/icons/42_24x24_icon_order_entry_default.png"			,"b_toolbar/icons/42_24x24_icon_order_entry_hover.png"		,""		,"b_toolbar/icons/42_24x24_icon_order_entry_click.png"			,"");
@include CreateButtonStyle("js-panel-chart"				,24,24, "b_toolbar/icons/01_24x24_icon_chart_default.png"				,"b_toolbar/icons/01_24x24_icon_chart_hover.png"			,""		,"b_toolbar/icons/01_24x24_icon_chart_click.png"				,"");
@include CreateButtonStyle("js-panel-watchlist"			,24,24, "b_toolbar/icons/02_24x24_icon_watchlist_default.png"			,"b_toolbar/icons/02_24x24_icon_watchlist_hover.png"		,""		,"b_toolbar/icons/02_24x24_icon_watchlist_click.png"			,"");
@include CreateButtonStyle("js-panel-marketdepth"		,24,24, "b_toolbar/icons/03_24x24_icon_marketdepth_default.png"			,"b_toolbar/icons/03_24x24_icon_marketdepth_hover.png"		,""		,"b_toolbar/icons/03_24x24_icon_marketdepth_click.png"			,"");
@include CreateButtonStyle("js-panel-timeandsales"		,24,24, "b_toolbar/icons/04_24x24_icon_timensales_default.png"			,"b_toolbar/icons/04_24x24_icon_timensales_hover.png"		,""		,"b_toolbar/icons/04_24x24_icon_timensales_click.png"			,"");
@include CreateButtonStyle("js-panel-optionchain"		,24,24, "b_toolbar/icons/05_24x24_icon_optionchain_default.png"			,"b_toolbar/icons/05_24x24_icon_optionchain_hover.png"		,""		,"b_toolbar/icons/05_24x24_icon_optionchain_click.png"			,"");
@include CreateButtonStyle("js-panel-fxboard"			,24,24, "b_toolbar/icons/06_24x24_icon_fxboard_default.png"				,"b_toolbar/icons/06_24x24_icon_fxboard_hover.png"			,""		,"b_toolbar/icons/06_24x24_icon_fxboard_click.png"				,"");
@include CreateButtonStyle("js-panel-positions"			,24,24, "b_toolbar/icons/07_24x24_icon_positions_default.png"			,"b_toolbar/icons/07_24x24_icon_positions_hover.png"		,""		,"b_toolbar/icons/07_24x24_icon_positions_click.png"			,"");
@include CreateButtonStyle("js-panel-orders"			,24,24, "b_toolbar/icons/08_24x24_icon_orders_default.png"				,"b_toolbar/icons/08_24x24_icon_orders_hover.png"			,""		,"b_toolbar/icons/08_24x24_icon_orders_click.png"				,"");
@include CreateButtonStyle("js-panel-orderbook"			,24,24, "b_toolbar/icons/09_24x24_icon_orderbook_default.png"			,"b_toolbar/icons/09_24x24_icon_orderbook_hover.png"		,""		,"b_toolbar/icons/09_24x24_icon_orderbook_click.png"			,"");
@include CreateButtonStyle("js-panel-trades"			,24,24, "b_toolbar/icons/10_24x24_icon_trades_default.png"				,"b_toolbar/icons/10_24x24_icon_trades_hover.png"			,""		,"b_toolbar/icons/10_24x24_icon_trades_click.png"				,"");
@include CreateButtonStyle("js-panel-accounts"			,24,24, "b_toolbar/icons/36_24x24_icon_account_groups_default.png"		,"b_toolbar/icons/36_24x24_icon_account_groups_hover.png"	,""		,"b_toolbar/icons/36_24x24_icon_account_groups_click.png"		,"");
@include CreateButtonStyle("js-panel-reports"			,24,24, "b_toolbar/icons/12_24x24_icon_reports_default.png"				,"b_toolbar/icons/12_24x24_icon_reports_hover.png"			,""		,"b_toolbar/icons/12_24x24_icon_reports_click.png"				,"");
@include CreateButtonStyle("js-panel-events"			,24,24, "b_toolbar/icons/13_24x24_icon_eventlog_default.png"			,"b_toolbar/icons/13_24x24_icon_eventlog_hover.png"			,""		,"b_toolbar/icons/13_24x24_icon_eventlog_click.png"				,"");
@include CreateButtonStyle("js-panel-news"				,24,24, "b_toolbar/icons/14_24x24_icon_news_default.png"				,"b_toolbar/icons/14_24x24_icon_news_hover.png"				,""		,"b_toolbar/icons/14_24x24_icon_news_click.png"					,"");
@include CreateButtonStyle("js-panel-scripts"			,24,24, "b_toolbar/icons/58_24x24_icon_scripts_on_server_default.png"	,"b_toolbar/icons/58_24x24_icon_scripts_on_server_hover.png",""		,"b_toolbar/icons/58_24x24_icon_scripts_on_server_click.png"	,"");
@include CreateButtonStyle("js-panel-accountdetails"	,24,24, "b_toolbar/icons/11_24x24_icon_accounts_default.png"			,"b_toolbar/icons/11_24x24_icon_accounts_hover.png"			,""		,"b_toolbar/icons/11_24x24_icon_accounts_click.png"				,"");
@include CreateButtonStyle("js-panel-instrumentdetails"	,24,24, "b_toolbar/icons/45_24x24_icon_instrument_info_default.png"		,"b_toolbar/icons/45_24x24_icon_instrument_info_hover.png"	,""		,"b_toolbar/icons/45_24x24_icon_instrument_info_click.png"		,"");
@include CreateButtonStyle("js-panel-balancepanel"		,24,24, "b_toolbar/icons/39_24x24_icon_balance_panel_default.png"	  	,"b_toolbar/icons/39_24x24_icon_balance_panel_hover.png"	,""		,"b_toolbar/icons/39_24x24_icon_balance_panel_click.png"		,"");

@include CreateButtonStyle("js-panel-save"						,24,24, "b_toolbar/icons/15_24x24_icon_save_default.png"				  	,"b_toolbar/icons/15_24x24_icon_save_hover.png"					,""		,"b_toolbar/icons/15_24x24_icon_save_click.png"						,"");
@include CreateButtonStyle("js-panel-settings"					,24,24, "b_toolbar/icons/17_24x24_icon_settings_default.png"			  	,"b_toolbar/icons/17_24x24_icon_settings_hover.png"				,""		,"b_toolbar/icons/17_24x24_icon_settings_click.png"					,"");
@include CreateButtonStyle("js-panel-knowledge-base"			,24,24, "b_toolbar/icons/54_24x24_icon_manual_default.png"					,"b_toolbar/icons/54_24x24_icon_manual_hover.png"				,""		,"b_toolbar/icons/54_24x24_icon_manual_click.png"					,"");
@include CreateButtonStyle("js-panel-about"						,24,24, "b_toolbar/icons/49_24x24_icon_about_default.png"					,"b_toolbar/icons/49_24x24_icon_about_hover.png"				,""		,"b_toolbar/icons/49_24x24_icon_about_click.png"					,"");
@include CreateButtonStyle("js-panel-connection-manager"		,24,24, "b_toolbar/icons/19_24x24_icon_connection_manager_default.png"	  	,"b_toolbar/icons/19_24x24_icon_connection_manager_hover.png"	,""		,"b_toolbar/icons/19_24x24_icon_connection_manager_click.png"		,"");

@include CreateButtonStyle("js-panel-lock"						,24,24, "b_toolbar/icons/71_24x24_icon_lock_default.png"					,"b_toolbar/icons/71_24x24_icon_lock_hover.png"				,""		,""					,"");
@include CreateButtonStyle("js-panel-lock-active"				,24,24, "b_toolbar/icons/71_24x24_icon_lock_active.png"					    ,""				,""		,""					,"");
@include CreateButtonStyle("js-panel-cat"						,24,24, "b_toolbar/24x24_icon_cat_default.png"							 	,"b_toolbar/24x24_icon_cat_hover.png"						,""		,"b_toolbar/24x24_icon_cat_click.png"		,"");

@include CreateButtonStyle("js-sound-test"						,16,16, "common_icons/16x16_icon_start_default.png"							 	,"common_icons/16x16_icon_start_hover.png"						,""		,""		,"");

@include CreateButtonStyle("js-lookup-show"						,22,21, "components/lookup/combobox_split_button_default.png"							 	,"components/lookup/combobox_split_button_hover.png"						,""		,"components/lookup/combobox_split_button_click.png"		,"");
.js-lookup-show.focused {
	background: url(components/lookup/combobox_active_split_button_default.png) no-repeat center center transparent;
	&:hover { background: url(components/lookup/combobox_active_split_button_hover.png) no-repeat center center transparent; }
	&:active { background: url(components/lookup/combobox_active_split_button_click.png) no-repeat center center transparent; }
}

@include CreateButtonStyle("js-ordModify-btn-copyto"			,17,21, "common_icons/16x16_icon_copyto.png","","","","");

@include CreateButtonStyle("js-link-color-none"					,15,10, "components/window_header/14x14_icon_link_default.png","components/window_header/14x14_icon_link_hover.png","","components/window_header/14x14_icon_link_click.png","");
@include CreateButtonStyle("js-link-color-red"					,15,10, "components/link_menu/01_red_link.png","","","","");
@include CreateButtonStyle("js-link-color-orange"				,15,10, "components/link_menu/02_orange_link.png","","","","");
@include CreateButtonStyle("js-link-color-yellow"				,15,10, "components/link_menu/03_yellow_link.png","","","","");
@include CreateButtonStyle("js-link-color-green"				,15,10, "components/link_menu/04_green_link.png","","","","");
@include CreateButtonStyle("js-link-color-blue"					,15,10, "components/link_menu/05_blue_link.png","","","","");
@include CreateButtonStyle("js-link-color-purpure"				,15,10, "components/link_menu/06_purple_link.png","","","","");
@include CreateButtonStyle("js-link-color-all"					,15,10, "components/link_menu/07_all_link.png","","","","");

@include CreateButtonStyle("js-trStopBtn"					,22,21, "components/numeric/tr_split_button_default.png","components/numeric/tr_split_button_hover.png","components/numeric/tr_split_button_disable.png","components/numeric/tr_split_button_click.png","components/numeric/tr_split_button_checked.png");

.js-settings-switch
{
    position: absolute;
	width: 100%;
	height:100%;
	padding-left: 5px;
    text-align: left;
}

.js-settings-switch:hover
{
    color: #ffffff;
    background-color: $globalAccentColor;
}

.terceraButton[checked] .js-settings-switch
{
    color: #007dff; /*#000000;*/
    background-color: #dcdcdc;
}

.terceraButton[checked] .js-settings-switch:hover
{
    color: #ffffff;
    background-color: $globalAccentColor;
}

.terceraButton-coloringButton
{
	position: absolute;
	background: url(web_only/colorPicker/21x16_colorOpacity.png) 100% 100% repeat transparent;		
}

}

.terceraButton[buttonStyle="js-chart-tool-button"] {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 20px 21px;
    &:hover {
        background-image: url(components/buttons/20x21_chart_tool_button_hover.png);
    }
    &[checked] {
        background-image: url(components/buttons/02_button_checked_default.png);
        &:hover {
            background-image: url(components/buttons/02_button_checked_hover.png);
        }
    }
    &[disabled] {
        opacity: 0.55;
        background: none;
    }
    &>span { height: 20px; }
}

.terceraButton[buttonStyle="js-main-toolbar-button"] {
    position: absolute;
    background-repeat: no-repeat;
    &:hover {
        background-image: url(components/buttons/31x31_main_toolbar_button_hover.png);
    }
    &[checked] {
        background-image: url(components/buttons/31x31_main_toolbar_button_checked.png);
    }
    &>span { 
		width: 31px;
		height: 31px;
		background-position-y: 3px;
	}
}