﻿.js_login_panel {
    background-color: #333;
    border: 0 solid #777;
    box-shadow: 0 0 10px 0 #000000;
    color: #222;
    font-family: Tahoma,Verdana;
    font-size: 12px;
    min-height: 338px;
    position: absolute;
    width: 280px;
}

.login-screen {
	.login-bottom { background-color: #c8c8c8; }
    a { color: rgb(15, 124, 185); }
    .js-tercera-label.js-tercera-label-TopLeft {
        color: #646464;
    }
}
