﻿body {
    .js-tercera-label
    {
        color: rgb(131,131,131);
        text-shadow: $defaultTextShadow;
        margin-top: 0;
        margin-bottom: 0;
        font-family: Tahoma, Verdana;
        font-size: 11px;
        display:inline-block;
        cursor: default;	
		@include NoSelectTextRule;
		position:absolute;
    }
    .js-tercera-label:after {cursor: default;}
    .js-tercera-label:before{cursor: default;}
	
	
	.js-tercera-label-TopLeft
	{
		vertical-align: top;
		text-align: left;
	}
	.js-tercera-label-TopCenter
	{ 
	}
	.js-tercera-label-TopRight
	{
	}
	.js-tercera-label-CenterLeft
	{
	}
	.js-tercera-label-CenterCenter
    {
	}
	.js-tercera-label-CenterRight
	{
	}
	.js-tercera-label-BottomLeft
	{
	}
	.js-tercera-label-BottomCenter
	{
	}
	.js-tercera-label-BottomRight
	{
	}

	.js-tercera-label-type-fx-caption
	{

	}

	.js-tercera-label-type-fx-value
	{
		color: rgb(55, 117, 14);
	}

	.js-tercera-label-type-fx-value-high
	{
		color: #37750e;
	}

	.js-tercera-label-type-fx-value-low
	{
		color: #b4331e;
	}

	.js-tercera-label-type-fx-value-spread
	{
		color: #333333;
	}
}