﻿.js-ticket-screen {
	position:absolute;
	display:table;
	table-layout:fixed;
	top:13px;
	left:22px;
	width:302px;
    .js-entry {
		position:relative;
		display: table-row;
        .js-tercera-label {
			position:relative;
			display: table-cell;
			padding: 0 0 6px 0;
			&:last-child { 
				color: #333;
				-ms-text-overflow: ellipsis;
				-o-text-overflow: ellipsis;
				text-overflow: ellipsis;
				width: 170px;
				overflow:hidden;
			}
		}
    }
}