﻿.js-panel-report-header {
	height:64px;
}

.js-panel-report-dynamic-controls {
	& > div {
		height:25px;
		margin-left:15px;
	}
}

.js-panel-report-footer {
	height:44px;
	background-color:#C8C8C8;
	position:absolute;
}