﻿.js-market-depth-buttons {
    position:absolute;
    display:table;
	width:100%;
    margin:0;
    padding: 0 5px;
	bottom:0;
	box-sizing:border-box;
	background-color:#DCDCDC;

    & > div {
        position: relative;
        display: table-cell;
		
        &.js-controls { 
            width: 200px;
            min-width: 104px;
        }

        &.js-margin-small { 
            width: 5px;
            min-width: 5px;
        }

        & > div {
            left: 0;
            right: 0;
        }

        & > .terceraButton {
            margin: 0 2px 0 2px;
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            width: auto;
        }

        & > .js-comboBox {
            margin: 0 22px 0 2px;

            & + ul {
                left: 0;
                right: 0;
                width: auto;
            }
        }
    }
}