﻿.js-popup-baloon {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 200px;
    height: 100px;
    border-radius: 6px;
    background: #333 no-repeat center;
	display:none;
    z-index:999;

    .js-text {
        position: relative;
        margin: 0 12px;
        top: 78px;
        color: #fff;
        font-family: Tahoma, Verdana;
        font-size: 12px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        cursor: default;
    }
}
