﻿.toast-message {
    display: block;
    position: relative;
    background: #EBEBEB;
    & > div { 
        position:absolute; 
        display:block;
    }
}
.js-toastr-image { 
    left:0;
    top:0;
    width:58px;
    height:58px;
    background-color:#FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("d_system_alerts/32x32_icon_ok.png");
    &.js-refuse { 
        background-image: url("d_system_alerts/32x32_icon_fail.png"); 
    }
}
.js-toastr-header {
    left: 72px;
    right: 12px;
    top: 4px;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #37750E;
    &.js-refuse { color: #B4331E; }
}
.js-toastr-text { 
    left:72px;
    right:12px;
    top:23px;
    bottom:7px;
    overflow: hidden; 
    color: #333;
    text-shadow: $defaultTextShadow;
}