﻿$buttonBorder: 2px;
$comboBoxDisabledColor: #888888;
.js-comboBox {
    height: 21px;
    color: #333333;
    font-size: 11px;
    line-height: 20px;
    background: url("components/buttons/01_toolbar_button_default.png") center repeat-x;
    font-weight: normal;
    text-align: left;
    position: relative;
    background-size: 300% 100%;
    font-family: Tahoma, Verdana;
    text-shadow: 0 1px 0 #dddddd;
    padding-left: 6px;
    cursor: default;
    // Current selection text.
    div {
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow:hidden;
        white-space:nowrap;
    }
}

@mixin comboBox-afterAndBeforeParams($imgUrl,$isBefore)
{
	@if $isBefore{
		left:  -2px;  
		background-position: top left;  
		width: 2px;
	}
	@else
	{
		right: -22px; 
		background-position:top right; 
		width: 22px;
	}
	height: 21px;
	background: url($imgUrl) no-repeat; content: " "; 
	top: 0; 
	display: block; 
	position: absolute;
}

.js-comboBox:before {@include comboBox-afterAndBeforeParams("components/buttons/01_toolbar_button_default.png",true);}
.js-comboBox:after  {@include comboBox-afterAndBeforeParams("web_only/select/web_select_default.png",false);}


.js-comboBox:active		   {background-image: url("components/buttons/01_toolbar_button_click.png");}
.js-comboBox:active:before {background-image: url("components/buttons/01_toolbar_button_click.png");}
.js-comboBox:active:after  {background-image: url("web_only/select/web_select_click.png");}

.js-comboBox:hover		   {background-image: url("components/buttons/01_toolbar_button_hover.png");}
.js-comboBox:hover:before  {background-image: url("components/buttons/01_toolbar_button_hover.png");}
.js-comboBox:hover:after   {background-image: url("web_only/select/web_select_hover.png");}


.js-comboBox[disabled]			 {background-image: url("components/buttons/01_toolbar_button_disable.png"); color: $comboBoxDisabledColor; cursor: default;}
.js-comboBox[disabled]:before	 {background-image: url("components/buttons/01_toolbar_button_disable.png"); cursor: default;}
.js-comboBox[disabled]:after	 {background-image: url("web_only/select/web_select_disable.png"); cursor: default;}

.js-comboBox[focused]		 {background-image: url("components/select/select_open.png");}
.js-comboBox[focused]:before {background-image: url("components/select/select_open.png");}
.js-comboBox[focused]:after  {background-image: url("web_only/select/web_select_active_default.png");}



$comboBoxItemBGColor: #f0f0f0;
$comboBoxColor:#333333;
$comboBoxBorderBotomStyle:0px solid red;
$comboBoxBorder:1px solid $globalAccentColor;

.js-combo-list-ul
{
    color: $comboBoxColor;    
    border: $comboBoxBorder; 
    background-color: $comboBoxItemBGColor;   
	overflow:hidden;
	font-family: Tahoma, Verdana;
    position:absolute;
    max-height:300px;
    padding:0;
	margin:0;
}

.js-combo-list-ul li {
    height: 20px;
    line-height: 20px;
    color: $comboBoxColor;
    background-color: $comboBoxItemBGColor;
    border-bottom: $comboBoxBorderBotomStyle;
    font-size: 11px;
    padding-left: 10px;
    list-style-type: none;
    cursor: default;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.js-combo-list-ul li:last-child
{
    border-bottom:$comboBoxBorderBotomStyle;
}

.js-combo-list-ul li[sub] {
    background-image: url("components/dropdown_menu/dropdown_menu_arrow_def.png");
    background-position: right center;
    background-repeat: no-repeat;
}
.js-combo-list-ul li:hover, .js-combo-list-ul li[open="1"]
{
    background-color: $globalAccentColor;
    color: #ffffff;
}
.js-combo-list-ul li[sub]:hover, .js-combo-list-ul li[open="1"]
{
    background-image: url("components/dropdown_menu/dropdown_menu_arrow_hover.png");
}
.js-combo-list-ul li[selected="1"]
{
    background-color: $globalAccentColor;
    color: #ffffff;
}
.js-combo-list-ul li[checked="1"] {
    background-image: url("components/dropdown_menu/dropdown_menu_check_def.png");
    background-repeat: no-repeat;
    background-position: 8px center;
}
.js-combo-list-ul li:hover[checked="1"] {
    background-image: url("components/dropdown_menu/dropdown_menu_check_hover.png");
    background-repeat: no-repeat;
    background-position: 8px center;
}