﻿.js-left-panel, .js-right-panel {
    position: absolute;
    top: 10px;
    bottom: 57px;
}

.js-left-panel {
    left:10px;
    width: 198px;
    border: 1px solid #b4b4b4;
    background: #f5f5f5;

    .terceraButton .js-settings-switch {
        top:0;
        left:0;
        padding-left: 4px;
        font-size: 11px;
        line-height: 20px;
        text-shadow: none;
        color:#555;
        &:hover { color: #fff;}
    }
}

.js-right-panel {
    left: 220px;
	right: 10px;

    .js-tercera-label { color: #646464; }

	.js-scrollable-container > .js-tercera-label {
		display: flex;
		align-items: center;
	}

    .js-tercera-checkbox-container .js-tercera-label, 
    .js-tercera-checkbox-container + .terceraButton + .js-tercera-label {
        color: #333;
    }
}