﻿.js-property-group-separator {
    position:absolute;
	left:0;
	display:table;
    width:399px;
    & > div {
		position:relative;
        display:table-cell;
        &:first-child { min-width:20px; }
        &:last-child { width:100%; }
        & > div { 
            position:relative; 
            display:block;
        }
        & > .js-tercera-label {
            margin: 0 6px;
            overflow: hidden;
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
        & > .js-separator { margin-bottom:2px; }
    }
}