﻿.buy {
	margin-right:58px;
    div { color: #0f7cb9; }
}

.sell {
    div { color: #b4331e; }
}

.bid-spread-ask-row {
    position: relative;
    display: table;
    height: 44px;
    width: 100%;
    background-color: #f0f0f0;

    .bid, .spread, .ask {
        margin: 0;
        padding: 0;
        font-family: Tahoma, Verdana;
        font-size: 18px;
        text-shadow: 0 1px 0 #dddddd;
        display: table-cell;
        vertical-align: top;
        text-align: center;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space:nowrap;
        
        cursor:default;
    }

    .bid, .ask { 
        width: 115px; 
        padding-top: 6px;
        span { font-size: 28px; }
    }    

    .spread { 
        color: #333333; 
        padding-top: 10px;
    }
    
    .bid { color: #0f7cb9 !important; }
    .ask { color: #b4331e !important; }

    .js-separator[isvertical] {
        margin: 2px 0;
        height: 42px;
    }
}

.js-tercera-label.js-tercera-label-TopLeft  {
	color: #646464;
}

.js-chart-buttons-container {
	position: relative;
	display: block;
	.js-separator { 
		position: relative; 
		display: block;
	}
	.terceraButton { 
		margin-left: 2px; 
		margin-top: 4px;
	}
	.js-separator + .terceraButton { margin-top:10px; }
	.terceraButton:last-child { margin-bottom:10px; }
}