﻿$numericposition:absolute;
$numericBackgroundParams:right 2px no-repeat transparent;

@mixin numericArrowsParams
{
	width:16px; 
	height:10px; 
	right:0;
}


.js-numeric-arrow
{
	position:$numericposition; 
	top:0; 
	right:0;
	width:16px; 
	height:20px; 
}
////////////////////// arrow-up ////////////////////// 
.js-numeric-arrow-up
{
	position:$numericposition;
	@include numericArrowsParams;
	top:0;
	background: url("components/numeric/16x18_icon_numeric.png") $numericBackgroundParams;
	background-position:0 1px;
}
.js-numeric-arrow-up:hover
{
	background: url("components/numeric/16x18_icon_numeric_focused_up.png") $numericBackgroundParams;
	background-position:0 1px;
}
.js-numeric-arrow-up:active
{
	background: url("components/numeric/16x18_icon_numeric_focused_up.png") $numericBackgroundParams;
	background-position:0 2px;
}

////////////////////// arrow-down ////////////////////// 
.js-numeric-arrow-down
{
	position:$numericposition; 
	@include numericArrowsParams;
	top:10px;
	background: url("components/numeric/16x18_icon_numeric.png") $numericBackgroundParams;
	background-position:0 -10px;
}
.js-numeric-arrow-down:hover
{
	background: url("components/numeric/16x18_icon_numeric_focused_down.png") $numericBackgroundParams;
	background-position:0 -10px;
}
.js-numeric-arrow-down:active
{
	background: url("components/numeric/16x18_icon_numeric_focused_down.png") $numericBackgroundParams;
	background-position:0 -11px;
}

////////////////////// container ////////////////////// 
.js-numeric-container 
{
	position: $numericposition; 
	height: 21px; 
	border-width: 0; 
	background-color: rgba(0, 0, 0, 0);
	border-radius: 2px; 
	font-family:Tahoma, Verdana;
	font-size:11px;

	@include bottomShadowStrip;
}

@mixin numericContainerDisable
{
	background-color: #dcdcdc; 
	color: #aaaaaa; 
	cursor: default;
}

@mixin numericContainerNotDisable
{
	background-color: #ffffff; 
	border-color: $globalAccentColor;
}

.js-numeric-container:hover input{background-color: #ebebeb;}

.js-numeric-container input {
	&:active:not([disabled]), &[focused]:not([disabled]) {
		@include numericContainerNotDisable;
	}
}

.js-numeric-container input[disabled] {@include numericContainerDisable;}
.js-numeric-container input[disabled]:hover {@include numericContainerDisable;}
.js-numeric-container[disabled] {opacity: 0.5; cursor: default;}
.js-numeric-container[disabled] div {cursor: default;}

.js-input-numeric {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
	color: #333333;
	height:20px;
	border: 1px solid #838383;
	border-radius: 2px;
	font-family: Tahoma, Verdana;
	font-size: 11px;
	font-weight: normal;
	padding-left: 6px;
	padding-right: 22px;

	&:disabled {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

.js-input-numeric-noArrows{
	padding-right: 0px;
}
