﻿$windowBorderColor: #555555;
$windowBorderColorFocused: $globalWindowBorderColorFocused;;
$windowBorderWidth: 2px;

.js-win {
    position: absolute;
    //z-index: 1;

    background-color: transparent;
    
    border: $windowBorderWidth solid $windowBorderColor;
    border-radius: 6px;

    &[focused] { border: $windowBorderWidth solid $windowBorderColorFocused; }

    &[showHeader="0"] {
        .js-win-tabBar-tab { display: none; }
        .js-win-innerContainer {
            top: 0;
            border: none;
        }
    }

    &[showFooter="0"] { 
        .js-win-tabBar-footer { display: none; }
    }

    &[showModalMask] {
        .js-win-tabBar-tab, .js-win-innerContainer, .js-win-tabBar-footer { 
            z-index: 9001; 
        }
    }

    &:not([single="1"]) .js-win-tabBar-tab:not([active="1"]):hover .js-tab-close {
        opacity: 1 !important;
    }

    &.js-shadow { 
        box-shadow: 0 0 10px 0 #000000; 
        border: none;
        border-radius: 0;
    }

	&[indock="1"]
	{
		.js-win-innerContainer{
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
		}
	}
}

.js-win-tabBar-tab {
    
    display: table;
    //table-layout: fixed;
    width: 100%;
	height: 20px;

	overflow: hidden;
	
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    padding-left: 10px;
    padding-right: 3px;

	cursor: default;
	
	border-radius: 4px 4px 0 0;
	border-bottom: 1px solid #777777;

    font-family: Tahoma, Verdana;
    font-size: 11px;
    text-shadow: 0 1px 0 #dcdcdc;

	color: #222222;
	background-color: #b4b4b4;

    & > div { 
        display: table-cell; 
        position: relative;
		&.js-text {
			vertical-align: top;
			padding-top: 2px;
			overflow: hidden;
			-ms-text-overflow: ellipsis;
			-o-text-overflow: ellipsis;
			text-overflow: ellipsis;
			white-space:nowrap;
		}
		&.js-link { 
			width:23px; 
		}
		&.js-close {
			width:16px;
		}
    }

    &:not([active="1"]) {
        .js-tab-link {
            opacity: 0 !important;
            display: none !important;
        }
        .js-tab-close {
            opacity: 0 !important;
            display: inline-block !important;
            &:hover { opacity: 1 !important; }
        }
    }
}

.js-win-innerContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 20px;
    background-color: #dcdcdc;
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    display: inline-block;

	.js-forbidden-panel { background-color: #dcdcdc; }
}

.js-win-tabBar-footer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 47px;
    display: block;
    width: 100%;
    background-color: #b4b4b4;
    font-family: Tahoma, Verdana;
    font-size: 11px;
    color: #222222;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    cursor: default;
    vertical-align: bottom;
    bottom: 0;
}

.js-win-radius {
    border-radius: 0 0 4px 4px;
}

.js-modal-mask {
    width: 100%;
    height: 100%;
    z-index: 9000;
    padding: 0;
    margin: 0;
    background: black none no-repeat scroll center center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0.5;
}

.ractive-tooltip {
    position: fixed;
    z-index: 9900;
    background-color: rgba(255, 231, 174, 0.9);
    color: rgb(51, 51, 51);
    font-family: Tahoma, Verdana;
    font-size: 11px;
    padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 4px 0 #222222;
	white-space: nowrap;
}

.js-fullscreen-cloud {
    position: absolute;
    z-index: 9900;

    top:0;
    bottom:0;
    left:0;
    right:0;

    background: url("web_only/login/LoginScreenBackGround.png") no-repeat center center rgba(0, 0, 0, 0.7);
    opacity: 1;
}