﻿.js-dt-container {
    position:absolute;
    
	cursor: default;
	outline: none;
    div { 
		cursor: default;
		outline:none; 
	}
    
    width:200px;
    height:21px;

    background-repeat: no-repeat;
    background-image:url(components/textfield/200x21_textfield_default.png);
    &:hover { background-image:url(components/textfield/200x21_textfield_hover.png); }
    &.active { background-image:url(components/textfield/200x21_textfield_active.png); }

	.js-dt-el, .js-dt-separator {
		position: relative;
		top: 2px;
		height: 14px;
		float: left;
		font: 11px Tahoma, Verdana;
        text-align:center;
		color: #333;
	}

    .js-dt-el {
        width: 14px;
		&.year { width: 26px; }

		&.day { margin-left: 9px; }
		&.hours { margin-left: 21px; }

		border: 1px solid transparent;
		&:hover { border-color: $globalAccentColor; }
		
		&:focus {  
			color: #fff;
			background-color: $globalAccentColor;
		}
    }

	.js-dt-separator { width: 8px; }

    .js-dt-button {
        position: absolute;
        top: 0;
        right: 0;
        height: 21px;
        width: 22px;
        background-repeat: no-repeat;
        background-image:url(components/date_picker/combobox_button_datepicker_default.png);
        &:hover { background-image:url(components/date_picker/combobox_button_datepicker_hover.png); }
        &:active { background-image:url(components/date_picker/combobox_button_datepicker_click.png); }
    }
}