﻿$separatorParamsLeftTop:1px solid  #b4b4b4  !important;
$separatorParamsRightBottom:1px solid #ffffff !important;
body {
	.js-separator{
		position: absolute	
	}
	.js-separator[isVertical]{
	    width: 0px !important;
		height:100%;
		border-left: $separatorParamsLeftTop;
		border-right:$separatorParamsRightBottom;
	}
	.js-separator:not([isVertical]){
		height: 0px !important;
		width: 100%;
		border-top: $separatorParamsLeftTop;
		border-bottom: $separatorParamsRightBottom;
	}
}
