<a href="#" onclick="ga('send', 'event', 'button', 'click', 'Add Idea Feature');" data-toggle="modal" data-target="{{ app.user.isGuest() ? '#modal_form_inline' : model.selector }}"  class="btn btn-ptmc btn-fw mb-20">{{ model.title }}</a>