<title>{{ currentLangCeo(model.ceo, 'title') }}</title>
<meta name="description" content="{{ currentLangCeo(model.ceo, 'description') }}"/>
{% if  currentLangCeo(model.ceo, 'keywords') %}
    <meta name="keywords" content="{{ currentLangCeo(model.ceo, 'keywords') }}"/>
{% endif %}
<link rel="canonical" href="{{ getCeoTwig(model.ceo, 'canonical') | raw }}"/>