<!-- Content area -->
<div class="content">

    <!-- Grid options -->
    <div class="panel panel-flat">

        {#<div class="panel-heading">#}
        {#<h5 class="panel-title">Grid options</h5>#}
        {#<div class="heading-elements">#}
        {#<ul class="icons-list">#}
        {#<li><a data-action="collapse"></a></li>#}
        {#<li><a data-action="reload"></a></li>#}
        {#<li><a data-action="close"></a></li>#}
        {#</ul>#}
        {#</div>#}
        {#</div>#}

        <div class="panel-body">

            {% block content %}
                {{ content | raw }}
            {% endblock %}


        </div>

    </div>
    <!-- /grid options -->


    <!-- Footer -->
    <div class="footer text-muted">
        &copy; 2015. <a href="#">PFSOFT</a>
    </div>
    <!-- /footer -->

</div>
<!-- /content area -->

</div>
<!-- /main content -->