{#{% extends '@views/layouts/base.twig' %}#}
{#{% block body_class %}#}
    {#pace-done sidebar-opposite-visible page-knowledge-base fixed-header#}
    {#layout-boxed#}
{#{% endblock %}#}
{#{% block body %}#}

    {#{{ register_limit_less_asset() }}#}

    {#{% include '@views/layouts/components/header.twig' %}#}

    {#<!--flash -->#}

    {#{% include '@views/layouts/components/_flash_message.twig' %}#}

    {#{% include '@views/user/modal/_modal_login.twig' %}#}

    {#<!-- Page header  -->#}
    {#{% include '@views/layouts/components/_breadcrumbs.twig' %}#}
    {#<!-- /Page header  -->#}

    {#{% block mobile_sidebar %}{% endblock %}#}


    {#{% block slider %}{% endblock %}#}
    {#<!-- Page container -->#}
    {#<div class="page-container">#}
        {#<!-- Page content -->#}
        {#<div class="page-content">#}

            {#&#123;&#35;<div class="content-wrapper">&#35;&#125;#}

            {#{% block left_sidebar %}{% endblock %}#}
            {#<!-- Content area -->#}

            {#{% block content %}{% endblock %}#}

            {#<!-- /Content area -->#}

            {#{% block right_sidebar %}{% endblock %}#}
        {#</div>#}

        {#&#123;&#35;</div>&#35;&#125;#}
        {#<!-- /Page content -->#}
        {#<div style="clear: both; width: 100%; float: left;"></div>#}
    {#</div>#}
    {#<!-- /Page container -->#}

    {#{% include '@views/layouts/components/footer.twig' %}#}

    {#{% block custom_scripts %}{% endblock %}#}

{#{% endblock %}#}