<!-- Secondary sidebar -->
<div class="sidebar sidebar-secondary sidebar-default">
    <div class="sidebar-content">

        {#<!-- Sidebar search -->#}
        {#<div class="sidebar-category">#}
            {#<div class="category-title">#}
                {#<span>Search</span>#}
                {#<ul class="icons-list">#}
                    {#<li><a href="#" data-action="collapse"></a></li>#}
                {#</ul>#}
            {#</div>#}

            {#<div class="category-content">#}
                {#<form action="#">#}
                    {#<div class="has-feedback has-feedback-left">#}
                        {#<input type="search" class="form-control" placeholder="Search">#}
                        {#<div class="form-control-feedback">#}
                            {#<i class="icon-search4 text-size-base text-muted"></i>#}
                        {#</div>#}
                    {#</div>#}
                {#</form>#}
            {#</div>#}
        {#</div>#}
        {#<!-- /sidebar search -->#}


        {#<!-- Action buttons -->#}
        {#<div class="sidebar-category">#}
            {#<div class="category-title">#}
                {#<span>Action buttons</span>#}
                {#<ul class="icons-list">#}
                    {#<li><a href="#" data-action="collapse"></a></li>#}
                {#</ul>#}
            {#</div>#}

            {#<div class="category-content">#}
                {#<div class="row">#}
                    {#<div class="col-xs-6">#}
                        {#<button class="btn bg-teal-400 btn-block btn-float btn-float-lg" type="button"><i class="icon-git-branch"></i> <span>Branch</span></button>#}
                        {#<button class="btn bg-purple-300 btn-block btn-float btn-float-lg" type="button"><i class="icon-mail-read"></i> <span>Messages</span></button>#}
                    {#</div>#}

                    {#<div class="col-xs-6">#}
                        {#<button class="btn bg-warning-400 btn-block btn-float btn-float-lg" type="button"><i class="icon-stats-bars"></i> <span>Statistics</span></button>#}
                        {#<button class="btn bg-blue btn-block btn-float btn-float-lg" type="button"><i class="icon-people"></i> <span>Users</span></button>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<!-- /action buttons -->#}


        <!-- Sub navigation -->

        {% set cabinet_menu = getStatic('app\\controllers\\CabinetController', 'cabinet_menu') %}

        {% for category, menu in cabinet_menu %}
        <div class="sidebar-category">

            <div class="category-title">
                <span>{{ category }}</span>
                <ul class="icons-list">
                    <li><a href="#" data-action="collapse"></a></li>
                </ul>
            </div>

            <div class="category-content no-padding">
                <ul class="navigation navigation-alt navigation-accordion">

                    {% for subcategory, list in menu %}

                        <li class="navigation-header">{{ subcategory }}</li>

                        {% for name, link in list %}
                            {% set isActive = (baseUrl == createUrl(link)) %}

                            <li class="{{ isActive ? 'active' : '' }}">
                                <a href="{{ createUrl(link) }}" data-pjax="0">{{ name }}</a>
                            </li>

                        {% endfor %}

                    {% endfor %}

                </ul>

            </div>

        </div>
        {% endfor %}



        <!-- /sub navigation -->


        <!-- Latest updates -->
        <div class="sidebar-category">
            <div class="category-title">
                <span>Latest updates</span>
                <ul class="icons-list">
                    <li><a href="#" data-action="collapse"></a></li>
                </ul>
            </div>

            <div class="category-content">
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left">
                            <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                        </div>

                        <div class="media-body">
                            Drop the IE <a href="#">specific hacks</a> for temporal inputs
                            <div class="media-annotation">4 minutes ago</div>
                        </div>
                    </li>

                    <li class="media">
                        <div class="media-left">
                            <a href="#" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-commit"></i></a>
                        </div>

                        <div class="media-body">
                            Add full font overrides for popovers and tooltips
                            <div class="media-annotation">36 minutes ago</div>
                        </div>
                    </li>

                    <li class="media">
                        <div class="media-left">
                            <a href="#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-branch"></i></a>
                        </div>

                        <div class="media-body">
                            <a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch
                            <div class="media-annotation">2 hours ago</div>
                        </div>
                    </li>

                    <li class="media">
                        <div class="media-left">
                            <a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-merge"></i></a>
                        </div>

                        <div class="media-body">
                            <a href="#">Eugene Kopyov</a> merged <span class="text-semibold">Master</span> and <span class="text-semibold">Dev</span> branches
                            <div class="media-annotation">Dec 18, 18:36</div>
                        </div>
                    </li>

                    <li class="media">
                        <div class="media-left">
                            <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                        </div>

                        <div class="media-body">
                            Have Carousel ignore keyboard events
                            <div class="media-annotation">Dec 12, 05:46</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /latest updates -->

        <!-- Contacts -->
        <div class="sidebar-category">
            <div class="category-title">
                <span>Contacts</span>
                <ul class="icons-list">
                    <li><a href="#" data-action="collapse"></a></li>
                </ul>
            </div>

            <div class="category-content">
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img src="assets/images/placeholder.jpg" class="img-xs img-circle" alt="">
                                <span class="badge badge-info media-badge">6</span>
                            </a>
                        </div>

                        <div class="media-body media-middle">
                            Rebecca Jameson
                        </div>

                        <div class="media-right media-middle">
                            <ul class="icons-list text-nowrap">
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-more2"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="icon-comment-discussion pull-right"></i> Start chat</a></li>
                                        <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a call</a></li>
                                        <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="icon-statistics pull-right"></i> Statistics</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img src="assets/images/placeholder.jpg" class="img-xs img-circle" alt="">
                                <span class="badge badge-info media-badge">9</span>
                            </a>
                        </div>

                        <div class="media-body media-middle">
                            Walter Sommers
                        </div>

                        <div class="media-right media-middle">
                            <ul class="icons-list text-nowrap">
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-more2"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="icon-comment-discussion pull-right"></i> Start chat</a></li>
                                        <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a call</a></li>
                                        <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="icon-statistics pull-right"></i> Statistics</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="media">
                        <div class="media-left">
                            <a href="#"><img src="assets/images/placeholder.jpg" class="img-xs img-circle" alt=""></a>
                        </div>

                        <div class="media-body media-middle">
                            Otto Gerwald
                        </div>

                        <div class="media-right media-middle">
                            <ul class="icons-list text-nowrap">
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-more2"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="icon-comment-discussion pull-right"></i> Start chat</a></li>
                                        <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a call</a></li>
                                        <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="icon-statistics pull-right"></i> Statistics</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="media">
                        <div class="media-left">
                            <a href="#"><img src="assets/images/placeholder.jpg" class="img-xs img-circle" alt=""></a>
                        </div>

                        <div class="media-body media-middle">
                            Vince Satmann
                        </div>

                        <div class="media-right media-middle">
                            <ul class="icons-list text-nowrap">
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-more2"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="icon-comment-discussion pull-right"></i> Start chat</a></li>
                                        <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a call</a></li>
                                        <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="icon-statistics pull-right"></i> Statistics</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="media">
                        <div class="media-left">
                            <a href="#"><img src="assets/images/placeholder.jpg" class="img-xs img-circle" alt=""></a>
                        </div>

                        <div class="media-body media-middle">
                            Jason Leroy
                        </div>

                        <div class="media-right media-middle">
                            <ul class="icons-list text-nowrap">
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-more2"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="icon-comment-discussion pull-right"></i> Start chat</a></li>
                                        <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a call</a></li>
                                        <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="icon-statistics pull-right"></i> Statistics</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /contacts -->

    </div>
</div>
<!-- /secondary sidebar -->