<!-- Main sidebar -->
<div class="sidebar sidebar-main">
    <div class="sidebar-content">

        {% include '@views/layouts/_user_menu.twig' %}

        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    {#<!-- Main -->#}
                    {#<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>#}

                    {#<li>#}
                        {#<a href="#"><i class="icon-stack2"></i> <span>Page layouts</span></a>#}
                        {#<ul>#}
                            {#<li><a href="layout_navbar_fixed.html">Fixed navbar</a></li>#}
                            {#<li><a href="layout_navbar_sidebar_fixed.html">Fixed navbar &amp; sidebar</a></li>#}
                            {#<li><a href="layout_sidebar_fixed_native.html">Fixed sidebar native scroll</a></li>#}
                            {#<li><a href="layout_navbar_hideable.html">Hideable navbar</a></li>#}
                            {#<li><a href="layout_navbar_hideable_sidebar.html">Hideable &amp; fixed sidebar</a></li>#}
                            {#<li><a href="layout_footer_fixed.html">Fixed footer</a></li>#}
                            {#<li class="navigation-divider"></li>#}
                            {#<li><a href="boxed_default.html">Boxed with default sidebar</a></li>#}
                            {#<li><a href="boxed_mini.html">Boxed with mini sidebar</a></li>#}
                            {#<li><a href="boxed_full.html">Boxed full width</a></li>#}
                        {#</ul>#}
                    {#</li>#}

                    {% set mmenu = [] %}

                    {% set main_items = [
                        {
                            'label': '<i class="icon-home4"></i><span>Dashboard</span>',
                            'url': ['/'],
                            'visible': true,
                        },
                        {
                            'label': '<i class="icon-list-unordered"></i><span>Actions</span>',
                            'url': ['/actions/types'],
                            'visible': true,
                        },
                        {
                            'label': '<i class="icon-puzzle2"></i><span>Details</span>',
                            'url': ['/actions/details'],
                            'visible': true,
                        },
                        {
                            'label': '<i class="icon-pencil3"></i><span>Markers</span>',
                            'url': ['/markers/index'],
                            'visible': true,
                        },
                        {
                            'label': '<i class="icon-task"></i><span>Goals</span>',
                            'url': ['/goals/index'],
                            'visible': true,
                        },
                    ] %}

                    {% set stat_items = [
                        {
                            'label': '<i class="icon-calendar3"></i><span>Statistics</span>',
                            'url': ['/'],
                            'visible': true,
                            'items': [{
                                        'label': '<i class="icon-table2"></i><span>Grids</span>',
                                        'url': ['/'],
                                        'visible': true,
                                     },
                                     {
                                        'label': '<i class="icon-stats-dots"></i><span>Charts</span>',
                                        'url': ['/'],
                                        'visible': true,
                                     }]
                        },
                    ] %}

                    {% set mmenu = [
                        {
                           'header': 'MAIN',
                           'title': 'Main pages',
                           'list': main_items
                        },
                        {
                            'header': 'STATISTIC',
                            'title': 'Stat pages',
                            'list': stat_items
                        },
                    ] %}



                    {% for menu in mmenu %}

                    <li class="navigation-header"><span>{{ menu.header }}</span>
                        <i class="icon-menu" title="{{ menu.title }}"></i></li>

                    {% for item in menu.list %}

                        {% if item.visible %}

                            <li
                                    {% if item.active %}
                                        class="active"
                                    {% endif %}

                                    >
                                <a href="{{ createUrl(item.url) | raw }}">
                                    {{ item.label | raw }}
                                </a>

                                {% if item.items %}

                                    <ul class="
                                            {% if item.active %}
                                                in
                                            {% endif %}
                                            ">

                                        {% for sub_item in item.items %}

                                            {% if sub_item.visible %}

                                                <li
                                                        {% if sub_item.active %}
                                                            class="active"
                                                        {% endif %}
                                                        >
                                                    <a href="{{ createUrl(sub_item.url) | raw }}">
                                                        {{ sub_item.label | raw }}</a>
                                                </li>

                                            {% endif %}

                                        {% endfor %}

                                    </ul>
                                {% endif %}

                            </li>


                        {% endif %}
                    {% endfor %}
                    {% endfor %}

                </ul>
            </div>
        </div>
        <!-- /main navigation -->

    </div>
</div>
<!-- /main sidebar -->


