<!-- User menu -->
<div class="sidebar-user">
    <div class="category-content">
        <div class="media">
            <a href="#" class="media-left">
                <img src="{{ app.user.identity.getAvatarUrl() }}"
                     class="img-circle img-sm" alt="">
            </a>
            <div class="media-body">
                <span class="media-heading text-semibold">{{ app.user.identity.profile.fullName }}</span>
                <div class="text-size-mini text-muted">
                    role: &nbsp; {{ app.user.identity.getRoleName() }}
                </div>
            </div>

            <div class="media-right media-middle">
                <ul class="icons-list">
                    <li>
                        <a href="/cabinet/index"><i class="icon-cog3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /user menu -->