<!DOCTYPE html>
{{ setView() }}
{{ this.beginPage() }}
{{ register_base_limit_less_asset() }}
{{ register_roma_bundle_asset() }}
<html lang="{{app.language}}">
    <head>
        <meta charset="{{app.charset}}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="csrf-param" content="_csrf"/>
        <meta name="csrf-token" content="{{ app.request.getCsrfToken() }}"/>
        <meta name="theme-color" content="#353535">
        <link rel="icon" sizes="192x192" href="/favicon.ico">
        {% block ceo %}
            {% include '@views/layouts/_ceo_header.twig' %}
        {% endblock %}
        <meta http-equiv="Cache-Control" content="max-age=3600, must-revalidate"/>
        {% if constant('YII_ENV_TEST') %}
            <meta name="robots" content="noindex,nofollow">
        {% endif %}
        <link href="/favicon.ico?ver=1" rel="shortcut icon" type="image/x-icon"/>
        {# <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57b1c86d8de0add6"></script>#}
        {% if this.context.route ==  'pages/index' %}
            <meta property="og:type" content="website" />
            <meta property="og:url" content="http://protrader.org/" />
            <meta property="og:title" content="PTMC | Protrader multi-connect" />
            <meta property="og:description" content="The new trading software from creators of Protrader" />
            <meta property="og:image" content="http://files.pfsoft.com/PTMC/protrader_mc.png" />
        {% endif %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        {{ void( this.head() ) }}
        <noscript>
    <div style="display:none;">
        <img height="0" width="0" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/938239903/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq)
                return;
            n = f.fbq = function () {
                n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq)
                f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
                document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1263214603693590');
        fbq('track', "PageView");
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1263214603693590&ev=PageView&noscript=1"/></noscript>
</head>
<body class="{% block body_class %} {% endblock %} {% if not app.user.isGuest %}auth-yes{% endif %}">
    <div id="noJs">
        You need to enable JavaScript in order to visit our site!
        <script type="text/javascript">
            var valera = document.getElementById("noJs");
            valera.parentNode.removeChild(valera);
        </script>
    </div>
    {{ this.beginBody() }}
    {% block body %}{% endblock %}
    {{ this.endBody() }}
    {% if app.request.cookies.get('closedCupPopup') is empty and this.context.route != 'site/crosstrade'  %}
        <div id="ctCup">
                <a href="#" class="closeCup" onclick="closeCup(this);"></a>
                <a href="/crosstrade" class="cupCup" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'Qbok click');">
                    <div>Win $1000 while studying PTMC</div>
                </a>
                <script>
                    setTimeout(function(){
                        $('#ctCup').addClass('visib');
                    }, 4000);

                    function closeCup(e){
                        $(e).parent().removeClass('visib');
                        var date = new Date(new Date().getTime() + 60*60*24*365*1000);
                        document.cookie = "closedCupPopup=1; expires="+date;
                        return false;
                    }
                </script>
        </div>
    {% endif %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript">
        WebFontConfig = {
            google: {families: ['Open+Sans:400,300,600,700,800:latin,cyrillic']}
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 938239903;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    {{ use('app\\components\\widgets\\addthis\\Widget') }}

    {{ Widget_widget({
        'position' : 'permanent',
        'exceptUrl': createUrl({ 0 :'crosstrade/about' }),
        'exceptRegexp' : '/\cabinet/i',
        'url' : "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57b1c86d8de0add6"
    }) }}
</body>
</html>
{{ this.endPage() }}