{% extends '@views/layouts/base.twig' %}
{% block body_class %}
    pace-done sidebar-opposite-visible page-knowledge-base fixed-header
    layout-boxed
{% endblock %}
{% block body %}

    {% if constant('YII_ENV_DEV') %}
        {{ register_limit_less_asset() }}
    {% endif %}

    {% include '@views/layouts/components/header.twig' %}
    
    <!--flash -->

    {% include '@views/layouts/components/_flash_message.twig' %}

    {% include '@views/user/modal/_modal_login.twig' %}


    {% block mobile_sidebar %}{% endblock %}


    {% block slider %}{% endblock %}
    <!-- Page container -->
    {% block preContent %}{% endblock %}

    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

                <!-- Page header  -->
                {% include '@views/layouts/components/_breadcrumbs.twig' %}
                <!-- /Page header  -->

                {% block left_sidebar %}{% endblock %}

                <!-- Content area -->

                {% block content %}{{ content | raw}}{% endblock %}

                <!-- /Content area -->

                {% block right_sidebar %}{% endblock %}

        </div>

        <!-- /Page content -->

        <div style="clear: both; width: 100%; float: left;"></div>

    </div>
    <!-- /Page container -->

    {% include '@views/layouts/components/footer.twig' %}
    
    {% block custom_scripts %}{% endblock %}

{% endblock %}