{% extends '@views/layouts/base.twig' %}
{% block body_class %}
    pace-done sidebar-opposite-visible page-knowledge-base fixed-header
    layout-boxed topic-page forum-topic
{% endblock %}
{% block body %}

    {% if constant('YII_ENV_DEV') %}
        {{ register_limit_less_asset() }}
    {% endif %}

    {% include '@views/layouts/components/header.twig' %}

    <!--flash -->

    {% include '@views/layouts/components/_flash_message.twig' %}

    {% include '@views/user/modal/_modal_login.twig' %}

    {% block mobile_sidebar %}{% endblock %}

    <script>

</script>

   
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            
            {#<div class="content-wrapper">#}
                {% include '@views/layouts/components/_breadcrumbs.twig' %}

                {% block left_sidebar %}{% endblock %}
                <!-- Content area -->

                {% block content %}{% endblock %}

                <!-- /Content area -->

                {% block right_sidebar %}{% endblock %}

            </div>


        {#</div>#}
        <!-- /Page content -->
    </div>
    <!-- /Page container -->
    
    {% block custom_scripts %}{% endblock %}
    
    {% include '@views/layouts/components/footer.twig' %}

{% endblock %}