{% extends '@views/layouts/base.twig' %}
{% block body %}

    {{ register_limit_less_asset() }}

    <!-- Main navbar -->
    <div class="navbar navbar-default header-highlight">

        <div class="navbar-header">

            <a class="logo" href="/"></a>

            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>

        </div>

        {% include '@views/layouts/_top_bar.twig' %}

    </div>
    <!-- /main navbar -->

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">


            {% include '@views/layouts/_sidebar.twig' %}

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Page header -->
                {% block page_header %}

                    {% include '@views/layouts/_mini_pageheader.twig' %}

                {% endblock %}
                <!-- /page header -->

                <!-- Content area -->

                {% include '@views/layouts/_content.twig' with {
                    'content' : block('content'),
                } %}

                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->


{% endblock %}