<div id="" class="sidebar-category ">
    <div class="category-title">
        <span class="panel-title h4">{{ title }}</span>
    </div>

    <div class="category-content">
        <div class="form-group">
            {% if is_it_category %}
                <div class="lineGrey">
                    {% for url, category in List %}
                        <div class="categ
                        {% if model.title ==  category%}active{% endif %}
                        {% if model.title is empty and loop.index == 1 %}active{% endif %}">
                            <a href="{{ url }}">{{ category }}</a>
                        </div>
                    {% endfor %}
                </div>
                <div class="clear"></div>
            {% else %}
                {% for model in models %}
                    <div class="media">
                        <!-- <a href="#" class="media-left">
                            <img src="{{ model.getPictureLink(model.alias, 'articlesUploadPath') }}" class="art-small-pic" alt="">
                        </a> -->
                        <div class="media-body">
                            <a href="{{ model.getViewUrl() }}" class="media-heading text-semibold">{{ model.title }}</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>