<div id="sidebar_mobile" class="mobile_sidebar">

    <div class="sidebar-content">

        <!-- (id, class, head, collapsed, body) -->


        {% if button %}

            {% include '@views/layouts/components/sidebars/_right_sidebar/_idea.twig' %}

        {% endif %}



        {% if is_it_category %}

            {% include '@views/layouts/components/sidebars/_right_sidebar/_sort.twig' %}

        {% endif %}


        {% include '@views/layouts/components/sidebars/_right_sidebar/_checkboxes.twig' %}

    </div>
    
</div>