<div class="sidebar sidebar-main sidebar-opposite sidebar-valera sidebar-default sidebar-separate">
    <div class="sidebar-content">
        {% include '@views/layouts/components/sidebars/_right_sidebar/_checkboxes.twig' %}
        <!-- <a href="/download" class="bander-sidebar">
            <img src="/images/banner_for_PTMC-NEW-01.png" alt="download-PTMC">
        </a> -->
        <a href="/download" class="side-bander" onclick="ga('send', 'event', 'banner', 'click', 'Start using PTMC with');">
            <span class="text">
                Start using <b>PTMC</b> with
            </span>
            <span class="logos">
                <span class="logo fxcm active"></span>
                <span class="logo lmax"></span>
                <span class="logo oanda"></span>
            </span>
        </a>
    </div>
</div>




