{{ use('yii/widgets/ActiveForm') }}

<!--<div class="form-group">

    <div class="input-group">-->

        {#{% set form = active_form_begin({#}
            {#'method': 'GET',#}
        {#}) %}#}

        {#{{ form.field(model, 'sort').dropDownList(model.getSortList(),{#}
        {#'prompt': translate('Select sort...')#}
        {#}) | raw }}#}

        {#<button type="submit" id="enter" class="btn btn-fw btn-ptmc">{{ translate('Sort') }}</button>#}

        {#{{ active_form_end() }}#}

        {#<div class="btn-group bootstrap-select input-group-btn" style="width: 100%;">#}
            {#<button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="{{ translate('By popularity') }}">#}
                {#<span data-sort="popular" class="data-sort filter-option pull-left">{{ translate('By popularity') }}</span>#}
                {#<span data-sort="date" class="data-sort hide filter-option pull-left">{{ translate('By date') }}</span>&nbsp;#}
                {#<span class="caret"></span>#}
            {#</button>#}

            {#<div class="dropdown-menu open active">#}
                {#<ul class="dropdown-menu inner active" role="menu">#}
                    {#<li data-original-index="0" data-sort="popular" class="active">#}
                        {#<a href="/{{ app.request.pathInfo }}?sort=popular" tabindex="0" class="sortab4" style="" data-sort="popular" data-tokens="null">#}
                            {#<span class="text">{{ translate('By popularity') }}</span>#}
                            {#<span class=" icon-checkmark3 check-mark"></span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li data-original-index="1" data-sort="date" class="{% if app.getRequest().getQueryParam('sort') == 'date' %}active{% endif %}">#}
                        {#<a href="/{{ app.request.pathInfo }}?sort=date" tabindex="0" class="sortab4" style="" data-sort="date" data-tokens="null">#}
                            {#<span class="text">  {{ translate('By date') }}</span>#}
                            {#<span class=" icon-checkmark3 check-mark"></span>#}
                        {#</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}
        {#</div>#}

        {#<div class="input-group-btn">#}
            {#<button type="button" class="btn btn-default btn-icon data-sort">#}
                {#<i class="fa fa-sort-amount-desc"></i>#}
            {#</button>#}
        {#</div>#}


<!--    </div>

</div>-->


<style>
    .hide{
        display: none;
    }
</style>


{{ this.registerJs("
    jQuery(document).ready(function(){

        var sort_old = jQuery('span.data-sort:not(.hide)').attr('data-sort');
        var sort_new;

        jQuery('.sortab4').click(function(e){

            e.preventDefault();

            sort_old = jQuery('span.data-sort:not(.hide)').attr('data-sort');

            sort_new = jQuery(this).attr('data-sort');

            if(sort_old != sort_new){
                jQuery('span[data-sort=date]').toggleClass('hide');
                jQuery('span[data-sort=popular]').toggleClass('hide');

                jQuery('li[data-sort=popular]').toggleClass('active');
                jQuery('li[data-sort=date]').toggleClass('active');
            }

        });

        jQuery('button.data-sort').click(function(){

            if(sort_new != null){
                window.location.href = location.protocol + '//' + location.host + location.pathname + '?sort=-' + sort_old
            }

            if(sort_old != sort_new){
                if (window.location.href.match('-')) {
                    window.location.href = location.protocol + '//' + location.host + location.pathname + '?sort=-' + sort_new;
                } else {
                    window.location.href = location.protocol + '//' + location.host + location.pathname + '?sort=' + sort_new;
                }
            }else{
                alert(window.location.href);

                var url = window.location.href;

                if (window.location.href.match('-')) {
                    window.location.href = location.protocol + '//' + location.host + location.pathname + '?sort=' + sort_old
                } else {
                    window.location.href = location.protocol + '//' + location.host + location.pathname + '?sort=-' + sort_old
                }
            }

        });
    });
") }}