<div class="item {% if loop.first %} active {% endif %}">

    <a href="{{ slide.getPictureLink(slide.id, UploadPath) }}" data-popup="lightbox" class="">

        <img src="{{ slide.getPictureLink(slide.id, UploadPath) }}" alt="{{ model.title | raw }}" onerror="this.onerror=null; this.src='https://api.fnkr.net/testimg/1920x1080/505451/ffbe00/?text={{ model.title | raw }} Slide'">

    </a>
</div>

