    <div class="featImage">

        <div class="text-center">

            <div id="myCarous" class="carousel slide index-slider" data-ride="carousel">


                <!-- Indicators -->

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">


                    {% for slide in slides %}

                        {% include '@app/modules/brokers/views/features/slider/__slide.twig' %}

                    {% endfor %}

                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarous" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left fa fa-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarous" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right fa fa-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>