{% set slides = staticMethod('app\\modules\\brokers\\models\\FeatureSlide', 'getSlides',{'model' : model}) %}

<div class="featImage">

    {% if count(slides) > 1 %}

        {% include '@app/modules/brokers/views/features/slider/_slider.twig' with {'slides' : slides ,'UploadPath':     'featureUploadPath'} %}

    {% elseif slides.id %}

        <div class="col-lg-8">
            <a href="{{ slides.getPictureLink(slides.id, 'featureUploadPath') }}" data-popup="lightbox">
                <div class="feature_slider"
                     style="  background-image: url({{ slides.getPictureLink(slides.id, 'featureUploadPath') }} );"></div>

            </a>
        </div>


    {% elseif slides %}

        <div class="col-lg-8">
            <a href="#">
                <div class="feature_slider"
                     style="  background-image: url({{ slides }} );"></div>

            </a>
        </div>

    {% endif %}

</div>