{% block content %}

    {{ use('yii/widgets/ActiveForm') }}
    {{ use('kartik/date/DatePicker') }}
    {{ use('app/components/ceo/CeoWidget') }}

    {% set form = active_form_begin({
    'options' : {
    'id' : 'category-form',
    'class' : 'form-horizontal group-border-dashed',
    'enctype' : 'multipart/form-data',
    },
    'fieldConfig' : {
    'template' : '<div class="form-group no-padding col-lg-12>"{label}\n{input}\n{hint}\n{error}</div>',
    'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
    'labelOptions' : {'class' : 'col-lg-3 control-label'},
    'errorOptions' : {'class' : 'col-lg-3 help-block', 'style' : 'margin-bottom: 8px;'}
    }
    }) %}

    {{ ceo_widget_widget({
        'model' : model,
        'form' : form,
        'options' : params,
    }) }}

    <div class="form-group clear field-video-link required">

        <label>{{ translate('Add Parent Category') }}</label>

        {{ selectFilter(

        staticMethod('app\\modules\\forum\\models\\FrmCategory','getList', {'id' : model.id}),
        model.parent_id,
        'FrmCategory[parent_id]',
        false,
        'frmcategory-parent_id')

        | raw }}

    </div>

    {{ form.field(model, 'title').textInput({'maxlength' : 128}) | raw }}
    {{ form.field(model, 'weight').textInput({'maxlength' : 128}) | raw }}
    {{ form.field(model, 'description').textInput({'maxlength' : 128}) | raw }}

    {#ConditionButtonSubmit with buttons #}
    {% if not model.isNewRecord %}

        {{ use('app/components/JsEventsWidget/ConditionButtonSubmit') }}

        {{ condition_button_submit_widget({
            'changed_category_id' : '#frmcategory-parent_id',
            'button_id_save'   : '#save',
            'form_id'   : '#category-form',
            'clear_field_id'   : 'ceo-canonical',
            'params'   : params,
        }) }}

    {% else %}
        {% include  '@cab_views/layouts/_form_buttons.twig' %}
    {% endif %}

    {#ConditionButtonSubmit with buttons #}

    {{ active_form_end() }}

{% endblock %}
