{% extends '@views/layouts/main.twig' %}

{% block content %}
    {% for category in categories %}
        {% if category.getChildren() is not  empty %}
            {% include '@app/modules/forum/views/root_category/_category.twig' with {'category' : category} %}
            {#if we have not sub categories but have topics.....#}
        {% elseif category.topics is not  empty %}
            <div class="panel panel-default collapse in forumCat">

                {% include '@app/modules/forum/views/components/_head_category.twig' with {
                'title':'<a href="' ~ category.getViewUrl() ~ '"><span class="no-margin h2">' ~ category.title ~ '</span></a>',
                'description' : category.description,
                'roll': 1} %}

                <div class="panel-body">
                    <ul class="media-list">
                        {% for topic in category.topics %}
                            {% if topic is not empty %}
                                {#{{ dump(topic) }}#}
                                {% include '@app/modules/forum/views/category/_single_topic.twig' with {'topic' : topic } %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

