{% extends '@views/layouts/main.twig' %}
{% block content %}

    {{ use('yii/widgets/Pjax') }}
    {{ use('yii/widgets/ListView') }}

    <div class="content">

        <div class="row">
            <h1 class="col-lg-12 no-margin-top">Результат по запросу</h1>
            <div class="col-lg-12">
                <!-- class, head, body, footer, footer_class, head_class, border -->

                <div class="panel ">

                    <div class="panel-body">
                        <div class="no-padding-left col-lg-12 no-padding-right">

                            <div class="row">

                                {{ pjax_begin({'id' : 'filter-body', 'timeout' : 2000, 'enableReplaceState' : true}) }}

                                {{ list_view_widget({
                                'dataProvider' : dataProvider,
                                'itemView' : 'components/_search.twig',
                                    'pager' : {'prevPageLabel' : '← ' ~ translate('Previous'), 'nextPageLabel' : translate('Next') ~ ' →'},
                                'viewParams' : {'key' : 'val'},
                                'summary':'',
                                })}}

                                {{ pjax_end() }}

                            </div>

                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>

{% endblock %}