{{ use('vova07/imperavi/Widget') }}
<div class="pb-15 text-muted artCom text-center">
    <span class="panel-title h5">{{ translate('Discussion') }}</span>
</div>

<div class="artCom">

    <div class="panel panel-default">
        {% if not app.user.isGuest() %}

            {% include '@app/components/customComments/views/_include/_add_comment.twig' with {} %}

        {% endif %}
        {% if app.user.isGuest() %}
            <div class="infoBox">
                <a data-toggle="modal" data-target="#modal_form_inline"
                   href="#contactUs">{{ translate('Join PTMC community') }}</a> {{ translate('to post your comments') }}
            </div>
        {% endif %}
        <div class="panel-body" id="list-comments">
            {% if not models %}
                <div class="text-muted mb-20 pt-20">{{ translate('No comments yet. Be the first.') }}</div>
            {% else %}

                {% include '@app/components/customComments/views/_include/_comments_list.twig' with {
                'models' : models,
                } %}

            {% endif %}

        </div>
    </div>
</div>
