<div id="" class="sidebar-category ">
    <div class="category-title">

        <span class="panel-title h4">{{ translate("Categories") }}</span>

    </div>

    <div class="category-content">

        <div class="form-group">

            <div class="lineGrey">

                <div class="categ {{ this.isMainPage() ? 'active' : '' }}">
                    <a href="{{ url('/codebase') }}">
                        {{ translate('All') }}</a>
                    <div class="pull-right">
                        {{ this.getCountAllItems() }}
                    </div>
                </div>

                {% for model in models %}
                    {% if count(model.descriptions) > 0 %}
                        <div class="categ {{ this.isActiveModel(model) ? 'active' : '' }}">
                            <a href="{{ model.getViewUrl() }}">
                                {{ model.title }}</a>

                            <div class="pull-right">
                                {{ count(model.descriptions) }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>