<div class="col-lg-6">
    <a href="{{ app.user.isGuest ? 'javascript:void();' : url('/codebase/download/')~this.description.id }}" class="btn btn-cb btn-ptmc" type="button" data-safe="true">{{ translate("Download ZIP") }} ({{ this.description.getSizeZipFile()}} KB)</a>
    <ul class="download-list">
        {% for file in this.description.files %}
            <li>
                {% if file.type in getStatic('app\\modules\\codebase\\models\\File', 'allow_mime') and file.getSize('MB') <= 1.5 %}
                    <a onclick="opencode({{ file.id }})" target="_blank" type="button" data-safe="true">{{ file.name }}</a>
                {% else %}
                    <a href="{{ url('codebase/download-file/'~file.id) }}" type="button" data-safe="true">{{ file.name }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
<div class="col-lg-6">
    <div class="row fs13">
        <div class="col-lg-12 text-right">
            <span class="viewsCode" title="">
                <img class="forumTopicsNum" src="/images/forum/refresh.svg" onerror="this.onerror=null; this.src='/images/forum/refresh.png'" alt="">
                {{ dateUTCFormat(this.description.updated_at, 'd.m.Y') }}
            </span>
            <span class="viewsCode" title="">
                <img class="forumTopicsNum" src="/images/forum/kach.svg" onerror="this.onerror=null; this.src='/images/forum/kach.png'" alt="">
                {{ this.description.count_download }}
            </span>
        </div>
    </div>
</div>