{{ use('app/modules/kbase_org/widgets/TreeOutput') }}
<div class="mobileButton">
    <i class="fa fa-sitemap"></i>
</div>
<div class="mobile-sidebar">
    <div class="sidebar-content">

        <div id="navig" class="sidebar-category tree">

            <div class="category-title">
                <span>Contents</span>
            </div>

            <div class="category-content">

                <div class="tree-d">

                    {{ tree_output_widget({tree : tree, node : kb}) }}

                </div>

            </div>

        </div>

    </div>
</div>