{{ use('app/modules/kbase_org/widgets/TreeOutput') }}

<div class="sidebar sidebar-main sidebar-separate sidebar-valera sidebar-opposite sidebar-default">
    <div class="sidebar-fixed">
        <div class="sidebar-content">

            <div id="navig" class="sidebar-category tree">

                <div class="category-title">
                    <span>Contents</span>
                </div>

                <div class="category-content">

                    <div class="tree-d">

                        {{ tree_output_widget({tree : tree, node : kb}) }}

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
