{% extends '@views/layouts/main.twig' %}
{% block ceo %}
    <title>Knowledge base</title>
    <meta name="robots" content="noindex, nofollow"/>
{% endblock %}
{% block content %}

    {% include '@kbase_org/default/_mobile_sidebar.twig' with {'tree' : tree, 'kb' : kb} %}
<div class="row">

    <div class="col-lg-12">

        <div class="panel panel-default new-art-view panel-article kb-panel">
              <div class="panel-heading">
                  <h1 class="panel-title">Knowledge base</h1>
              </div>

              {#<div class="kb-search row">#}
                {#<div class="col-lg-10 col-md-10 col-sm-8">#}
                    {#<input class="form-control" type="search" placeholder="Search" value="">#}
                {#</div>#}
                {#<div class="col-lg-2 col-md-2 col-sm-4">#}
                    {#<button class="btn btn-default btn-fw btn-search"><i class="fa fa-search"></i> Search</button>#}
                {#</div>#}
              {#</div>#}
             <div class="panel-body artView">
                <p>Welcome to the Knowledge Base of Protrader Multi-Connect (PTMC) trading platform.  In this base, you can find a lot of useful information about the functionality of our product, as well as detailed instructions on how to use this functionality.</p>

                <p>All knowledge base materials are structured and grouped by categories, allowing you to navigate quickly within the collected information.</p>

                <p>
                    <a href="/kb/en/knowledge-base/pt3/desktop/environment">Environment</a> - is a guide, where you can find an extended information about application settings, workspaces and panels' linking
                </p>

                <p>
                    <a href="/kb/en/knowledge-base/pt3/desktop/terminal">Terminal</a> - covers specific application windows, which are related to different trading operations and market analysis.
                </p>

                <p>
                    <a href="/kb/en/knowledge-base/pt3/desktop/account">Account</a> - this section provides you with necessary information about all trading operations and transactions.
                </p>

                <p>
                    <a href="/kb/en/knowledge-base/pt3/desktop/tools">Tools</a> - this section contains helpful manuals, which describe additional trading tools, such as Portfolio, News and others.
                </p>

                 <p>
                    <a href="/kb/en/knowledge-base/pt3/desktop/help/help">Help</a> - access "Help" by going directly to the Protrader.org website or through each panel of PTMC platform.
                </p>

            </div>

        </div>
        <div class="row kb-quest">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <p>
                <a data-toggle="modal" class="bordered" data-target="#bugs">
                    Need Help?
                    <span class="btn btn-border-ptmc">Yes</span>
                </a>
            </p>
          </div>
          {#<div class="col-lg-4 col-md-4 col-sm-4 text-right">#}
            {#<a href="#" class="yes btn btn-default btn-kb btn-sm">Yes</a>#}
            {#<a href="#" class="no btn btn-default btn-kb btn-sm">No</a>#}
          {#</div>#}
        </div>

    </div>

</div>

    {% include '@kbase_org/default/_tree.twig' with {'tree' : tree, 'kb' : kb} %}
{% endblock %}
