{% extends '@views/layouts/main.twig' %}

{% block content %}
  {% include '@kbase_org/default/_mobile_sidebar.twig' with {'tree' : tree, 'kb' : kb} %}
<!-- 
<div class="row">
    <div class="kb-search">
      <div class="col-lg-10 col-md-10 col-sm-8">
          <input class="form-control" type="search" placeholder="Search" value="indicators">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4">
          <button class="btn btn-default btn-fw btn-search"><i class="fa fa-search"></i> Search</button>
      </div>
    </div>
    <div class="col-lg-12">

        <div class="panel panel-default kb-panel">

            <div class="panel-body searchResult artView">

              <div class="result">
                <a href="#" class="title">
                  Indicators
                </a>
                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <span class="search">indicators</span> nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
              </div>

              <div class="result">
                <a href="#" class="title">
                  Price channel
                </a>
                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Ut enim ad minim veniam, quis nostrud exercitation ullamco nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est <span class="search">indicators</span>.
                </div>
              </div>

              <div class="result">
                <a href="#" class="title">
                  System requirements
                </a>
                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <span class="search">indicators</span>. Ut enim ad minim veniam, quis nostrud exercitation ullamco nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est.
                </div>
              </div>

              <div class="result">
                <a href="#" class="title">
                  Workspaces
                </a>
                <div class="content">
                  <span class="search">Indicators</span> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut. Ut enim ad minim veniam, quis nostrud exercitation ullamco nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est.
                </div>
              </div>

              <div class="result">
                <a href="#" class="title">
                  Reports
                </a>
                <div class="content">
                  ipsum dolor sit amet, <span class="search">indicators</span> adipisicing elit, sed do eiusmod tempor incididunt ut. Ut enim ad minim veniam, quis nostrud exercitation ullamco nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est.
                </div>
              </div>

            </div>

        </div>
        <div class="row kb-quest">
          <div class="col-lg-8 col-md-8 col-sm-8">
            <p>
                <a data-toggle="modal" data-target="#bugs">
                    Need Help?
                </a>
            </p>
          </div>
          {#<div class="col-lg-4 col-md-4 col-sm-4 text-right">#}
            {#<a href="#" class="yes btn btn-default btn-kb btn-sm">Yes</a>#}
            {#<a href="#" class="no btn btn-default btn-kb btn-sm">No</a>#}
          {#</div>#}
        </div>

    </div>

</div> -->

<div class="row">
  <div class="col-lg-12">

    <div class="panel panel-default kb-panel">

      <div class="panel-heading">

        <h1 class="panel-title text-semibold">Tools</h1>

      </div>

      <div class="panel-body artView">
        
        <a href="#" class="category kb">
          Automated trading
        </a>

        <a href="#" class="category kb">
          Trading system list
        </a>

        <a href="#" class="article kb">
          Table alerts
        </a>

        <a href="#" class="article kb">
          Portfolio
        </a>

        <a href="#" class="article kb">
          News
        </a>
        <a href="#" class="article kb">
          RRS
        </a>
        
        <a href="#" class="article kb">
          Chat
        </a>

      </div>

    </div>

  </div>
</div>

    {% include '@kbase_org/default/_tree.twig' with {'tree' : tree, 'kb' : kb} %}
{% endblock %}
