{% extends '@views/layouts/main.twig' %}
{% block ceo %}
    <title>Knowledge base - {{ kb.title }}</title>
    <meta name="robots" content="noindex, nofollow"/>
{% endblock %}
{% block content %}
    {% include '@kbase_org/default/_mobile_sidebar.twig' with {'tree' : tree, 'kb' : kb} %}
    {% if kb.isFolder %}

        {% include '@kbase_org/default/view/_folder.twig' with {'kb' : kb} %}

    {% else %}

        {% include '@kbase_org/default/view/_article.twig' with {'kb' : kb} %}

        <div class="row kb-quest">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>
                <a data-toggle="modal" class="bordered" data-target="#bugs">
                    Didn’t find the answer to your question?
                    <span class="btn btn-border-ptmc">Yes</span>
                </a>
            </p>
          </div> 
          {#<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 text-right">#}
            {#<a href="#" class="yes btn btn-default btn-kb btn-sm">Yes</a>#}
            {#<a href="#" class="no btn btn-default btn-kb btn-sm">No</a>#}
          {#</div>#}
        </div>



    {% endif %}

	{% include '@kbase_org/default/_tree.twig' with {'tree' : tree, 'kb' : kb} %}

{% endblock %}

