{% block content %}

    {{ use('yii/widgets/ActiveForm') }}
    {{ use('app/components/widgets/imperavi/Redactor') }}
    {{ use('app/components/ceo/CeoWidget') }}
    {{ use('app/components/customImage/CustomImageUpload') }}

    {% set form = active_form_begin({
    'options' : {
    'class' : 'form-horizontal group-border-dashed',
    'id' : 'topic-form',
    'enctype' : 'multipart/form-data',
    },
    'fieldConfig' : {
    'template' : '<div class="form-group no-padding col-lg-12>"{label}\n{input}\n{hint}\n{error}</div>',
    'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
    'labelOptions' : {'class' : 'col-lg-3 control-label'},
    'errorOptions' : {'class' : 'col-lg-3 help-block', 'style' : 'margin-bottom: 8px;'}
    }
    }) %}

    {{ ceo_widget_widget({
        'model' : model,
        'form' : form,
        'options' : params,
    }) }}

    {{ form.field(model, 'title').textInput({'maxlength' : 128}) | raw }}

    {{ form.field(model, 'alias').textInput({'maxlength' : 255}) | raw }}

    <div class="form-group clear field-video-link required">

        <label>{{ translate('Add Author') }}</label>

        {{ selectFilter(staticMethod('app\\models\\user\\User','getList'), model.user_id,'FrmTopic[user_id]', false) | raw }}

    </div>

    <div class="form-group clear field-video-link required">

        <label>{{ translate('Add Category') }}</label>

        {{ selectFilter(staticMethod('app\\modules\\forum\\models\\FrmCategory','getList'), model.category_id, 'FrmTopic[category_id]', false, 'frmtopic-category_id') | raw }}

    </div>

    {{ Redactor_widget({
        'model' : model,
        'form' : form,
        'field' : 'content',
        'type' : constant('app\\components\\widgets\\imperavi\\Redactor::TYPE_BACKEND'),
    }) }}

    {{ form.field(model, 'created_at').textInput({
        'maxlength' : 60,
        'value' : dateUTCFormat(model.created_at),
        'class' : 'form-control'}) | raw }}

    {#ConditionButtonSubmit with buttons #}
    {% if not model.isNewRecord %}

        {{ use('app/components/JsEventsWidget/ConditionButtonSubmit') }}

        {{ condition_button_submit_widget({
            'changed_category_id' : '#frmtopic-category_id',
            'button_id_save'   : '#save',
            'form_id'   : '#topic-form',
            'clear_field_id'   : 'ceo-canonical',
            'params'   : params,
        }) }}

    {% else %}
        {% include  '@cab_views/layouts/_form_buttons.twig' %}
    {% endif %}

    {#ConditionButtonSubmit with buttons #}

    {{ active_form_end() }}

{% endblock %}
