{% block content %}

    <div class="col-lg-3">
        {{ staticMethod('\\app\\models\\video\\Video', 'getIframe', {_link : model.link, _width : '265', _height : '150'}) | raw }}

        <a href="/video-lessons/video/{{ model.alias }}" class="caption">
            {{ model.title }}
        </a>
    </div>

{% endblock %}
