<div class="no-padding-left col-lg-12 no-padding-right">

  <div class="row mb-20">

      <div class="col-lg-3">
        <a href="video-lessons-file" class="thumb mb-10">
          <img src="http://placehold.it/265x150">
        </a>

        <a href="video-lessons-file" class="caption">
          Protrader что где и куда
        </a>
      </div>

      <div class="col-lg-3">
        <a href="video-lessons-file" class="thumb mb-10">
          <img src="http://placehold.it/265x150">
        </a>

        <a href="video-lessons-file" class="caption">
          Направление Космос - video-lessons-fileПхукет (часть 1)
        </a>
      </div>

      <div class="col-lg-3">
        <a href="video-lessons-file" class="thumb mb-10">
          <img src="http://placehold.it/265x150">
        </a>

        <a href="video-lessons-file" class="caption">
          Как юзать новые фичи
        </a>
      </div>

      <div class="col-lg-3">
        <a href="video-lessons-file" class="thumb mb-10">
          <img src="http://placehold.it/265x150">
        </a>

        <a href="video-lessons-file" class="caption">
          Направление Космос - video-lessons-fileПхукет (часть 1)
        </a>
      </div>

  </div>

    <div class="row mb-20">

        <div class="col-lg-3">
          <a href="video-lessons-file" class="thumb mb-10">
            <img src="http://placehold.it/265x150">
          </a>

          <a href="video-lessons-file" class="caption">
            Protrader что где и куда
          </a>
        </div>

        <div class="col-lg-3">
          <a href="video-lessons-file" class="thumb mb-10">
            <img src="http://placehold.it/265x150">
          </a>

          <a href="video-lessons-file" class="caption">
            Направление Космос - video-lessons-fileПхукет (часть 1)
          </a>
        </div>

        <div class="col-lg-3">
          <a href="video-lessons-file" class="thumb mb-10">
            <img src="http://placehold.it/265x150">
          </a>

          <a href="video-lessons-file" class="caption">
            Как юзать новые фичи
          </a>
        </div>

        <div class="col-lg-3">
          <a href="video-lessons-file" class="thumb mb-10">
            <img src="http://placehold.it/265x150">
          </a>

          <a href="video-lessons-file" class="caption">
            Направление Космос - video-lessons-fileПхукет (часть 1)
          </a>
        </div>

    </div>

      <div class="row">

          <div class="col-lg-3">
            <a href="video-lessons-file" class="thumb mb-10">
              <img src="http://placehold.it/265x150">
            </a>

            <a href="video-lessons-file" class="caption">
              Protrader что где и куда
            </a>
          </div>

          <div class="col-lg-3">
            <a href="video-lessons-file" class="thumb mb-10">
              <img src="http://placehold.it/265x150">
            </a>

            <a href="video-lessons-file" class="caption">
              Направление Космос - video-lessons-fileПхукет (часть 1)
            </a>
          </div>

          <div class="col-lg-3">
            <a href="video-lessons-file" class="thumb mb-10">
              <img src="http://placehold.it/265x150">
            </a>

            <a href="video-lessons-file" class="caption">
              Как юзать новые фичи
            </a>
          </div>

          <div class="col-lg-3">
            <a href="video-lessons-file" class="thumb mb-10">
              <img src="http://placehold.it/265x150">
            </a>

            <a href="video-lessons-file" class="caption">
              Направление Космос - video-lessons-fileПхукет (часть 1)
            </a>
          </div>

      </div>

</div>
