<div class="no-padding-left col-lg-12 no-padding-right">

  <div class="col-lg-6 no-padding-left">

      <h4 class="no-margin-top">Поиск</h4>

      <div class="form-group has-feedback">
        <input class="form-control" placeholder="Найди свое видео" type="search">
        <div class="form-control-feedback">
          <i class="icon-search4 text-muted text-size-base"></i>
        </div>
      </div>

      <h4 class="">Категории</h4>

      <div class="col-lg-6 no-padding-left mb-20">
        <a href="video-category" class="btn btn-flat border-info text-info" style="display: block;">Промо видео</a>
      </div>

      <div class="col-lg-6 no-padding-right mb-20">
        <a href="video-category" class="btn btn-flat border-info text-info" style="display: block;">Использование терминала</a>
      </div>

      <div class="col-lg-6 no-padding-left mb-20">
        <a href="video-category" class="btn btn-flat border-info text-info" style="display: block;">Автоторговля</a>
      </div>

      <div class="col-lg-6 no-padding-right mb-20">
        <a href="video-category" class="btn btn-flat border-info text-info" style="display: block;">Торговля на форекс</a>
      </div>

      <div class="col-lg-6 no-padding-left mb-20">
        <a href="video-category" class="btn btn-flat border-info text-info" style="display: block;">Торговля акциями</a>
      </div>

      <div class="col-lg-6 no-padding-right mb-20">
        <a href="video-category" class="btn btn-flat border-info text-info" style="display: block;">Торговля опционами</a>
      </div>
  </div>

  <div class="col-lg-6 no-padding-right">

    <div class="no-padding-left">
      <h4 class="no-margin-top"><a href="video-category">Новые видео</a></h4>
    </div>
    <div class="video-container mb-10">
      <iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/126945693?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
    </div>
    <a class="no-margin-top text-size-large">Группа молодых студентов приезжает отдыхать</a>

  </div>

</div>

<div class="no-padding-left col-lg-12 no-padding-right"><hr></div>

<div class="no-padding-left col-lg-12 no-padding-right">

  <div class="row">

      <div class="col-lg-12">
        <h4 class="no-margin-top"><a href="video-category">Популярные</a></h4>
      </div>

      <div class="col-lg-3">
        <a href="video-lessons-file" class="thumb mb-10">
          <img src="http://ru.leaprate.com/wp-content/uploads/2014/10/pfsoft.jpg" alt="">
        </a>

        <a href="video-lessons-file" class="caption">
          Protrader что где и куда
        </a>
      </div>

      <div class="col-lg-3">
        <a href="video-lessons-file" class="thumb mb-10">
          <img src="http://ru.leaprate.com/wp-content/uploads/2014/10/pfsoft.jpg" alt="">
        </a>

        <a href="video-lessons-file" class="caption">
          Направление Космос - video-lessons-fileПхукет (часть 1)
        </a>
      </div>

      <div class="col-lg-3">
        <a href="video-lessons-file" class="thumb mb-10">
          <img src="http://ru.leaprate.com/wp-content/uploads/2014/10/pfsoft.jpg" alt="">
        </a>

        <a href="video-lessons-file" class="caption">
          Как юзать новые фичи
        </a>
      </div>

      <div class="col-lg-3">
        <a href="video-lessons-file" class="thumb mb-10">
          <img src="http://ru.leaprate.com/wp-content/uploads/2014/10/pfsoft.jpg" alt="">
        </a>

        <a href="video-lessons-file" class="caption">
          Направление Космос - video-lessons-fileПхукет (часть 1)
        </a>
      </div>

  </div>


</div>

<div class="no-padding-left col-lg-12 no-padding-right"><hr></div>

<div class="no-padding-left col-lg-12 no-padding-right">

  <div class="row">

      <div class="col-lg-12">
        <h4 class="no-margin-top"><a href="video-category">Плейлисты</a></h4>
      </div>

      <div class="col-lg-3">
        <a href="video-lessons-file" class="thumb mb-10">
          <img src="http://ru.leaprate.com/wp-content/uploads/2014/10/pfsoft.jpg" alt="">
          <span class="play-block">
            5<br> видео<br> <i class="icon-three-bars"></i>
          </span>
        </a>

        <a href="video-lessons-file" class="caption">
          Protrader что где и куда
        </a>
      </div>

      <div class="col-lg-3">
        <a href="video-lessons-file" class="thumb mb-10">
          <img src="http://ru.leaprate.com/wp-content/uploads/2014/10/pfsoft.jpg" alt="">
          <span class="play-block">
            18<br> видео<br> <i class="icon-three-bars"></i>
          </span>
        </a>

        <a href="video-lessons-file" class="caption">
          Направление Космос - video-lessons-fileПхукет (часть 1)
        </a>
      </div>

      <div class="col-lg-3">
        <a href="video-lessons-file" class="thumb mb-10">
          <img src="http://ru.leaprate.com/wp-content/uploads/2014/10/pfsoft.jpg" alt="">
          <span class="play-block">
            105<br> видео<br> <i class="icon-three-bars"></i>
          </span>
        </a>

        <a href="video-lessons-file" class="caption">
          Как юзать новые фичи
        </a>
      </div>

      <div class="col-lg-3">
        <a href="video-lessons-file" class="thumb mb-10">
          <img src="http://ru.leaprate.com/wp-content/uploads/2014/10/pfsoft.jpg" alt="">
          <span class="play-block">
            36<br> видео<br> <i class="icon-three-bars"></i>
          </span>
        </a>

        <a href="video-lessons-file" class="caption">
          Направление Космос - video-lessons-fileПхукет (часть 1)
        </a>
      </div>

  </div>


</div>
