<a href="#" class="col-lg-12 text-default no-padding">
  <div class="col-lg-4 no-padding">
    <img src="http://placehold.it/120x70">
  </div>

  <div class="col-lg-8">
    <h6 class="no-margin">
      Protrader что где и куда
    </h6>
  </div>
</a>
<hr class="col-lg-12 no-padding">
<a href="#" class="col-lg-12 text-default no-padding">
  <div class="col-lg-4 no-padding">
    <img src="http://placehold.it/120x70">
  </div>

  <div class="col-lg-8">
    <h6 class="no-margin">
      Направление Космос - #Пхукет (часть 1)
    </h6>
  </div>
</a>
<hr class="col-lg-12 no-padding">
<a href="#" class="col-lg-12 text-default no-padding">
  <div class="col-lg-4 no-padding">
    <img src="http://placehold.it/120x70">
  </div>

  <div class="col-lg-8">
    <h6 class="no-margin">
      Как юзать новые фичи
    </h6>
  </div>
</a>
<hr class="col-lg-12 no-padding">
<a href="#" class="col-lg-12 text-default no-padding">
  <div class="col-lg-4 no-padding">
    <img src="http://placehold.it/120x70">
  </div>

  <div class="col-lg-8">
    <h6 class="no-margin">
      Группа молодых студентов приезжает отдыхать
    </h6>
  </div>
</a>
