{% if app.controller.isXmlStructureValid(kb.getArticleContent()) %}

    {% include '@kbase_org/default/view/_xml.twig' with {'xml' : simpleXMLElement(kb.getArticleContent()), 'content' : kb.article.content} %}

{% else %}

    {% include '@kbase_org/default/view/_content.twig' with {'kb' : kb} %}

{% endif %}
