<div class="row">
    <!-- <div class="kb-search" style="padding-top: 25px;">
      <div class="col-lg-10 col-md-10 col-sm-8">
          <input class="form-control" type="search" placeholder="Search" value="">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4">
          <button class="btn btn-default btn-fw btn-search"><i class="fa fa-search"></i> Search</button>
      </div>
    </div> -->
    <div class="col-lg-12">

        <div class="panel panel-default new-art-view panel-article kb-panel">
            <div class="panel-heading">
                <h1 class="panel-title">{{ kb.title | raw}}</h1>
            </div>

            <div class="panel-body artView">
                {{ kb.getArticleContent() | raw }}
                {#<div class="downloadPDF">#}
                    {#<a class="" href="/kb/pdf/{{ kb.id }}">#}
                        {#<img src="/images/kb/PDF_icon_32x32.png"> Download PDF#}
                    {#</a>#}
                {#</div>#}
            </div>

        </div>

    </div>

</div>
