
    <div class="panel panel-default new-art-view panel-article kb-panel">

        <div class="panel-heading mb-20">

            <h1 class="panel-title">{{ kb.title }}</h1>

        </div>

        <div class="panel-body artView">

            {% for model in kb.children(1).all() if model.visible == 1 %}
                {% if model.isFolder %}
                    <a href="{{ model.getViewUrl() }}" class="category kb">
                        {{ model.getTranslateMessage() }}
                    </a>
                {% else %}
                    <a href="{{ model.getViewUrl() }}" class="article kb">
                        {{ model.getTranslateMessage() }}
                    </a>
                {% endif %}

            {% endfor %}
        </div>

    </div>
