<div class="row">

    <div class="col-lg-12">

        <div class="panel panel-default new-art-view panel-article kb-panel">
            <div class="panel-heading">
                <h1 class="panel-title">{{ kb.title | raw}}</h1>
            </div>

            <div class="panel-body artView">
                <div id="class-reference">

                {% if(xml.field | length > 0) %}
                <div class="kbClPropsBlock">
                    <h2>Fields</h2>
                    <table class="cr_tabledesc" border="1" bordercolor="#DDDDDD">
                        <thead><tr>
                            <th>Field</th>
                            <th>Value</th>
                            <th>Description</th>
                        </tr></thead>
                        <tbody>

                        {% for field in xml.field %}
                        {% set attrs = field.attributes() %}
                            <tr>
                                <td>{{ attrs.Name.__toString() }}</td>
                                <td>{{ attrs.Value.__toString()  }}</td>
                                <td>{{ attrs.summary.__toString() }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                {% endif %}



                {% if(xml.property | length > 0) %}
                <div class="kbClPropsBlock">
                    <h2>Public Properties</h2>
                    <table class="cr_tabledesc" border="1" bordercolor="#DDDDDD">
                        <thead><tr>
                            <th>Property</th>
                            <th>Type</th>
                            <th>Description</th>
                        </tr></thead>
                        <tbody>

                        {% for property in xml.property %}
                        {% set attrs = property.attributes() %}
                            <tr>
                                <td><a href="#property-{{ attrs.Name.__toString() }}" onclick="$('html, body').animate({scrollTop: $('#property-{{ attrs.Name.__toString() }}').offset().top-60}, 500);" class="kbClassAncor">{{ attrs.Name.__toString() }}</a></td>
                                <td>{{ attrs.type.__toString() }}</td>
                                <td class="clRefDescr">{{ property.summary.__toString() | default('-') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}



                {% if(xml.method | length > 0) %}
                <div class="kbClPropsBlock">
                    <h2>Public Methods</h2>
                    <table class="cr_tabledesc" border="1" bordercolor="#DDDDDD">
                        <thead><tr>
                            <th>Method</th>
                            <th>Return</th>
                            <th>Description</th>
                        </tr></thead>
                        <tbody>

                        {% for method in xml.method %}
                        {% set attrs = method.attributes() %}
                            <tr>
                                <td><a href="#property-{{ attrs.name.__toString() }}" class="kbClassAncor">{{ attrs.name.__toString() }}</a></td>
                                <td>{{ attrs.return.__toString() }}</td>
                                <td class="clRefDescr">{{ method.summary.__toString() | default('-') }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                {% endif %}



                {% if(xml.event | length > 0) %}
                <div class="kbClPropsBlock">
                    <h2 class="kbClProps">Events</h2>
                    <table class="cr_tabledesc tblevent" border="1" bordercolor="#DDDDDD">
                        <thead><tr>
                            <th>Event</th>
                            <th>Description</th>
                        </tr></thead>
                        <tbody>

                        {% for event in xml.event %}
                        {% set attrs = event.attributes() %}
                            <tr>
                                <td><a href="#event-{{ attrs.Name.__toString() }}" class="kbClassAncor">{{ attrs.Name.__toString() }}</a></td>
                                <td>{{ method.summary.__toString() | default('-') }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                {% endif %}



                {% if(xml.property | length > 0) %}
                <div class="kbClDetailsBlock">
                    <h2>Property Details</h2>

                    {% for property in xml.property %}
                    {% set attrs = property.attributes() %}

                    <div class="cr_property" id="property-{{ attrs.Name.__toString() }}">
                        <div class="cr_essence_title">{{ attrs.Name.__toString() }} <span>property</span></div>
                        <pre class="prettyprint"><code>{{ property.declaration.__toString() }}</code></pre>
                        <div>{{ property.summary.__toString() }}</div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}



                {% if(xml.method | length > 0) %}
                <div class="kbClDetailsBlock">
                    <h2>Method Details</h2>


                    {% for method in xml.method %}
                    {% set attrs = method.attributes() %}

                    <div class="cr_method" id="method-{{ attrs.name.__toString() }}>">
                        <div class="cr_essence_title">{{ attrs.name.__toString() }}() <span>method</span></div>
                        <pre class="prettyprint"><code>{{ method.declaration.__toString() }}</code></pre>
                        <table class="cr_tabledesc" border="1" bordercolor="#DDDDDD">
                            <tbody>


                            {% for parameter in xml.parameters.parameter %}
                            {% set attrs = parameter.attributes() %}
                            <tr>
                                <td><b>{{ paramattr.name.__toString() }}</b></td>
                                <td>{{ paramattr.type.__toString() }}</td>
                                <td>-</td>
                            </tr>
                            {% endfor %}

                            <tr>
                                <td><b>{return}</b></td>
                                <td>{{ attrs.return.__toString() }}</td>
                                <td>{{ method.summary.__toString() | default('-') }}</td>
                            </tr>
                            </tbody>
                        </table>

                        {% if(method.example.__toString()) %}
                        <a href="#" onclick="$(this).next().toggleClass('showed'); return false;">Show example</a>
                        <div class="cr_example"><pre class="prettyprint"><code>"            " ~ {{ method.example.__toString() }}</code></pre></div>
                        {% endif %}

                    </div>

                    {% endfor %}
                </div>
                {% endif %}



                {% if(xml.event | length > 0) %}
                <div class="kbClDetailsBlock">
                    <h2>Event Details</h2>


                    {% for event in xml.event %}
                    {% set attrs = event.attributes() %}


                    <div class="cr_property" id="event-{{ attrs.Name.__toString() }}">
                        <div class="cr_essence_title">{{ attrs.Name.__toString() }} <span>property</span></div>
                        <pre class="prettyprint"><code>{{ event.declaration.asXML() }}</code></pre>
                        <div>{{ event.summary.__toString() }}</div>

                        {% if(method.example.__toString()) %}
                            <a href="#" onclick="$(this).next().toggleClass('showed'); return false;">Show example</a>
                            <div class="cr_example"><pre class="prettyprint"><code>"            " ~ {{ method.example.__toString() }}</code></pre></div>
                        {% endif %}
                    </div>
                    {% endfor %}

                </div>
                {% endif %}


                {% if((xml.event | length == 0) and (xml.method | length == 0) and (xml.property | length == 0) and (xml.field | length == 0))  %}
                {{ content | raw }}
                {% endif %}
            </div>
            </div>

        </div>

    </div>

</div>
