{{ use('cebe/gravatar/Gravatar') }}

{% if email and size %}
  {{ gravatar_widget({
    'email' : email,
    'options' : {'alt' : fullname },
    'size' : size,
    'defaultImage' : 'identicon',
  }) }}
{% elseif email %}
  {{ gravatar_widget({
    'email' : email,
    'options' : {'alt' : fullname },
    'size' : 32,
    'defaultImage' : 'identicon',
  }) }}
{% endif %}



