<div class="row">
<div class="col-md-12">
	<div class="block-flat">
        <div class="header">
            <h3>{{ _title }}</h3>
        </div>
		{{ use('yii/widgets/ActiveForm') }}
		{% set form = active_form_begin({
          'options' : {
            'class' : 'form-horizontal group-border-dashed'
          },
          'fieldConfig' : {
            'template' : '{label}\n<div class="col-lg-6">{input}</div>\n{hint}\n{error}',
            'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
            'labelOptions' : {'class' : 'col-lg-3 control-label'},
            'errorOptions' : {'class' : 'col-lg-3 help-block', 'style' : 'margin-bottom: 8px;'}
          }
        }) %}
		{{ form.field(user, 'username').textInput({'maxlength' : 255},{'labelOptions':{'class':'md-12'}}) | raw }}
		{{ form.field(user, 'email').textInput({'maxlength' : 255}) | raw }}
        {% if not user.isRelationPopulated('company') %}
		    {{ form.field(user, 'plain_company').dropDownList( companies ) | raw }}
		{% endif %}

        <div class="form-group" style="padding: 0; border-bottom: 0;">
          <div class="col-lg-3 form-group" style="border-bottom: 0;">
            <label class="col-lg-12 control-label">{{ translate('Name') }}</label>
          </div>
          <div class="col-lg-6" style="padding: 0;">
            {{ form.field(profile, 'first_name', {
              'template' : '<div class="col-lg-12">{input}</div>\n{hint}\n{error}',
              'options' : {'class' : 'col-lg-6 form-group'},
              'errorOptions' : {'class' : 'col-lg-12 help-block'},
            }).textInput({'maxlength' : 60, 'placeholder' : 'First Name'}) | raw }}
            {{ form.field(profile, 'last_name', {
              'template' : '<div class="col-lg-12">{input}</div>\n{hint}\n{error}',
              'options' : {'class' : 'form-group col-lg-6'},
              'errorOptions' : {'class' : 'col-lg-12 help-block'}
            }).textInput({'maxlength' : 60, 'placeholder' : 'Last Name'}) | raw }}
          </div>
        </div>

        <div class="form-group" style="padding: 0; border-bottom: 0;">
          <div class="col-lg-3 form-group" style="border-bottom: 0;">
            <label class="col-lg-12 control-label">{{ translate('Contacts') }}</label>
          </div>
          <div class="col-lg-6" style="padding: 0;">
            {{ form.field(profile, 'phone', {
              'template' : '<div class="col-lg-12">{input}</div>\n{hint}\n{error}',
              'options' : {'class' : 'col-lg-6 form-group'},
              'errorOptions' : {'class' : 'col-lg-12 help-block'},
            }).textInput({'maxlength' : 60, 'placeholder' : 'Phone'}) | raw }}
            {{ form.field(profile, 'skype', {
              'template' : '<div class="col-lg-12">{input}</div>\n{hint}\n{error}',
              'options' : {'class' : 'form-group col-lg-6'},
              'errorOptions' : {'class' : 'col-lg-12 help-block'}
            }).textInput({'maxlength' : 60, 'placeholder' : 'Skype'}) | raw }}
          </div>
        </div>

        {% if this.context.action.id == 'adduser' %}
            {{ form.field(user, 'role').dropDownList(app.user.identity.company.id == user.company.id ? user.getRoleListPossible() : user.getRoleList(), {'prompt' : 'Select role...'}) | raw }}
            <div class="form-group" style="padding: 0; border-bottom: 0;">
              <div class="col-lg-3 form-group" style="border-bottom: 0;">
                <label class="col-lg-12 control-label">{{ translate('Password') }}</label>
              </div>
              <div class="col-lg-6" style="padding: 0;">
                {{ form.field(user, 'new_password', {
                  'template' : '<div class="col-lg-12">{input}</div>\n{hint}\n{error}',
                  'options' : {'class' : 'col-lg-6 form-group'},
                  'errorOptions' : {'class' : 'col-lg-12 help-block'},
                }).passwordInput({'maxlength' : 60, 'placeholder' : 'Password'}) | raw }}
                {{ form.field(user, 'new_password_repeat', {
                  'template' : '<div class="col-lg-12">{input}</div>\n{hint}\n{error}',
                  'options' : {'class' : 'form-group col-lg-6'},
                  'errorOptions' : {'class' : 'col-lg-12 help-block'}
                }).passwordInput({'maxlength' : 60, 'placeholder' : 'Passwor (repaet)'}) | raw }}
              </div>
            </div>
        {% elseif app.user.getId() != user.id %}
            <div class="form-group" style="padding: 0; border-bottom: 0; display: {{ app.user.getId() == user.id ? 'none' : 'block' }};">
                <div class="col-lg-3 form-group" style="border-bottom: 0;">
                    <label class="col-lg-12 control-label">{{ translate('Role') }}</label>
                </div>
                <div class="col-lg-6" style="padding: 0;">
                    {{ form.field(user, 'role', {
                        'template' : '<div class="col-lg-12">{input}</div>\n{hint}\n{error}',
                        'options' : {'class' : 'col-lg-6 form-group'},
                        'errorOptions' : {'class' : 'col-lg-12 help-block'},
                    }).dropDownList(app.user.identity.company.id == user.company.id ? user.getRoleListPossible() : user.getRoleList(), {'prompt' : 'Select role...'}) | raw }}

                    <div class="col-lg-6 form-group">
                        <label class="col-sm-6 control-label" style="text-align: left;">Account is Enable</label>
                        <div class="col-sm-6">
                            <label class="radio-inline" style="padding-left: 0;"> <input class="icheck" type="radio" {{ user.disable ? '' : 'checked=""' }} name="User[disable]" value="0"> Yes</label>
                            <label class="radio-inline" style="padding-left: 0;"> <input class="icheck" type="radio" {{ user.disable ? 'checked=""' : '' }} name="User[disable]" value="1"> No</label>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
		<div class="form-group">
          <div class="col-lg-offset-3 col-lg-9">
		    {{ html.submitButton(  user.isNewRecord ? 'Create' : 'Save' , {'class' : user.isNewRecord ? 'btn btn-success' : 'btn btn-primary'} ) | raw }}
            {{ html.a('Cancel', '/company/view?id=' ~ company.id, {'class' : 'btn btn-default'}) | raw }}
          </div>
        </div>
		{{ active_form_end() }}
        {{ this.registerJs("
            jQuery('.icheck').iCheck({
              checkboxClass: 'icheckbox_flat-blue',
              radioClass: 'iradio_flat-blue'
            });
        " | replace({'\n': '',' ': ''})) }}
	</div>
</div>
</div>