<span class="user">

<a href="#">John Gerrit</a>

    <ul>
      <li class="head"><i class="fa fa-medium"></i>Medium</li>
      <li class="years">28 лет</li>
      <li class="country">Украина</li>
      <li>Long term,</li>
      <li>Day trading,</li>
      <li>Swing trading,</li>
      <li>Scalping</li>
      <li><a href="/views/user/user-page">View user profile</a></li>
      <li class="fot"><button data-toggle="modal" class="btn btn-primary" data-target="#message">Написать сообщение</button></li>
    </ul>

</span>