{% extends '@views/layouts/main.twig' %}

{% block title %}Авторизация{% endblock %}
{% block classBody %}login{% endblock %}

{% block content %}

    {{ use('yii/helpers/Html') }}
    {{ use('yii/components/FlatActiveForm') }}
    {{ use('yii/components/FlatActiveForm') }}

    <!-- PAGE CONTENTS STARTS
      ========================================================================= -->
    <section>
        <div class="container">
            <div class="row">
                <!-- LEFT COLUMN STARTS
                  ========================================================================= -->
                <div class="col-lg-12">
                    <!-- FOOD STARTS
                      ========================================================================= -->
                    <section>
                        <div class="col-lg-12 mb-20">
                            <div class="subhead">
                                {{ translate('Login') }}
                            </div>
                        </div>

                        {% if app.controller.message.warning %}
                            <div class="alert alert-danger" role="alert">
                                {{ app.controller.message.warning | raw }}
                            </div>
                        {% endif %}

                        {% if app.controller.message.success %}
                            <div class="success alert-success" role="success">
                                {{app.controller.message.success | raw }}
                            </div>
                        {% endif %}

                        <!-- SOCIAL ICONS ENDS -->
                    </section>
                    <!-- /. FOOD ENDS
                      ========================================================================= -->
                </div>
                <!-- /. LEFT COLUMN ENDS
                  ========================================================================= -->
            </div>
        </div>
    </section>
    <!-- PAGE CONTENTS ENDS
      ========================================================================= -->

{% endblock %}
