{% extends '@views/layouts/main.twig' %}

{% block content %}

    {{ this.registerJsFile('/limitless/assets/js/plugins/forms/selects/bootstrap_multiselect.js', {'depends': 'yii\\web\\JqueryAsset'}) }}
    {{ this.registerJsFile('/limitless/assets/js/plugins/forms/styling/uniform.min.js', {'depends': 'yii\\web\\JqueryAsset'}) }}
    <div class="panel panel-default edit-page">
        <div class="panel-heading ">
            <!-- <h1 class="no-margin text-semibold panel-title">{{ translate('Edit Profile') }}</h1> -->
            <ul class="nav nav-tabs nav-tabs-ptmc">
                <li class="active">
                    <a href="#basic" data-toggle="tab" aria-expanded="false">Basic information</a>
                </li>
                <li>
                <a href="#notific" data-toggle="tab" aria-expanded="false">Notification</a>
                </li>
            </ul>

        </div>

        <div class="panel-body tab-content">

            {#{% include '@views/user/_edit/_account.twig' %}#}
            {#{% include '@views/user/_edit/_site.twig' %}#}
            {#{% include '@views/user/_edit/_experience.twig' %}#}

            <div class="tab-pane no-margin-top active" id="basic">
                {{ use('yii/bootstrap/ActiveForm') }}
                {{ use('kartik/date/DatePicker') }}
                {{ use('app/components/customImage/CustomImageUpload') }}
                {{ use('app/modules/notify/widgets/NotificationCheckBoxList') }}

                {% set form = active_form_begin({'options' : {'enctype' : 'multipart/form-data'}}) %}
                <div class="col-lg-6 col-md-6 edit-profile">
                    <table class="editProfile">
                        <tr>
                            <td class="text-right col-lg-4 pr-20">
                                {{ translate('First Name') }}
                            </td>
                            <td class="input">
                                {{ form.field(profile, 'first_name').textInput({
                                'maxlength' : 60,
                                'class' : 'form-control',
                                'placeholder' : translate('First Name')}).label('') | raw }}
                            </td>
                        </tr>

                        <tr>
                            <td class="text-right col-lg-4 pr-20">
                                {{ translate('Last Name') }}
                            </td>
                            <td class="input">
                                {{ form.field(profile, 'last_name').textInput({
                            'maxlength' : 60,
                            'class' : 'form-control',
                            'placeholder' : translate('Last Name')}).label('') | raw }}
                            </td>
                        </tr>

                        <tr>
                            <td class="text-right col-lg-4 pr-20">
                                {{ translate('Email') }}
                            </td>
                            <td class="input">
                                {{ form.field(user, 'email').textInput({'maxlength' : 64,'class' : 'form-control'}).label('') | raw }}
                            </td>
                        </tr>

                        <tr>
                            <td class="text-right col-lg-4 pr-20">
                                {{ translate('Username') }}
                            </td>
                            <td class="input">
                                {{ form.field(user, 'username').textInput({'maxlength' : 64,'class' : 'form-control'}).label('') | raw }}
                            </td>
                        </tr>

                        <tr>
                            <td class="text-right col-lg-4 pr-20">
                                {{ translate('Web site') }}
                            </td>
                            <td class="input">
                                {{ form.field(profile_form, 'website').textInput({
                                'class' : 'form-control',
                                'value' : profile_form.website,
                                'placeholder' : translate('Web site')}).label('') | raw }}
                            </td>
                        </tr>

                        <tr>
                            <td class="text-right col-lg-4 pr-20">
                                {{ translate('Skype') }}
                            </td>
                            <td class="input">
                                {{ form.field(profile, 'skype').textInput({
                                'maxlength' : 60,
                                'class' : 'form-control'}).label('') | raw }}
                            </td>
                        </tr>

                        <tr>
                            <td class="text-right col-lg-4 pr-20">
                                Phone
                            </td>
                            <td class="input">
                                {{ form.field(profile, 'phone').textInput({
                                'maxlength' : 60,
                                'class' : 'form-control',
                                'placeholder' : translate('Phone')}).label('') | raw }}
                            </td>
                        </tr>

                        <tr>
                            <td class="text-right col-lg-4 pr-20">
                                {{ translate('Birthday') }}
                            </td>
                            <td class="input">
                                {#{{ form.field(profile, 'birth_date').widget('app\\components\\CustomDatePicker', {#}
                                {#'type' : 1,#}
                                {#'options' : {#}
                                {#'placeholder' : '',#}
                                {#'value' : dateUTCFormat(profile.birth_date),#}
                                {#},#}
                                {#'convertFormat' : true,#}
                                {#'pluginOptions' : {#}
                                {#'format' : 'php:d.m.Y',#}
                                {#'todayHighlight' : true,#}
                                {#},#}
                                {#}).label('')  | raw }}#}

                                {{ form.field(profile_form, 'born_at').textInput({
                                    'class' : 'form-control',
                                    'value' : profile_form.born_at,
                                    'placeholder' : translate('Birth date')}).label('') | raw }}
                            </td>
                        </tr>

                        <tr>
                            <td class="text-right col-lg-4 pr-20">
                                {{ translate('Profile in social networks') }}
                            </td>
                            <td class="input">
                                {{ form.field(profile_form, 'social_profile').textInput({
                                'class' : 'form-control',
                                'value' : profile_form.social_profile,
                                'placeholder' : translate('Profile in social networks')}).label('') | raw }}
                            </td>
                        </tr>

                        <tr>
                            <td class="text-right col-lg-4 pr-20">
                                Country
                            </td>
                            <td>
                                {{ selectFilterForm(getStatic('app\\models\\forms\\ProfileForm', '_countries'), profile_form.country, 'ProfileForm[country]') | raw }}
                            </td>
                        </tr>

                        <tr>
                            <td class="text-right col-lg-4 pr-20">
                                About Myself
                            </td>
                            <td class="input">
                                {{ form.field(profile_form, 'about_myself').textArea({
                                'class' : 'form-control',
                                'value' : profile_form.about_myself,
                                'cols' : 30,
                                'rows' : 5,
                                'placeholder' : translate('About Myself')}).label('') | raw }}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right col-lg-4 pr-20">
                                Password
                            </td>
                            <td class="input">
                                <button type="button" class="btn btn-border-ptmc btn-sm" data-toggle="modal" data-target="#modal_form_horizontal">
                                    {{ translate('Change password') }}
                                </button>
                            </td>
                        </tr>
                        {#<tr>#}
                            {#<td></td>#}
                            {#<td>#}
                                {#<a href="/user/delete?id={{ app.user.identity.id }}" class="mt-10" onclick="#}
                                    {#if(confirm('Are you sure you want to delete Your account?'))#}
                                    {#{#}
                                      {#return true;#}
                                    {#} else {#}
                                      {#return false;#}
                                    {#}#}
                                {#">Delete my account online Protrader.org</a>#}
                            {#</td>#}
                        {#</tr>#}

                    </table>
                </div>

                <div class="col-lg-6 col-md-6 edit-profile">
                    {{ CustomImageUpload_widget({
                        'form' : form,
                        'model' : user,
                        'attribute' : 'pictures',
                        'crop' : {
                            'aspectRatio': 1/1
                        },
                        'options' : {'id' : 'pictures'},
                    }) }}
                </div>

            </div>

            <div class="tab-pane no-margin-top" id="notific">
                <div class="col-lg-12 col-md-12">
                    {{ NotificationCheckBoxList_widget({form: form, model:user}) }}
                </div>
            </div>

        </div>
    </div>
    <div class="row butEdit">

        <div class="text-center col-md-2">
            {{ html.submitButton(user.isNewRecord ? translate('Create') : translate('Save') , {'class' : user.isNewRecord ? 'btn btn-ptmc' : 'btn btn-ptmc btn-fw'} ) | raw }}
        </div>
    </div>

    {{ active_form_end() }}

    {% include '@views/user/_edit/_change_password.twig' %}

{% endblock %}
