{% extends '@views/layouts/main.twig' %}

{% block content %}

    {{ use('app/components/notification/widgets/ListNotifications')}}

    <meta name=“robots” content=“noindex,nofollow”>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-article new-art-view userProfile">
                <div class="art panel-body">
                    <div class="featCat">
                        <div class="artInfo">
                            <div class="artPhotoUser">
                                {{ user.getAvatar(66,66) | raw }}
                            </div>
                            {% if app.user.getId() == user.id %}
                                <a href="/edit-profile" class="artAuthor">
                                    {{ translate('Edit profile') }}
                                </a>
                            {% endif %}
                        </div>
                        <div class="artBody">
                            <h1 class="">
                                {{ user.getFullname() | raw }}
                            </h1>
                            {% set about_myself = staticMethod('app\\models\\user\\UserCustomField','getDataByAttrName',
                                {
                                'about_myself':'about_myself',
                                'id':user.id
                                }) %}
                            {% if about_myself %}
                                <p>{{  about_myself }}</p>
                                {% else %}
                                <p>-</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="featCat">
                        <div class="artInfo">
                            <span class="h2">{{ translate('Basic information') }} {{ model.name }}</span>
                        </div>
                        <div class="artBody">
                            <table class="table">
                                {% set country = staticMethod('app\\models\\user\\UserCustomField','getCountry',{'id':user.id}) %}
                                <tr>
                                    <td class="text-semibold">
                                        Country
                                    </td>
                                    <td>
                                        {% if country %}
                                            {{ country }}
                                            {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                                {% set born_at = staticMethod('app\\models\\user\\UserCustomField','getDataByAttrName',
                                {
                                'about_myself':'born_at',
                                'id':user.id
                                }) %}
                                <tr>
                                    <td class="text-semibold">
                                        Birthday
                                    </td>
                                    <td>
                                        {% if born_at %}
                                            {{ born_at }}
                                            {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>

                    {% if not app.user.isGuest %}
                    <div class="featCat">
                        <div class="artInfo">
                            <span class="h2">{{ translate('Contact') }} {{ model.name }}</span>
                        </div>
                        <div class="artBody">
                            <table class="table">
                                {#<tr>#}
                                    {#<td class="text-semibold">E-mail</td>#}
                                    {#<td>#}
                                        {#<a href="mailto:{{ user.email }}">{{ user.email }}</a>#}
                                    {#</td>#}
                                {#</tr>#}
                                {% set site = staticMethod('app\\models\\user\\UserCustomField','getDataByAttrName',
                                {
                                'website':'website',
                                'id':user.id
                                }) %}
                                <tr>
                                    <td class="text-semibold">Site</td>
                                    <td>
                                        {% if site %}
                                            <a rel="nofollow" target="_blank" href="{{ site }}">{{ site }}</a>
                                            {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-semibold">Phone</td>
                                    <td>
                                        {% if profile.phone %}
                                            {{ profile.phone }}
                                            {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-semibold">Skype</td>
                                    <td>
                                        {% if profile.skype %}
                                            {{ profile.skype }}
                                            {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                                {% set social_profile = staticMethod('app\\models\\user\\UserCustomField','getDataByAttrName',{
                                'social_profile':'social_profile',
                                'id':user.id
                                }) %}
                                <tr>
                                    <td class="text-semibold">Social networks</td>
                                    <td>
                                        {% if social_profile %}
                                            {{ social_profile }}
                                            {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    {% endif %}

                    {#{% if app.user.identity.id == user.id %}#}
                    {#<div class="featCat">#}
                        {#<div class="artInfo">#}
                            {#<span class="h2">{{ translate('Cross Trade') }}</span>#}
                        {#</div>#}
                        {#<div class="artBody">#}
                            {#<table class="table">#}
                                {#<tr>#}
                                    {#<td class="text-semibold">{{ translate('Login') }}</td>#}
                                    {#<td>#}
                                        {#<span>{{ user.crosstradeRegister.demo_login }}</span>#}
                                    {#</td>#}
                                {#</tr>#}
                                {#<tr>#}
                                    {#<td class="text-semibold">{{ translate('Password') }}</td>#}
                                    {#<td>#}
                                        {#<span>{{ user.crosstradeRegister.demo_password }}</span>#}
                                    {#</td>#}
                                {#</tr>#}
                            {#</table>#}
                        {#</div>#}
                    {#</div>#}
                    {#{% endif %}#}
                </div>
            </div>

        </div>
        {#{% if app.user.getId() == user.id %}#}
            {#{{ use('app/modules/notify/widgets/ListNotifications') }}#}
            {#{{ ListNotifications_widget() }}#}
        {#{% endif %}#}
    </div>

{% endblock %}
