{% extends '@views/layouts/main.twig' %}


{% block content %}

    <div class="row">
        <div class="col-lg-12">

            <div class="userProfile mt-20">

                {% set form = active_form_begin({
                'options' : {
                'class' : 'form-horizontal group-border-dashed'
                },
                'fieldConfig' : {
                'template' : '{label}\n<div class="col-lg-6">{input}</div>\n{hint}\n{error}',
                'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
                'labelOptions' : {'class' : 'col-lg-3 control-label'},
                'errorOptions' : {'class' : 'col-lg-3 help-block', 'style' : 'margin-bottom: 8px;'}
                }
                }) %}

                {{ model.setValue() }}

                {{ form.field(model, 'SUBSCRIBE_WHEN_OWN_TOPIC_COMMENTED').checkbox({'value' : 1}) | raw }}
                {{ form.field(model, 'SUBSCRIBE_WHEN_TOPIC_COMMENTED').checkbox({'checked' : ''}) | raw }}
                {{ form.field(model, 'SUBSCRIBE_WHEN_ARTICLE_COMMENTED').checkbox({'checked' : ''}) | raw }}
                {{ form.field(model, 'SUBSCRIBE_WHEN_ANSWERED_OWN_COMMENT').checkbox({'checked' : ''}) | raw }}
                {{ form.field(model, 'SUBSCRIBE_WHEN_CREATED_ARTICLE_OR_TOPIC').checkbox({'checked' : ''}) | raw }}

                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        {{ html.submitButton(  user.isNewRecord ? 'Create' : 'Save' , {'class' : user.isNewRecord ? 'btn btn-success' : 'btn btn-primary'} ) | raw }}
                        {{ html.a('Cancel', '/edit-profile', {'class' : 'btn btn-default'}) | raw }}
                    </div>
                </div>
                {{ active_form_end() }}

            </div>

        </div>
    </div>

{% endblock %}
