{% extends '@views/layouts/base.twig' %}
{% block container_class %}login-container{% endblock %}
{% block body_class %}container{% endblock %}
{% block body %}

    {{ use('nodge/eauth/Widget') }}
    {{ use('yii/helpers/Html') }}
    {{ use('yii/widgets/ActiveForm') }}



    <link rel="stylesheet" type="text/css" href="/css/login.css">

    <a class="logo-login" href="#" style=""></a>

    <div class="content-wrapper">

        <div class="content">

            <h4 class="title" style="margin-left:initial;">{{ translate('Registration') }}</h4>

            {% set form = active_form_begin({ 'id' : 'sign-up-form' }) %}

            <div class="login__row">
                <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                    <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8"></path>
                </svg>
                <input type="text" class="login__input name" placeholder="email" name="SignUp[email]">
            </div>

            {{ html.submitButton('Register',
            {
                'name'          : 'login-button',
                'class'         : 'btn btn-primary center',
                'data-dismiss'  : 'modal'
            }) | raw }}

               {{ active_form_end() }}

        </div>


        {% if model.getErrors() %}

            <style>
                input.login__input.pass{
                    border-bottom: 2px double rgb(255, 30, 25);
                }
            </style>

        {% endif %}



        <a href="/login" style="text-align: center;font-size: 25px">Login</a>

        <div class="footer text-muted text-center out-links"
             style="bottom: 20px; position: absolute; width:100%;">
            {{ app.params.copyright | raw }}
        </div>

    </div>


{% endblock %}
