<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-flat">

            <div class="panel-body">

                {{ use('yii/widgets/ActiveForm') }}
                {{ use('app/components/customImage/CustomImageUpload') }}

                {% set form = active_form_begin({
                'options' : {
                'class' : 'form-horizontal group-border-dashed',
                'enctype' : 'multipart/form-data',
                },
                'fieldConfig' : {
                'template' : '\n<div class="col-lg-6">{input}</div>{hint}\n{error}',
                'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
                'labelOptions' : {'class' : 'col-lg-3 control-label'},
                'errorOptions' : {'class' : 'col-lg-3 help-block', 'style' : 'margin-bottom: 8px;'}
                }
                }) %}

                <div class="form-group  col-lg-12">
                    {{ CustomImageUpload_widget({
                        'form' : form,
                        'model' : banner_model,
                        'attribute' : attribute,
                        'options' : {'id' : attribute},
                    }) }}
                </div>

                {{ html.submitButton( translate('Save') , {'class' :'btn btn-primary'} ) | raw }}
                {{ html.a(translate('Cancel'), app.request.referrer, {'class' : 'btn btn-default'}) | raw }}

                {{ active_form_end() }}
            </div>

        </div>

    </div>
</div>