<div class="panel  panel-default panel-valera forumCat">

    <div class="panel-heading">
        {% include '@app/modules/forum/views/components/_head_category.twig' with {
    'title':'<a href="' ~ category.getViewUrl() ~ '" class="panel-title h1">' ~ category.title ~ '</a>',
    'description' : category.description, 'roll' : 1} %}
    </div>


    <div class="panel-body">
        <ul class="media-list">


            {% for child in category.getChildren() %}

                    {% if child is not empty %}

                        {% include '@app/modules/forum/views/components/_single_category.twig' with {'child':child} %}

                    {% endif %}

                {% endfor %}

        </ul>

    </div>

</div>


