{% block content %}

    {{ use('yii/widgets/ActiveForm') }}
    {{ use('app/components/widgets/imperavi/Redactor') }}
    {{ use('app/components/customImage/CustomImageUpload') }}

    {% set form = active_form_begin({
    'options' : {
    'class' : 'form-horizontal group-border-dashed',
    'enctype' : 'multipart/form-data',
    },
    'fieldConfig' : {
    'template' : '<div class="form-group no-padding col-lg-12>"{label}\n{input}\n{hint}\n{error}</div>',
    'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
    'labelOptions' : {'class' : 'col-lg-3 control-label'},
    'errorOptions' : {'class' : 'col-lg-3 help-block', 'style' : 'margin-bottom: 8px;'}
    }
    }) %}

    <div class="form-group clear field-video-link required">

        <label>{{ translate('Add  Author') }}</label>

        {{ selectFilter(staticMethod('app\\models\\user\\User','getUserList'), model.user_id, 'FrmComment[user_id]', false) | raw }}

    </div>

    <div class="form-group clear field-video-link required">

        <label>{{ translate('Choose topic') }}</label>

        {{ selectFilter(staticMethod('app\\modules\\forum\\models\\FrmTopic','getList'), model.topic_id, 'FrmComment[topic_id]', false) | raw }}

    </div>

    {{ Redactor_widget({
        'model' : model,
        'form' : form,
        'field' : 'content',
        'type' : constant('app\\components\\widgets\\imperavi\\Redactor::TYPE_BACKEND'),
    }) }}

    {% include  '@cab_views/layouts/_form_buttons.twig' %}

    {{ active_form_end() }}

{% endblock %}
