{{ use('yii/widgets/ActiveForm') }}

{% set form = active_form_begin({
'options' : {
'id' : 'admin-edit-bi',
'class' : 'form-horizontal group-border-dashed',
'enctype' : 'multipart/form-data',
},
'fieldConfig' : {
'template' : '{label}\n<div class="col-lg-6">{input}</div>\n{hint}\n{error}',
'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
'labelOptions' : {'class' : 'col-lg-3 control-label'},
'errorOptions' : {'class' : 'col-lg-3 help-block', 'style' : 'margin-bottom: 8px;'}
}
}) %}

{% if model.isNewRecord %}

    <div class="form-group no-padding col-lg-12 mb-10">
        {{ form.field(model, 'broker_id').dropDownList(staticMethod('app\\modules\\brokers\\models\\Broker', 'getEmptyBrokers'), {
            'prompt': translate('Select Broker...')
        }) | raw }}
    </div>

{% else %}

    <div class="form-group no-padding col-lg-12 mb-10">
        {{ form.field(model, 'broker_id').dropDownList(staticMethod('app\\modules\\brokers\\models\\Broker', 'getList'), {
            'prompt': translate('Select Broker...'),
            'disabled': 'disabled'
        }) | raw }}
    </div>

{% endif %}

<hr>
<div class="form-group no-padding col-lg-12 {% if (model.errors['improvement_id'][0]) %}has-error{% endif %}">

    <div class="form-group no-padding col-lg-12 mb-10">
        <label class="col-lg-3 control-label" for="brokerimprovement-improvement_id">Improvement</label>
        <div class="col-lg-6">
            {{ selectFilter(
            staticMethod('app\\modules\\brokers\\models\\Improvement', 'getList'),
            model.getImprovementsByBroker(model.broker_id),
            'BrokerImprovement[improvement_id]',
            true
            ) | raw }}
        </div>
        <div class="col-lg-3 help-block" style="float:right;">{{ model.errors['improvement_id'][0] }}</div>
    </div>

</div>

{{ html.submitButton(model.isNewRecord ? translate('Create') : translate('Save') , {'class' : model.isNewRecord ? 'btn btn-success' : 'btn btn-primary'} ) | raw }}
{{ html.a(translate('Cancel'), app.request.referrer, {'class' : 'btn btn-default'}) | raw }}

{{ active_form_end() }}