{% extends 'index.twig' %}
{% block title %}Общение{% endblock %}
{% block breadCrumbs %}
    {% import 'macro/brCr.twig' as breads %}
    {{ breads.input({'Запрос фич':''}) }}
{% endblock %}
{% block headerMenu %}
    {% import 'macro/mainMenu.twig' as nav %}
    {{ nav.menu(5,2) }}
{% endblock %}
{% block headerComponents %}
    <div class="heading-elements">
        <div class="btn-group">
            <a href="#" class="btn btn-success"><i class="fa fa-plus mr-5"></i> Предложить идею</a></li>
            <button type="button" class="btn bg-teal-600 dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li class="text-danger">
                    <a class="text-danger" href="#">
                        <i class="fa fa-exclamation-triangle"></i> Сообщить об ошибке
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block classBody %}pace-done pb-20 sidebar-opposite-visible{% endblock %}
{% block content %}


    <div class="row">

        <div class="col-lg-6">
            {% import 'macro/panels.twig' as panel %}
            <!-- class, head, body, footer, footer_class, head_class, border -->

            {{ panel.input(
            'panel-default',
            '<h3 class="no-margin text-semibold panel-title"><a title="Drawing Toolbar (additional buttons) - show/hide/remove all drawings" href="/views/features/features-single">Drawing Toolbar (additional buttons) - show/hide/remove all drawings</a></h3>
        <div class="mt-5 text-muted">
           s1quash | Апрель 21, 2015
        </div>',
            'This feature would allow user to set multiple profit levels for trade size which exceeds minimum order size allowed by broker.',
            '<div class="pb-10 pt-10  no-padding-left col-lg-7">
          <span style="font-size: 22px" class="text-semibold">15</span> голосов
        </div>


        <div class="pb-10 pt-10 no-padding-right text-right col-lg-5">
            <span class="label border-success text-success pl-10 pr-10 pt-5 pb-5">
              <i class="fa fa-check-square-o mr-5"></i> Реализован
            </span>
        </div>'
            ) }}

            {{ panel.input(
            'panel-default',
            '<h3 class="no-margin text-semibold panel-title">
          <a title="Drawing Toolbar (additional buttons) - show/hide/remove all drawings" href="#">
            Line - additional info
          </a>
        </h3>
        <div class="mt-5 text-muted">
           s1quash | Апрель 21, 2015
        </div>',
            'Market Correlation Tables for each (even custom) timeframe similar to: http://www.myfxbook.com/en/forex-market/correlati but calculated realtime on protrader using broker specific data...',
            '<div class="pb-10 pt-10 no-padding-left col-lg-7">
          <span style="font-size: 22px" class="text-semibold">202</span> голоса
        </div>

        <div class="pb-10 pt-10 no-padding-right text-right col-lg-5">
          <a type="button" class="btn btn-xs btn-primary"><i class="fa mr-5 fa-thumbs-o-up"></i> Нравится</a>
        </div>'
            ) }}

            {{ panel.input(
            'panel-default',
            '<h3 class="no-margin text-semibold panel-title"><a title="Drawing Toolbar (additional buttons) - show/hide/remove all drawings" href="/views/features/features-single">Drawing Toolbar (additional buttons) - show/hide/remove all drawings</a></h3>
        <div class="mt-5 text-muted">
           s1quash | Апрель 21, 2015
        </div>',
            'This feature would allow user to set multiple profit levels for trade size which exceeds minimum order size allowed by broker.',
            '<div class="pb-10 pt-10  no-padding-left col-lg-7">
          <span style="font-size: 22px" class="text-semibold">15</span> голосов
        </div>

        <div class="pb-10 pt-10 no-padding-right text-right col-lg-5">
          <span class="label border-warning text-warning pl-10 pr-10 pt-5 pb-5">
            <i class="fa fa-gears mr-5"></i> в разработке
          </span>
        </div>'
            ) }}
        </div>

        <div class="col-lg-6">

            {{ panel.input(
            'panel-default',
            '<h3 class="no-margin text-semibold panel-title">
          <a title="Drawing Toolbar (additional buttons) - show/hide/remove all drawings" href="#">
            Line - additional info
          </a>
        </h3>
        <div class="mt-5 text-muted">
           s1quash | Апрель 21, 2015
        </div>',
            'Market Correlation Tables for each (even custom) timeframe similar to: http://www.myfxbook.com/en/forex-market/correlati but calculated realtime on protrader using broker specific data...',
            '<div class="pb-10 pt-10 no-padding-left col-lg-7">
          <span style="font-size: 22px" class="text-semibold">202</span> голоса
        </div>

        <div class="pb-10 pt-10 no-padding-right text-right col-lg-5">
          <a type="button" class="btn btn-xs btn-primary"><i class="fa mr-5 fa-thumbs-o-up"></i> Нравится</a>
        </div>'
            ) }}

            {{ panel.input(
            'panel-default',
            '<h3 class="no-margin text-semibold panel-title"><a title="Drawing Toolbar (additional buttons) - show/hide/remove all drawings" href="/views/features/features-single.twig">Drawing Toolbar (additional buttons) - show/hide/remove all drawings</a></h3>
        <div class="mt-5 text-muted">
           s1quash | Апрель 21, 2015
        </div>',
            'This feature would allow user to set multiple profit levels for trade size which exceeds minimum order size allowed by broker.',
            '<div class="pb-10 pt-10  no-padding-left col-lg-7">
          <span style="font-size: 22px" class="text-semibold">15</span> голосов
        </div>

        <div class="pb-10 pt-10 no-padding-right text-right col-lg-5">
          <a type="button" class="btn btn-xs btn-primary"><i class="fa mr-5 fa-thumbs-o-up"></i> Нравится</a>
        </div>'
            ) }}

        </div>

    </div>
    <div class="row">
        <ul class="pager">
            <li><a href="#">← {{ translate('Previous') }}</a></li>
            <li><a href="#">{{ translate('Next') }} →</a></li>
        </ul>
    </div>


{% endblock %}

{% block right_sidebar %}

    <!-- Secondary sidebar -->
    <div class="sidebar sidebar-main sidebar-opposite sidebar-default sidebar-separate">
        <div class="sidebar-fixed">
            <div class="sidebar-content">

                {% include 'components/sidebars/features-sidebar.twig' %}

            </div>
        </div>

    </div>
    <!-- /secondary sidebar -->

{% endblock %}
