{% extends 'index.twig' %}
{% block title %}Общение{% endblock %}
{% block breadCrumbs %}
    {% import 'macro/brCr.twig' as breads %}
    {{ breads.input({'Запрос фич':'/views/features/features','Desktop':'/views/features/features#desktop','Trade simulator':''}) }}
{% endblock %}
{% block headerMenu %}
    {% import 'macro/mainMenu.twig' as nav %}
    {{ nav.menu(5,2) }}
{% endblock %}
{% block classBody %}pace-done pb-20 sidebar-opposite-visible{% endblock %}
{% block content %}

    <div class="col-lg-12">
        <div class="row">


            {% import 'macro/panels.twig' as panel %}
            <!-- class, head, body, footer, footer_class, head_class, border -->

            {{ panel.input(
            'panel-default',
            '<h1 class="no-margin text-semibold panel-title">Trade simulator</h1>',
            '<p>
        Manual trade simulator based on specific broker historical data.
      </p>
      <p>
        This feature would be similar to NinjaTrader(TradeSimulator), MetaTrader addions( ex.TradingSimulator 2, Visual Trader) or external software ForexTester.
      </p>
      <p>
        Main advantages of proposed feature over software mentioned above would include opportunity to train on the same platform ,chart settings and using the same data as in normal trading conditions.
      </p>',
            '<div class="pb-10 pt-10 text-muted no-padding-left col-lg-12">
        <div class="text-muted text-size-mini">
          <i class="fa fa-tags"></i>
          <a href="#">Manual trade</a>, <a href="#">simulator</a>, <a href="#">based</a>, <a href="#">on</a>, <a href="#">specific</a>,
          <a href="#">broker</a>, <a href="#">historical</a>, <a href="#">data</a>.
        </div>
      </div>'
            ) }}
        </div>

        <!-- Comments -->
        <div class="row">

            <!-- Нет комментариев -->

            <!-- <div class="panel panel-default">

              <div class="panel-heading">

                  <h4 class="panel-title text-semibold"><i class="icon-bubbles4 position-left"></i> Комментарии	(0)</h4>

              </div>

              <div class="panel-body">
                <p>Пока нет комментариев. Будьте первыми. <br>
                  Только авторизованные пользователи могут комментировать.</p>
                  <br>
                  <a href="#" class="btn bg-primary">Вход</a>
              </div>

            </div> -->

            <!-- /нет комментариев -->

            <!-- Есть комментарии -->
            {{ panel.input(
            'panel-default',
            '<h5 class="panel-title text-semiold"><i class="icon-bubbles4 position-left"></i> Комментарии (7)</h5>',
            include('components/comments.twig')
            ) }}
            <!-- /есть комментарии -->


        </div>
        <!-- /comments -->

    </div>

{% endblock %}

{% block right_sidebar %}

    <!-- Secondary sidebar -->
    <div class="sidebar sidebar-main sidebar-opposite sidebar-default sidebar-separate">
        <div class="sidebar-fixed">
            <div class="sidebar-content">

                <!-- Sidebar filter -->

                <div class="sidebar-category text-center">

                    <div class="category-title no-padding-right no-padding-left">
                        <span>Количество голосов</span>
                    </div>

                    <div class="category-content">

                        <span class="text-black" style="font-size:75px">27</span>
                        <hr>
                        <a style="display: block;" id="sweet_success" class="btn btn-primary"><i
                                    class="fa mr-5 fa-thumbs-o-up"></i> Нравится</a>
                        <!-- <span style="display: block;" class="bg-primary pt-5 pb-5">в обработке</span> -->
                    </div>

                </div>
                <div class="sidebar-category">

                    <div class="category-content">
                        <div class="media mb-10">
                            <a href="#" class="media-left"><img src="/assets/images/placeholder.jpg"
                                                                class="img-circle img-sm" alt=""></a>

                            <div class="media-body">
                                <a class="text-semibold text-size-large">s1quash</a><br>
                                <span class="text-size-mini">21 Апр 2015</span>
                            </div>
                        </div>
                        <div class="media">
                            <i class="fa fa-eye position-left"></i>125<br>
                            <a href="#comments"><i class="fa fa-comments-o position-left"></i>7</a>
                        </div>

                        <div class="media">
                            <span class="media-heading text-semibold">Поделиться в соц сетях:</span>
                            <a class="facebook  social" title="Facebook" href="#"><i
                                        class="fa fa-facebook-official"></i></a>
                            <a class="twitter  social" title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="google  social" title="Google+" href="#"><i class="fa fa-google-plus"></i></a>
                        </div>

                    </div>
                </div>
                <!-- /sidebar filter -->

            </div>
        </div>

    </div>
    <!-- /secondary sidebar -->

{% endblock %}
{% block custom_scripts %}

    <script type="text/javascript" src="/assets/js/custom/ceditor.js"></script>

{% endblock %}
