{% extends '@views/layouts/main.twig' %}

{% block content %}
    {{ use('app/components/percentBar') }}

    <div class="panel panel-default new-brokers-list fuatures-list">
        <div class="panel-heading">
            <h1 class="panel-title">{{ translate('Functionality list') }}

            </h1>
        </div>
        <div class="panel-body">
            <div class="">
                <table class="table">
                    <thead>
                    <tr class="">
                        <th class="col-xs-3">{{ translate('Feature name') }}</th>
                        <th class="descrFT"></th>
                        <th class="col-xs-3">
                            <span class="withTitle">
                                {{ translate('Popularity') }}
                                <span class="ask">
                                    <span class="title">Based on PTMC users votes</span>
                                </span>
                            </span>
                        </th>

                        {% for broker in brokers %}
                            <th class="text-center">{{ broker.name }}</th>
                        {% endfor %}

                    </tr>
                    </thead>
                    <tbody>
            {% for category in categories %}
            {% if (category.improvement | length > 0) and (category.improvement['0'].deleted == 0) %}
                    <tr class="featCatName text-center">
                        <td colspan="{{ count(brokers) + 2 }}">

                            {{ category.title }} <span class="featCatNum">({{ category.improvement | length }})</span>
                        </td>
                    </tr>

                    {% for improvement in category.improvement %}

                        <tr class="collapse in panel-collapsed">
                            <!--<td>{{ loop.index }}</td>-->
                            <td class="name"><a href="{{ improvement.getViewUrl() }}">{{ improvement.title }}</a></td><td class="descrFT">
                                {{  str.truncate(improvement.content, 320, '...', null, true) | raw }}
                            </td>
                            <td class="text-center dnoneFT">
                                <div class="progress progress-xxs">

                                    {{ percent_bar_widget_widget({
                                        'model' : improvement,
                                        'amount' : improvement.counts.getPercent(improvement, 300),
                                        'template' : 'one',
                                    }) }}
                                    {#<div class="progress-bar progress-bar-success" style="width: {{ improvement.counts.getPercent(improvement.counts) }};" title="{{ improvement.counts.getPercent(improvement.counts) }}"></div>#}
                                </div>
                            </td>

                            {% for broker in brokers %}
                                {% if staticMethod('app\\modules\\brokers\\models\\BrokerImprovement', 'isAttach', {broker_id : broker.id, improvement_id : improvement.id}) %}
                                    <td class="text-center dnoneFT"><i class="icon-checkmark text-success"></i></td>
                                {% else %}
                                    {#<td class="text-center"><i class="icon-checkmark text-warning"></i></td>#}
                                    <td class="text-center dnoneFT"><i class="icon-minus-circle2 text-muted"></i></td>
                                {% endif %}
                            {% endfor %}

                        </tr>


                    {% endfor %}
                {% endif %}
            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>



    {#<div>#}
    {#<a href="#"><img src="{{ getImage('feature_banner',380,150) }}" alt="a"></a>#}
    {#</div>#}



    <script>
        //        $(".icon-arrow-down12").click(function() {
        //            if($("#collapseme").hasClass("out")) {
        //                $("#collapseme").addClass("in");
        //                $("#collapseme").removeClass("out");
        //            } else {
        //                $("#collapseme").addClass("out");
        //                $("#collapseme").removeClass("in");
        //            }
        //        });
    </script>
    {% include '@app/modules/brokers/views/default/_include/_request_broker.twig' %}
{% endblock %}