{% extends '@views/layouts/main.twig' %}

{% block content %}

    {{ use('app/components/customComments') }}
    {{ use('app/components/percentBar') }}

    {% include '@views/layouts/components/scripts/_share.twig' %}

    <div class="panel panel-article new-art-view feWea">
        <div class="panel-body art">
            <div class="featCat">
                <div class="artInfo">
                     <div class="progress">

                        {{ percent_bar_widget_widget({
                            'model' : model,
                            'amount' : model.counts.getPercent(),
                            'template' : 'two',
                        }) }}

                    </div>
                    <div
                            data-id="{{ model.id }}"
                            data-class-name="{{ model.getTypeEntity() }}"
                            type="button"
                            id="like-btn"
                            data-safe="true"
                            class="btn-vote {{ canLike(model)}}">
                        <!-- <i class="fa mr-5 fa-thumbs-o-up"></i> --> {{ translate('Like it') }}
                    </div>
                </div>
                <div class="artBody">
                    <h1 class="">{{ model.title | raw }}</h1>
                    <p>
                        {{ model.content | raw }}
                    </p>

                </div>
            </div>
            <div class="featCat">
                <div class="artInfo">
                    <div class="h2">Brokers allowing</div>
                </div>
                <div class="artBody">
                    <div class="block">
                        {% for broker in model.brokerImprovement %}
                            <a href="{{ broker.getViewUrl() }}" class="br-list">
                                <img src="{{ broker.getImageUrl() }}" alt="{{ broker.name }}" title="{{ broker.name }}" onerror="this.onerror=null; this.src='https://api.fnkr.net/testimg/180x60/ffbe00/444/?text={{ broker.name }}'">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if count(model.slides) > 0 %}
                <div class="featCat">
                    <div class="artInfo">
                        <div class="h2">Gallery</div>
                        <ol class="carousel-indicators mb--10">

                            {% for slide in slides %}

                                <li data-target="#myCarousel" data-slide-to="{{ loop.index }}"
                                    class="{% if loop.first %} active {% endif %}"></li>

                            {% endfor %}

                        </ol>
                    </div>
                    <div class="artBody">
                        {% if count(model.slides) > 1 %}

                            {% include '@app/modules/brokers/views/features/slider/_slider.twig' with {'slides' : model.slides ,'UploadPath':     'featureUploadPath'} %}

                        {% elseif model.getLastSlide().id is defined %}
                            <div class="">
                                <a href="{{ model.getLastSlide().getPictureLink(model.getLastSlide().id, 'featureUploadPath') }}"
                                   data-popup="lightbox">
                                    <img src="{{ model.getLastSlide().getPictureLink(model.getLastSlide().id, 'featureUploadPath') }}"
                                         alt="">
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


  <div class="tabbable mt-20">

        <div class="tab-content">

            <div class="active" id="solid-tab2">

                {{ custom_comments_widget({
                    'model' : model,
                    'options' : {},
                }) }}

                {#<div class="text-center">#}
                {#<button type="button" class="btn btn-default mr-20">Ask a question</button>#}
                {#<button type="button" class="btn btn-default">Write a review</button>#}
                {#</div>#}
            </div>
        </div>
    </div>

    {% if not app.user.isGuest %}
        {% include '@views/layouts/components/scripts/_like.twig' %}
    {% else %}
        {{ this.registerJs("
            $('.like-btn').on('click', function(){
                $('#modal_form_inline').modal();
            });
        ", constant('\\yii\\web\\View::POS_READY')) }}
    {% endif %}
{% endblock %}

{% block right_sidebar %}
<div class="sidebar sidebar-main sidebar-opposite sidebar-valera sidebar-default sidebar-separate">
    <div class="sidebar-content">
        <div class="sidebar-category ">
            {{ use('app/components/widgets/random/EntityList') }}
            {{ EntityList_widget({
                'className':'\\app\\modules\\brokers\\models\\Improvement',
                'title':translate('Features '),
                'entity':model
            }) }}
        </div>
    </div>
</div>
{% endblock %}