{{ use('app/components/widgets/imperavi/Redactor') }}

{{ Redactor_widget({
    'model' : model,
    'form' : form,
    'imageUpload' :  '/cabinet/image-upload',
    'field' : attribute ~ '[' ~ language.id ~ ']',
    'type' : constant('app\\components\\widgets\\imperavi\\Redactor::TYPE_BACKEND'),
}) }}