<label>
    {{ attribute_label }}
</label>

<ul class="nav nav-tabs">
    {% for language in languages %}
    <li class="{% if loop.index == 1 %}active{% else %}{% endif %}">
        <a data-toggle="tab" href="#{{ attribute }}{{ language.alias  }}{{ input_id }}">
            {{ language.alias }}</a>
    </li>
    {% endfor %}
</ul>

<div class="tab-content">

    {% for language in languages %}
        <div id="{{ attribute }}{{ language.alias }}{{ input_id }}"
             class="tab-pane {% if loop.index == 1 %}fade in active"{% else %}{% endif %}">
        {% include '@app/components/langInput/views/' ~ type ~ '.twig' %}
        </div>
    {% endfor %}

</div>
