{% extends '@views/layouts/main.twig' %}
{% block body %}

    {% block content %}
        <div id="modal_form_inline">
            <div class="modal-dialog login">
                <div class="modal-content">
                    <div class="tabbable">
                        <div class="modal-header">
                            <ul class="nav nav-tabs nav-tabs-solid nav-justified">
                                <li class="active">
                                    <a href="#login-form-tab-service" data-toggle="tab" aria-expanded="false" id="login-tab-item">
                                        {{ translate('Log in') }}
                                    </a>
                                </li>
                                <li>
                                    <a href="#registration-form-tab-service" data-toggle="tab"
                                       aria-expanded="false" id="registration-tab-item">
                                        {{ translate('Registration') }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            {{ use('nodge/eauth/Widget') }}
                            <div class="tab-pane active" id="login-form-tab-service">
                                <div class="modal-body">
                                    <form action="/service/login" class="form-horizontal" method="post">
                                        <input type="hidden" id="login-website">
                                        <input type="text" placeholder="Email / Username" class="form-control" name="LoginForm[username]" required>
                                        <input type="password" placeholder="{{ translate('Password') }}" class="form-control" name="LoginForm[password]" required>

                                        <a href="{{ selector ? selector : '#recovery-form-tab' }}" class="recovery" data-toggle="tab" aria-expanded="false"> {{ translate('Restore password') }}</a>
                                        <button onclick="ga('send', 'event', 'button', 'click', 'login_en');" type="submit" id="enter" class="btn btn-ptmc">{{translate('Log in')}}</button>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="registration-form-tab-service">
                                <div class="modal-body">
                                    <form action="#" class="form-horizontal">
                                        <input type="hidden" id="registration-website">
                                        <input type="email" placeholder="Email" class="form-control" name="SignUp[email]"
                                               required>
                                        <input id="gmt_input" style="display: none"  type="text" class="form-control" name="SignUp[gmt]">
                                        <button onclick="ga('send', 'event', 'button', 'click', 'registration_en');" type="submit" id="reg" class="btn btn-ptmc">
                                            {{translate('Registration')}}
                                        </button>
                                    </form>
                                </div>
                            </div>
                            {{ Widget_widget({"action" : "/login"}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
{% endblock %}