<div class="panel panel-default panel-valera forumCat cat">
    <div class="panel-heading">
        {% include '@app/modules/forum/views/components/_head_category.twig'with {
        'title': '<span style="display: block;" class="panel-title text-center">' ~ translate('Categories') ~ '</span>',
        'roll': 1 } %}
    </div>

    <div class="panel-body">
        <ul class="media-list">
            {% for child in model.getChildren() %}
                {% if child is not empty %}
                    {% include '@app/modules/forum/views/components/_single_category.twig' with {'child':child} %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>