<div class="media-left">

    <a href="{{ topic.getViewUrl() }}" class="forumStatus">

      <span class="default icon">
        <img src="/images/forum/status/to-default.svg" onerror="this.onerror=null; this.src='/images/forum/status/to-default.png'" alt="default"/>
        {#<span>9000</span>#}
      </span>

      <!-- <span class="new icon">
        <img src="/images/forum/status/to-new.svg" onerror="this.onerror=null; this.src='/images/forum/status/to-new.png'" alt="new"/>
      </span>

      <span class="hot icon">
        <img src="/images/forum/status/to-hot.svg" onerror="this.onerror=null; this.src='/images/forum/status/to-hot.png'" alt="hot"/>
      </span>

      <span class="closed icon">
        <img src="/images/forum/status/to-closed.svg" onerror="this.onerror=null; this.src='/images/forum/status/to-closed.png'" alt="closed"/>
      </span>

      <span class="hot-new icon">
        <img src="/images/forum/status/to-hot-new.svg" onerror="this.onerror=null; this.src='/images/forum/status/to-hot-new.png'" alt="hot-new"/>
      </span> -->









        <!-- <i class="fa fa-comments"
           style="{% if topic.count_comments >= 10 %}color:salmon {% endif %}"></i> -->
    </a>

</div>
