<li class="media message">

    {% include '@app/modules/forum/views/category/_icon_topic.twig' with {} %}

    <div class="media-body">
        <div class="col-lg-6 col-xs-7 no-padding">
            <span class="no-margin h4">
                <a href="{{ topic.getViewUrl() }}">
                    {{ topic.title }}
                </a>
            </span>
            <span class="display-block text-muted">
                <small class="text-muted">
                    {{ translate('Started by') }}
                    {{ topic.user.getLinkUsername(topic.user_id) | raw }}
                    {{ topic.created_at | date('d.m.Y') }}
                </small>
            </span>
        </div>

        <div class="col-lg-2 col-xs-2 forumStats">
            <span class="label label-striped"
                  title="{{ topic.counts.count_view | default(0) }} {{ translate('views') }}">
                  <span class="viewsCode views">
                    {{ topic.counts.count_view | default(0) }}
                  </span>


            </span>
            {% if topic.count_comments > 0 %}
                <span class="label label-striped" title="{{ topic.count_comments }} {{ translate('replies') }}">

                    <span class="viewsCode back">
                        {{ topic.count_comments }}
                    </span>

            </span>
            {% endif %}
        </div>

        <div class="col-lg-4 col-xs-3 forumQlinks">
            {% set fresh_comment = topic.getFreshComment() %}
            {% if fresh_comment | default('') %}
                <span class="text-muted text-left">
                    <a class="" href="{{ topic.getViewUrl() }}">
                        {{ getPreviewText( stripTag( fresh_comment.content ), 70) }}
                    </a>
                    <div class="forTpcLastCom">
                        {{ dateUTCFormat(fresh_comment.created_at) }}

                        {% if fresh_comment.user.getLinkUsername() %}
                            {{ translate('by') }}
                            {{ fresh_comment.user.getLinkUsername()  | raw }}
                        {% endif %}

                        {% if isPtmcTeam(fresh_comment.user_id) %}
                            <span class="ptmc_team" title="PTMC team"></span>
                        {% endif %}
                    </div>
                </span>

            {% else %}
                <span class="text-muted">
                    {{ translate('No replies yet')}}
                </span>
            {% endif %}
        </div>
    </div>
</li>




