<div class="panel panel-default panel-valera forumCat cat forumThemes">
    <div class="panel-heading">
    {% include '@app/modules/forum/views/components/_head_category.twig' with {
    'title': '<span style="display: block;" class="panel-title text-center">' ~ translate('Topics') ~ '</span>',
    'roll': 1} %}
    </div>

    <div class="panel-body">
        <ul class="media-list">

            {% for topic in model.getFreshTopics() %}

                {% if topic is not empty %}
                    {#{{ dump(topic) }}#}
                    {% include '@app/modules/forum/views/category/_single_topic.twig' with {'topic' : topic } %}
                {% endif %}

            {% endfor %}

        </ul>
    </div>
</div>