{% extends '@views/layouts/main.twig' %}

{% block content %}
    <!-- (class, head, body, footer, footer_class, head_class, border, collapsed) -->
    <div class="panel panel-valera panel-default forumCat">
        <div class="panel-heading">
            {% include '@app/modules/forum/views/components/_head_category.twig' with {'title':
            '<h1 class="panel-title">' ~ model.title ~ '</h1>',
            'description' : model.description,
            'button' : true,
            } %}
        </div>
    </div>

    {% if model.getChildren() is not empty %}
        {% include '@app/modules/forum/views/category/_category.twig' with {} %}
    {% endif %}

    {% if model.getFreshTopics() is not empty %}
        {% include '@app/modules/forum/views/category/_topic.twig' with {} %}
    {% else %}

        <div class="panel panel-valera panel-default forumCat cat forumThemes">
            <div class="panel-heading">
                {% include '@app/modules/forum/views/components/_head_category.twig' with {
                'title': '<span style="display: block;" class="panel-title text-center">' ~ translate('Topics') ~ '</span>',
                'roll': 1} %}
            </div>
            <div class="panel-body">
                <ul class="media-list">
                    <li class="media message noContent">
                        {{ translate('No topics for now. Be the first to ') }}
                        <a href="#" class="ptmcLink" data-toggle="modal"
                           data-target="{% if app.user.identity.id %}#forum-topic{% else %}#modal_form_inline{% endif %}">
                            {{ translate('create new topic') }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    {% endif %}

{% endblock %}
