<ul class="menu" id="notify">
    {% for item in messages %}
        {% if item.count > 1 %}
            <li class="double">
                <span class="dot"></span>
                <span class="title">
                   <span class="">{{ item.template.getTitle(item.getNotify(), item.count) | raw }}</span>
                </span>
                <span class="name">
                  <a href="{{ item.getViewUrl() }}">
                      {{ item.template.getBody(item.getNotify(), item.count) | raw }}
                  </a>
                </span>
                <span class="text-muted data">
                    {{ item.getNotify().getDateTime()}}
                </span>
            </li>

        {% else %}
            <li>
                <a class="img" href="#">
                    {{ item.sender.getAvatar() | raw}}
                </a>
                <span class="title">
                   <a class="user" href="{{ item.sender.getViewUrl()}}">{{ item.sender.getFullName() | raw}}</a> <span
                            class="">{{ item.template.getTitle(item.getNotify()) }}</span>
                </span>
                <span class="name">
                  <a href="{{ item.getViewUrl() }}">
                      {{ item.template.getBody(item.getNotify()) | raw }}
                  </a>
                </span>
                <span class="text-muted data">
                    {{ item.getNotify().getDateTime()}}
                </span>
            </li>
        {% endif %}
    {% endfor %}
</ul>