<li class="notifications">
    <a class="bellButton">
        {% if(count > 0) %}
            <i class="fa fa-bell active"></i><span id="notify-counter">{{ count }}</span>
        {% else %}
            <i class="fa fa-bell"></i><span id="notify-counter"></span>
        {% endif %}
    </a>
    <ul class="notificationBody">
        <li class="header">
            Your Notifications 
            <div class="pull-right">
                <a class="mr-5" href="{{ '/notify/read' }}" {% if(count <= 0) %}style="display: none" {% endif %} data-confirm="Are you sure?" id="mark-all-read">
                    Mark all as read
                </a>
                <a href="/edit-profile#notific">
                    <!-- <i class="fa fa-cog"></i> -->
                    <img class="cog" src="/images/x.svg" onerror="this.onerror=null; this.src='/images/x.png'" alt="">
                </a>
            </div>
        </li>
        <li class="body">
            {% if count > 0 %}
                {% include '@app/modules/notify/widgets/views/_bell_item.twig' %}
            {% else %}
                <div class="noNot">No updates...</div>
            {% endif %}
        </li>
        {#<li class="footer">#}
            {#<a href="{{ app.user.identity.getViewUrl() }}#not">See All Messages</a>#}
        {#</li>#}
    </ul>
</li>
