{% if(count(items) > 0) %}
<div id="not" class="col-lg-12">
    <div class="panel">
        <div class="panel-header">
            <div class="h1">Timeline</div>
        </div>
        <div class="panel-body">
            <div class="checkboxes">

            </div>
            <ul class="notific">
                {% for notify in items %}
                <li>
                    <a class="img" href="{{ notify.sender.getViewUrl() }}">
                        {{ notify.sender.getAvatar() | raw }}
                    </a>
                    <div class="cat-dat">
                       {{ notify.getNotify().getDateTime() }} | <span class="">{{ notify.event.label | raw }}</span>
                    </div>
                    <div class="title">
                        {% set template =  notify.getTemplate('FULL') %}

                        <a href="{{ notify.getViewUrl() }}">{{ template.getTitle(notify.getNotify()) | raw}}</a>
                    </div>
                    <div class="text">
                        {{ template.getBody(notify.getNotify()) | raw }}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}