<div class="notSettings">
    <table>
        <thead>
            <tr>
                <th>
                    Send me notifications about
                </th>
                <th>
                    {{ translate('On Site') }}
                </th>
                <th>
                    {{ translate('On Email') }}
                </th>
            </tr>
        </thead>
        {% for item in settings %}
            {% if item.event.optional == 1 or app.user.identity.isAdmin() %}
                <tr>
                    <td>{{ item.event.label }}:</td>
                    <td>                        
                        <input type="checkbox" id="check_alert_{{ item.id }}" onclick="" {{ (item.push_alert == 1) ? 'checked' : '' }} onchange="changeSetting('{{ item.id }}', 'push_alert')">
                        <label class="checkbx" for="check_alert_{{ item.id }}"></label>
                    </td>
                    <td>
                        <input type="checkbox" id="check_email_{{ item.id }}" onclick="" {{ (item.push_email == 1) ? 'checked' : '' }} onchange="changeSetting('{{ item.id }}', 'push_email')">
                        <label class="checkbx" for="check_email_{{ item.id }}"></label>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>

{{ this.registerJs("
    function changeSetting(event_id, type){
        $.ajax({
            url:'/notify/setting',
            data:{
                event_id:event_id,
                type:type
            },
        });
    }
", constant('\\yii\\web\\View::POS_END')) }}