<div class="col-lg-4">

    <div class="panel border-ptmc">
        <div class="panel-heading bg-ptmc">
            <span class="panel-title h4 text-regular">Обновления</span>
        </div>

        <div class="panel-body">
            <ul>
                {% for model in updates %}
                    <li class="know-base-list"><a href="/kb/en/knowledge-base/{{ model.tree.getFullAlias() }}">{{ model.tree.getTranslateMessage()}}</a></li>
                {% endfor %}
            </ul>
        </div>

    </div>

</div>