<div class="row">
  <div class="col-xs-6">

    <button class="btn btn-block btn-float btn-float-lg bg-blue" type="button">
      <i class="fa fa-desktop"></i> <span>Desktop</span>
    </button>

    <button class="btn btn-block btn-float btn-float-lg" type="button">
      <i class="fa fa-android"></i> <span>AlgoStudio</span>
    </button>

  </div>

  <div class="col-xs-6">

    <button class="btn btn-block btn-float btn-float-lg" type="button">
      <i class="fa fa-tablet"></i><span>Web</span>
    </button>

    <button class="btn btn-block btn-float btn-float-lg" type="button">
      <i class="fa fa-mobile-phone"></i> <span>Mobile</span>
    </button>

  </div>
</div>
