<!-- Search -->
<form action="#">
  <div class="has-feedback has-feedback-left">
    <input type="search" class="form-control" placeholder="Поиск по дереву">
    <div class="form-control-feedback">
      <i class="icon-search4 text-size-base text-muted"></i>
    </div>
  </div>
</form>
<!-- /search -->
<!-- Default select -->
<div class="tree-d">
  <ul>
      {{ kb_side_menu | raw }}
  </ul>
</div>
<!-- /default select -->
