{% import 'macro/sBarCat.twig' as sCategory %}
<!-- (id, class, head, collapsed, body) -->
<!-- Sidebar search -->
<div class="form-group">

  <div class="input-group">

    <select class="bootstrap-select" data-width="100%">
      <option value="AK">{{ translate('By popularity') }}</option>
      <option value="HI">{{ translate('By date') }}</option>
    </select>

    <div class="input-group-btn">
      <button type="button" class="btn btn-default btn-icon"><i class="fa fa-sort-amount-desc"></i></button>
    </div>

  </div>

</div>
<!-- /sidebar search -->
{{ sCategory.input(
  '',
  '',
  'Категории',
  False,
  include('/views/articles/articles-components/list-sidebar.twig')
) }}
