 {% import 'macro/sBarCat.twig' as cat %}
 <!-- (id, class, head, collapsed, body) -->
 {{cat.input(
  false,
  false,
  false,
  false,
  '<div class="media">
    <div class="media-body">
      Автор: <a href="#" class="text-semibold">Василий Пупкин</a>
      <div class="text-size-mini">

        <div class="col-sm-6 no-padding">
          <i class="fa fa-eye position-left"></i> 1599
        </div>

        <div class="col-sm-6 no-padding">
          <i class="fa fa-comments-o position-left"></i> 8
        </div>

      </div>
    </div>
  </div>'
 )}}


<!-- Sidebar same -->
{{cat.input(
 false,
 false,
 'Большей статей',
 true,
 include('views/articles/articles-components/same-art.twig')
)}}

<!-- /sidebar same -->
