{% import 'macro/sBarCat.twig' as sCategory %}
<!-- (id, class, head, collapsed, body) -->

<div class="form-group">

  <div class="input-group">

    <select class="bootstrap-select" data-width="100%">
      <option value="AK">{{ translate('By popularity') }}</option>
      <option value="HI">{{ translate('By date') }}</option>
    </select>

    <div class="input-group-btn">
      <button type="button" class="btn btn-default btn-icon"><i class="fa fa-sort-amount-desc"></i></button>
    </div>

  </div>

</div>

{{ sCategory.input(
  '',
  '',
  'Платформа',
  False,
  '<div class="form-group">

    <div class="checkbox checkbox-right">
      <label>
        <input type="checkbox" class="styled">
        Desktop
      </label>
    </div>

    <div class="checkbox checkbox-right">
      <label>
        <input type="checkbox" class="styled">
        Mobile
      </label>
    </div>

    <div class="checkbox checkbox-right">
      <label>
        <input type="checkbox" class="styled">
        Web
      </label>
    </div>

    <div class="checkbox checkbox-right">
      <label>
        <input type="checkbox" class="styled">
        AlgoStudio
      </label>
    </div>

  </div>'
) }}

{{ sCategory.input(
  '',
  '',
  'Статус',
  False,
  '<div class="form-group">

    <div class="checkbox checkbox-right">
      <label>
        <input type="checkbox" class="styled">
        Активные
      </label>
    </div>

    <div class="checkbox checkbox-right">
      <label>
        <input type="checkbox" class="styled">
        В разработке
      </label>
    </div>

    <div class="checkbox checkbox-right">
      <label>
        <input type="checkbox" class="styled">
        Реализованные
      </label>
    </div>

  </div>'
) }}
