{% import '@views/layouts/macro/sBarCat.twig' as sCategory %}
<!-- (id, class, head, collapsed, body) -->

<!-- Sidebar Desktop -->
{{ sCategory.input(
  'Desktop',
  'tree',
  'Desktop',
  true,
  include('@views/kb/trees/tree.twig', {'kb_side_menu' : kb_side_menu})
) }}
<!-- /sidebar Desktop -->
