{% block content %}

    {{ use('yii/widgets/ActiveForm') }}
    {{ use('vova07/imperavi/Widget') }}
    {{ use('app/components/customImage/CustomImageUpload') }}

    {% set form = active_form_begin({
    'options' : {
    'class' : 'form-horizontal group-border-dashed',
    'enctype' : 'multipart/form-data',
    },
    'fieldConfig' : {
    'template' : '<div class="form-group no-padding col-lg-12>"{label}\n{input}\n{hint}\n{error}</div>',
    'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
    'labelOptions' : {'class' : 'col-lg-3 control-label'},
    'errorOptions' : {'class' : 'col-lg-3 help-block', 'style' : 'margin-bottom: 8px;'}
    }
    }) %}

    {{ form.field(model, 'title').textInput({'maxlength' : 128}) | raw }}

    {{ form.field(model, 'category_id').dropDownList(staticMethod('app\\models\\video\\VdCategory','getList')) | raw }}

    <div class="form-group image-group">
        {{ CustomImageUpload_widget({
            'form' : form,
            'model' : model,
            'attribute' : 'pictures',
            'crop' : {
                'aspectRatio': 1
            },
            'options' : {'id' : 'pictures'},
        }) }}
    </div>

    <div class="form-group clear field-video-playlist required">
        <label>
            Add to Play List
        </label>

        {{ selectFilter( staticMethod('app\\models\\video\\Playlist','getList'), model.playlist, 'Video[playlist]', true) | raw }}

        <div class="col-lg-3 help-block" style="margin-bottom: 8px;"></div>
    </div>

    {{ form.field(model, 'alias').textInput({'maxlength' : 128}) | raw }}

    {{ form.field(model, 'link').textInput({'maxlength' : 128}) | raw }}

    {{ form.field(model, 'weight').textInput({'maxlength' : 128}) | raw }}

    {% include  '@cab_views/layouts/_form_buttons.twig' %}

    {{ active_form_end() }}

{% endblock %}
