<div class="col-lg-12 text-center">
    <h3>CROSS TRADE STATS</h3>
    <div class="rowFullscrBtn" onclick="$(this).parent().parent().toggleClass('rowFullscr');"></div>
</div>
<div class="col-lg-4">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Registered</h6>
        </div>

        <div class="panel-body">
            <div class="bgChart">
                <canvas id="dbCrossSubs" width="300" height="100"></canvas>
            </div>
            <div class="bigNumber">
                {% set allUsersRegistered = self.getCountUsersFullRegistered(models) %}
                {{ count(models) }} ({{ allUsersRegistered > 0 ? allUsersRegistered : 0 }})
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">{{ self.getCountFinish() }} reach</h6>
        </div>

        <div class="panel-body">
            <div class="bigNumber">
                {{ progress }}<span>%</span>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Newcomers</h6>
        </div>

        <div class="panel-body">
            <div class="bgChart">
                <canvas id="dbCrossNewcoms" width="300" height="100"></canvas>
            </div>
            <div class="bigNumber">
                {{ newcomersCount }}
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 text-center">
    <h3>TODAY ON SITE</h3>
</div>
<div class="col-lg-6">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Users</h6>
        </div>
        <div class="panel-body">
            <div class="twoNums">
                <div>
                    <span class="tnTitle">Total</span>
                    <span>{{ self.getCountUsers() }}</span>
                </div>
                <div>
                    <span class="tnTitle">Today</span>
                    {% set users = self.getCountTodayUsers() %}
                    <span>{{ users > 0 ? '+'~users : 0 }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Forum activity</h6>
        </div>
        <div class="panel-body">
            <div class="twoNums">
                <div>
                    <span class="tnTitle">Topics</span>
                    {% set topics = self.getCountTopicsToday() %}
                    <span>{{ topics > 0 ? '+'~topics : 0 }}</span>
                </div>
                <div>
                    <span class="tnTitle">Replies</span>
                    {% set comments = self.getCountRepliesForumToday() %}
                    <span>{{ comments > 0 ? '+'~comments : 0 }}</span>
                </div>
            </div>
        </div>
    </div>
</div>



