{% extends '@cab_views/layouts/main.twig' %}
{% block content %}    
    <h1>Dashboard</h1>
    <div class="row dashboard no-margin">
        <div class="col-lg-12 no-padding">
            <div class="row">
                {% include '@app/modules/cabinet/views/default/_counters.twig' %}
            </div>
            
        </div>
    </div>
    
{{ this.registerJs("
    setInterval(function(){
        $('.dashboard .row').load('/cabinet', function(){
            chartsInit();
        });
    }, 10000);
") }}
{% endblock %}

{% block custom_scripts %}
    {% set dataChartsSubscribers = self.getDataChartForSubscribers() %}
    {% set dataChartsSubscribersNew = self.getDataChartForSubscribersNewComers() %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
    <script>
        chartsInit();
        function chartsInit(){
            var dbCrossSubs = document.getElementById("dbCrossSubs");
            var dbCrossNewcoms = document.getElementById("dbCrossNewcoms");
            var myChart = new Chart(dbCrossSubs, {
                type: 'bar',
                data: {
                    labels: {{ dataChartsSubscribers.dates | raw}},
                    datasets: [{
                        label: '',
                        data: {{ dataChartsSubscribers.counts | raw}},
                        backgroundColor: 'rgba(115, 84, 0, 0.5)',
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        enabled: false
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            display: false
                        }],
                        yAxes: [{
                            display: false,
                            ticks: {
                                beginAtZero:true
                            }
                        }],
                    },
                    animation: {
                        duration: 0,
                    }
                }
            });
            var myChart = new Chart(dbCrossNewcoms, {
                type: 'bar',
                data: {
                    labels: {{ dataChartsSubscribersNew.dates | raw }},
                    datasets: [{
                        label: '',
                        data: {{ dataChartsSubscribersNew.counts | raw }},
                        backgroundColor: 'rgba(115, 84, 0, 0.5)',
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        enabled: false
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            display: false
                        }],
                        yAxes: [{
                            display: false,
                            ticks: {
                                beginAtZero:true
                            }
                        }],
                    },
                    animation: {
                        duration: 0,
                    }
                }
            });
        }
    </script>

{% endblock %}
