{% extends '@views/layouts/base.twig' %}
{% block ceo %}
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://protrader.org/crosstrade"/>
    <meta property="og:title" content="PTMC Trading Championship – Cross Trade 2016"/>
    <meta property="og:description"
          content="CROSS TRADE Championship is a worldwide online trading competition between all traders who use PTMC trading platform. No risks and real cash prizes"/>
    <meta property="og:image" content="http://files.pfsoft.com/PTMC/CT_header.png"/>
    <title>PTMC Trading Championship – Cross Trade 2016</title>
    <meta name="description"
          content="CROSS TRADE Championship is a worldwide online trading competition between all traders who use PTMC trading platform. No risks and real cash prizes"/>
{% endblock %}
{% block body_class %}
    pace-done sidebar-opposite-visible page-knowledge-base fixed-header
    layout-boxed footer-no-fixed ptmc-about
{% endblock %}
{% block body %}

    {% if constant('YII_ENV_DEV') %}
        {{ register_limit_less_asset() }}
    {% endif %}

    {% include '@views/layouts/components/header.twig' %}

    {% include '@views/layouts/components/_flash_message.twig' %}

    {% include '@views/user/modal/_modal_login.twig' %}

    {% block content %}

        <div class="crossBander crossBlock">
            <!--        <video class="backVideo" src="cross/img/video.mp4" loop="loop" muted="muted" autoplay="autoplay" autobuffer="autobuffer"></video>
                    <div class="frontvideo"></div> -->
            <div class="crossWrapper">
                <div class="crossVerticcalWrapper">
                    <div class="crossLogo">
                        <img src="/cross/img/logo.svg" alt="CROSS TRADE">
                    </div>
                    <div class="crossDescr">
                        <h1 class="crossH1">PROVE YOU ARE THE BEST PTMC TRADER!</h1>
                        <div class="crossText">Win the trade race with the biggest profit and get real cash prizes!
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="crossTimers crossBlock">
            <div class="crossWrapper">
                <script src="/cross/timer.js?ver=1.0"></script>
                <div class="clear"></div>
            </div>
        </div>

        <div class="crossSubscribeLine crossBlock">
            <div class="crossH2">
                TILL CHAMPIONSHIP START
            </div>

            {{ use('yii/widgets/Pjax') }}

            {{ pjax_begin({'id' : 'crosstrade-subscribe' }) }}

            {#{% if not app.user.identity.crosstradeSubscriber %}#}
            <div class="crossForm {% if (response) %}open{% endif %}">
                <div class="crossWrapper">

                    {{ use('yii/widgets/ActiveForm') }}

                    {% if(settings.value == 1) %}
                        {% if not app.user.identity.crosstradeSubscriber %}
                            <div class="crossSubscribe {% if (response) %}dnone{% endif %}">
                                <div class="crossFormTitle">
                                    Subscribe
                                </div>

                                {% set form = active_form_begin({'action' : '/crosstrade', 'id' : 'crosstrade-subacribe', 'method' : 'post', 'options' : {'data-pjax' : true}}) %}

                                <div class="crossInputWrapper">
                                    {{ form.field(cross_trade_model, 'fullname').textInput({'placeholder' : 'Name', 'class' : 'crossInput'}).label('') | raw }}
                                </div>
                                <div class="crossInputWrapper">
                                    {{ form.field(cross_trade_model, 'email').textInput({'placeholder' : 'E-mail', 'class' : 'crossInput'}).label('') | raw }}
                                </div>

                                {{ html.submitButton('SUBSCRIBE' , {'class' : 'crossBtn', 'onclick' : 'ga("send", "event", "button", "click", "Cross Trade Subscribe Confirm");'} ) | raw }}

                                {{ active_form_end() }}
                            </div>
                        {% endif %}

                        <div class="crossSubscribe crossStepSubscribe2 {% if not (response) %}dnone{% endif %}">
                            {{ response | raw }}
                        </div>
                    {% endif %}

                    {% if(settings.value == 0) %}
                        {% if not app.user.identity.crosstradeRegister %}
                            <div class="crossSubscribe {% if (response) %}dnone{% endif %}">
                                <div class="crossFormTitle">
                                    Registration
                                </div>

                                <div class="crossInputWrapper">
                                    <div class="yellow"><strong>Important!</strong> Please enter your <u>real</u> First
                                        name, Last name and email address.</br> Confirmation of these details will be
                                        required to receive the prizes.
                                    </div>
                                </div>

                                {% set form = active_form_begin({'action' : '/crosstrade/about', 'id' : 'crosstrade-register', 'method' : 'post', 'options' : {'data-pjax' : true}}) %}

                                <div class="crossInputWrapper">
                                    {{ form.field(cross_trade_model, 'first_name').textInput({'placeholder' : 'First Name', 'class' : 'crossInput'}).label('') | raw }}
                                </div>

                                <div class="crossInputWrapper">
                                    {{ form.field(cross_trade_model, 'last_name').textInput({'placeholder' : 'Last Name', 'class' : 'crossInput'}).label('') | raw }}
                                </div>

                                <div class="crossInputWrapper">
                                    {{ form.field(cross_trade_model, 'email').textInput({'placeholder' : 'E-mail', 'class' : 'crossInput'}).label('') | raw }}
                                </div>

                                <div class="crossInputWrapper">
                                    {{ form.field(cross_trade_model, 'country').dropDownList(getStatic('app\\models\\forms\\ProfileForm', '_countries'), {'class' : 'crossInput', 'prompt' : 'Select Country'}).label('') | raw }}
                                </div>

                                <div class="crossInputWrapper">
                                    <div class="wrapperInner">
                                        <!-- {{ form.field(cross_trade_model, 'accept').checkBox({'class' : 'reg-accept'}, false).label('')| raw }} -->
                                        <div class="form-group field-crosstraderegisterform-accept">

                                            <input type="hidden" name="CrosstradeRegisterForm[accept]" value="0">

                                            <input type="checkbox" id="crosstraderegisterform-accept" class="reg-accept"
                                                   name="CrosstradeRegisterForm[accept]" value="1">

                                            <label class="control-label" for="crosstraderegisterform-accept">
                                                I have read and agree to abide by the <a data-pjax="false" download
                                                                                         href="/cross/files/Definitions_And_Rules_CROSS_TRADE_2016.pdf">CROSS
                                                    TRADE Championship rules</a>
                                            </label>

                                            <div class="help-block"></div>
                                        </div>
                                    </div>
                                </div>

                                {{ html.submitButton('REGISTER' , {'id' : 'crosstrade-register-btn', 'class' : 'crossBtn', 'onclick' : 'ga("send", "event", "button", "click", "Cross Trade Subscribe Confirm");'} ) | raw }}

                                {{ active_form_end() }}
                            </div>
                        {% endif %}

                        <div class="crossSubscribe crossStepSubscribe2 {% if not (response) %}dnone{% endif %}">
                            {{ response | raw }}
                        </div>
                    {% endif %}

                    <div class="clear"></div>
                </div>
            </div>

            <div onclick="ga('send', 'event', 'button', 'click', 'Cross Trade Subscribe');" id="crossSubscribe"
                 class="crossBtn openForm {% if (response) %}dnone{% endif %}">
                {% if (settings.value == 0) %}REGISTRATION{% endif %}
                {% if (settings.value == 1) %}SUBSCRIBE{% endif %}
            </div>

            {#{% endif %}#}
            {{ pjax_end() }}

            <div class="crossWrapper">
                <div class="crossLineProgress">
                    <div class="dot 1st active">
                        Aug 8
                    </div>
                    <div class="crossProgressName">
                        Subscription
                        <div class="crossProgressLine sub">
                            <div class="crossLine" style="width: 1%; height: 1%;"></div>
                        </div>
                    </div>
                    <div class="dot 2td">
                        Sept 1
                    </div>
                    <div class="crossProgressName active">
                        Registration
                        <div class="crossProgressLine reg">
                            <div class="crossLine"></div>
                        </div>
                    </div>
                    <div class="dot 3th">
                        Sept 19
                    </div>
                    <div class="crossProgressName">
                        Championship
                        <div class="crossProgressLine cha">
                            <div class="crossLine"></div>
                        </div>
                    </div>
                    <div class="dot 4th">
                        Oct 1
                    </div>
                    <div class="crossProgressName">
                        Awarding
                        <div class="crossProgressLine aww">
                            <div class="crossLine"></div>
                        </div>
                    </div>
                    <div class="dot fin">
                        Oct 5
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="crossPrizes crossBlock">
            <div class="crossWrapper">
                <h2 class="crossTitle">
                    Prize fund
                </h2>
                <div class="crossFund">
                    $3000
                </div>
                <div class="crossCups">
                    <img src="/cross/img/kubki.png" alt="Kubki">
                    <!-- <div class="cup fifth">
                        $200
                    </div>
                    <div class="cup fourth">
                        $400
                    </div>
                    <div class="cup third">
                        $600
                    </div>
                    <div class="cup second">
                        $800
                    </div>
                    <div class="cup first">
                        $1000
                    </div> -->
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="crossKey crossBlock">
            <div class="crossWrapper">
                <h2 class="crossTitle">
                    Key features
                </h2>
                <div class="crossSide">
                    <div class="crossList">
                        <a class="crossListElem" data-toggle="tickets">
                            FREE PARTICIPATION
                        <span class="crossDescription">
                             No purchase or entry fee is required to enter the Contest. Just fill in the registration form on this website and follow the instructions.
                        </span>
                        </a>
                        <br>
                        <a class="crossListElem" data-toggle="kluchi">NO LOSS‐LIMIT <span>(TILL MARGIN CALL)</span>
                        <span class="crossDescription">
                            Trade without any restrictions, but keep an eye on the size of available trade funds. In case of receiving a “margin call” the participant will be disqualified.
                        </span>
                        </a>
                        <br>
                        <a class="crossListElem" data-toggle="cup">REAL MONEY PRIZES
                        <span class="crossDescription">
                            Unlike traditional forex championships we do not deposit your trading account with some broker, but transfer real money to your credit card.
                        </span>
                        </a>
                        <br>
                        <a class="crossListElem" data-toggle="circles">RISK‐FREE TRADING <span>(DEMO)</span>
                        <span class="crossDescription">
                            Cross Trade Championship is held on demo accounts, so all trading risks are completely excluded.
                        </span>
                        </a>
                        <br>
                        <a class="crossListElem" data-toggle="cars">POPULAR FOREX INSTRUMENTS
                        <span class="crossDescription">
                            Trade the most popular foreign exchange and CFDs instruments.
                        </span>
                        </a>
                    </div>
                    <div class="crossMap">
                        <div class="map">
                            <div class="tickets imag"></div>
                            <div class="kluchi imag"></div>
                            <div class="cup imag"></div>
                            <div class="circles imag"></div>
                            <div class="cars imag"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>
        <div class="crossCore crossBlock">
            <div class="crossWrapper">
                <h2 class="crossTitle">
                    Core rules
                </h2>
                <div class="crossBody">
                    <div class="crossBlockText">
                        <div class="crossTitleText">
                            CHAMPIONSHIP STAGES
                        </div>
                        <div class="crossBodyText">
                            <p>The contest will be held in three stages: </p>
                            <p><b>Registration stage</b>: 1st September, 2016 - 18th September, 2016 at 23:59 GMT+2</p>
                            <p>
                                After registration, Participants will receive Contest Accounts for testing purposes
                                until
                                the Contest's beginning. At the end of registration stage Contest Accounts will be
                                blocked and
                                reset until the Contest's beginning.
                            </p>
                            <p><b>Contest stage</b>: 19th September, 2016 at 10:00 GMT+2 - 30th September, 2016 at 23:59
                                GMT+2</p>
                            <p>All open positions will be closed and all Contest Accounts will be blocked automatically
                                at the end of the Contest.</p>
                            <p><b>Awarding stage</b>: 1st - 5th October, 2016</p>
                            <p>When winners are selected and announced on this website, they will be awarded.</p>
                        </div>
                    </div>
                    <div class="crossBtnBlock">
                        <a onclick="ga('send', 'event', 'button', 'click', 'Cross Trade Download Rules');"
                           href="/cross/files/Definitions_And_Rules_CROSS_TRADE_2016.pdf" class="btn" download>
                            <span>DOWNLOAD</span>
                            DETAILED RULES <br>
                            (PDF)
                        </a>
                    </div>
                    <div class="crossBlockText">
                        <div class="crossTitleText">
                            PARTICIPATION REQUIREMENTS
                        </div>
                        <div class="crossBodyText">
                            <p>
                                The Contest is open to individuals who have completed at least 18 years before the
                                starting
                                point of the Contest and have reached the age of majority in the jurisdiction of their
                                residence.
                            </p>
                            <p>
                                All Participants have to fill in the registration form on championship website page.
                                All Participants must enter their real First names, Last names and email addresses.
                                Confirmation of these details will be required to receive the prizes.
                            </p>
                            <p>
                                All winners will need to provide identity documents’ scan copies after Contest is
                                complete.
                                Any discrepancy between winner’s document data and data, provided during the
                                registration,
                                will lead to disqualification. Accuracy and authenticity are important and necessary for
                                obtaining prize money to your credit card.
                            </p>
                        </div>
                    </div>
                    <div class="crossBtnAdaptiveBlock">
                        <span>Detailed rules (PDF)</span>
                        <a href="#" class="btn">
                            <span>DOWNLOAD</span>
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="crossBlackLine crossBlock crossShare" id="crossShare">
            <div class="crossWrapper">
                <h2 class="crossTitle custHead">
                    Invite your friends
                </h2>
                <div class="addthis_sharing_toolbox crossTradeShare"></div>
            </div>
        </div>
        <div class="crossPartners crossBlock">
            <div class="crossWrapper">
                <h2 class="crossTitle">
                    Partners
                </h2>
                <div class="crossPartnersList">
                    <!-- <ul>
                        <li>
                            <div class="partnerDescription">
                                ORGANIZATIONAL SPONSORS
                            </div>
                            <a href="http://protrader.com" class="crossPartnerLogo">
                                <img src="cross/img/logo-PFSOFT.png" alt="PFSOFT">
                            </a>
                        </li>
                        <li class="no-line">
                            <a href="http://comparic.com" class="crossPartnerLogo">
                                <img src="cross/img/comparic_com_your_financial_media.png" alt="COMPARIC">
                            </a>
                        </li>
                        <li>
                            <div class="partnerDescription">
                                DATA PROVIDER
                            </div>
                            <a href="https://www.lmax.com" class="crossPartnerLogo">
                                <img src="cross/img/logo-LMAX.png" alt="LMAX">
                            </a>
                        </li>
                        <li>
                            <div class="partnerDescription">
                                MEDIA PARTNER
                            </div>
                            <a href="http://fortrader.org/" class="crossPartnerLogo">
                                <img src="cross/img/logo-iQFEED.png" alt="iQFEED">
                            </a>
                        </li>
                    </ul> -->
                    <div class="block double">
                        <div class="partnerDescription">
                            ORGANIZATIONAL SPONSORS
                        </div>
                        <div class="list">
                            <div class="el">
                                <a href="http://protrader.com" class="crossPartnerLogo">
                                    <img src="/cross/img/logo-PFSOFT.png" alt="PFSOFT">
                                </a>
                            </div>
                            <div class="el">
                                <a href="http://comparic.com" class="crossPartnerLogo">
                                    <img src="/cross/img/comparic_com_your_financial_media.png" alt="COMPARIC">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="partnerDescription">
                            DATA PROVIDER
                        </div>
                        <div class="list">
                            <div class="el">
                                <a href="https://www.lmax.com" class="crossPartnerLogo">
                                    <img src="/cross/img/logo-LMAX.png" alt="LMAX">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="partnerDescription">
                            MEDIA PARTNER
                        </div>
                        <div class="list">
                            <div class="el">
                                <a href="http://fortrader.org/" class="crossPartnerLogo">
                                    <img src="/cross/img/logo-iQFEED.png" alt="iQFEED">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="crossButtons">
                    <a onclick="ga('send', 'event', 'button', 'click', 'Cross Trade Download Partnership Offer');"
                       href="/cross/files/Partnership_Offer_CROSS_TRADE_2016.pdf" class="crossBtn" download>
                        Become a partner
                    </a>
                    {#<a href="/cross/files/progit.ru.pdf"  class="crossBtn" download>#}
                    {#Media kit#}
                    {#</a>#}
                </div>
                <div class="clear"></div>
            </div>
        </div>

        {{ this.registerJs("

		var stmps = [(new Date('2016/08/08 00:00:00').getTime() / 1000), (new Date('2016/09/01 00:00:00').getTime() / 1000), (new Date('2016/09/19 00:00:00').getTime() / 1000), (new Date('2016/10/01 00:00:00').getTime() / 1000), (new Date('2016/10/05 00:00:00').getTime() / 1000)];

        $('#crosstrade-subscribe').on('pjax:end', function() {
            $.pjax.reload({container:'#notes'});  //Reload GridView
        });

        function get_percent(begin, end){
            var sprint = end - begin;
            var cur_sprint = (Math.floor(Date.now() / 1000) + (-new Date().getTimezoneOffset()*60)) - begin;
            if((cur_sprint/sprint*100) > 100){
                return 100 + '%';
            }
            return (cur_sprint/sprint*100) + '%';
        }

        function is_active(end){
            if (Math.floor(Date.now() / 1000) > end){
                return 'active';
            }
            return '';
        }

        $('.2td').addClass(is_active(stmps[1]));
        $('.3th').addClass(is_active(stmps[2]));
        $('.4th').addClass(is_active(stmps[3]));
        $('.fin').addClass(is_active(stmps[4]));

        $('.sub>.crossLine').width(get_percent(stmps[0], stmps[1]));
        $('.sub>.crossLine').height(get_percent(stmps[0], stmps[1]));

        $('.reg>.crossLine').width(get_percent(stmps[1], stmps[2]));
        $('.reg>.crossLine').height(get_percent(stmps[1], stmps[2]));

        $('.cha>.crossLine').width(get_percent(stmps[2], stmps[3]));
        $('.cha>.crossLine').height(get_percent(stmps[2], stmps[3]));

        $('.aww>.crossLine').width(get_percent(stmps[3], stmps[4]));
        $('.aww>.crossLine').height(get_percent(stmps[3], stmps[4]));

        $('#crosstrade-register').on('beforeSubmit', function(event, jqXHR, settings) {
            $('#crosstrade-register-btn').addClass('disabled');
            $('#crosstrade-register-btn').attr('disabled','disabled');
        });


    ", constant('\\yii\\web\\View::POS_END')) }}

    {% endblock %}

    {% block custom_scripts %}
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <script type="text/javascript"
                src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57ad7aae4a67977f"></script>

    {% endblock %}

    {% include '@views/layouts/components/footer.twig' %}
{% endblock %}




















