{% extends '@views/layouts/base.twig' %}
{% block ceo %}
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://protrader.org/crosstrade/stats"/>
	<meta property="og:title" content="Trading Statistics for CROSS TRADE championship"/>
	<meta property="og:description" content="Detailed statistics of trading championship which covers balance, profit factor,
		   best and worst trade as well as place of each participant."/>
	<meta property="og:image" content="http://files.pfsoft.com/PTMC/CT_header.png"/>
	<title>Trading Statistics for CROSS TRADE championship</title>
	<meta name="description" content="Detailed statistics of trading championship which covers balance, profit factor,
		   best and worst trade as well as place of each participant."/>
	<meta name="robots" content="none"/>
{% endblock %}
{% block body_class %}
    cross-statistics
{% endblock %}
{% block body %}
	{% if constant('YII_ENV_DEV') %}
        {{ register_limit_less_asset() }}
    {% endif %}

    {% include '@views/layouts/components/header.twig' %}

    {% include '@views/layouts/components/_flash_message.twig' %}

    {% include '@views/user/modal/_modal_login.twig' %}

	{% block content %}

		<div class="crossBanderST">
			<div class="container">
				<h1>
					Championship Statistics
				</h1>
				<div class="crossLogo">
	                <img src="/cross/img/logo.svg" alt="CROSS TRADE">
	            </div>
            </div>
		</div>
		<div class="crossContent">
			<div class="container">
				{{ use("app/modules/crosstrade/components/widgets/total/Total") }}
				{{ total_widget() }}
				<div class="crossStatisticTable">
					{{ use("app/modules/crosstrade/components/widgets/top/Top") }}
					{{ top_widget() }}
					<div class="crossLeftSide">
						{{ use("app/modules/crosstrade/components/widgets/user/User") }}
						{{ user_widget() }}

						{{ use("app/modules/crosstrade/components/widgets/charts/TotalAndAverage") }}
						{{ totalAndAverage_widget() }}
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
		
		
    {% block custom_scripts %}
    <script type="text/javascript" src="/cross/crossMain.js?v=1472110928"></script>
    {% endblock %}

    {% include '@views/layouts/components/footer.twig' %}
{% endblock %}
