<div class="crossFormBody">
    <div class="subscribeText">
        CHECK YOUR EMAIL TO CONFIRM THE REGISTRATION<br>
        IF YOU DON'T RECEIVE THE EMAIL WITHIN SEVERAL MINUTES, PLEASE CHECK YOUR SPAM FOLDER AS IT MAY HAVE GOTTEN THERE.
    </div>
</div>