<div class="crossFormTitleBold">
    THANK YOU!
</div>
<div class="crossFormBody">
    <div class="subscribeText">
        YOU HAVE BEEN SUCCESSFULLY REGISTERED TO <br>
        CROSS TRADE CHAMPIONSHIP<br><br>
        LOGIN: {{ demo_login }}<br>
        PASSWORD: {{ demo_password }}<br>
        {#<a href="#crossShare">Share it with your friends</a>#}
    </div>
</div>
