<div class="crossFormTitleBold">
    THANK YOU!
</div>
<div class="crossFormBody">
    <div class="subscribeText">
        YOU HAVE BEEN SUCCESFULLY SUBSCRIBED TO <br>
        CROSS TRADE CHAMPIONSHIP<br><br>
        <a href="#crossShare">Share it with your friends</a>
    </div>
</div>
