{% extends '@views/layouts/base.twig' %}
{% block ceo %}
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://protrader.org/crosstrade/stats"/>
    <meta property="og:title" content="{{ user.fullname }} - CROSS TRADE participant"/>
    <meta property="og:description" content="{{ user.fullname }} ({{ user.username }}) earned {{ user.crosstradeRegister.reportAsr.getProfitPercent() }}% and has the amount of total balance - ${{ app.formatter.asDecimal(user.crosstradeRegister.reportAsr.balance, 2) | raw }}. His the best trade - ${{ app.formatter.asDecimal(user.crosstradeRegister.reportAsr.getProfitDeal(), 2) | raw }}."/>
    <meta property="og:image" content="http://files.pfsoft.com/PTMC/CT_header.png"/>
    <title>{{ user.fullname }} - CROSS TRADE participant</title>
    <meta name="description" content="{{ user.fullname }} ({{ user.username }}) earned {{ user.crosstradeRegister.reportAsr.getProfitPercent() }}% and has the amount of total balance - ${{ app.formatter.asDecimal(user.crosstradeRegister.reportAsr.balance, 2) | raw }}. His the best trade - ${{ app.formatter.asDecimal(user.crosstradeRegister.reportAsr.getProfitDeal(), 2) | raw }}."/>
    <meta name="robots" content="none"/>
{% endblock %}
{% block body_class %}
    cross-statistics
{% endblock %}
{% block body %}
	{% if constant('YII_ENV_DEV') %}
        {{ register_limit_less_asset() }}
    {% endif %}

    {% include '@views/layouts/components/header.twig' %}

    {% include '@views/layouts/components/_flash_message.twig' %}

    {% include '@views/user/modal/_modal_login.twig' %}

	{% block content %}
		<div class="crossBanderST">
            <div class="container">	
    			<h1>
    				Statistics of <span>{{ user.username }}</span> <i>#{{ user.crosstradeRegister.reportAsr.getTourneyNumber() }}</i>
    			</h1>
    			<div class="crossLogo">
                    <img src="/cross/img/logo.svg" alt="CROSS TRADE">
                </div>
            </div>
		</div>
        <div class="crossContent myStat">
            <div class="container">
                <div class="crossTableWrapper">
                    <div class="crossTable">
                        <div class="crossTableHead">                            
                            <div class="photo">
                                <a href="{{ user.getViewUrl() }}">
                                    {{ user.getAvatar(115, 115) | raw }}
                                </a>
                            </div>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            {{ user.crosstradeRegister.reportAsr.getProfitPercent() }}%
                                            <span>Gain</span>
                                        </td>
                                        <td>
                                            ${{ app.formatter.asDecimal(user.crosstradeRegister.reportAsr.balance, 2) | raw }}
                                            <span>Total balance</span>
                                        </td>
                                        <td>
                                            {{ user.crosstradeRegister.reportAsr.getFormatterProfit() | raw }}
                                            <span>Profit / Loss</span>
                                        </td>
                                        <td>
                                            {{ user.crosstradeRegister.reportAsr.getFormatterProfitDeal() | raw }}
                                            <span>Best trade</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="crossTableBody">
                            {{ use("app/modules/crosstrade/components/widgets/charts/TotalDetail") }}
                            {{ totalDetail_widget({login: user.crosstradeRegister.demo_login}) }}
                        </div>
                    </div>
                </div>
                {#<div class="crossWidgetStat">#}
                    {#<div class="title">#}
                        {#Advanced Statistics#}
                    {#</div>#}
                    {#<div class="crossWidget">#}
                        {#<table>#}
                            {#<tr>#}
                                {#<td>Trades</td>#}
                                {#<td>200,00</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td>Average P/L</td>#}
                                {#<td>1777,58 (0,00%)</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td>Profit factor</td>#}
                                {#<td>- 0,09</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td>Sharpe ratio</td>#}
                                {#<td>0,45</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td>Winning/Lossing ratio</td>#}
                                {#<td>0,15</td>#}
                            {#</tr>#}
                        {#</table>#}
                    {#</div>#}

                    {#<div class="crossWidget">#}
                        {#<table>#}
                            {#<tr>#}
                                {#<td>Winning trades</td>#}
                                {#<td>62 (31,00%)</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td>Summary profit</td>#}
                                {#<td>62635,91</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td>Avg. win</td>#}
                                {#<td>1010,26 </td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td>Max. consecutive wins</td>#}
                                {#<td>9 (11328,30)</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td>Largest winner</td>#}
                                {#<td>7706,27</td>#}
                            {#</tr>#}
                        {#</table>#}
                    {#</div>#}

                    {#<div class="crossWidget">#}
                        {#<table>#}
                            {#<tr>#}
                                {#<td>Lossing trades</td>#}
                                {#<td>138 (69,00%)</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td>Summary loss</td>#}
                                {#<td>-418151,77</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td>Avg. loss</td>#}
                                {#<td>-3030,09</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td>Max. consecutive loss</td>#}
                                {#<td>36 (-1280,00)</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td>Largest loser</td>#}
                                {#<td>-250935,00</td>#}
                            {#</tr>#}
                        {#</table>#}
                    {#</div>#}
                {#</div>#}


                <div class="crossStatisticTable">
                    {{ use("app/modules/crosstrade/components/widgets/top/Top") }}
                    {{ top_widget({'tourneyNumber': user.crosstradeRegister.reportAsr.getTourneyNumber(), 'username' : user.username }) }}
                </div>

                {#<div class="crossStatisticTable">#}
                    {#<div class="crosRightSide">#}
                        {#<div class="title"><span>Shylin Dmytriy</span> position</div>#}
                        {#<table class="crossTable">#}
                            {#<thead>#}
                                {#<tr>#}
                                    {#<th class="number">№</th>#}
                                    {#<th class="name">user name</th>#}
                                    {#<th class="profit">Net profit ($)</th>#}
                                    {#<th class="return">Net return (%)</th>#}
                                    {#<th class="pf">PF</th>#}
                                    {#<th class="trades">Trades</th>#}
                                {#</tr>#}
                            {#</thead>#}
                            {#<tbody>#}
                                {#<tr class="">#}
                                    {#<td class="number">801</td>#}
                                    {#<td class="name">Ilarion Pavluk</td>#}
                                    {#<td class="profit">25874</td>#}
                                    {#<td class="return">14%</td>#}
                                    {#<td class="pf">1.5</td>#}
                                    {#<td class="trades">55</td>#}
                                {#</tr>#}
                                {#<tr class="">#}
                                    {#<td class="number">802</td>#}
                                    {#<td class="name">Djigurda Muhammed</td>#}
                                    {#<td class="profit">15475</td>#}
                                    {#<td class="return">12%</td>#}
                                    {#<td class="pf">1.2</td>#}
                                    {#<td class="trades">49</td>#}
                                {#</tr>#}
                                {#<tr class="">#}
                                    {#<td class="number">803</td>#}
                                    {#<td class="name">Valeriy Kolokolov</td>#}
                                    {#<td class="profit">12355</td>#}
                                    {#<td class="return">10%</td>#}
                                    {#<td class="pf">1.1</td>#}
                                    {#<td class="trades">41</td>#}
                                {#</tr>#}
                                {#<tr class="my">#}
                                    {#<td class="number">804</td>#}
                                    {#<td class="name">Shylin Dmytriy</td>#}
                                    {#<td class="profit">5874</td>#}
                                    {#<td class="return">9%</td>#}
                                    {#<td class="pf">1</td>#}
                                    {#<td class="trades">37</td>#}
                                {#</tr>#}
                                {#<tr class="">#}
                                    {#<td class="number">805</td>#}
                                    {#<td class="name">Sergio Valergio</td>#}
                                    {#<td class="profit">1111</td>#}
                                    {#<td class="return">5%</td>#}
                                    {#<td class="pf">0.5</td>#}
                                    {#<td class="trades">28</td>#}
                                {#</tr>#}
                                {#<tr class="">#}
                                    {#<td class="number">806</td>#}
                                    {#<td class="name">Djigurda Valergio</td>#}
                                    {#<td class="profit">100</td>#}
                                    {#<td class="return">4%</td>#}
                                    {#<td class="pf">0.3</td>#}
                                    {#<td class="trades">18</td>#}
                                {#</tr>#}
                                {#<tr class="">#}
                                    {#<td class="number">807</td>#}
                                    {#<td class="name">Utuka Muhammed</td>#}
                                    {#<td class="profit">50</td>#}
                                    {#<td class="return">1%</td>#}
                                    {#<td class="pf">0.1</td>#}
                                    {#<td class="trades">10</td>#}
                                {#</tr>#}
                            {#</tbody>#}
                        {#</table>#}
                    {#</div>#}

                    {#<div class="crossLeftSide">#}

                        {#<div class="sidebarContainer">#}
                            {#<div class="sidebarHeader">#}
                                {#Stats widget#}
                            {#</div>#}
                            {#<div class="sidebarContent transparent">#}
                                {#<div class="crossTabs">#}
                                    {#<ul>#}
                                        {#<li>#}
                                            {#<a class="open" href="#Vertical">Vertical</a>#}
                                        {#</li>#}
                                        {#<li>#}
                                            {#<a href="#Horizontal">Horizontal</a>#}
                                        {#</li>#}
                                    {#</ul>#}
                                {#</div>#}
                                {#<div class="crossBody open" id="Vertical">#}
                                    {#<div class="CTCSTAT Vertical">#}
                                        {#<div class="name">Shylin Dmytriy #102</div>#}
                                        {#<div class="percent">#}
                                            {#+170.25%#}
                                        {#</div>#}
                                        {#<div class="footer">#}
                                            {#CROSS TRADE CHAMP#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<pre><\iframe width="560" height="315"#}
{#src="https://www.protrader.org//embed/X-aQEzm1S_k"#}
{#frameborder="0" allowfullscreen><\/iframe></pre>#}
                                    {#<div class="descr">#}
                                        {#<p>This widget allows you to simply embed the selected trader's stats on any external website. You can put it in your Forum signature or blog sidebar. Just copy the code above and paste it as a link for image widget.</p>#}
                                    {#</div>#}
                                {#</div>#}

                                {#<div class="crossBody" id="Horizontal">#}
                                    {#<div class="CTCSTAT Horizontal">#}
                                        {#<div class="name">Shylin Dmytriy #102</div>#}
                                        {#<div class="percent">#}
                                            {#+180.25%#}
                                        {#</div>#}
                                        {#<div class="footer">#}
                                            {#CROSS TRADE CHAMP#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<pre><\iframe width="560" height="315"#}
{#src="https://www.protrader.org//embed/X-aQEzm1S_k"#}
{#frameborder="0" allowfullscreen><\/iframe></pre>#}
                                    {#<div class="descr">#}
                                        {#<p>This widget allows you to simply embed the selected trader's stats on any external website. You can put it in your Forum signature or blog sidebar. Just copy the code above and paste it as a link for image widget.</p>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}

                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
	{% endblock %}
		
    {% block custom_scripts %}

    {% endblock %}

    {% include '@views/layouts/components/footer.twig' %}
{% endblock %}
