{% extends '@views/layouts/main.twig' %}

{% block content %}

      {% for category in categories %}

            {% if category.getChildren() is not  empty %}

                  {% include '@views/forum/root_category/_category.twig' with {'category' : category} %}

            {% endif %}

      {% endfor %}

{% endblock %}
