<div id="" class="sidebar-category ">
    <div class="category-title">
        <span class="panel-title h4">{{ self.title }}</span>
    </div>

    <div class="category-content">
        <div class="form-group">
            <div class="lineGrey">
            {% for model in models %}
            <div class="categ list">
                <a href="{{ model.getViewUrl() }}">
                    {{ model.getName() }}
                </a>
            </div>
            {% endfor %}
            </div>
            <div class="clear"></div>
        </div>

    </div>
</div>