{{ use('yii/widgets/ActiveForm') }}
{{ use('app/components/customImage/CustomImageUpload') }}

{% set form = active_form_begin({
'options' : {
'class' : 'form-horizontal group-border-dashed',
'enctype' : 'multipart/form-data',
},
'fieldConfig' : {
'template' : '\n<div class="col-lg-6">{input}</div>{hint}\n{error}',
'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
'labelOptions' : {'class' : 'col-lg-3 control-label'},
'errorOptions' : {'class' : 'col-lg-3 help-block', 'style' : 'margin-bottom: 8px;'}
}
}) %}

<div class="form-group  col-lg-12">
    <label class="col-lg-3 control-label"
           for="generalsettingform-article">{{ translate('Feature Article') }}</label>
    {{ form.field(model_settings, 'article').dropDownList(staticMethod('app\\modules\\articles\\models\\Articles', 'findFeature'), {
        'prompt' : translate('Select feature article...')
    }) | raw }}
</div>

{{ html.submitButton( translate('Save') , {'class' :'btn btn-primary'} ) | raw }}
{{ html.a(translate('Cancel'), app.request.referrer, {'class' : 'btn btn-default'}) | raw }}

{{ active_form_end() }}
