{% extends '@cab_views/layouts/main.twig' %}
{% block title %}
    {{  translate('Common') }}
    <br/><br/>
{% endblock %}

{% block content %}
    <div class="form-group no-padding col-lg-12 mb-10">
        <label class="col-lg-6 control-label" for="generalsettingform-article">{{ translate('Feature Article') }}</label>
        {% set article = staticMethod('app\\modules\\articles\\models\\Articles', 'findOne',{'id':staticMethod('app\\models\\setting\\SettingsCustomValue', 'getDataByAttrName',{'article':'article'})}) %}
        {{ html.a(article.title, app.controller.getSettingParams('addUrl'), {'class' : 'btn btn-lg btn-primary'}) | raw }}
    </div>

    <div class="form-group no-padding col-lg-12 mb-10">
        <label class="col-lg-6 control-label">{{ translate('Main banner 800*300 on homepage') }}</label>
        {{ html.a('Set banner', app.controller.getSettingCustomParams.addUrl ~ 'pictures&minHeight=300&minWidth=700&aspectRatio=2.66', {'class' : 'btn btn-lg btn-primary'}) | raw }}
    </div>

    <div class="form-group no-padding col-lg-12 mb-10">
        <label class="col-lg-6 control-label">{{ translate('Right mini banner 380*150 on homepage') }}</label>
        {{ html.a('Set banner', app.controller.getSettingCustomParams.addUrl ~ 'pic_380_150&minHeight=150&minWidth=380&aspectRatio=2.53', {'class' : 'btn btn-lg btn-primary'}) | raw }}
    </div>


    <div class="form-group no-padding col-lg-12 mb-10">
        <label class="col-lg-6 control-label">{{ translate('Brokers Banner 1160*108') }}</label>
        {{ html.a('Set banner', app.controller.getSettingCustomParams.addUrl ~ 'broker_banner&minHeight=108&minWidth=1160&aspectRatio=10.74', {'class' : 'btn btn-lg btn-primary'}) | raw }}
    </div>

    <div class="form-group no-padding col-lg-12 mb-10">
        <label class="col-lg-6 control-label">{{ translate('Feature Banner 1160*108') }}</label>
        {{ html.a('Set banner', app.controller.getSettingCustomParams.addUrl ~ 'feature_banner&minHeight=100&minWidth=1200&aspectRatio=12', {'class' : 'btn btn-lg btn-primary'}) | raw }}
    </div>

    <div class="form-group no-padding col-lg-12 mb-10">
        <label class="col-lg-6 control-label">{{ translate('Live Chat') }}</label>
        {% if setting.live_chat == 0 %}
            <a href="/cabinet/settings-chat?set=on" type="button" class="btn btn-danger">Disabled</a>
        {% else %}
            <a href="/cabinet/settings-chat?set=off" type="button" class="btn btn-success">Enabled</a>
        {% endif %}
    </div>

    <div class="form-group no-padding col-lg-12 mb-10">
        <label class="col-lg-6 control-label">{{ translate('Change crosstrade period') }}</label>
        {% if setting.is_subscription == 1 %}
            <a href="/cabinet/settings-crosstrade?set=off" type="button" class="btn btn-success">Subscribtion</a>
        {% else %}
            <a href="/cabinet/settings-crosstrade?set=on" type="button" class="btn btn-success">Registration</a>
        {% endif %}
    </div>
{% endblock %}
