{% extends '@views/layouts/main.twig' %}
{% block content %}

    <!-- Head -->
    <div class="row">

      <!-- Search -->
      <div class="col-lg-12">
          <div class="panel panel-flat">
              <div class="panel-body">
                  <div class="has-feedback">
                      <input class="form-control" placeholder="Поиск по документации" type="search">
                      <div class="form-control-feedback">
                          <i class="icon-search4 text-muted text-size-base"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /search -->


        <!-- Title -->
        <div class="col-lg-12">

            {% import '@views/layouts/macro/panels.twig' as panel %}
            <!-- class, head, body, footer, footer_class, head_class -->
            {{ panel.input(
            'panel-default',
            '<h1 class="panel-title text-center text-regular">Документация по приложениям Protrader MC</h1>',
            '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima reprehenderit exercitationem dolor amet culpa voluptatem aliquid soluta, rem repudiandae consequuntur vitae aliquam, qui, vero totam tempora eligendi saepe, officiis adipisci non eum itaque? Ipsam, fugiat quibusdam provident amet quam nesciunt rem beatae iste incidunt saepe ducimus ipsa ut dolorum et adipisci ad eos totam soluta. Ab, placeat. Nulla, reiciendis.</p>

          <p>Laboriosam maiores eaque nam quo neque dolorem dignissimos itaque eveniet ipsam qui perferendis consequuntur distinctio quidem aspernatur esse aliquid accusantium, harum sequi iure sunt, voluptatibus, dolorum, assumenda voluptatum. Ullam consequatur voluptates, nulla blanditiis voluptas, tempora repellendus exercitationem reprehenderit laboriosam temporibus officiis!</p>

          <hr>

          <!-- Check platform -->
            <div class="col-lg-3">
              <a class="btn btn-block btn-float btn-float-lg"
              href="/' ~ getShortLang() ~ '/knowledge-base/pt3/desktop" type="button">
                <i style="font-size: 5em" class="fa fa-desktop"></i> <span class="h3">Desktop</span>
              </a>
            </div>

            <div class="col-lg-3">
              <a class="btn btn-block btn-float btn-float-lg "
              href="/' ~ getShortLang() ~ '/knowledge-base/pt3/web" type="button">
                <i style="font-size: 5em" class="fa fa-laptop"></i><span class="h3">Web</span>
              </a>
            </div>

            <div class="col-lg-3">
              <a class="btn btn-block btn-float btn-float-lg "
              href="/' ~ getShortLang() ~ '/knowledge-base/pt3/mobile" type="button">
                <i style="font-size: 5em" class="fa fa-mobile-phone"></i> <span class="h3">Mobile</span>
              </a>
            </div>

            <div class="col-lg-3">
              <a class="btn btn-block btn-float btn-float-lg "
              href="/' ~ getShortLang() ~ '/knowledge-base/pt3/algostudio" type="button">
                <i style="font-size: 5em" class="fa fa-android"></i> <span class="h3">AlgoStudio</span>
              </a>
            </div>
          <!-- /check platform -->'
            )}}


        </div>
        <!-- /title -->


        <div class="col-lg-12 no-padding">

            <div class="col-lg-4">

                {% set HTMLContent %}
                    {% for model in staticMethod('app\\modules\\kbase\\models\\KbArticle', 'gettingStartedArticles') %}
                        <li class="know-base-list">
                            {{ html.a(model.getArticleTitle(),
                                model.getArticleLink())  | raw }}
                        </li>
                    {% endfor %}
                {% endset %}

                {{panel.input(
                'border-info',
                '<h4 class="panel-title text-regular">Быстрый старт</h4>',
                '<ul>'
                ~ HTMLContent ~
                '</ul>',
                '',
                '',
                'bg-info'
                )}}

            </div>

            <div class="col-lg-4">

                {% set HTMLContent %}
                    {% for model in staticMethod('app\\modules\\kbase\\models\\KbArticle', 'getPopularArticles') %}
                        <li class="know-base-list">
                            {{ html.a(model.getArticleTitle(),
                                    model.getArticleLink())  | raw }}
                        </li>
                    {% endfor %}
                {% endset %}

                {{ panel.input(
                'border-info',
                '<h4 class="panel-title text-regular">Популярное</h4>',
                '<ul>'   ~ HTMLContent ~ '</ul>',
                '',
                '',
                'bg-info'
                ) }}

            </div>

            <div class="col-lg-4">

                {% set HTMLContent %}
                    {% for model in staticMethod('app\\modules\\kbase\\models\\KbArticle', 'getUpdatestArticles') %}
                        <li class="know-base-list">
                            {{ html.a(model.getArticleTitle(),
                                model.getArticleLink())  | raw }}
                        </li>
                    {% endfor %}
                {% endset %}

                {{ panel.input(
                'border-info',
                '<h4 class="panel-title text-regular">Обновления</h4>',
                '<ul>'   ~ HTMLContent ~ '</ul>',
                '',
                '',
                'bg-info'
                ) }}

            </div>
        </div>

    </div>
    <!-- /head -->

{% endblock %}
