{% extends '@views/layouts/base.twig' %}
{% block body_class %}
	pace-done sidebar-opposite-visible page-knowledge-base fixed-header
    layout-boxed
{% endblock %}
{% block body %}

    {% include '@views/layouts/components/header.twig' %}
    {% include '@views/user/modal/_modal_login.twig' %}

	{% if constant('YII_ENV_DEV') %}
		{{ register_limit_less_asset() }}
	{% endif %}

    {% block content %}
	<!-- Page container -->
	<div class="page-container login-container">
		<!-- Page content -->
		<div class="page-content">
			<!-- Main content -->
			<div class="content-wrapper">
			    <div class="page-error container-fluid text-center">
			        <h1 class="error-title">{{ code }}</h1>
			        <h6 class="text-semibold content-group">{{ message }}</h6>
			        <h3 class="text-center">Would you like to go {{ html.a('home', '/') | raw }}?</h3>
			    </div>
			</div>
			<!-- Main content -->
		</div>
		<!-- Page content -->
	</div>
	<!-- Page container -->
    {% endblock %}
    <!-- <div class="text-center copy">{{ app.params.copyright | raw }}</div> -->
    {% include '@views/layouts/components/footer.twig' %}
    
{% endblock %}