{% extends '@views/layouts/base.twig' %}
{% block body_class %}
	fixed-header layout-boxed
{% endblock %}
{% block body %}

    {% include '@views/layouts/components/header.twig' %}
    {% include '@views/user/modal/_modal_login.twig' %}

	{% if constant('YII_ENV_DEV') %}
		{{ register_limit_less_asset() }}
	{% endif %}

    {% block content %}
		{{ use('app/components/widgets/error/MaybeWidget') }}
	<!-- Page container -->
	<div class="page-container">
		<!-- Page content -->
		<div class="page-content">
			<!-- Main content -->
			<div class="content-wrapper">
				<div class="page-404">
				    <div class="cheetah">
				    	<img src="/images/404/cheetah.png" alt="Cheetah 404 PTMC Protrader Multi-connect">
				    </div>
				    <div class="errorContent">
				    	<div class="number">
				    		<span>Error</span>
				    		<span class="big">404</span>
				    	</div>
				    	<div class="text">
				    		<span>Unfortunately, this page does not exist</span>
							{{ MaybeWidget_widget() }}
				    	</div>
				    </div>
				    <div class="someContent text-center">
				    	<div class="title">
				    		These might be interesting for you
				    	</div>
				    	<div class="buttons">
				    		<a href="{{ url('/features') }}" class="btn btn-border-ptmc mt-20">Featured Functionality List</a>
				    		<a href="{{ url('/brokers') }}" class="btn btn-border-ptmc mt-20">PTMC Brokers List</a>
				    		<a href="{{ url('/download') }}" class="btn btn-border-ptmc mt-20">Download PTMC platform</a>
				    	</div>
				    </div>
				    <div class="clear"></div>
				</div>
			</div>
			<!-- Main content -->
		</div>
		<!-- Page content -->
	</div>
	<!-- Page container -->
    {% endblock %}
    <!-- <div class="text-center copy">{{ app.params.copyright | raw }}</div> -->
    {% include '@views/layouts/components/footer.twig' %}
    
{% endblock %}