<li class="media">
    <div class="media-body">
        <blockquote class="no-margin {#{{ if loop.index  }} border-left-warning {{ endif }}#}">

            {{ comment.content |raw }}

            {% set entity =  comment.getEntity() %}

            <footer>by <a href="#">{{ comment.user.fullname }}</a> in <a
                        href="{{ entity.getViewUrl() }}">{{ entity.title }}</a></footer>
        </blockquote>
    </div>
</li>