<div class="panel ">
    <div class="panel-heading ">
        <span class="panel-title h6">Traders talking</span>
        <div class="heading-elements">
            <form class="heading-form" action="#">
                <div class="form-group">
                    {#<label class="checkbox-inline checkbox-right checkbox-switchery switchery-sm">#}
                        {#<input type="checkbox" class="switchery" checked="checked">#}
                        {#Autoupdate#}
                    {#</label>#}
                </div>
            </form>
        </div>
        <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>

    <div class="panel-body">
        <ul class="media-list">

            {% for comment in staticMethod('\\app\\models\\FilterHelper', 'getLastTenComments') %}

                {% include '@views/site/_comment.twig' with {'comment' : comment } %}

            {% endfor %}

        </ul>
    </div>

</div>