{#
При желании тут можно выводить
model.email
model.password
model.login
#}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <div class="h6 modal-title">{{ translate('PTMC Demo Account') }}</div>
</div>

<div class="modal-body">
	<div class="backSucces">
	    <p>Thank you for your registration.</p><br>

		<p>Your testing account on Protrader Demo Broker has been created successfully. You can use the following credentials for login to Protrader MC:</p><br>

		<p>Login: <span style="font-size: 16px; font-weight: 600; color: chocolate;">{{ model.login }}</span></p>
		<p>Password: <span style="font-size: 16px; font-weight: 600; color: chocolate;">{{ model.password }}</span></p><br>

		<p>This information was also sent to your email address.</p>
	</div>
</div>

<div class="modal-footer">
    <button type="submit" class="btn btn-ptmc" data-dismiss="modal">{{ translate('Close') }}</button>
</div>