{% import '@views/layouts/macro/panels.twig' as panel %}

<div class="sidebar sidebar-main sidebar-valera sidebar-opposite sidebar-default sidebar-separate">
    <div class="sidebar-content">


        {{ use('yii/widgets/Pjax') }}

        {{ pjax_begin({'id' : 'pjax-random-improvement', 'timeout' : 2000,
            'enableReplaceState' : true}) }}


        {% set homepageImprovement %}
            {% include '@views/improvement/_include/_features_random_like.twig' with {
            'model' : random_feature,
            'countImprovement' : countImprovement,
            }  %}
        {% endset %}

        {{ panel.input(
        'did-you-know',
        '<span class="panel-title h6">Did you know?</span>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="reload"></a></li>
            </ul>
        </div>',
        homepageImprovement,
        '',
        '',
        ''
        )}}


        {{ pjax_end() }}

        {{ this.registerJs("

                jQuery(document).on('ready', function(){

                    jQuery(document).delegate('.did-you-know a[data-action=reload]',
                    'click', function(){

                         jQuery.pjax({
                            type        : 'POST',
                            url         : '/',
                            container   : '#pjax-random-improvement',
                            push        : true,
                            replace     : true,
                            timeout     : 2000
                         });

                    });

                });

            ") }}

        <div class="mb-20">
            <a href="#"><img src="{{ getImage('pic_380_150',380,150) }}" alt="a"></a>
        </div>

        {#<div class="mb-20">#}
        {#<a href="#"><img src="/images/banners/index-banner.png" alt="a"></a>#}
        {#</div>#}


        {% include '@views/site/_last_ten_comments.twig' with {'comment' : comment } %}
    </div>
</div>