{% extends '@views/layouts/base.twig' %}
{% block body_class %}
    pace-done sidebar-opposite-visible page-knowledge-base fixed-header
    layout-boxed footer-no-fixed ptmc-about download-page
{% endblock %}
{% block body %}

    {% if constant('YII_ENV_DEV') %}
        {{ register_limit_less_asset() }}
    {% endif %}

    {% include '@views/layouts/components/header.twig' %}

    {% include '@views/layouts/components/_flash_message.twig' %}

    {% include '@views/user/modal/_modal_login.twig' %}

    {% block content %}

        <link rel="stylesheet" href="/css/download-page.css">

        <div id="download" class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            
            <div class="page-container">

                <h1 class="text-center">Get started with PTMC</h1>
                
                <div class="row step">

                    <div class="left-bar">
                        <h2 class="text-right">Get your PTMC application</h2>
                        <div class="circle">1</div>
                    </div>

                    <div class="stepBody">
                        <div class="panel panel-flat">
                            <div class="panel-body">
                                <div class="image">
                                    <img src="/images/download/monik.png" alt="monik">
                                </div>
                                <span class="title">
                                    Desktop application
                                </span>
                                <div class="description">
                                    The most functional and fully operational version of Protrader Multi-connect. Download and install it to change the way of your trading.<br>
                                    Windows 7, 8.1, 10
                                </div>
                            </div>
                            <div class="panel-footer" id="downloads">
                                <div class="radios">
                                    <input type="radio" var="w64" id="w64" name="ver" checked="checked" data-url="{{ file64 }}" data-type="download_desktop_64_exe_en">
                                    <label for="w64" id="w64-label">Windows 64 bit</label>
                                    <input type="radio" var="w32" id="w32" name="ver"  data-url="{{ file }}" data-type="download_desktop_exe_en">
                                    <label id="w32-label" for="w32">Windows 32 bit</label>
                                </div>
                                <a href="{{ file64 }}" class="btn btn-ptmc btn-download btn-fw" id="download-button" onclick="ga('send', 'event', 'button', 'click', 'download_desktop_64_exe_en')">Download PTMC</a>
                            </div>

                        </div>
                        <div class="panel panel-flat web">
                            <div class="panel-body">
                                <div class="image">
                                    <img src="/images/download/nout.png" alt="nout">
                                </div>
                                <span class="title">
                                    Web application
                                </span>
                                <div class="description">
                                    Protrader Multi-Connect is available through your favourite web browser. Wherever you are,  you'll always be aware of all market changes.<br>
                                    Firefox, Chrome, Safari, Edge, IE9+, Opera
                                </div>
                            </div>
                            <div class="panel-footer">
                                <a href="http://trade.protrader.org" class="btn btn-ptmc btn-border-ptmc btn-fw" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'Go to PTMC Web');">Go to PTMC Web</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row step">

                    <div class="left-bar">
                        <h2 class="text-right">Use your <br>account to start</h2>
                        <div class="circle">2</div>
                    </div>

                    <div class="stepBody">
                        <div class="text">
                            You need an account from any of supported brokers in order to start trading with <br> PTMC. It can be Demo of Live
                        </div>
                        <div class="brokers">
                            <div class="btn btn-border-ptmc" data-target="#modal_broker" onclick="ga('send', 'event', 'button', 'click', 'Get Protrader Demo');" data-toggle="modal">
                                Get Protrader Demo
                            </div>
                            <a href="http://protrader.org/brokers/fxcm" class="logo fxcm" target="_blank">
                                <img class="normal" src="/images/download/Logos/fxcm_160_60.png" alt="PTMC FXCM broker grey">
                                <img class="hover" src="/images/download/Logos/fxcm_160_60_hover.png" alt="PTMC FXCM broker">
                            </a>

                            <a href="http://protrader.org/brokers/lmax" class="logo lmax" target="_blank">
                                <img class="normal" src="/images/download/Logos/lmax_160_60.png" alt="PTMC LMAX broker grey">
                                <img class="hover" src="/images/download/Logos/lmax_160_60_hover.png" alt="PTMC LMAX broker">
                            </a>

                            <a href="http://protrader.org/brokers/oanda" class="logo oanda" target="_blank">
                                <img class="normal" src="/images/download/Logos/oanda_160_60.png" alt="PTMC OANDA broker grey">
                                <img class="hover" src="/images/download/Logos/oanda_160_60_hover.png" alt="PTMC OANDA broker">
                            </a>

                            <a href="http://protrader.org/brokers/interactive-brokers" class="logo ineractive" target="_blank">
                                <img class="normal" src="/images/download/Logos/_inter_160_60.png" alt="Interactive Brokers broker grey">
                                <img class="hover" src="/images/download/Logos/_inter_160_60_hover.png" alt="PTMC Interactive Brokers broker">
                            </a>

                            <a href="http://protrader.org/brokers/dtn-iq-feed" class="logo ineractive" target="_blank">
                                <img class="normal" src="/images/download/Logos/iqfeed_160_60.png" alt="Interactive Brokers broker grey">
                                <img class="hover" src="/images/download/Logos/iqfeed_160_60_hover.png" alt="PTMC Interactive Brokers broker">
                            </a>

                        </div>
                    </div>

                </div>
            {% if app.user.isGuest %}
                <div class="row step">

                    <div class="left-bar">
                        <h2 class="text-right">Become a part of community</h2>
                        <div class="circle">3</div>
                    </div>

                    <div class="stepBody">
                        <div class="text">
                            PTMC is a constantly developing application that hears its users. We created a<br> lot of opportunities to share your thoughts about our products
                        </div>
                        <div class="register">
                            <div class="btn btn-border-ptmc" onclick="ga('send', 'event', 'button', 'click', 'Register in Community');" type="button" data-safe="true">
                                Register in Community
                            </div>
                            <div class="tradersReg">
                                <span>{{ tradersCount }}+</span> traders registered
                            </div>

                        </div>
                    </div>

                </div>
            {% endif %}

            </div>
        </div>

        <!-- Primary modal -->
        {% include '@app/modules/brokers/views/default/_include/_modal_broker.twig' %}
        <!-- /primary modal -->

        {{ this.registerJs('
            $("#downloads").on("change", "input", function(){
                $("#download-button").attr("href", $(this).data("url"));
                var type = $(this).data("type");
                $("#download-button").attr("onclick", "ga(\'send\', \'event\', \'button\', \'click\', \'"+type+"\');");
            });
        ') }}

    {% endblock %}

    {% block custom_scripts %}

    {% endblock %}

    {% include '@views/layouts/components/footer.twig' %}
{% endblock %}