{% extends '@views/layouts/main.twig' %}
{% block slider %}
    
    {% include '@views/layouts/components/slider/_slider.twig' with {
                                            'slides' : staticMethod('app\\models\\slide\\Slide','getMainSlides'),'UploadPath':'slideUploadPath'
    } %}

{% endblock %}
{% block content %}


    <div class="content">
        {% import '@views/layouts/macro/panels.twig' as panel %}
        <!-- class, head, body, footer, footer_class, head_class, border -->


        {% set featureArticle = staticMethod('app\\modules\\articles\\models\\Articles','findOne',
                        {'id' : staticMethod('app\\models\\setting\\SettingsCustomValue','getDataByAttrName',
                        {'name' : 'article'})}) %}
        
        {% set articlesHTML = '
            <div class="row">
                <div class="col-lg-12 pb-20">
                    <div>
                        <a href="' ~ featureArticle.getViewUrl() ~ '"><img src="' ~ getImage('pictures',800,300) ~ '" width="100%"></a>
                    </div>
                    <div class="mt-20">

                        <span class="h4 panel-title"><a href="' ~ featureArticle.getViewUrl() ~ '">' ~  featureArticle.title  ~'</a></span>

                    </div>
                    <div>
                       ' ~  stripTag(featureArticle.content) | getLength(400)  ~'
                       </div>
                     <div class="text-muted pt-10"> ' ~  dateUTCFormat(featureArticle.created_at)  ~' by
                     <a href="#">' ~  featureArticle.user.fullname  ~'</a> <a href="' ~ featureArticle.getViewUrl() ~ '" class="pull-right">Read more</a></div>
                </div>
            </div>
            <hr>
            <ul class="media-list">
            ' %}

        {% for article in articles %}

                {% set itemHTML %}

                    {% include '@views/articles/_include/_homepage_article.twig' with {
                        'model' : article,
                        'lastOne' : loop.index == app.controller.limitHomePageArticles,
                    } %}

                {% endset %}

                {% set articlesHTML = articlesHTML ~ itemHTML %}

        {% endfor %}

        {% set articlesHTML = articlesHTML ~ '
            </ul>

            <div class="text-center"><a href="' ~ createUrl('articles/') ~ '">Read more articles</a></div>
        ' %}

        <div class="col-lg-12 no-padding-left">
            {{panel.input(
            '',
            '<h1 class="h4 panel-title">PTMC updates</h1>',
            articlesHTML,
            '',
            '',
            ' no-padding-bottom'
            )}}


            {#{{panel.input(#}
            {#'',#}
            {#'<span class="h4 panel-title">PTMC traders school</span>',#}
            {#'<div class="col-lg-4 no-padding-left">#}
                {#<a href="' ~ createUrl('documentation/index') ~ '" class="display-block well well-sm text-center">#}
                    {#<i class="icon-book bigIcon mt-10"></i>#}
                    {#<h3>Documentation</h3>#}
                {#</a>#}
            {#</div>#}
            {#<div class="col-lg-4">#}
                {#<a href="' ~ createUrl('video-lessons/index') ~ '" class="display-block well well-sm text-center">#}
                    {#<i class="icon-book-play bigIcon mt-10"></i>#}
                    {#<h3>Video lessons</h3>#}
                {#</a>#}
            {#</div>#}
            {#<div class="col-lg-4 no-padding-right">#}
                {#<a href="' ~ createUrl('faq/index') ~ '" class="display-block well well-sm text-center">#}
                    {#<i class="icon-question4 bigIcon mt-10"></i>#}
                    {#<h3>FAQ</h3>#}
                {#</a>#}
            {#</div>',#}
            {#'',#}
            {#'',#}
            {#'no-padding-bottom'#}
            {#)}}#}
        </div>

    </div>



{% endblock %}

{% block right_sidebar %}

    {% include '@views/site/_right_sidebar.twig' with {'comment' : comment } %}

{% endblock %}

