{% extends '@views/layouts/main.twig' %}

{% block content %}
    {{ this.registerJsFile('/js/webx.js')  }}
    {{ this.registerCssFile('Theme/light/light.min.css')  }}

    <div id="forChart" class="js-simple-web-block-style"></div>
    {#<div id="forPositions" class="js-simple-web-block-style"></div>#}
    {#<div id="forMD" class="js-simple-web-block-style"></div>#}
    <div id="forWL" class="js-simple-web-block-style"></div>
    <script type="text/javascript">
        function begin_js_process()
        {
            App.Initialize(Application.ApplicationTypes.SIMPLEWEB);
            App.SetSiteAddres("192.168.0.200:8888/");
            ThemeManager.initAdditionalThemeDefaults();
            var web = SimpleWeb.addPanel('forChart', SimpleWeb.PanelsTypes.Chart);
//            SimpleWeb.addPanel('forPositions', SimpleWeb.PanelsTypes.Positions);
//            SimpleWeb.addPanel('forMD', SimpleWeb.PanelsTypes.MarketDepth);
            SimpleWeb.addPanel('forWL', SimpleWeb.PanelsTypes.WatchList);
            SimpleWeb.Start(true);
        }
    </script>
{% endblock %}
