{% extends '@views/layouts/base.twig' %}
{% block body_class %}
    pace-done sidebar-opposite-visible page-knowledge-base fixed-header
    layout-boxed footer-no-fixed charts-page
{% endblock %}
{% block body %}

    {{ register_limit_less_asset() }}

    {% include '@views/layouts/components/header.twig' %}
    {#<--flash-->#}
    {% include '@views/layouts/components/_flash_message.twig' %}

    {% include '@views/user/modal/_modal_login.twig' %}

	{% block content %}

		<link rel="stylesheet" href="/css/charts.css">

		<div class="ptmc-content">
			<ul class="breadcrumb breadcrumb-caret">
				<li><a href="/site/widget" active="active">Charts</a></li>
			</ul>
		</div>

	    {{ use('app/components/widgets/charts/Chart') }}

	    {{ Chart_widget() }}

	{% endblock %}

	{% block custom_scripts %}
	<script type="text/javascript">

	</script>
    {% endblock %}

    {% include '@views/layouts/components/footer.twig' %}

{% endblock %}