{{ use('yii/widgets/Pjax') }}

{{ pjax_begin({'id' : 'pjax-random-improvement', 'timeout' : 2000,
    'enableReplaceState' : true }) }}

<div class="sidebar-category did-you-know">

    <div class="category-title">

        <span class="panel-title h4">
            {{ translate('Do you like this feature?') }}
        </span>
        {#<ul class="icons-list">#}
        {#<li><a href="#" data-action="collapse" class=""></a></li>#}
        {#</ul>#}

    </div>

    <div class="category-content text-center">

        <a href="{{ random_feature.getViewUrl() }}">
        <span class="h5 mt-10">{{ random_feature.title }}</span>
        </a>

        <div class="image mb-20 mt-10">

            <a href="{{ random_feature.getViewUrl() }}">

                {{ staticMethod('app\\modules\\brokers\\models\\FeatureSlide', 'getHomePageImage',{ 'model' : random_feature }) | raw }}

            </a>

        </div>

        <a
                href="{% if app.user.isGuest %}#{% endif %}{{ app.controller.indexUrl }}"

                class="btn btn-ptmc btn-fw  {% if not app.user.isGuest %} like-btn {{ canLike(random_feature) }} {% endif %}"

                data-class-name="{{ random_feature.getTypeEntity() }}"

                data-id="{{ random_feature.id }}"

                {% if app.user.isGuest %} data-pjax="0" data-toggle="modal" data-target="#modal_form_inline"  {% endif %}

                id="reload"

        >
            <i class="fa mr-5 fa-thumbs-o-up">

            </i>
            {{ translate('Like it') }}
        </a>
    </div>

</div>


{% include '@views/layouts/components/scripts/_like.twig' with { 'without_prevent_default' : 'false' } %}


{{ pjax_end() }}
