{% extends 'index.twig' %}
{% block headerMenu %}
{% import 'macro/mainMenu.twig' as nav %}
{{ nav.menu(3,1) }}
{% endblock %}
{% block title %}База знаний{% endblock %}
{% block breadCrumbs %}
  {% import 'macro/brCr.twig' as breads %}
  {{ breads.input({'Документация':'/views/kb/kb-main','Desktop':'/views/kb/kb','Приступим к работе':'/views/kb/kb-category','Системные требования':''}) }}
{% endblock %}

{% block left_sidebar %}
<!-- Secondary sidebar -->
<div class="sidebar sidebar-main sidebar-separate sidebar-default">
  <div class="sidebar-fixed">
    <div class="sidebar-content">

      {% include 'components/sidebars/kb-sidebar.twig' %}

    </div>
  </div>
</div>
<!-- /secondary sidebar -->

{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-lg-12">
      {% import 'macro/panels.twig' as panel %}
      <!-- class, head, body, footer, footer_class, head_class -->
      {{panel.input(
        'panel-default',
        '<h1 class="panel-title text-semibold">Системные требования</h1>',
        '<p>Клиентский терминал не имеет минимальных системных требований для запуска, но в зависимости от типа использования, рекомендуются следующие параметры:</p>
        <h2>Отдельный торговый счет</h2>
        <p>2 ГГц или более мощный процессор.</p>
        <p>2 GB оперативной памяти (данный объем выделяется только под Desktop приложение, для работы других программ необходимо иметь дополнительный объем памяти).</p>
        <p>50 Мб свободного места на диске для установки и 500 МБ для хранения истории.</p>
        <p>Windows 2000 / XP / 2003 Server / Vista / Server 2008 R1 / 2008 Server R2 / Win 7 / Win 8.</p>
        <p>Microsoft. NET Framework 3.5 или 4.0.</p>
        <h2>Автоматическая торговля</h2>
        <p>Те же требования, что и для отдельного торгового счета. Исключения:</p>
        <p>3,0 ГГц или более мощный процессор для сложных торговых систем.</p>
        <p>4 Гб оперативной памяти&nbsp;(данный объем выделяется только под Desktop приложение, для работы других программ необходимо иметь дополнительный объем памяти).</p>
        <p>80 Мб свободного места на диске для торговой системы и 500 МБ для хранения данных.</p>'
      )}}

    </div>

  </div>

{% endblock %}
