{% extends 'index.twig' %}
{% block headerMenu %}
{% import 'macro/mainMenu.twig' as nav %}
{{ nav.menu(3,1) }}
{% endblock %}
{% block title %}База знаний{% endblock %}
{% block breadCrumbs %}
  {% import 'macro/brCr.twig' as breads %}
  {{ breads.input({'Документация':'/views/kb/kb-main','Desktop':'/views/kb/kb','Приступим к работе':'/views/kb/kb-category'}) }}
{% endblock %}

{% block left_sidebar %}

<!-- Secondary sidebar -->
<div class="sidebar sidebar-main sidebar-separate sidebar-default">
  <div class="sidebar-fixed">
    <div class="sidebar-content">

      {% include 'components/sidebars/kb-sidebar.twig' %}

    </div>
  </div>
</div>
<!-- /secondary sidebar -->

{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-lg-12">
      {% import 'macro/panels.twig' as panel %}
      <!-- class, head, body, footer, footer_class, head_class -->
      {{panel.input(
        'panel-default',
        '<h1 class="panel-title text-semibold">Приступим к работе</h1>',
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus maxime ratione enim aspernatur, maiores possimus debitis quibusdam alias sequi, quo fuga adipisci mollitia pariatur quod omnis iure dolore, ad id animi officia tempore voluptatem atque excepturi explicabo. Nobis magnam itaque porro veniam voluptates, facere ex possimus quasi molestiae tenetur laboriosam accusamus eum eligendi similique quas. Nemo ullam dolores dolor? Expedita porro voluptatem doloremque laboriosam beatae distinctio labore aliquid veritatis vero omnis quo totam ipsa tenetur, repudiandae ipsam quibusdam recusandae. Architecto maiores, ad eveniet nulla. Tempore totam expedita repudiandae, esse, aliquid, labore ab, architecto nostrum minus officiis consectetur delectus nesciunt ullam.'
      )}}

    </div>

    <div class="col-lg-12">
      {{panel.input(
        'panel-flat',
        '',
        '<div class="col-lg-1 text-right pull-right">
          <i class="fa fa-file-text-o kb-list-icon"></i>
        </div>
        <div class="col-lg-11">
          <h5 class="panel-title text-semibold"><a href="/views/kb/kb-article">Системные требования</a></h5>

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quo ab quas laboriosam vero adipisci, nisi tempore cumque saepe nulla.
        </div>'
      )}}
    </div>

    <div class="col-lg-12">
      {{panel.input(
        'panel-flat',
        '',
        '<div class="col-lg-1 text-right pull-right">
          <i class="fa fa-file-text-o kb-list-icon"></i>
        </div>
        <div class="col-lg-11">
          <h5 class="panel-title text-semibold"><a href="/views/kb/kb-article">Установка и обновление</a></h5>

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quo ab quas laboriosam vero adipisci, nisi tempore cumque saepe nulla.
        </div>'
      )}}
    </div>

    <div class="col-lg-12">
      {{panel.input(
        'panel-flat',
        '',
        '<div class="col-lg-1 text-right pull-right">
          <i class="fa fa-file-text-o kb-list-icon"></i>
        </div>
        <div class="col-lg-11">
          <h5 class="panel-title text-semibold"><a href="/views/kb/kb-article">Настройка подключения</a></h5>

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quo ab quas laboriosam vero adipisci, nisi tempore cumque saepe nulla, tempore cumque saepe nulla.
        </div>'
      )}}
    </div>




  </div>

{% endblock %}
