{% extends 'index.twig' %}
{% block headerMenu %}
{% import 'macro/mainMenu.twig' as nav %}
{{ nav.menu(3,1) }}
{% endblock %}
{% block title %}База знаний{% endblock %}
{% block breadCrumbs %}
  {% import 'macro/brCr.twig' as breads %}
  {{ breads.input({'Документация':'/views/kb/kb-main','Desktop':''}) }}
{% endblock %}

{% block left_sidebar %}
<!-- Secondary sidebar -->
<div class="sidebar sidebar-main sidebar-separate sidebar-default">
  <div class="sidebar-fixed">
    <div class="sidebar-content">

      {% include 'components/sidebars/kb-sidebar.twig' %}

    </div>
  </div>
</div>
<!-- /secondary sidebar -->

{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-lg-12">
      {% import 'macro/panels.twig' as panel %}
      <!-- class, head, body, footer, footer_class, head_class -->
      {{panel.input(
        'panel-default',
        '<h1 class="panel-title text-semibold">Desktop</h1>',
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus maxime ratione enim aspernatur, maiores possimus debitis quibusdam alias sequi, quo fuga adipisci mollitia pariatur quod omnis iure dolore.'
      )}}

    </div>

    <div class="col-lg-12">
      {{panel.input(
        'border-left-xlg border-left-info panel-flat',
        '',
        '<div class="col-lg-1 text-right pull-right">
          <i class="fa fa-folder-o kb-list-icon"></i>
        </div>
        <div class="col-lg-11">
          <h5 class="panel-title text-semibold"><a href="/views/kb/kb-category">Приступим к работе</a></h5>

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quo ab quas laboriosam vero adipisci, nisi tempore cumque saepe nulla.
        </div>'
      )}}
    </div>

    <div class="col-lg-12">
      {{panel.input(
        'border-left-xlg border-left-info panel-flat',
        '',
        '<div class="col-lg-1 text-right pull-right">
          <i class="fa fa-folder-o kb-list-icon"></i>
        </div>
        <div class="col-lg-11">
          <h5 class="panel-title text-semibold"><a href="/views/kb/kb-category">Общие настройки</a></h5>

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quo ab quas laboriosam vero adipisci
        </div>'
      )}}
    </div>

    <div class="col-lg-12">
      {{panel.input(
        'border-left-xlg border-left-info panel-flat',
        '',
        '<div class="col-lg-1 text-right pull-right">
          <i class="fa fa-folder-o kb-list-icon"></i>
        </div>
        <div class="col-lg-11">
          <h5 class="panel-title text-semibold"><a href="/views/kb/kb-category">Среда</a></h5>

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quo ab quas laboriosam vero adipisci, nisi tempore cumque saepe nulla.
        </div>'
      )}}
    </div>

    <div class="col-lg-12">
      {{panel.input(
        'panel-flat',
        '',
        '<div class="col-lg-1 text-right pull-right">
          <i class="fa fa-file-text-o kb-list-icon"></i>
        </div>
        <div class="col-lg-11">
          <h5 class="panel-title text-semibold"><a href="/views/kb/kb-article">Системные требования</a></h5>

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quo ab quas laboriosam vero adipisci, nisi tempore cumque saepe nulla.
        </div>'
      )}}
    </div>




  </div>

{% endblock %}
