<div class="tab-pane has-padding active" id="basic-justified-tab1">


    <div class="form-group no-margin">
            <div class="row">
                <div class="col-md-6">
                    <div class="media stack-media-on-mobile">
                            {#<div class="thumb">#}

                                <a href="#">
                                    {{ CustomImageUpload_widget({
                                        'form' : form,
                                        'model' : user,
                                        'attribute' : 'pictures',
                                        'crop' : {
                                            'aspectRatio': 1/1
                                        },
                                        'options' : {'id' : 'pictures'},
                                    }) }}
                                </a>

                            {#</div>#}

                        {#<div class="media-body">#}
                            {#<label>Фото</label>#}
                            {#<div class="uploader bg-blue"><input type="file" class="file-styled"><span class="filename" style="-webkit-user-select: none;">No file selected</span><span class="action" style="-webkit-user-select: none;"><i class="icon-file-plus"></i></span></div>#}
                            {#<span class="help-block">Формат PNG, JPG, GIF до 1Мб</span>#}
                        {#</div>#}

                    </div>
                </div>
                <div class="col-md-6">

                    {{ form.field(user, 'email').textInput({'maxlength' : 64,'class' : 'form-control'}) | raw }}
                </div>
            </div>
            <div class="row mt-15">

                <div class="col-md-6">

                    {{ form.field(profile, 'first_name').textInput({
                        'maxlength' : 60,
                        'class' : 'form-control',
                        'placeholder' : translate('First Name')}).label('') | raw }}
                </div>

                <div class="col-md-6">

                    {{ form.field(profile_form, 'website').textInput({
                        'class' : 'form-control',
                        'value' : profile_form.website,
                        'placeholder' : translate('Web site')}) | raw }}

                    <span class="help-block">{{ translate('Without http: //') }}</span>

                </div>

            </div>
            <div class="row mt-15">

                <div class="col-md-6">

                    {{ form.field(profile, 'last_name').textInput({
                        'maxlength' : 60,
                        'class' : 'form-control',
                        'placeholder' : translate('Last Name')}) | raw }}

                </div>

                <div class="col-md-6">

                    {{ form.field(profile, 'skype').textInput({
                        'maxlength' : 60,
                        'class' : 'form-control'}) | raw }}
                </div>

            </div>
            <div class="row mt-15">

                <div class="col-md-6">
                    <div class="form-group">

                        <label>{{ translate('Country') }}</label>

                            {{ selectFilterForm(getStatic('app\\models\\forms\\ProfileForm', '_countries'), profile_form.country, 'ProfileForm[country]') | raw }}

                    </div>

                </div>

                <div class="col-md-6">

                    {{ form.field(profile, 'phone').textInput({
                        'maxlength' : 60,
                        'class' : 'form-control',
                        'placeholder' : translate('Phone')}) | raw }}


                    <span class="help-block">{{ translate('Including international code') }}</span>
                </div>

            </div>

        <div class="row mt-15">

            <div class="col-md-6">

                {{ form.field(profile, 'last_name').textInput({
                    'maxlength' : 60,
                    'class' : 'form-control',
                    'placeholder' : translate('Last Name')}) | raw }}

            </div>

            <div class="col-md-6">

                {{ form.field(profile, 'skype').textInput({
                    'maxlength' : 60,
                    'class' : 'form-control'}) | raw }}
            </div>

        </div>
            <div class="row mt-15">

                <div class="col-md-6">
                    {{ form.field(profile_form, 'about_myself').textArea({
                        'class' : 'form-control',
                        'value' : profile_form.about_myself,
                        'cols' : 30,
                        'rows' : 5,
                        'placeholder' : translate('About Myself')}) | raw }}

                </div>

                <div class="col-md-6">

                    {{ form.field(profile_form, 'social_profile').textInput({
                        'class' : 'form-control',
                        'value' : profile_form.social_profile,
                        'placeholder' : translate('Profile in social networks')}) | raw }}

                    <span class="help-block">{{ translate('It may be a reference to Facebook, LinkedIn, Twitter, etc.') }}</span>
                </div>

            </div>

            <div class="row mt-15">
                <div class="col-lg-6">
                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal_form_horizontal">
                        {{ translate('Change password') }}
                    </button>
                </div>
            </div>

        </div>


    <div class="row mt-15">

        <div class="col-md-6">

            {{ form.field(profile, 'birth_date').widget('app\\components\\CustomDatePicker', {
                'type' : 1,
                'options' : {
                    'placeholder' : '',
                    'value' : dateUTCFormat(profile.birth_date),
                },
                'convertFormat' : true,
                'pluginOptions' : {
                    'format' : 'php:d.m.Y',
                    'todayHighlight' : true,
                },
            })   | raw }}

        </div>
    </div>


</div>
