
{#{{ use('app/components/active_form/CustomActiveForm') }}#}

{% set form = active_form_begin( {'action':'/change-password','id':'change-password-form'}) %}

<!-- Horizontal form modal -->
<div id="modal_form_horizontal" class="modal changePassword fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">{{ translate('Change password') }}</h5>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <label class="control-label col-sm-4">{{ translate('Enter your old password') }}</label>
                    <div class="col-sm-8">

                        {% if(user.id == app.user.getId()) %}
                            {{ form.field(change_password_form, 'old_password', {'enableAjaxValidation': true}).passwordInput({
                                'maxlength' : 255,
                                'class':'form-control'}).label(false) | raw }}
                        {% endif %}

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4">{{ translate('Enter a new password') }}</label>
                    <div class="col-sm-8">

                        {{ form.field(change_password_form, 'new_password').passwordInput({
                            'maxlength' : 255,
                            'class':'form-control'}).label(false) | raw }}

                        {#<span class="help-block">#}
                        {#{{ translate('The password must contain 5 to 16 characters, numbers') }}</span>#}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4">{{ translate('Repeat new password') }}</label>
                    <div class="col-sm-8">

                        {{ form.field(change_password_form, 're_password').passwordInput({
                            'maxlength' : 255
                        }).label(false) | raw }}
                    </div>
                </div>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-link" data-dismiss="modal">{{ translate('Cancel') }}</button>

                {{ html.submitButton(  user.isNewRecord ? translate('Create') : translate('Save password') , {'class' : user.isNewRecord ? 'btn btn-success' : 'btn btn-ptmc'} ) | raw }}

            </div>
        </div>
    </div>
</div>

{{ active_form_end() }}
