<div class="tab-pane has-padding" id="basic-justified-tab3">
    <div class="form-group">
        <label class="display-block text-semibold">Стиль в торговле</label>
        <div class="checkbox">
            <label>
                <div class="checker"><span class="checked"><input type="checkbox" class="styled" checked="checked"></span></div>
                Day trading
            </label>
        </div>

        <div class="checkbox mt-15">
            <label>
                <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                Long term
            </label>
        </div>

        <div class="checkbox mt-15">
            <label>
                <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                Scalping
            </label>
        </div>

        <div class="checkbox mt-15">
            <label>
                <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                Swing trading
            </label>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-lg-12">
            <label class="display-block text-semibold">Опыт торговли</label>
        </div>
        <div class="col-lg-6">

            <div class="checkbox">
                <label>
                    <div class="checker"><span class="checked"><input type="checkbox" class="styled" checked="checked"></span></div>
                    Checked styled
                </label>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="col-md-6">
                <input type="text" value="1" class="form-control">
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="bootstrap-select bs-select-hidden" data-width="100%">
                        <option value="AK">Год</option>
                        <option value="HI">Месяц</option>
                    </select><div class="btn-group bootstrap-select" style="width: 100%;"><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Год"><span class="filter-option pull-left">Год</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open active"><ul class="dropdown-menu inner active" role="menu"><li data-original-index="0" class="active"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Год</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Месяц</span><span class=" icon-checkmark3 check-mark"></span></a></li></ul></div></div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-6">
            <div class="checkbox mt-15">
                <label>
                    <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                    Unchecked styled
                </label>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-md-6">
                <input type="text" value="1" class="form-control">
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="bootstrap-select bs-select-hidden" data-width="100%">
                        <option value="AK">Год</option>
                        <option value="HI">Месяц</option>
                    </select><div class="btn-group bootstrap-select" style="width: 100%;"><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Год"><span class="filter-option pull-left">Год</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open active"><ul class="dropdown-menu inner active" role="menu"><li data-original-index="0" class="active"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Год</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Месяц</span><span class=" icon-checkmark3 check-mark"></span></a></li></ul></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">

        <div class="col-lg-6">
            <div class="checkbox mt-15">
                <label>
                    <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                    Disabled styled
                </label>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-md-6">
                <input type="text" value="1" class="form-control">
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="bootstrap-select bs-select-hidden" data-width="100%">
                        <option value="AK">Год</option>
                        <option value="HI">Месяц</option>
                    </select><div class="btn-group bootstrap-select" style="width: 100%;"><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Год"><span class="filter-option pull-left">Год</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open active"><ul class="dropdown-menu inner active" role="menu"><li data-original-index="0" class="active"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Год</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Месяц</span><span class=" icon-checkmark3 check-mark"></span></a></li></ul></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">

        <div class="col-lg-6">
            <div class="checkbox mt-15">
                <label>
                    <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                    Disabled styled
                </label>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-md-6">
                <input type="text" value="1" class="form-control">
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="bootstrap-select bs-select-hidden" data-width="100%">
                        <option value="AK">Год</option>
                        <option value="HI">Месяц</option>
                    </select><div class="btn-group bootstrap-select" style="width: 100%;"><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Год"><span class="filter-option pull-left">Год</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open active"><ul class="dropdown-menu inner active" role="menu"><li data-original-index="0" class="active"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Год</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Месяц</span><span class=" icon-checkmark3 check-mark"></span></a></li></ul></div></div>
                </div>
            </div>
        </div>

    </div>
</div>