<div class="tab-pane has-padding" id="basic-justified-tab2">
    <form action="#">
        <div class="form-group">
            <div class="row mt-15">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Язык по умолчанию</label>
                        <select class="bootstrap-select bs-select-hidden" data-width="100%">
                            <option value="ru">Russian</option>
                            <option value="en">English</option>
                        </select><div class="btn-group bootstrap-select" style="width: 100%;"><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Russian"><span class="filter-option pull-left">Russian</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open active"><ul class="dropdown-menu inner active" role="menu"><li data-original-index="0" class="active"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Russian</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">English</span><span class=" icon-checkmark3 check-mark"></span></a></li></ul></div></div>
                    </div>
                </div>
            </div>
            <div class="row mt-15">
                <div class="col-md-6">
                    <label>Временная зона</label>
                    <select class="bootstrap-select bs-select-hidden" data-width="100%">
                        <option>Временная зона не установлена</option>
                        <option rel="-12.0">(GMT -12:00) Eniwetok, Kwajalein</option>
                        <option rel="-11.0">(GMT -11:00) Midway Island, Samoa</option>
                        <option rel="-10.0">(GMT -10:00) Hawaii</option>
                        <option rel="-9.0">(GMT -9:00) Alaska</option>
                        <option rel="-8.0">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                        <option rel="-7.0">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                        <option rel="-6.0">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
                        <option rel="-5.0">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
                        <option rel="-4.0">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
                        <option rel="-3.5">(GMT -3:30) Newfoundland</option>
                        <option rel="-3.0">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                        <option rel="-2.0">(GMT -2:00) Mid-Atlantic</option>
                        <option rel="-1.0">(GMT -1:00 hour) Azores, Cape Verde Islands</option>
                        <option rel="0.0">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
                        <option rel="1.0">(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
                        <option rel="2.0">(GMT +2:00) Kiev, Kaliningrad, South Africa</option>
                        <option rel="3.0">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                        <option rel="3.5">(GMT +3:30) Tehran</option>
                        <option rel="4.0">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
                        <option rel="4.5">(GMT +4:30) Kabul</option>
                        <option rel="5.0">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                        <option rel="5.5">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
                        <option rel="5.75">(GMT +5:45) Kathmandu</option>
                        <option rel="6.0">(GMT +6:00) Almaty, Dhaka, Colombo</option>
                        <option rel="7.0">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                        <option rel="8.0">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                        <option rel="9.0">(GMT +9:00) Tokyo, Seoselect, Osaka, Sapporo, Yakutsk</option>
                        <option rel="9.5">(GMT +9:30) Adelaide, Darwin</option>
                        <option rel="10.0">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                        <option rel="11.0">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                        <option rel="12.0">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                    </select><div class="btn-group bootstrap-select" style="width: 100%;"><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Временная зона не установлена"><span class="filter-option pull-left">Временная зона не установлена</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open active"><ul class="dropdown-menu inner active" role="menu"><li data-original-index="0" class="active"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Временная зона не установлена</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT -12:00) Eniwetok, Kwajalein</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT -11:00) Midway Island, Samoa</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="3"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT -10:00) Hawaii</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="4"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT -9:00) Alaska</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="5"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT -8:00) Pacific Time (US &amp; Canada)</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="6"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT -7:00) Mountain Time (US &amp; Canada)</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="7"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="8"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="9"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="10"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT -3:30) Newfoundland</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="11"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT -3:00) Brazil, Buenos Aires, Georgetown</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="12"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT -2:00) Mid-Atlantic</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="13"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT -1:00 hour) Azores, Cape Verde Islands</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="14"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT) Western Europe Time, London, Lisbon, Casablanca</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="15"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="16"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT +2:00) Kiev, Kaliningrad, South Africa</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="17"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="18"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT +3:30) Tehran</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="19"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="20"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT +4:30) Kabul</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="21"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="22"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="23"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT +5:45) Kathmandu</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="24"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT +6:00) Almaty, Dhaka, Colombo</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="25"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT +7:00) Bangkok, Hanoi, Jakarta</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="26"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="27"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT +9:00) Tokyo, Seoselect, Osaka, Sapporo, Yakutsk</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="28"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT +9:30) Adelaide, Darwin</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="29"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT +10:00) Eastern Australia, Guam, Vladivostok</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="30"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</span><span class=" icon-checkmark3 check-mark"></span></a></li><li data-original-index="31"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</span><span class=" icon-checkmark3 check-mark"></span></a></li></ul></div></div>
                </div>
            </div>
            <div class="row mt-15">
                <div class="col-md-6">
                    <div class="checkbox mt-15">
                        <label>
                            <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                            Скрыть мою активность на сайте
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-15">
                <div class="col-md-6">
                    <div class="checkbox mt-15">
                        <label>
                            <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                            Получать приватные сообщения по почте
                        </label>
                    </div>
                </div>
            </div>

            <h2 class="mt-20">Настройки форума</h2>
            <hr class="no-margin-top">

            <div class="row">
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                            <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                            Автоматически подписываться на созданные вами темы
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-15">
                <div class="col-md-6">
                    <div class="checkbox mt-15">
                        <label>
                            <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                            Уведомлять по почте, когда кто-либо отвечает в теме, на которую вы подписаны
                        </label>
                    </div>
                </div>
            </div>

            <h2 class="mt-20">Настройки статей</h2>
            <hr class="no-margin-top">

            <div class="row">
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                            <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                            Уведомлять по почте, когда кто-либо комментирует Вашу статью
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>