
<div class="panel-footer panel-footer-transparent">
  <ul class="mt-15 dispFw">

      <li class="text-muted">

          <div style="width:20px;float: left;" class="artDataAva">

              <a href="{{ model.user.getProfileLink() }}">

                  {{ model.user.getAvatar(18,18) | raw }}

              </a>

          </div>

          &nbsp;


          <a href="{{ model.user.getProfileLink() }}" class="artDataAuth">
              <span class="desktop">{{ model.user.getFullname() }}</span>
          </a>
          <span class="{% if isPtmcTeam(model.user.id) %}ptmc_team{% endif %}" title="PTMC team"></span>

          | <span class="desktop artDataDate">{{  model.getDate() }}</span>
          <span class="mobile-inl artDataAuth">{{ model.getDate('d.m Y') }}</span>

      </li>

      <li class="artDataViews"><i class="fa fa-eye text-muted"></i> {{ model.counts.count_view | default(0) }}</li>

      <li class="artDataComments">
          <i class="fa fa-comments-o text-muted"></i>
          {{ staticMethod('\\app\\components\\customComments\\CustomComments', 'getModelCount', {'model' : model}) | default(0) }}
      </li>

      <li>
        
          {{ html.a(model.category.title, model.category.getViewUrl() ,
          {'class' : 'text-muted'}) | raw }}

      </li>

      {% if read_fully %}
          <li class="pull-right"><a class="artDataReadmore" href="{{ model.getViewUrl() }}">{{ translate('Read more') }}</a></li>
      {% endif %}

  </ul>

</div>

