<div class="panel panel-flat">
  <div class="panel-heading ">
      <span class="h4 panel-title">
          <a href="{{ model.getViewUrl(model) }}">

              {{ currentLang(model, 'title') }}

          </a>
      </span>
  </div>


  <div class="panel-body">
      <div class="media-left">
          <div class="thumb mt-5">
              <a href="{{ model.getViewUrl(model) }}">

                <img src="{{ model.getPictureLink(model.id, 'articlesUploadPath') }}" class="img-responsive img-rounded media-preview" alt="">

              </a>
          </div>
      </div>

      <div class="media-body">

          {{ getPreviewText(currentLang(model, 'content'), 300) }}

      </div>
  </div>


    {% include '@views/layouts/components/_single_article/_footer.twig' with{'read_fully' : true ,'getStatusClass' : staticMethod('\\app\\modules\\articles\\models\\Articles', 'getStatusClass', {model : model})} %}

</div>
