{% block content %}
<div class="panel panel-flat panel-article art art-sing">
  <div class="panel-body">
      <div class="artHead">
        <div class="artInfo">
          <a class="artAuthor" href="{{ model.user.getProfileLink() }}">
              <!-- {{ model.user.getAvatar(18,18) | raw }} -->
              {{ model.user.getFullname() }}
              <!-- <span class="{% if isPtmcTeam(model.user.id) %}ptmc_team{% endif %}" title="PTMC team"></span> -->
          </a>
          <span class="artData">
            {{ model.getDate('d.m Y') }}
          </span>
        </div>
        <div class="artBody">
          <a href="{{ model.getViewUrl(model) }}" class="artTitle" data-pjax="0">{{ currentLang(model, 'title') }}</a>
        </div>
      </div>
      <div class="artCont">
        <div class="artInfo">      
            <a class="artThumb" href="{{ model.getViewUrl(model) }}">
              <img src="{{ model.getPictureLink(model.alias, 'articlesUploadPath') }}" alt="{{ currentLang(model, 'title') }}" onerror="this.onerror=null; this.src='http://placehold.it/150x150'">
            </a>
        </div>

        <div class="artBody">        
            {{ getPreviewTextWords(currentLang(model, 'content'), 55) | raw }}
        </div>
      </div>
     <!--  <ul class="mt-15 dispFw">

          <li class="artDataViews"><i class="fa fa-eye text-muted"></i> {{ model.counts.count_view | default(0) }}</li>

          <li class="artDataComments">
              <i class="fa fa-comments-o text-muted"></i>
              {{ staticMethod('\\app\\components\\customComments\\CustomComments', 'getModelCount', {'model' : model}) | default(0) }}
          </li>

          <li>
            
              {{ html.a(model.category.title, model.category.getViewUrl() ,
              {'class' : 'text-muted'}) | raw }}

          </li>

          {% if read_fully %}
              <li class="pull-right"><a class="artDataReadmore" href="{{ model.getViewUrl() }}">{{ translate('Read more') }}</a></li>
          {% endif %}

      </ul> -->
  </div>
</div>

{% endblock %}
