.chartContainer {
  float: left;
  width: calc(100% - 390px);
  height: 650px;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  transition: .3s;
  z-index: 10;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.chartContainer .chartBody {
  position: absolute;
  top: 83px;
  left: 0;
  right: 0;
  bottom: 60px;
  background-color: #fff;
  overflow: hidden;
  background-image: url('../images/charts/Screenshot_1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.chartContainer .chartBody img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.chartContainer .chartFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding: 15px;
  border-radius: 0 0 3px 3px;
}
.chartContainer .chartFooter .icons {
  float: left;
}
.chartContainer .chartFooter .iconsRight {
  float: right;
}
.chartContainer .chartFooter .icon {
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 26px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #fff;
}
.chartContainer .chartFooter .icon:hover {
  background-color: #f5f5f5;
}
.chartContainer .chartFooter .icon:last-child {
  margin-right: 0;
}
.chartContainer .chartFooter .icon .normal {
  display: inline-block;
}
.chartContainer .chartFooter .icon .anti {
  display: none;
}
.chartContainer .chartFooter .icon.ant .normal {
  display: none;
}
.chartContainer .chartFooter .icon.ant .anti {
  display: inline-block;
}
.charts-page .ptmc-content {
  position: relative;
  padding: 0;
  height: 53px;
}
.popularChartsWrapper {
  width: 100%;
  min-height: 650px;
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 1;
  position: relative;
}
.chartBox {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
  position: relative;
}
.chartBox.fullWidth {
  max-width: 100%;
  padding: 0;
}
.chartBox.fullWidth .chartContainer {
  width: 100%;
  min-height: 800px;
}
.chartBox.fullWidth .chartSidebar {
  margin-top: 0;
  right: 20px;
}
.chartBox.fullWidth .chartSidebar .sidebarInner {
  background-color: transparent;
  box-shadow: none;
  overflow: visible;
}
.chartBox.fullWidth .chartSidebar .sidebarInner .headSidebar {
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 10px;
}
.chartBox.fullWidth .chartSidebar .sidebarInner .headSidebar .title {
  height: 25px;
  color: grey;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}
.chartBox.fullWidth .chartSidebar .sidebarInner .bodySidebar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  overflow: hidden;
}
.chartBox.fullWidth .popularChartsWrapper {
  padding: 0 20px;
}
.chartBox.fullWidth .popularChartsWrapper .popularCharts {
  width: calc(100% - 390px);
  float: left;
}
.chartBox.fullScreen .chartContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100000;
  height: auto;
  width: auto;
}
.chartBox.fullScreen .chartContainer #chpok {
  display: none;
}
.chartSidebar {
  float: right;
  width: 390px;
  padding-left: 40px;
  height: 650px;
  margin-top: -690px;
  position: absolute;
  transition: margin .3s;
  top: 0;
  right: 0;
}
.chartSidebar .sidebarInner {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  float: left;
  background-color: #fff;
  border-radius: 3px;
  height: 100%;
  overflow: hidden;
}
.chartSidebar .sidebarInner .headSidebar {
  background-color: #525953;
  padding: 10px;
  width: 100%;
}
.chartSidebar .sidebarInner .headSidebar .title {
  color: #fff;
  font-weight: bold;
}
.chartSidebar .sidebarInner .headSidebar .title span {
  font-weight: normal;
}
.chartSidebar .sidebarInner .headSidebar .add {
  cursor: pointer;
}
.chartSidebar .sidebarInner .bodySidebar {
  background-color: #fff;
}
.chartSidebar .sidebarInner .bodySidebar .tableHead {
  position: relative;
  z-index: 100;
}
.chartSidebar .sidebarInner .bodySidebar .tablebody {
  max-height: 568px;
  overflow: auto;
}
.chartSidebar .sidebarInner .bodySidebar .tablebody tbody {
  margin-top: 50px;
}
.chartSidebar .sidebarInner .bodySidebar table {
  width: 100%;
}
.chartSidebar .sidebarInner .bodySidebar table thead tr th {
  background-color: #7a827b;
  color: #fff;
  padding: 7px 10px;
  font-size: 13px;
  text-align: center;
}
.chartSidebar .sidebarInner .bodySidebar table thead tr th:first-child {
  text-align: left;
}
.chartSidebar .sidebarInner .bodySidebar table tbody tr.active td:first-child {
  border-left: 3px solid #ffbe00;
  padding: 10px 10px 10px 7px;
}
.chartSidebar .sidebarInner .bodySidebar table tbody tr.active td {
  background-color: #fff7de;
}
.chartSidebar .sidebarInner .bodySidebar table tbody tr:hover td {
  background-color: #efefef;
}
.chartSidebar .sidebarInner .bodySidebar table tbody tr:hover td.delete {
  opacity: 1;
}
.chartSidebar .sidebarInner .bodySidebar table tbody tr td {
  background-color: #fff;
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
  color: #505451;
  text-align: center;
}
.chartSidebar .sidebarInner .bodySidebar table tbody tr td:first-child {
  text-align: left;
}
.chartSidebar .sidebarInner .bodySidebar table tbody tr td.symbol {
  color: #a0522d;
}
.chartSidebar .sidebarInner .bodySidebar table tbody tr td.change {
  color: #009e40;
}
.chartSidebar .sidebarInner .bodySidebar table tbody tr td.delete {
  opacity: 0;
  padding: 0;
  width: 30px;
  background-image: url('../images/charts/x.png');
  background-repeat: no-repeat;
  background-position: left;
}
.popularCharts {
  float: left;
  width: 100%;
}
.popularCharts .h2 {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  color: #808080;
  width: 100%;
}
.popularCharts .popularPanel {
  padding: 30px;
  position: relative;
  float: left;
  max-width: 100%;
}
.popularCharts .popularPanel:before {
  content: " ";
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 165px;
  width: 1px;
  border-left: 1px dashed #aaaaaa;
}
.popularCharts .popularPanel .popWrap {
  width: 100%;
  float: left;
  padding-bottom: 40px;
}
.popularCharts .popularPanel .popWrap:last-child {
  padding-bottom: 0;
}
.popularCharts .popularPanel .popInfo {
  float: left;
  width: 135px;
  text-align: right;
  padding-right: 20px;
}
.popularCharts .popularPanel .popInfo .h2 {
  text-align: right;
  margin-top: 0;
}
.popularCharts .popularPanel .popBody {
  float: left;
  padding-left: 20px;
  width: calc(100% - 135px);
}
.popularCharts .popularPanel .popBody .slider {
  width: 100%;
  float: left;
  position: relative;
  margin-left: 10px;
}
.popularCharts .popularPanel .popBody .slider .owl-stage-outer {
  z-index: 2;
  padding-bottom: 1px;
}
.popularCharts .popularPanel .popBody .slider .owl-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.popularCharts .popularPanel .popBody .slider .owl-controls .owl-prev {
  position: absolute;
  left: -15px;
  top: 50%;
  width: 11px;
  height: 19px;
  background-image: url('../images/charts/left.png');
  color: transparent;
}
.popularCharts .popularPanel .popBody .slider .owl-controls .owl-next {
  position: absolute;
  right: -10px;
  top: 50%;
  width: 11px;
  height: 19px;
  background-image: url('../images/charts/right.png');
  color: transparent;
}
.popularCharts .popularPanel .popBody .slider .slide {
  width: 165px;
  float: left;
  max-width: 100%;
}
.popularCharts .popularPanel .popBody .slider .slide .title {
  width: 100%;
  float: left;
  font-size: 14px;
  line-height: 15px;
  color: #444444;
}
.popularCharts .popularPanel .popBody .slider .slide .descr {
  float: left;
  width: 100%;
  font-size: 13px;
  line-height: 15px;
  color: #808080;
}
.popularCharts .popularPanel .popBody .slider .slide .img {
  float: left;
  overflow: hidden;
  margin-top: 10px;
}
.popularCharts .popularPanel .popBody .slider .slide .img img {
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
}
.chartHead {
  position: relative;
  float: left;
  width: 100%;
  padding: 20px 15px;
  background-color: #525953;
  z-index: 10;
  border-radius: 3px 3px 0 0;
}
.chartHead .titile {
  float: left;
  margin: 0;
  line-height: 1.2em;
  color: #fff;
  font-size: 18px;
}
.chartHead .titile .name {
  font-weight: 500;
}
.chartHead .titile .description {
  color: #999999;
  font-size: 14px;
}
.chartHead .titile .pos {
  color: #cccccc;
  font-size: 14px;
}
.chartHead .titile .pos .cord {
  color: #999999;
  margin-left: 10px;
}
.chartHead .titile .pos .cord:first-child {
  margin-left: 0;
}
.chartHead .selects {
  float: right;
  position: absolute;
  right: 15px;
}
.chartHead .selects .select {
  background-color: #fff;
  height: 40px;
  width: 60px;
  float: left;
  margin-right: 6px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  background-image: url('../images/charts/select.png');
  background-repeat: no-repeat;
  background-position: 42px center;
}
.chartHead .selects .select.wi ul.list li {
  min-width: 25px;
}
.chartHead .selects .select.open ul.list {
  display: block;
}
.chartHead .selects .select:last-child {
  margin-right: 0;
}
.chartHead .selects .select ul {
  position: absolute;
  padding: 0;
  margin: 0;
}
.chartHead .selects .select ul.icons {
  top: 0;
  left: 0;
  right: 20px;
  bottom: 0;
  overflow: hidden;
}
.chartHead .selects .select ul.icons li {
  display: none;
  list-style: none;
  height: 40px;
  width: 100%;
  position: relative;
}
.chartHead .selects .select ul.icons li.active {
  display: block;
  text-align: center;
}
.chartHead .selects .select ul.icons li img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.chartHead .selects .select ul.icons li span {
  line-height: 40px;
}
.chartHead .selects .select ul.list {
  left: 0;
  top: 41px;
  width: auto;
  background-color: #fff;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  display: none;
}
.chartHead .selects .select ul.list li {
  display: block;
  float: left;
  padding: 10px;
  min-width: 125px;
  cursor: pointer;
  margin: 0;
  width: 100%;
}
.chartHead .selects .select ul.list li img {
  display: block;
  float: left;
  margin-right: 5px;
}
.chartHead .selects .select ul.list li:hover,
.chartHead .selects .select ul.list li.active {
  background-color: #efefef;
}
.dropBtn {
  width: 40px;
  height: 40px;
  background-color: #ffbe00;
  float: left;
  border-radius: 3px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
  margin-right: 15px;
}
.dropBtn:hover {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
}
.searchField {
  float: left;
  height: 40px;
  margin-left: 15px;
}
.searchField input {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #999999;
  line-height: 40px;
  font-size: 22px;
  color: #525953;
}
.dropMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  display: none;
}
.dropHead {
  padding: 20px 15px;
  background-color: #525953;
  float: left;
}
.dropBody {
  padding: 15px;
  float: left;
}
