.tr03 {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s
}

.frListMore {
  margin-top: 10px;

  a {
    min-height: 30px;
  }
  .frListMoreVotes {
    background-color: #ddd;
    border-radius: 50%;
    color: #444;
    display: block;
    float: left;
    font-size: 12px;
    height: 25px;
    left: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    width: 25px;
  }
  .frListMoreTitle {
    display: inline-block;
    padding-left: 30px;
    &:hover {
      text-decoration: underline;
    }
  }
}
.crossShare {
  .crossTitle {
    color: #fff;
    padding-top: 40px;
    margin-top: 0 !important;
  }
}

.addthis_sharing_toolbox.crossTradeShare {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;

  a {
    display: inline-block !important;
    opacity: 1 !important;
    margin: 50px !important;
    transform: scale(2) !important;

    &:hover {
      transform: scale(2.2) !important;
    }
  }
}

.advSearchForm {
    margin-top: 10px;
    
    .col-lg-10 span {
        background: transparent url(/images/clear.png) no-repeat center;
        display: block;
        height: 16px;
        margin-top: -8px;
        position: absolute;
        right: 10px;
        top: 50%;
        width: 16px;
        cursor: default;
        cursor: pointer;
        opacity: 0.6;
        
        &:hover {
            opacity: 1;
        }
    }
    
    button {
        width: 90%;
    }
}

.srchRes {
    margin-top: 35px;

    .srNum {
        border-bottom: 1px dashed #aaa;
        margin-bottom: 15px;
        font-size: 13px;
    }
    .srItem {
        margin-bottom: 20px;
    }
    .srTitle {
        margin-bottom: 3px;
        span {
            //background-color: lemonchiffon;
            font-weight: bold;
        }
    }
    .srBody {
        font-size: 14px;
        line-height: 1.5em;
        span {
            font-weight: bold;
        }
    }
}

.srchFilters {
    margin: 10px 0 20px;
    width: 100%;
    float: left;

    .srFilt {
        background-color: transparent;
        border: 1px solid #f5f5f5;
        border-radius: 5px;
        cursor: pointer;
        float: left;
        font-size: 13px;
        margin-right: 10px;
        padding: 0 13px;
        color: #333;
        
        &:hover {
            background-color: #f5f5f5;
        }
        
        &.active {
            background-color: #ffbe00;
            border: 1px solid #ffbe00;
            color: #222;
        }
        
        .fnumb {
            color: #aaa;
        }
    }
}
#ctCup {
    height: 180px;
    position: fixed;
    right: -170px;
    top: 50%;
    width: 140px;
    z-index: 10000;
    .tr03;
    
    .closeCup {
        background: #aaa url(/images/hrest.png) no-repeat center;
        background-size: 60%;
        border-radius: 50%;
        display: block;
        height: 25px;
        left: 100px;
        position: absolute;
        top: -30px;
        width: 25px;
        z-index: 1;
        .tr03;
        &:hover {
            background-color: #888;
        }
    }
    
    .cupCup {
        background: transparent url("/images/Cup.png") no-repeat scroll center center;
        display: block;
        width: 100%;
        height: 100%;
        background-size: contain;
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        .tr03;
        
        &>div {
            background-color: #333;
            border: 3px solid;
            border-radius: 10px;
            box-shadow: -5px 5px 7px #888;
            color: #ffbe00;
            font-size: 18px;
            font-weight: bold;
            left: -240px;
            padding: 15px 20px;
            position: absolute;
            text-align: center;
            top: 160px;
            transform: rotate(80deg);
            opacity: 0;
            width: 240px;
            transform-origin: 100% 100% 0;
            -ms-transform-origin: 100% 100% 0;
            -webkit-transform-origin: 100% 100% 0;
            
            line-height: 1.3em;
            .tr03;
        }
        &:hover {
            
            
            &>div {
                transform: rotate(65deg);
                -ms-transform: rotate(65deg);
                -webkit-transform: rotate(65deg);
                opacity: 1;
            }
        }
    }
    
    &.visib {
        right: 0;
        
        .cupCup {
            transform: rotate(-30deg);
            -ms-transform: rotate(-30deg);
            -webkit-transform: rotate(-30deg);
        }
    }
}


.ptmc-navbar .navbar-nav li.topSearch {
    position: static;
    
    a {
        width: 50px;
        background: transparent url('/images/srch.png') no-repeat center;
    }
    
    .tsForm {
        overflow: hidden;
        width: 0px;
        background-color: #353535;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        .tr03;
        
        &.active {
            width: 100%;
        }
        
        form {
            box-sizing: border-box;
            float: left;
            height: 100%;
            padding: 25px 20px;
            width: 100%;
            
            .tsfInp {
                span {
                    background: transparent url(/images/clear.png) no-repeat center;
                    display: block;
                    height: 16px;
                    margin-top: -8px;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    width: 16px;
                    cursor: default;
                    cursor: pointer;
                    opacity: 0.6;
                    
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
  .crossShare {
    .crossTitle {
      padding-top: 20px;
    }
  }

  .addthis_sharing_toolbox.crossTradeShare .at-share-tbx-element > a {
    margin: 15px !important;
    transform: scale(1.5) !important;

    &:hover {
      transform: scale(1.6) !important;
    }
  }
  .advSearchForm {
    button {
        width: 150px;
        margin: 10px auto 0;
    }
    .tsfBtn {
        text-align: center;
    }
  }

}

@media screen and (max-width: 600px) {
  .addthis_sharing_toolbox.crossTradeShare .at-share-tbx-element > a {
    margin: 10px !important;
    transform: scale(1) !important;

    &:hover {
      transform: scale(1) !important;
    }
  }

}