.dashboard {
    h3 {
        background-color: #f5f5f5;
        padding: 10px 0;
        border-radius: 10px;
        margin-bottom: 20px;
    }
}

.rowFullscrBtn {
    border: 1px solid #aaa;
    display: block;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 25px;
    width: 20px;
    transform: scale('1');
    
    &:hover {
        background-color: salmon;
        transform: scale('1.3');
    }
}

.panel .panel {
    box-shadow: 0 0;
    border-radius: 0;
    padding: 0;
    border: 0 none;
    overflow: hidden;
    
    &>.panel-heading {
        background-color: transparent;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.bgChart {
    bottom: 0px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    
    canvas {
        bottom: 0;
        position: absolute;
        z-index: 0;
    }
}

.bigNumber {
    color: #333;
    font-size: 80px;
    font-weight: 700;
    line-height: 120px;
    margin: 20px auto 0;
    text-align: center;
    position: relative;
    z-index: 2;
    
    &> span {
        bottom: 0px;
        display: block;
        font-size: 0.3em;
        left: 50%;
        line-height: 20px;
        margin-left: -25px;
        opacity: 0.6;
        position: absolute;
        width: 50px;
    }
}

.twoNums {
    margin: 10px auto 0;
    
    &> div {
        box-sizing: border-box;
        float: left;
        font-size: 80px;
        font-weight: 700;
        padding: 20px 0 0 30px;
        text-align: left;
        width: 50%;
        
        .tnTitle {
            font-size: 25px;
            color: #aaa;
            display: block;
        }
    }
}


// Fullscreen styles
.rowFullscr {
    background-color: #222;
    bottom: 0;
    left: 0;
    padding: 40px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
    
    .panel {
        background-color: #1a1a1a;
        border: 0 none;
        border-radius: 10px;
        box-shadow: 0 0 10px #000 inset;
        padding: 20px 0;
        
        .panel-title {
            border-bottom: 5px solid #111;
            color: #666;
            font-size: 20px;
            font-weight: 600;
            padding-bottom: 20px;
        }
    }
    .bgChart {
        bottom: -20px;
    }
    
    .bigNumber {
         color: #ffbe00;
        font-size: 120px;
        font-weight: 700;
        line-height: 100px;
        margin: 20px auto 50px;
        text-align: center;
        span {
            bottom: -40px;
        }
    }
    
    .twoNums > div {
        color: #ffbe00;
        border: 0 none;
        
        .tnTitle {
            color: #666;
        }
    }
    
    h3 {
        color: #666;
        margin-bottom: 40px;
        padding: 10px 0;
        background-color: transparent;
    }
}
.navigation-accordion{
    padding: 0;
    &>li{
        &:hover{
        }
    }
}
.navigation>li>ul li:first-child{
    padding-top: 0;
}
.navigation>li>ul li:last-child{
    padding-bottom: 0;
}
.navigation li+li{
    margin-top: 0;
}