@mar: 30px;
.tr03{
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
}
.tr06{
	transition: .6s;
	-webkit-transition: .6s;
	-moz-transition: .6s;
	-o-transition: .6s;
	-ms-transition: .6s;
}
.download-page{
	background-color: #F0F0F0;
	background-image: none;
}
#download{
	background-image: url(../images/download/001.jpg);
	background-attachment: scroll;
	background-position: bottom;
	background-repeat: no-repeat;
	padding-bottom: 280px;
	h1{
		font-size: 40px;
		font-weight: bold;
		margin-top: 60px;
	    margin-bottom: 70px;
		color: #4c4f4d;
	}
	.page-container{
		padding-top: 0;
	}
	.register{
		margin-top: 40px;
		.btn-border-ptmc{
			font-size: 20px;
			line-height: 20px;
			color: #333333;
			padding: 17px 38px;
			float: left;
		}
		.tradersReg{
			line-height: 56px;
			font-size: 25px;
			color: #999999;
			margin-left: 30px;
			float: left;
			span{
				font-size: 30px;
				font-weight: bold;
			}
		}
	}
	.brokers{
		margin-top: 40px;
		.btn-border-ptmc{
			font-size: 20px;
			line-height: 20px;
			color: #333333;
			padding: 17px 50px;
			float: left;
		}
		a.logo{
			text-decoration: none;
			position: relative;
			float: left;
			&.fxcm{
				margin-left: 18px;
			}
			&:nth-child(5){
			    margin-left: 310px;
			}
			img{
				.tr03;
				position: relative;
				&.hover{					
					position: absolute;
					opacity: 0;
					top: 0;
					left: 0;
				}
			}
			&:hover{
				.hover{
					opacity: 1;
				}
				.normal{
					opacity: 0;
				}
			}
		}
	}
	.step{
		position: relative;
		padding-bottom: 80px;
		margin-bottom: 10px;
		&:last-child{
			&:before{
				content: none;
			}
		}
		h2{
			font-size: 28px;
			line-height: 1.2em;
			font-weight: 500;
			margin-top: 0;
		}
		&:before{
			content: " ";
			display: block;
			width: 1px;
			border-left: 1px dashed #aaaaaa;
			position: absolute;
			bottom: 0;
			top: 70px;
			left: 280px;
		}
		.left-bar{
			padding-right: 60px;
			position: relative;
			width: 280px;
			float: left;
		}
		.stepBody{
			float: left;
			width: 900px;
			padding-left: 60px;
			margin-top: 10px;
			.panel{
				float: left;
				width: ~"calc(50% - 20px)";
				margin-right: 40px;
		    	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
		    	&.web{
					background: transparent none repeat scroll 0 0;
				    border: 1px solid #ccc;
				    box-shadow: 0 0;
				    margin-top: 10px;
					.tr06;
				}
		    	.tr03;
		    	.title{
		    		font-size: 24px;
		    		color: #4c4f4d;
		    		font-weight: normal;
		    		text-align: center;
		    		display: block;
		    		margin-bottom: 25px;
		    	}
		    	.description{
		    		text-align: center;
		    		color: #999999;
		    		font-size: 14px;
		    		line-height: 20px;
		    	}
		    	.image{
		    		text-align: center;
		    		margin-bottom: 25px;
		    	}
				&:hover{
		    		box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
		.panel-footer{
			border-top: 0;
			background-color: transparent;
			padding-top: 35px;
			padding-left: 15px;
			padding-right: 15px;
			text-align: center;
			.btn-download{
				border: 0;
			    padding-left: 45px;
			    padding-right: 45px;
			    padding-top: 10px;
			    padding-bottom: 10px;
			    margin-bottom: 3px;
			    font-size: 20px;
			    border-radius: 5px;
			    border-bottom: 5px solid #ed8218;
			    background-color: #ffbe00;
			    position: relative;
			    &:hover{
		    	    border-bottom: 4px solid #ed8218;
				    margin-top: 1px;
				    background-color: #ffbe00;
				    box-shadow: none;
				    color: #4c4f4d;
			    }
			    &:active{
			    	margin-top: 3px;
				    border-bottom: 2px solid #ed8218;
				    background-color: #ffbe00;
				    box-shadow: none;
				    color: #4c4f4d;
			    }
			}
			.br-sup{		
				font-size: 16px;
				line-height: 24px;
				color: #505451;
				margin-bottom: 10px;
			}
			input{
				&[type="radio"]{
					display: none;
					&:checked{
						&+label{
							&:after{
								content: " ";
								display: block;
								border-radius: 50%;
								width: 8px;
								height: 8px;
								background-color: #444444;
								border-radius: 50%;
								position: absolute;
								top: 6px;
								left: 4px;
							}
						}
					}
					&+label{
						display: inline-block;
						text-align: left;
						padding-left: 22px;
						position: relative;
						font-size: 16px;
						line-height: 24px;
						color: #505451;
						margin-bottom: 10px;
						margin-right: 30px;
						&[for="w32"]{
							margin-right: 0;
						}
						&:before{
							content: " ";
							display: block;
							position: absolute;
							width: 16px;
							height: 16px;
							border: 1px solid #adadad;
							background-color: #fff;
							border-radius: 50%;
							top: 2px;
							left: 0;
						}
					}
				}
			}
		}
		.circle{
			border: 2px solid #4c4f4d;
			border-radius: 50%;
			color: #4c4f4d;
			width: 60px;
			height: 60px;
			line-height: 55px;
			text-align: center;
			position: absolute;
			top: 0px;
			right: -30px;
			font-size: 30px;
			font-weight: bold;
		}
	}
}
@media screen and (max-width:1199px){
	#download{
		padding-left: 0;
		padding-right: 0;
		.page-container{
			max-width: 100%;
			width: 1024px;
			display: block;
			padding-left: 30px;
			padding-right: 30px;
		}
		.step{
			&:before{
			    top: 80px;
    			left: 30px;
			}
			.stepBody{
				padding-left: 80px;
				width: 100%;
			}
			.panel-footer{
				input[type=radio]+label{
					margin-right: 10px;
				}
			}
			.left-bar{
				width: 100%;
				float: left;
				text-align: left;
				h2.text-right{
					text-align: left;
					padding-left: 82px;
					br{
						display: none;
					}
				}
				.circle{
					top: 6px;
					left: 0;
					right: auto;
				}
			}
		}
	}
}
@media screen and (max-width:920px){
	#download{
		.step{
			.panel-footer{				
				input[type=radio]+label{
					margin-right: 0;
					display: inline-block;
					text-align: center;
				}
			}
		}
	}
	#download .brokers a.logo:nth-child(5){
		margin-left: 0;
	}
}
@media screen and (max-width:768px){
	#download{
		.step{
			.text-right{
				display: block;
				margin-top: 20px;
			}
			.panel-footer{
				.btn-download{
					width: 100%;
					text-align: center;
					padding: 7px;
					font-size: 14px;
				}
			}
		}
	}	
    #download .step .stepBody .panel.web{
        margin-top: 0;
    }
    #download .brokers .btn-border-ptmc{
    	float: none;
    	display: block;
    	margin-bottom: 10px;
    }
}

@media screen and (max-width:601px){
	#download{
		.step{
			.stepBody{
				.panel{
					width: 100%!important;
					margin: 0;
					margin-bottom: 20px;
				}
			}
			.brokers, .register{
				float: left;
				width: 100%;
				text-align: center;
				margin-top: 20px;
				.btn-border-ptmc{
					max-width: 100%;
					width: 100%;
					font-size: 17px;
					margin-bottom: 10px;
					margin-top: 0!important;
				}
				.fxcm{
					margin-left: 0;
				}
				.logo{
					float: none;
					display: inline-block;
				}
				.tradersReg{
					margin-left: 0;
					font-size: 21px;
				}
		 	}
		}
	}
}
@media screen and (max-width:480px){
	#download{
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 360px;
		.page-container{
			max-width: 100%;
			width: 100%;
			padding:0;
		}
		h1{
			font-size: 24px;
			margin-top: 30px;
			margin-bottom: 30px;
		}
		.step{
			margin-left: -5px;
			margin-right: -5px;
			margin-bottom: 0;
			padding-bottom: 30px;
			&:before{
			    top: 40px;
    			left: 15px;
			}
			.stepBody{
				padding-left: 40px;		
				.brokers, .register{
					float: left;
					width: 100%;
					text-align: center;
					margin-top: 20px;
					.btn-border-ptmc{
						max-width: 100%;
						width: 100%;
						font-size: 17px;
						margin-bottom: 10px;
						margin-top: 0!important;
					}
					.fxcm{
						margin-left: 0;
					}
					.logo{
						float: none;
						display: inline-block;
					}
					.tradersReg{
						margin-left: 0;
						font-size: 21px;
					}
			 	}
				.panel{
					width: 100%;
					border: 0;
					padding: 0;
					background-color: transparent;
					box-shadow: none;
					&.web{
						border: 0;
					}
					&:hover{						
						background-color: transparent;
						box-shadow: none;
					}
					.panel-body{
						.title{
							text-align: left;
							font-size: 20px;
						}
						.description{
							font-size: 13px;
							text-align: left;
						}
					}
					.panel-footer{
						padding-left: 0;
						padding-right: 0;
						input[type=radio]+label{
							font-size: 14px;    
							margin-right: 10px;
						}
					}
				}
			}
			.left-bar{
				padding-right: 0;
				h2.text-right{
					display: block;
					font-size: 18px;
					line-height: 1.2em;
					margin-top: 12px;
					padding-left: 40px;
					padding-right: 0;
				}
				.circle{
				    background-color: #4c4f4d;
				    color: #fff;
				    font-size: 18px;
				    line-height: 26px;
				    width: 30px;
				    height: 30px;
				    left: 0;
				    font-weight: 400;
				}
			}
		}
	}
}