*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 62.5%;
    height: 100%;
    overflow: hidden;
}
@media (max-width: 768px) {
    html, body {
        font-size: 40%;
    }
}

svg {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: visible;
}

.svg-icon {
    cursor: pointer;
}
.svg-icon path {
    stroke: rgba(255, 255, 255, 0.9);
    fill: none;
    stroke-width: 1;
}

input, button {
    outline: none;
    border: none;
}

.login__row {
    width: 250px;
    height: 5rem;
    padding-top: 1rem;
}
.login__icon {
    margin-bottom: -0.4rem;
    margin-right: 0.5rem;
}
.login__icon.name path {
    stroke-dasharray: 73.50196075439453;
    stroke-dashoffset: 73.50196075439453;
    -webkit-animation: animatePath 2s 0.5s forwards;
    animation: animatePath 2s 0.5s forwards;
}
.login__icon.pass path {
    stroke-dasharray: 92.10662841796875;
    stroke-dashoffset: 92.10662841796875;
    -webkit-animation: animatePath 2s 0.5s forwards;
    animation: animatePath 2s 0.5s forwards;
}
.login__input {
    display: inline-block;
    width: 22rem;
    height: 100%;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    background: transparent;
    color: #FDFCFD;
}

.login__signup a {
    color: #fff;
    cursor: pointer;
}


.app.active .app__user-photo {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.app.active .app__meeting {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.app.active .app__logout {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.app__menu-btn span, .app__menu-btn:before, .app__menu-btn:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.6);
}
.app__menu-btn span {
    top: 0.8rem;
}


.app__logout.clicked svg {
    opacity: 0;
}

.app__logout-icon path {
    stroke-width: 4px;
    stroke-dasharray: 64.36235046386719;
    stroke-dashoffset: 64.36235046386719;
    -webkit-animation: animatePath 0.5s 0.5s forwards;
    animation: animatePath 0.5s 0.5s forwards;
}


@-webkit-keyframes animRipple {
    to {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
        opacity: 0;
    }
}

@keyframes animRipple {
    to {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
        opacity: 0;
    }
}
@-webkit-keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes animatePath {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes animatePath {
    to {
        stroke-dashoffset: 0;
    }
}

body {
    background-color:  #263238!important;
    font-family: "Roboto", sans-seif;
}



.logo{
    height:10%;
    width: 34%;
    margin-left: 30%;
    margin-top: 55px;
}
.title{
    color: white;
    font-family:'Open Sans';

    margin-left: 6%;
    width:22%;
    font-size: 56px;
    margin-bottom: 45px;
}
.btn.btn-primary.center{
    width: 34%;
    height: 36px;
    margin-top:15px;
    font-size: 16px;
    background-color: rgb(32, 155, 215);
}



.login__row {
    width: 250px;
    height: 5rem;
    padding-top: 1rem;
}


input.login__input{
    border-bottom: 1px double white;
    color: rgb(148,153,157);
    border-color: rgb(200,200,200);

}


input, button {
    outline: none;
    border: none;
}
input:focus{
    border-bottom: 2px double white;

}

.logo-login{
    margin-left: 30%;
    margin-top: 55px;

    width: 100%;
    height: 100px;
    display: block;
    background:url("../images/PCP/logo.png") no-repeat scroll;
}
div.content{
    margin: 7% 0 0 35%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #263238 inset;
    -webkit-text-fill-color: white !important;

}
.vk_linke_google_cards{
    text-align: center;
    margin: 10px 87px 5px 10px;
}
