<span>Request type:</span>
<span class="dropFilter">
    {{ searchModel.getSelectedLabels() | join(', ') }}
    <div class="dropMenu">
        <ul>
               {# <li>
                    <input type="checkbox" id="checkAll">
                    <label for="checkAll">All</label>
                </li>
                <li class="divider"></li>#}
            {% for cat in searchModel.categories %}
                <li>
                    <input type="checkbox" id="check{{ cat.name }}" data-id="{{ cat.id }}" {{ searchModel.isFilteringCategoryById(cat.id) ? 'checked'}}>
                    <label for="check{{ cat.name }}">{{ cat.name }}</label>
                </li>
            {% endfor %}
        </ul>
    </div>
</span>