<div class="Title">
    <span class="Type {{ model.category.name | lower }}">
        {{ model.category.name }}
    </span>
    <a href="{{ model.getViewUrl() }}" data-pjax="0">{{ model.title}}</a>
</div>
<div class="description">
    {{ model.getContent() | raw}}
</div>