<!-- <div class="mobileButton">
    <i class="icon-menu7"></i>
</div> -->
<div class="mobile-sidebar open">
    <div class="sidebar-content">

        <div id="navig" class="sidebar-category">

            {{ VotePanel_widget({'model': feature}) }}

        </div>

    </div>
</div>