{% extends '@views/layouts/main.twig' %}
{% block ceo %}
    <title>Feature Requests for PTMC Trading Platform - {{ app.request.get('page') ? "Page "~app.request.get('page')~" of "  : ''}}{{ searchModel.status | capitalize }}</title>
    <meta name="description" content="{{ app.request.get('page') ? "Page "~app.request.get('page')~" of "  : ''}}{{ searchModel.status | capitalize }}. Traders request section gives the ability to propose functionality features for PTMC trading platform. If you have interesting idea, share with us."/>
    <meta name="keywords" content="{{ app.request.get('page') ? "Page "~app.request.get('page')~","  : ''}}{{ searchModel.status | capitalize }}, features request, ptmc, trading platform, software, system, pfsoft, protrader">
    {# Если есть page то каноникал с параетром page если его нет, то возвращаю просто canonical #}
    <link rel="canonical" href="{{ app.request.get('page') ? url.canonical()~'?page='~app.request.get('page') : url.canonical() }}"/>
{% endblock %}
{% block body_class %}
    pace-done sidebar-opposite-visible page-knowledge-base fixed-header
    layout-boxed article-single
{% endblock %}
{% block content %}

    {{ use('yii/widgets/Pjax') }}
    {{ use('yii/grid/GridView') }}
    {{ use('yii/widgets/Pjax') }}
    {{ use('app/components/widgets/vote/Vote') }}
    {{ use('app/components/custom_list_view/CustomLinkPager') }}

    {{ Pjax_begin({
        'id':'pjax-features',
        'timeout':5000
    }) }}
    <div class="panel new-brokers-list brokers-list-upcoming">

        <div class="panel-heading">
            <h1 class="panel-title">{{ translate('Feature Request') }}</h1>
            <div class="filter">
                <div class="pull-right">
                    <a href="#" onclick="ga('send', 'event', 'button', 'click', 'Add Idea Feature');"
                       data-toggle="modal"
                       data-target="{{ app.user.isGuest() ? '#modal_form_inline' : '#modal_add_idea' }}"
                       class="btn btn-ptmc">{{ translate("Add idea") }}</a>
                </div>

                <ul class="tabs">
                    <li {{ searchModel.status == constant('STATUS_VOTING', model) ? 'class="active"' }}>
                        <a href="/feature-request" data=pjax="0">
                            <!-- <img src="/images/f-request/icon/__idea.svg" onerror="this.onerror=null; this.src=\'/images/__idea.png\'" alt=""> --> Voting ({{ countsParams[constant('STATUS_VOTING', model)] | default(0) }})
                        </a>
                    </li>
                    <li {{ searchModel.status == constant('STATUS_DEV', model) ? 'class="active"' }}>
                        <a href="/feature-request/development">
                            <!-- <img src="/images/f-request/icon/__development.svg" onerror="this.onerror=null; this.src=\'/images/__development.png\'" alt=""> --> Development ({{ countsParams[constant('STATUS_DEV', model)] | default(0) }})
                        </a>
                    </li>
                    <li {{ searchModel.status == constant('STATUS_RELEASE', model) ? 'class="active"' }}>
                        <a href="/feature-request/released">
                            <!-- <img src="/images/f-request/icon/__fin.svg" onerror="this.onerror=null; this.src=\'/images/__fin.png\'" alt="">  -->Released ({{ countsParams[constant('STATUS_RELEASE', model)] | default(0) }})
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            {{
            GridView_widget({
                'options':{'class':'featTable', 'id':'featTable'},
                'layout':'{items}',
                'summary':false,
                'dataProvider':dataProvider,
                'columns':columns,
                'tableOptions':{
                    'class':'table'
                }
            })
            }}
        </div>
    </div>
    {{ CustomLinkPager_widget({
        'pagination':dataProvider.pagination,
    }) }}
    {{ Pjax_end({}) }}
    {{ use('yii/widgets/ActiveForm') }}
    {{ use('app/components/widgets/imperavi/Redactor') }}
    <div id="modal_add_idea" class="modal fade">
        <div class="modal-dialog ptmc-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            onclick="ga('send', 'event', 'button', 'click', 'Add idea of feature');">×
                    </button>
                    <div class="h6 modal-title">{{ translate('Add idea of feature') }}</div>
                </div>
                <div class="modal-body">
                    {% set form = active_form_begin({
                    'action' : '/feature-request/save',
                    'options' : {
                    'class' : 'form-horizontal group-border-dashed',
                    'enctype' : 'multipart/form-data',
                    },
                    'fieldConfig' : {
                    'template' : '{label}{error}\n<div class="col-lg-12 no-padding">{input}</div>\n{hint}',
                    'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
                    'labelOptions' : {'class' : 'col-lg-6 control-label no-padding-left'},
                    'errorOptions' : {'class' : 'col-lg-6 help-block no-padding-right pull-right'}
                    }
                    }) %}

                    {{ form.field(model, 'title').textInput({'maxlength' : true}) | raw }}

                    {{ form.field(model, 'category_id').dropDownList(categoriesList, {'prompt' : 'Select category'}) | raw }}

                    {{ Redactor_widget({
                        'model' : model,
                        'form' : form,
                        'field' : 'content',
                        'type' : constant('app\\components\\widgets\\imperavi\\Redactor::TYPE_FRONTEND'),
                        'input_id' : '#text-area-redactor',
                        'option_id' : 'text-area-redactor',
                        'imageUpload' : '/feature-request/upload',
                    }) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-link"
                            data-dismiss="modal">{{ translate('Cancel') }}</button>
                    <button type="submit" class="btn btn-ptmc">{{ translate('Submit') }}</button>
                </div>
                {{ active_form_end() }}
            </div>
        </div>
    </div>
    {{ Vote_widget() }}
{% endblock %}