{% extends '@views/layouts/main.twig' %}
{% block ceo %}
    <title>Feature Requests for PTMC Trading Platform</title>
    <meta name="description"
          content="Traders request section gives the ability to propose functionality features for PTMC trading platform. If you have interesting idea, share with us"/>
    <meta name="keywords" content="features request, ptmc, trading platform, software, system, pfsoft, protrader">
    <link rel="canonical" href="{{ url('features/request') }}"/>
{% endblock %}
{% block body_class %}
    pace-done sidebar-opposite-visible page-knowledge-base fixed-header
    layout-boxed article-single
{% endblock %}
{% block content %}
<div class="panel new-brokers-list brokers-list-upcoming">
    <div class="panel-heading">
		 <h1 class="panel-title">Traders Request</h1>
        <div class="filter">
            <div class="pull-right">
                <a href="#" class="btn btn-ptmc">Add idea</a>
            </div>

            <ul class="tabs">
                <li>
                    <a href="#">
                        <img src="/images/f-request/icon/__idea.svg" onerror="this.onerror=null; this.src=\'/images/__idea.png\'" alt=""> Voting (15)
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/images/f-request/icon/__development.svg" onerror="this.onerror=null; this.src=\'/images/__development.png\'" alt=""> Development (999)
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/images/f-request/icon/__fin.svg" onerror="this.onerror=null; this.src=\'/images/__fin.png\'" alt=""> Released (50)
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
    	<div class="featTable new">
		    <table class="table">
		    	<thead>
		    		<tr>
		    			<th><span>Request type:</span>
		    				<span class="dropFilter">
		    					Connection, Interface
			    				<div class="dropMenu">
									<ul>
										<li>
											<input type="checkbox" id="checkAll">
											<label for="checkAll">All</label>
										</li>
										<li class="divider"></li>
										<li>
											<input type="checkbox" id="checkConnect" checked>
											<label for="checkConnect">Connection</label>
										</li>
										<li>
											<input type="checkbox" id="checkInterf" checked>
											<label for="checkInterf">Interface</label>
										</li>
										<li>
											<input type="checkbox" id="checkFeat">
											<label for="checkFeat">Feature</label>
										</li>
									</ul>
								</div>
							</span>
		    			</th>
		    			<th>
		    				<a href="#" class="sort">Date</a>
		    			</th>
		    			<th>
		    				<a href="#" class="sort">Votes</a>
		    			</th>
		    		</tr>
		    	</thead>
		    	<tbody>
		    		<tr>
		    			<td>
		    				<div class="Title">
			    				<span class="Type feature">
			    					Feature
			    				</span>
		    					<a href="#">Economic news on a chart</a>
		    				</div>
		    				<div class="description">
		    					If you added the ability to run MT4 EAs you would gain a lot of users who have custom indicators and subscriptions for EAs built for MT4 but want a better platform to trade from. That is what is holding a lot of people back.
		    				</div>
		    			</td>
		    			<td>29.03.2016</td>
		    			<td>
		    				<div id="btn-vote-527" class="btn-vote" type="button" data-safe="true" data-id="527" onclick="vote.up('302', '527', '#btn-vote-527');">2</div>
		    			</td>
		    		</tr>
		    		<tr>
		    			<td>
		    				<div class="Title">
			    				<span class="Type connection">
			    					CONNECTION
			    				</span>
		    					<a href="#">LMAX Exchange</a>
		    				</div>
		    				<div class="description">
		    					LMAX Exchange delivers the unique benefits of exchange quality execution, complete pre and post-trade transparency and a secure, level playing field for all FX market participants.sparent cost of trade.
		    				</div>
		    			</td>
		    			<td>29.03.2016</td>
		    			<td>
		    				<div id="btn-vote-527" class="btn-vote" type="button" data-safe="true" data-id="527" onclick="vote.up('302', '527', '#btn-vote-527');">2</div>
		    			</td>
		    		</tr>
		    		<tr>
		    			<td>
		    				<div class="Title">
			    				<span class="Type interface">
			    					INTERFACE
			    				</span>
		    					<a href="#">Economic news on a chart</a>
		    				</div>
		    				<div class="description">
		    					If you added the ability to run MT4 EAs you would gain a lot of users who have custom indicators and subscriptions for EAs built for MT4 but want a better platform to trade from. That is what is holding a lot of people back.
		    				</div>
		    			</td>
		    			<td>29.03.2016</td>
		    			<td>
		    				<div id="btn-vote-527" class="btn-vote" type="button" data-safe="true" data-id="527" onclick="vote.up('302', '527', '#btn-vote-527');">2</div>
		    			</td>
		    		</tr>
		    	</tbody>
	    	</table>
	    </div>
    </div>
</div>
{% endblock %}