<div id="" class="sidebar-category ">
    <div class="category-title">
        <span class="panel-title h4">{{ self.title }}</span>
    </div>

    <div class="category-content">
        <div class="form-group">
            {% for model in models %}
                <div class="media">

                    <div class="media-body">
                        <a href="{{ model.getViewUrl() }}" class="media-heading text-semibold">
                            {{ model.title }}
                        </a>
                    </div>
                </div>
            {% endfor %}
            <div class="clear"></div>
        </div>

    </div>
</div>