{% extends '@views/layouts/main.twig' %}
{% block ceo %}
    <title>{{ '{title} - PTMC Feature Request' | replace({'{title}': feature.ceo.title ? feature.ceo.title : feature.title}) }}</title>
    <meta name="description" content="{{ '{username} proposed interesting feature - {title}. Vote for the already offered features or realize your idea in the PTMC. ' | replace({'{title}': feature.title, '{username}':feature.user.getFullname()}) }}"/>
    <meta name="keywords" content="{{ '{title}, features request, ptmc, trading platform, software, system, pfsoft, protrader' | replace({'{title}': feature.title}) }}">
    <link rel="canonical" href="{{ canonical }}"/>
{% endblock %}
{% block body_class %}
    pace-done sidebar-opposite-visible page-knowledge-base fixed-header
    layout-boxed article-single
{% endblock %}
{% block content %}
    {{ use('app/components/customComments') }}
    {{ use('app/components/widgets/vote/VotePanel') }}
    {{ use('app/components/widgets/random/EntityList') }}
    {{ use('app/modules/features/widgets/FeatureList') }}
    {{ use('app/components/widgets/vote/Vote') }}
    {{ use('yii/widgets/Pjax') }}
    <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-article panel-flat new-art-view featureView featureReq">
                <div class="panel-body art">
                    <div class="featCat">    
                        <div class="artInfo">
                            {{ Pjax_begin({
                                id:"pjax-voting-panel"
                            }) }}
                            <div class="big active">
                                {{ feature.getCountVotes() }}
                            </div>
                            <div class="small active">
                                votes{% if not app.user.isGuest %}, <span class="black">{{ feature.getCountVotesByUserId(app.user.identity.id)  }}</span> yours {% endif %}
                            </div>
                            {% if not app.user.isGuest %}
                                {% if feature.status == constant('\\app\\modules\\features\\models\\FeatureRequest::STATUS_VOTING') %}
                                    <div id="voteBlock" class="voteBlock {{ feature.getCountVotesByUserId(app.user.identity.id) > 0 ? "two" : "one" }}" type="button" data-safe="true">
                                        {% if( app.user.identity.count_votes > 0 ) %}
                                            <div class="btn-vote-square">
                                                <div class="plus">+</div>
                                                <span class="text">
                                                    Vote
                                                </span>
                                            </div>
                                        {% endif %}
                                        {% if(feature.getCountVotesByUserId(app.user.identity.id) > 0) %}
                                            <div class="btn-vote-circle">
                                                <div class="minus">–</div>
                                            </div>
                                        {% endif %}
                                        <div class="haveVotes" style="width: 100%; font-size: 13px">
                                            You have <span class="black">{{ app.user.identity.count_votes  }}</span> votes
                                        </div>
                                    </div>
                                {% else %}
                                    {{ feature.getStatus() }}
                                {% endif %}
                            {% endif %}
                            {{ Pjax_end() }}
                        </div>
                        <div class="artBody">
                            <span class="Type {{ feature.category.name | lower }}">{{ feature.category.name }}</span>
                            <h1 class="">{{ feature.title }}</h1>
                            <p>{{ feature.content | raw}}</p>
                        </div>                        
                    </div>

                    <div class="featCat">
                        <div class="artInfo">
                            <span class="infoTitle">
                                Author
                            </span>
                        </div>
                        <div class="artBody">
                            <a href="{{ feature.user.getViewUrl() }}" class="artPhotoUser">
                                {{ feature.user.getAvatar(64,64) | raw }}
                            </a>
                            <a href="{{ feature.user.getViewUrl() }}" class="artAuthor">
                                {{ feature.user.getFullName() }}
                            </a>
                            <span class="artData">{{  feature.getDate('d.m Y') }}</span>
                        </div>
                    </div>


                    <div class="featCat">
                        <div class="artInfo">
                            <span class="infoTitle">
                                {{ translate("Votes") }}
                            </span>
                        </div>
                        <div class="artBody" id="vote-panel">
                            {{ Pjax_begin({
                                'id':'ts'
                            }) }}
                            <ul class="voters">
                                {% for vote in feature.votes %}
                                    <li id="votes-user-data-id-{{ vote.user.id }}">
                                        <a href="{{ vote.user.getViewUrl() }}">
                                            <span class="photo">
                                                {{ vote.user.getAvatar(25, 25) | raw}}
                                            </span>
                                            <span class="user">
                                                {{ vote.user.getFullName() | raw}}
                                            </span>
                                        </a>
                                        <span class="votes">
                                            {{ vote.count }}
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                            {{ Pjax_end() }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ custom_comments_widget({
        'model' : feature,
    }) }}

    {{ Vote_widget() }}
    {{ this.registerJs("
        var voting = window.vote ? vote : {};

        var entity = '"~feature.getTypeEntity()~"';
        var entity_id = '"~feature.id~"';
        $(voting).on('update', function(e, data){
            $.pjax.reload('#ts', {url:document.location.href, async:false});
            $.pjax.reload('#pjax-voting-panel', {url:document.location.href, async:false});
        });

        $('#pjax-voting-panel').on('click', '.voteBlock', function(e){
            vote.up(entity, entity_id);
            $(this).parent('.voteBlock').removeClass('one').addClass('two');
        });
        $('#pjax-voting-panel').on('click', '.plus', function(e){
            vote.up(entity, entity_id);
            e.stopPropagation();
        });
        $('#pjax-voting-panel').on('click', '.minus', function(e){
            vote.down(entity, entity_id);
            e.stopPropagation();
        });


    ", constant('\\yii\\web\\View::POS_READY')) }}
{% endblock %}

{% block right_sidebar %}
    <div class="sidebar sidebar-main sidebar-opposite sidebar-valera sidebar-default sidebar-separate">
        <div class="sidebar-content" tabindex="0">
            {{ FeatureList_widget({
                    'models' : feature.user.getUserFeauters(feature.id, 5, null),
                    'title':translate('More From ') ~" "~feature.user.fullname,
                })  }}

            {{ EntityList_widget({
                    'className':'\\app\\modules\\features\\models\\FeatureRequest',
                    'title':translate('Other Requests'),
                    'entity':feature,
                    'exceptAttribute' : 'user_id',
                    'layout':'@app/modules/features/views/request/sidebar.twig'
                }) }}
        </div>
    </div>
{% endblock %}