{#trunk#}
{{ use('yii/widgets/ActiveForm') }}
{{ use('app/components/customImage/CustomImageUpload') }}
{{ use('app/components/ceo/CeoWidget') }}
{{ use('app/components/langInput') }}

{% set form = active_form_begin({
'options' : {
'id' : 'imrovement-form',
'class' : 'form-horizontal group-border-dashed',
'enctype' : 'multipart/form-data',
},
'fieldConfig' : {
'template' : '{label}\n<div class="col-lg-6">{input}</div>\n{hint}\n{error}',
'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
'labelOptions' : {'class' : 'col-lg-3 control-label'},
'errorOptions' : {'class' : 'col-lg-3 help-block', 'style' : 'margin-bottom: 8px;'}
}
}) %}

<div class="form-group no-padding col-lg-12 mb-10">
    {{ ceo_widget_widget({
        'model' : model,
        'form' : form,
        'options' : params,
    }) }}
</div>

<div class="form-group no-padding col-lg-12 mb-10">
    {{ lang_input_widget_widget({
        'model' : model,
        'type' : 'text_input',
        'form' : form,
        'attribute' : 'title'
    }) }}
</div>

<div class="form-group no-padding col-lg-12 mb-10">
    {{ lang_input_widget_widget({
        'model' : model,
        'type' : 'imperavi',
        'form' : form,
        'attribute' : 'content'
    }) }}
</div>

<div class="form-group no-padding col-lg-12 mb-10">
    {{ form.field(model, 'category_id').dropDownList(staticMethod('app\\modules\\brokers\\models\\ImprovementsCategory', 'getList'), {
        'prompt': translate('Select Category...')
    }) | raw }}
</div>

<div class="form-group no-padding col-lg-12 mb-10">
    {{ form.field(model, 'alias').textInput({'maxlength' : 128}) | raw }}
</div>

<div class="form-group no-padding col-lg-12 mb-10">
    {{ form.field(model, 'status').dropDownList(staticMethod('app\\modules\\brokers\\models\\Improvement', 'getStatusList'), {
        'prompt': translate('Select status...')
    }) | raw }}
</div>

<div class="form-group no-padding col-lg-12 mb-10">
    {{ form.field(model, 'is_main').checkbox({'checked' : ''}) | raw }}
</div>

<div class="form-group no-padding col-lg-12 mb-10">
    {{ form.field(model, 'is_broker').checkbox({'checked' : ''}) | raw }}
</div>

{#ConditionButtonSubmit with buttons #}
{% if not model.isNewRecord %}

    {{ use('app/components/JsEventsWidget/ConditionButtonSubmit') }}

    {{ condition_button_submit_widget({
        'changed_category_id' : '#improvement-category_id',
        'button_id_save'   : '#save',
        'form_id'   : '#imrovement-form',
        'clear_field_id'   : 'ceo-canonical',
        'params'   : params,
    }) }}

    {#ConditionButtonSubmit with buttons #}
{% else %}
    {% include  '@cab_views/layouts/_form_buttons.twig' %}
{% endif %}


{{ active_form_end() }}