{% if model.isActive() %}
<div class="panel panel-flat panel-article art art-sing cbase-prev">
    <div class="panel-body">
        <div class="artHead">
            <div class="artInfo">
                <a href="{{ model.user.getViewUrl() }}" class="artAuthor">
                    {{ model.user.getFullName() }}
                </a>            
                <span class="artData">
                    {{ dateUTCFormat(model.created_at,'d.m.Y') }}
                </span>
                <div class="thumb-cat {{ model.category.getCssIcon() }}"></div>
                <div class="artDataComments">
                    <span class="viewsCode download" title="">
                        {#<img class="forumTopicsNum" src="/images/forum/kach.svg" onerror="this.onerror=null; this.src='/images/forum/kach.png'" alt="">#}
                        {{ model.count_download }}
                    </span>
                    <span class="viewsCode views" title="">
                        {#<img class="forumTopicsNum" src="/images/forum/category_category.svg" onerror="this.onerror=null; this.src='/images/forum/category_category.png'" alt="">#}
                        {{ model.views }}
                    </span>
                </div>
            </div>        
            <div class="artBody">
                <div style="padding-bottom: 20px;">
                    <a href="{{ model.getViewUrl() }}" class="artTitle" data-pjax="0">{{  model.title }}</a>
                </div>
                {{ getPreviewTextWords(currentLang(model, 'content'), 80) | raw }}
            </div>
        </div>
    </div>
</div>
{% endif %}