{% if not model.isNewRecord %}
    <label class="col-xs-12 control-label no-padding-left">
        {{ translate('Uploaded files')}}
    </label>
        <ul class="filesList" id="codebase-file-delete">

        {% for file in model.files %}
            {% if not file.deleted %}
                    <li class="file">
                        <a data-id="{{ file.id }}" href="javascript:void(0);" onclick="selectFile('{{ file.id }}')" title="{{ translate('Delete file')}}">
                            {{ file.name }}
                            <span>({{ file.getSize() }}kb)</span>
                            <i class="ml-20 urna fa fa-trash-o"></i>
                        </a>
                    </li>
            {% endif %}
        {% endfor %}

        </ul>
    </table>
{% endif %}