{% extends '@views/layouts/main.twig' %}
{% block body_class %}
    pace-done sidebar-opposite-visible page-knowledge-base fixed-header
    layout-boxed code-page
{% endblock %}
{% block ceo %}
    {{ use('app/modules/codebase/widgets/CeoWidget') }}
    {{ CeoWidget_widget() }}
{% endblock %}

  {% block content %}
      {{ use('yii/widgets/ListView') }}
      {{ use('app/components/custom_list_view/CustomLinkPager') }}
      <div class="content-wrapper">

          {{ ListView_widget({
              'dataProvider' : dataProvider,
              'itemView' : '@app/modules/codebase/views/default/_item.twig',
              'layout':'{items}',
              'summary' : false,
          }) }}
          {{ CustomLinkPager_widget({
              'pagination':dataProvider.pagination
          }) }}
      </div>

      {% include '@app/modules/codebase/views/modal/_modal_add_code.twig' %}

  {% endblock %}

{% block right_sidebar %}

    <div class="sidebar sidebar-main sidebar-opposite sidebar-valera sidebar-default sidebar-separate">
        <div class="sidebar-content">

            {{ use('app/modules/codebase/widgets/CategoriesList') }}
            {{ CategoriesList_widget() }}

            {{ use('app/components/widgets/Button') }}
            {{ Button_widget({'title': 'Add code', 'selector':'#modal_add_code'}) }}

            <!-- <a href="/download" class="bander-sidebar">
                <img src="/images/banner_for_PTMC-NEW-01.png" alt="download-PTMC">
            </a> -->

            <a href="/download" class="side-bander" onclick="ga('send', 'event', 'banner', 'click', 'Start using PTMC with');">
                <span class="text">
                    Start using <b>PTMC</b> with
                </span>
                <span class="logos">
                    <span class="logo fxcm active"></span>
                    <span class="logo lmax"></span>
                    <span class="logo oanda"></span>
                </span>
            </a>




        </div>
    </div>
{% endblock %}