{% extends '@views/layouts/main.twig' %}

{% block body_class %}
    pace-done sidebar-opposite-visible page-knowledge-base fixed-header
    layout-boxed code-page
{% endblock %}

{% block ceo %}
    <title>{{ '{title} - PTMC Code Base' | replace({'{title}': model.title}) }}</title>
    <meta name="description" content="{{ 'PTMC Code Base provides source codes of mechanical trading strategies that will help you to automate trading. Download {title} for free.' | replace({'{title}': model.title}) }}"/>
    <meta name="keywords" content="{{ '{title}, code base, ptmc, trading platform, software, system, pfsoft, protrader' | replace({'{title}': model.title}) }}">
    <link rel="canonical" href="{{ getCeoTwig(model.ceo, 'canonical') | raw }}"/>
{% endblock %}

{% block content %}

    {{ use('app/components/customComments') }}

    {% include '@app/modules/codebase/views/modal/_modal_add_code.twig' %}

    {#{{ dump(model) }}#}
    <div class="content-wrapper">

      <!-- Content area -->
        <div class="content">
            <div class="panel panel-article new-art-view cbase">
                
              <div class="panel-body art">
                <div class="featCat">
                  <div class="artInfo">
                    <a href="{{ model.user.getViewUrl() }}" class="artPhotoUser">
                      {{ model.user.getAvatar(64,64) | raw }}
                    </a>
                    <a href="{{ model.user.getProfileLink() }}" class="artAuthor">
                      {{ model.user.getFullname() }}
                    </a>
                    <span class="artData">{{ dateUTCFormat(model.created_at,'d.m.Y') }}</span>
                    <div class="thumb-cat {{ model.category.getCssIcon() }}"></div>
                  </div>
                  <div class="artBody">
                    <h1>{{ model.title }}</h1>
                    {{ model.content | raw }}
                  </div>
                </div>
                <div class="featCat">
                  <div class="artInfo">
                   <div class="h2">Files</div>
                  {% if model.isRedacting() %}
                      <div class="edt"><a id="btn-role-edit" href="#" data-toggle="modal" data-target="#modal_add_code" class="">{{ translate('Edit') }}</a></div>
                      <div class="edt"><a id="btn-role-delete" onclick="if(!confirm('Are you sure to delete code?')){ return false;}" href="/codebase/delete/{{ model.id }}" class="">{{ translate('Delete') }}</a></div>
                  {% endif %}
                  </div>
                  <div class="artBody">
                      {% if count(model.files) > 0 %}
                          {{ use('app/modules/codebase/widgets/FilesList') }}
                          {{ FilesList_widget({'description_id':model.id, 'description': model}) }}
                      {% endif %}
                  </div>
                </div>
              </div>

            </div>
          {{ custom_comments_widget({
              'model' : model,
          }) }}
        </div>
    </div>

    {{ use('app/components/highlight/Highlight') }}

    {{ highlight_widget({}) }}

{% endblock %}

{% block right_sidebar %}

    <div class="sidebar sidebar-main sidebar-opposite sidebar-default sidebar-valera sidebar-separate">
        <div class="sidebar-content">

            <!-- <a href="/download" class="bander-sidebar">
                <img src="/images/banner_for_PTMC-NEW-01.png" alt="download-PTMC">
            </a> -->

            <a href="/download" class="side-bander" onclick="ga('send', 'event', 'banner', 'click', 'Start using PTMC with');">
                <span class="text">
                    Start using <b>PTMC</b> with
                </span>
                <span class="logos">
                    <span class="logo fxcm active"></span>
                    <span class="logo lmax"></span>
                    <span class="logo oanda"></span>
                </span>
            </a>


        </div>
    </div>

    {{ this.registerJs("
    function opencode(id) {
        var w = 630, h = 440; // default sizes
        if (window.screen) {
            w = window.screen.availWidth * 50 / 100;
            h = window.screen.availHeight * 80 / 100;
        }
        var win = window.open('"~url('codebase/file/')~"' + id,'CodeView_' + id,'menubar=1,resizable=1,width='+w+',height='+h);
        win.focus();
    }
    ", constant('\\yii\\web\\View::POS_HEAD')) }}

{% endblock %}