<html>
    <head>
        <title></title>
        <meta name="robots" content="noindex,nofollow">
    </head>
    <body>
        <style>
            body {
                background-color: #f5f5f5;
                margin: 0;
                padding: 12px;
            }
            .headCode {
                width: 100%;
                float: left;
                font-family: "Open Sans",Arial,sans-serif;
            }

            .headText {
                float: left;
                color: #666;
                font-size: 18px;
                margin-right: 16px;
                margin-top: 20px;
            }

            .headText b {
                color: #505451;
            }

            .bodyCode {
                background: none repeat scroll 0 0 white;
                bottom: 12px;
                left: 12px;
                max-height: 100%;
                overflow-y: scroll;
                overflow-x: hidden;
                position: absolute;
                padding: 15px;
                right: 12px;
                top: 70px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            pre {
                border: 0 none !important;
                margin: 0 !important;
                padding: 0 !important;
            }

            .linenums li {
                border-left: 1px solid #ccc;
                list-style-type: inherit !important;
                padding-left: 5px;
            }

            .downloadButton {
                background-color: transparent;
                border: 1px solid #505451;
                border-radius: 5px;
                color: #505451;
                display: block;
                float: right;
                margin-top: 10px;
                padding: 5px 25px;
                transition: all 0.3s ease 0s;
                text-decoration: none;
            }

            .downloadButton:hover {
                background-color: white;
            }

            .downloadButton i {
                padding: 10px;
                color: white;
            }
        </style>
        <div class="headCode">
            <div class="headText"><b>{{ model.name}}</b></div>
            <div class="headText">{{ model.getSize() }}KB</div>
            <a class="downloadButton" href="#" onclick="selectText('file-code')" title="Select all">
                Select all
            </a>

        </div>
        <div class="bodyCode">
            <pre class="prettyprint" id="file-code">{{ content }}</pre>
        </div>
        {{ this.registerJs("
        !function ($) {
            $(function(){
                var $window = $(window)
                window.prettyPrint && prettyPrint()
            })
        }(window.jQuery)
    ", constant('\\yii\\web\\View::POS_READY'))}}
        <script>


            function selectText(element) {
                var doc = document;
                var text = doc.getElementById(element);

                if (doc.body.createTextRange) { // ms
                    var range = doc.body.createTextRange();
                    range.moveToElementText(text);
                    range.select();
                } else if (window.getSelection) { // moz, opera, webkit
                    var selection = window.getSelection();
                    var range = doc.createRange();
                    range.selectNodeContents(text);
                    selection.removeAllRanges();
                    selection.addRange(range);
                }
            }
        </script>
    </body>
</html>