{{ use('app/components/langInput') }}

<div class="ceo-form">

    {{ lang_input_widget_widget({
        'model' : ceo,
        'type' : 'text_input',
        'form' : form,
        'attribute' : 'title'
    }) }}

    {{ lang_input_widget_widget({
        'model' : ceo,
        'type' : 'text_input',
        'form' : form,
        'attribute' : 'description'
    }) }}

    {{ lang_input_widget_widget({
        'model' : ceo,
        'type' : 'text_input',
        'form' : form,
        'attribute' : 'keywords'
    }) }}

    {{ lang_input_widget_widget({
        'model' : ceo,
        'type' : 'text_input',
        'form' : form,
        'attribute' : 'canonical'
    }) }}

</div>