{#trunk#}
{{ use('yii/widgets/ActiveForm') }}
{{ use('app/components/widgets/imperavi/Redactor') }}
{{ use('app/components/ceo/CeoWidget') }}
{{ use('app/components/langInput') }}

{% set form = active_form_begin({
'options' : {
'id' : 'imrovement-form',
'class' : 'form-horizontal group-border-dashed',
'enctype' : 'multipart/form-data',
},
'fieldConfig' : {
'template' : '{label}\n<div class="col-lg-6">{input}</div>\n{hint}\n{error}',
'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
'labelOptions' : {'class' : 'col-lg-3 control-label'},
'errorOptions' : {'class' : 'col-lg-3 help-block', 'style' : 'margin-bottom: 8px;'}
}
}) %}

<div class="form-group no-padding col-lg-12">
    {{ ceo_widget_widget({
        'model' : model,
        'form' : form,
        'options' : params,
    }) }}
</div>

{{ form.field(model, 'title').textInput({'maxlength' : 128}) | raw }}

{{ Redactor_widget({
    'model' : model,
    'form' : form,
    'field' : 'content',
    'type' : constant('app\\components\\widgets\\imperavi\\Redactor::TYPE_BACKEND'),
}) }}

{{ form.field(model, 'status').dropDownList(staticMethod('app\\modules\\features\\models\\FeatureRequest', 'getStatusList'), {
    'prompt': translate('Select status...')
}) | raw }}

<label class="col-lg-3 control-label" for="brokerimprovement-improvement_id">Improvement</label>

{{ selectFilter(staticMethod('app\\models\\user\\User', 'getList'), model.user_id, 'FeatureRequest[user_id]', false) | raw }}

{% if not model.isNewRecord %}

    {{ use('app/components/JsEventsWidget/ConditionButtonSubmit') }}

    {{ condition_button_submit_widget({
        'changed_category_id' : '#improvement-category_id',
        'button_id_save'   : '#save',
        'form_id'   : '#imrovement-form',
        'clear_field_id'   : 'ceo-canonical',
        'params'   : params,
    }) }}

    {#ConditionButtonSubmit with buttons #}
{% else %}
    {% include  '@cab_views/layouts/_form_buttons.twig' %}
{% endif %}

{{ active_form_end() }}