{% block content %}

    {{ use('yii/widgets/ActiveForm') }}
    {{ use('vova07/imperavi/Widget') }}
    {{ use('app/components/customImage/CustomImageUpload') }}
    {{ use('app/components/ceo/CeoWidget') }}

    {% set form = active_form_begin({
    'options' : {
    'class' : 'form-horizontal group-border-dashed',
    'enctype' : 'multipart/form-data',
    'action': app.controller.indexUrl,
    },
    'fieldConfig' : {
    'template' : '<div class="form-group no-padding col-lg-12>"{label}\n{input}\n{hint}\n{error}</div>',
    'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
    'labelOptions' : {'class' : 'col-lg-3 control-label'},
    'errorOptions' : {'class' : 'col-lg-3 help-block', 'style' : 'margin-bottom: 8px;'}
    }
    }) %}

    {{ ceo_widget_widget({
        'model' : model,
        'form' : form,
        'options' : params,
    }) }}

    {{ lang_input_widget_widget({
        'model' : model,
        'type' : 'text_input',
        'form' : form,
        'attribute' : 'title'
    }) }}

    {{ form.field(model, 'alias').textInput({'maxlength' : 128}) | raw }}

    {% if app.user.identity.id %}
        <input name="News[user_id]" type="hidden" id="News-user_id" value="{{ app.user.identity.id }}">
    {% endif %}

    {{ form.field(model, 'category_id').dropDownList(staticMethod('app\\modules\\news\\models\\NewsCategory','getCategoryList')) | raw }}

    {{ lang_input_widget_widget({
        'model' : model,
        'type' : 'imperavi',
        'form' : form,
        'attribute' : 'content'
    }) }}

    <div class="form-group image-group">
        {{ CustomImageUpload_widget({
            'form' : form,
            'model' : model,
            'attribute' : 'pictures',
            'crop' : {
                'aspectRatio' : 1
            },
            'options' : {'id' : 'pictures'},
        }) }}
    </div>

    {% include  '@cab_views/layouts/_form_buttons.twig' %}

    {{ active_form_end() }}

{% endblock %}
