{{ use('vova07/imperavi/Widget') }}
{% include '@app/modules/forum/views/components/_head_category.twig' with {
    'title':'<div class="text-muted text-center pb-15">' ~ translate('Reply on topic') ~ '</div>',
    'roll' : 1} %}

<div class="panel panel-flat comPanel">

    <div class="panel-body no-padding">

        <div class="comAuth">
            <span class="photo">
                {{ app.user.identity.getAvatar(28,28) | raw }}
            </span>
            <span class="text-muted">
               {{ app.user.identity.getFullname() }}
            </span>
        </div>

        <div class="comEditor">

            {% set form = active_form_begin({
            'options' : {
            'data-pjax' : true,
            'class' : 'form-horizontal group-border-dashed',
            'id' : 'forum-comment-form',
            'enctype' : 'multipart/form-data',
            },
            'fieldConfig' : {
            'template' : '{input}\n{hint}\n{error}',
            'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
            'errorOptions' : {'class' : 'col-lg-3 help-block'}
            }
            }) %}

            {{ form.field(forum_comment, 'topic_id').input('hidden').label(false) | raw }}

            {{ use('app/components/widgets/imperavi/Redactor') }}
            {{ Redactor_widget({
                'model' : forum_comment,
                'form' : form,
                'field' : 'content',
                'type' : constant('app\\components\\widgets\\imperavi\\Redactor::TYPE_FRONTEND'),
                'input_id' : '#add-comment',
                'option_id' : 'add-comment',
                'settings': {
                    'minHeight':100
                },
                'imageUpload' : '/forum/image-upload',
            }) }}

        </div>

        <div class="">
            {{ html.submitButton(translate('Publish answer') , {
                'class' : 'btn btn-ptmc',
                'onclick' : 'onclick="ga(\'send\', \'event\', \'button\', \'click\', \'New forum post comments\');"'
            } ) | raw }}
        </div>
        {{ active_form_end() }}

    </div>

</div>
