<div id="reply{{ comment.id }}" class="panel post panel-flat"

        {#{% if comment.level > 0 %}#}
        {#style="margin-left: {{ comment.level*100 }}px"#}
        {#{% endif %}#}
>
    <div class="panel-heading">
        <div class="userAva panel-title">
            <a href="{{ comment.user.getProfileLink() }}" class="photo">
                <span>
                    {{ comment.user.getAvatar(28,28) | raw }}
                </span>
            </a>
            <span class="text-muted">
                <a href="{{ comment.user.getProfileLink() }}" class="text-muted">
                    {{ comment.user.getFullname(comment.user_id) }}
                </a>
                {% if isPtmcTeam(comment.user.id) %}
                    <span class="ptmc_team" title="PTMC team"></span>
                {% endif %}
                |
                <span class="forPostDate text-muted small">{{ dateUTCFormat(comment.created_at) }}</span>
            </span>
            <ul class="pull-right forUserActions">

                {#&#123;&#35;&#123;&#35; ANSWER PART OF BUTTONS&#35;&#125;&#35;&#125;#}
                {#{% if not app.user.isGuest  and comment.user.id != app.user.identity.id %}#}
                {#<li>#}
                {#<a onclick="app.posts.answer('{{ comment.id }}')">{{ translate('Answer') }}</a>#}
                {#</li>#}
                {#{% endif %}#}


                {# REPLY PART OF BUTTONS#}
                {% if not app.user.isGuest  and comment.user.id != app.user.identity.id and comment.level < 4 %}
                    <li>
                        <a href="javascript:void(0)" onclick="app.posts.reply('{{ comment.id }}')">{{ translate('Quote') }}</a>
                    </li>
                {% endif %}


                {# EDIT PART OF BUTTONS#}
                {% if (comment.user.id == app.user.identity.id and not app.user.isGuest and not comment.hasChildren())  or app.user.identity.isAdmin()  %}
                    <li>
                       <a onclick="app.posts.edit('{{ comment.id }}', '{{ model.id }}')">{{ translate('Edit') }}
                        </a>
                    </li>
                {% endif %}


                {# DELETE PART OF BUTTONS#}
                {% if (comment.user.id == app.user.identity.id and not app.user.isGuest and not comment.hasChildren())  or app.user.identity.isAdmin()  %}
                    <li>
                        <a href="{{ app.controller.deleteCommentUrl ~ comment.id }}"
                                data-confirm="Are you sure to delete this comment ?"
                                >{{ translate('Delete') }}</a>

                    </li>
                {% endif %}
            </ul>
        </div>
    </div>


    <div class="panel-body">

        {#<a id="author-fullname" style="display:none">{{ comment.user.getUsername(comment.user_id) }}</a>#}

        <div class="col-lg-12 col-xs-12 no-padding comment_content link_target_rel">

            {{ comment.content  | raw }}{#| getHtmlPurifier #}{#<script>alert(1);</script>#}

        </div>
        <div class="showPost"></div>

        <div class="links">
            <a href="{{ comment.getViewUrl() }}" class="showPostLink text-muted">Show more</a>
            <a href="{{ comment.getViewUrl() }}" class="hidePostLink text-muted">Shorten</a>
        </div>

    </div>

    {% include '@app/components/customComments/views/_include/_js.twig' %}

</div>
