{% extends '@views/layouts/main-topic.twig' %}


{% block content %}

    {% include '@views/layouts/components/scripts/_share.twig' %}


    <div class="panel main-post panel-default">

        <div class="panel-heading ">
            <h1 class="no-margin">{{ model.title }}</h1>
        </div>

        <div class="panel-body link_target_rel">
            {{ model.content | raw }}
        </div>

        {% include '@app/modules/forum/views/layouts/_footer.twig' %}
    </div>

 {#   {% include '@app/views/layouts/components/_shared_buttons.twig' %}#}



    {#output answer if have comments#}
    {% if model.comments is not empty %}

        <div class="pb-15 text-muted text-center">
            {{ translate('Replies') }}
        </div>
    {% else %}
        <div class="pb-15 text-muted text-center">
            {{ translate('No replies yet') }}
        </div>
    {% endif %}


    <div class="pb-15 forum-comment">
        <div class="" id="forum-comment">


            {#output comments if have comments#}
            {% for comment in comments %}

                {% if comment is not empty %}
                    {% include '@app/modules/forum/views/topic/_comment.twig' with {'comment':comment} %}

                {% endif %}

            {% endfor %}
        </div>

    </div>

    {% if not app.user.isGuest %}


        {% include '@app/modules/forum/views/topic/_add_comment.twig' with {} %}
        {% include '@app/modules/forum/views/topic/_comment_modals.twig' with {} %}

    {% else %}
        <div class="col-lg-12 infoBox">
            <a data-toggle="modal" data-target="#modal_form_inline"
               href="#contactUs">{{ translate('Join PTMC community') }}</a> {{ translate('to post your replies on forum') }}
        </div>
    {% endif %}

    {% include '@views/layouts/components/scripts/_like.twig' %}


{% endblock %}


