﻿//
// ---PLEASE READ THIS---
//
// Z-INDEX MAX:  10000;
// Z-INDEX STEP: 100;
//
// Current z-index levels:
// - Default for all panels/screens 200;
// - Lookup dropdown 300;
// - TerceraMessageBox 300;
// - Ban overlay (covers all content of the panel) 400;
// - Window's top and bottom strips 9800;
// - Tooltip 9900;
// - About screen 9900, 10000;
// - Undocked panel (dockspawn dialog panel) 100 - infinity;
//
$maxZIndex: 10000;

$globalWindowBorderColorFocused: #007DFF !default;
$globalAccentColor: #2DAAF0 !default;

$defaultTextShadow: 0 1px 0 #eeeeee;

@mixin NoSelectTextRule
{
	-webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;     
    user-select: none; 
}
@mixin containerRule {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin bottomShadowStrip {
    &::after {
        position:relative;
        display:block;
        height:1px;
        margin: 0 1px;
        content:"";
        background:#fff;
    }
}

body{
   padding: 0; 
   margin: 0; 
   overflow: hidden;
   @include NoSelectTextRule;
} 

body h1{
	color: #0c4a0c;
}
   
input {
    outline: none;
}

div.terceraButton span, .js-comboBox:before, .js-comboBox:after, .js-radio {

	-ms-interpolation-mode: nearest-neighbor; // IE 7+ (non-standard property)
	image-rendering: -webkit-optimize-contrast; // Safari 6, UC Browser 9.9
	image-rendering: -webkit-crisp-edges; // Safari 7+
	image-rendering: -moz-crisp-edges; // Firefox 3.6+
	image-rendering: -o-crisp-edges; // Opera 12
	image-rendering: pixelated; // Chrome 41+ and Opera 26+
}

.js-loading-mask {
	background: url("components/loader/loader.gif") no-repeat scroll center center black;
	opacity: 0.5;
	cursor: wait;
}

.js-win-popupError {
    background-color: #dcdcdc;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
	border: 4px solid #ffacac;
}

.js-simple-web-block-style
{
    width: 1000px;
    height: 600px;
    background-color: green;
    margin: auto;
	margin-top: 5px;
    margin-bottom: 5px;
}

@import "stylesheets/terceraButton";  
@import "stylesheets/terceraTextBox";
@import "stylesheets/terceraLabel";  
@import "stylesheets/terceraCheckBox";
@import "stylesheets/terceraMenu";
@import "stylesheets/terceraWindow";
@import "stylesheets/terceraLinkLabel";
@import "stylesheets/terceraPictureBox";
@import "stylesheets/terceraSeparator";
@import "stylesheets/terceraRadioButton";
@import "stylesheets/terceraRadioButtonComponent";
@import "stylesheets/terceraNumeric";
@import "stylesheets/terceraBaseWindow"; 
@import "stylesheets/NewNetTrader";
@import "stylesheets/terceraLoginScreen";  
@import "stylesheets/terceraToolStrip";
@import "stylesheets/terceraComboBox";
@import "stylesheets/terceraLookupButton";
@import "stylesheets/terceraWarningMessage";
@import "stylesheets/terceraTabStrip";   
@import "stylesheets/terceraDateTimePicker";
@import "stylesheets/terceraDatePickerDropDown";
@import "stylesheets/terceraReportPanel";
@import "stylesheets/terceraScroll";
@import "stylesheets/terceraAboutScreen.scss";
@import "stylesheets/terceraOEPanel.scss";
@import "stylesheets/terceraLevel1Panel.scss";
@import "stylesheets/terceraInstrumentTotalInfo.scss";
@import "stylesheets/_terceraMarketDepth";
@import "stylesheets/_terceraPropertySetupScreen";
@import "stylesheets/_terceraLookup";
@import "stylesheets/_dockSpawnBase";
@import "stylesheets/_dockStyle";
@import "stylesheets/terceraToastr";
@import "stylesheets/terceraTicketScreen";
@import "stylesheets/terceraPopupBaloon";
@import "stylesheets/colorPicker";
@import "stylesheets/terceraPropertyGroupSeparator";
@import "stylesheets/_terceraSLTPNumeric";