﻿$globalAccentColor: #FF984B;
$globalWindowBorderColorFocused: #E68118;

@import "light";

.login-screen a { color: #DC7800; }

body {
	.js-link-label { text-shadow: none; }
	.terceraButton[buttonStyle="js-button-blue25"] { 
		color: #222;
		text-shadow: none; 
	}
}