
<div class="panel faq-panel panel-flat">


    <div class="panel-heading">{# onclick="document.getElementById(' div.heading-elements ul.icons-list li a').click()" #}
        {#<a data-action="collapse" href="#collapse{{ category.id }}"><h2 class="panel-title">{{ translate(category.title) }}</h2></a>#}

          <span class="panel-title h2">{{ translate(category.title) }}</span>

          <div class="heading-elements">
              <ul class="icons-list">
                  <li><a data-category="{{ category.id }}" class="rotate-180 real-collapse" style="display: none;" data-action="collapse"></a></li>
              </ul>
          </div>

      </div>


      <div class="panel-body no-padding">
          <div class="panel-group panel-group-control no-margin">

              {% for faq in category.getFaqs() %}

                  {% if faq is not  empty %}
                  {% if (faq.id in  restrictModelsIds)or(not restrictModelsIds) %}

                      {% include '@views/faq/_faq.twig' with {
                        'faq' : faq,
                        'index' : loop.index,
                        'cat_index'  : cat_index,
                      } %}

                  {% endif %}
                  {% endif %}

              {% endfor %}

          </div>

      </div>

    </div>


{{ this.registerJs("
    jQuery(document).ready(function(){
        jQuery('.imitate-collapse').click(function(e){
            var id = jQuery(this).attr('data-category');
            jQuery( '.real-collapse[data-category=' + id + ']' ).trigger( 'click' );
        });
    });
") }}
