<div class="panel panel-white no-border">
    <div class="panel-heading">
        <span class="panel-title h5">
            <a data-toggle="collapse" data-parent="#accordion-control"
               href="#accordion-control-group_{{ index }}_{{ cat_index }}" class="collapsed"
               aria-expanded="false">
                    {{ faq.title | raw }}
            </a>
        </span>
    </div>
    <div id="accordion-control-group_{{ index }}_{{ cat_index }}"
         class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
            {{ faq.answer | raw }}
        </div>
    </div>
</div>