{% extends '@views/layouts/main.twig' %}
  {% block content %}

      <div class="content-wrapper">
        <div class="panel">
          <div class="panel-heading">
            <h1 class="panel-title">{{ translate('Frequently Asked Questions') }}</h1>
          </div>
          <div class="panel-body">
          {% for category in categories %}
              {% if category.getFaqs() is not  empty %}

                  {% include '@views/faq/_category.twig' with {
                    'category' : category,
                    'cat_index'  : loop.index,
                    'restrictModelsIds' : restrictModelsIds,
                  } %}

              {% endif %}

          {% endfor %}
          </div>
        </div>
      </div>

  {% endblock %}





{% block right_sidebar %}

    {% if staticMethod('app\\modules\\brokers\\models\\Improvement', 'getRandomFeature') %}

        <div class="sidebar sidebar-main sidebar-opposite sidebar-valera sidebar-default sidebar-separate">
            <div class="sidebar-content">


                {{ use('app/components/random_feature/RandomFeature') }}
                {{ use('yii/widgets/Pjax') }}

                {{ pjax_begin({'id' : 'pjax-random-improvement', 'timeout' : 2000,
                    'enableReplaceState' : true }) }}

                {{ random_feature_widget() }}

                {{ pjax_end() }}

            </div>

        </div>

    {% endif %}

{% endblock %}

