{% extends '@views/layouts/main.twig' %}
  {% block content %}

      <div class="content">
          <h1 class="content-group text-semibold">{{ translate('Frequently Asked Questions') }}</h1>

          {% for category in categories %}
              {% if category.getFaqs() is not  empty %}

                  {% include '@views/faq/_category.twig' with {
                  'category' : category,
                  'cat_index'  : loop.index,
                  'restrictModelsIds' : restrictModelsIds
                  } %}

              {% endif %}

          {% endfor %}

      </div>

  {% endblock %}
