<div class="col-lg-4 col-md-4 col-sm-6">
    <a href="{{ model.getViewUrl() }}" data-pjax="0" class="panel broker-panel">
        <div class="type {{ model.type == constant('TYPE_BROKER', model) ? 'brok' : 'df' }}">
            {{ model.getType() }}
        </div>
        <div class="panel-image text-center">
            <img src="{{ model.getImageUrl() }}" alt="Protrader" title="Protrader" onerror="this.onerror=null; this.src='https://api.fnkr.net/testimg/220x60/ffbe00/444/?text={{ model.name }}'">
        </div>
        <div class="panel-name text-center">
            {{ model.name }}
        </div>
        <div class="panel-instruments text-center">
            {{ model.getInstruments() }}
        </div>
    </a>
</div>