{{ use('yii/widgets/ActiveForm') }}
{{ use('vova07/imperavi/Widget') }}
{{ use('app/components/customImage/CustomImageUpload') }}


{% set form = active_form_begin({
    'action' : '/site/demo',
    'id':'form-demo-account',
    'enableAjaxValidation':true,
    'validateOnChange': true,
    'validateOnBlur':false,
    'options' : {
        'class' : 'form-horizontal group-border-dashed',
        'enctype' : 'multipart/form-data',
    },
    'fieldConfig' : {
    'template' : '{label}\n<div class="col-lg-12 no-padding">{input}</div>\n{hint}',
    'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
    'labelOptions' : {'class' : 'col-lg-6 control-label no-padding-left'},
    'errorOptions' : {'class' : 'col-lg-6 help-block no-padding-right pull-right'}
    }
})%}
{% set demo_account_form = demoAccountForm() %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <div class="h6 modal-title">{{ translate('PTMC Demo Account') }}</div>
</div>

<div class="modal-body">
    <input type="hidden" id="broker-website">
    {{  form.field(demo_account_form, "checkBox").textInput({'style': 'display:none'}).label(false) | raw}}
    <div class="row">
        <input type="hidden" id="broker-website">
        <div class="col-lg-6">
            <div class="mb-10">
                {{ form.field(demo_account_form, 'email').textInput({'maxlength' : true}).input('email') | raw }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-10">
                {{ form.field(demo_account_form, 'login').textInput({'maxlength' : true}) | raw }}
            </div>
        </div>
        <div class="col-lg-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="DemoAccountForm[checkBox]" checked="checked" class="styled" id="checkbox">
                    Generate password
                </label>
            </div>
        </div>
        <div class="col-lg-6 hidden">
            <div class="mb-10">
                {{ form.field(demo_account_form, 'password').textInput({'maxlength' : true}).passwordInput() | raw }}
            </div>
        </div>
        <div class="col-lg-6 hidden">
            <div class="mb-10">
                {{ form.field(demo_account_form, 'confirm_password').textInput({'maxlength' : true}).passwordInput() | raw }}
            </div>
        </div>

        {{ form.errorSummary(demo_account_form, {
            'class': 'col-lg-12',
            'id':'errors',
            'header':'',
        }) | raw }}
    </div>

</div>

<div class="modal-footer">
    <button type="submit" class="btn btn-link" data-dismiss="modal">{{ translate('Cancel') }}</button>
    <button type="submit" class="btn btn-ptmc" onclick="ga('send', 'event', 'button', 'click', 'Submit get Protrader demo');">{{ translate('Submit') }}</button>
</div>

{{ active_form_end() }}
