<!-- Primary modal -->
<div id="modal_broker" class="modal fade" style="display: none;">
    <div class="modal-dialog ptmc-modal">
        <div class="modal-content">

            {% include '@app/modules/brokers/views/default/_include/_form_demo_register.twig' %}

        </div>
    </div>
</div>
{{ this.registerJs("
  $('#errors').show();
  function addError (msg){
    var errors = $('#modal_broker .modal-content #errors');
        var ul = errors.find('ul');
        var error = $('<li>'+msg+'</li>');
        ul.append(error);
        errors.addClass('open').delay(3000).queue(function(){
            $(this).removeClass('open').dequeue();
            $(error).remove();
        });
  }
  function spinner(action){
   if(action == 'start'){
        $('#modal_broker .modal-content').block({
            message: '<i class=\"icon-spinner2 spinner\" style=\"color:#fff;\"></i>',
            overlayCSS: {
              backgroundColor: '#333333',
              opacity: 0.7,
              cursor: 'wait',
              'box-shadow': '0 0 0 1px #ddd'
            },
            css: {
              border: 0,
              padding: 0,
              backgroundColor: 'none'
            }
          });
   }else{
        $('#modal_broker .modal-content').unblock();
   }

  }
  $('#modal_broker').on('beforeSubmit','#form-demo-account', function(){
        var form  = $(this);
        spinner('start');
        $.ajax({
            type:'POST',
            url:'/demo/save',
            data:form.serialize(),
            success:function(response){
                spinner('stop');
                if(response.error == true){
                    $('#errors').show();
                    addError(response.message);
                    return true;
                }
                $('#modal_broker .modal-content').html(response);

            }
        });
        return false;
    });
    $('#modal_broker').on('beforeValidateAttribute', '#form-demo-account', function(form, data, hasError){
        if((data.name == 'confirm_password' || data.name == 'password') && $('#demoaccountform-checkbox').val() == 'on'){
            return false;
        }
        return true;
    });

    $('#modal_broker').on('afterValidateAttribute','#form-demo-account', function(form, data, hasError){
        if(hasError.length == 0)
            return true;

        addError(hasError);
    });
    $('form').submit(function(){
            if ($('input#broker-website').val().length != 0) {
                return false;
            }
    });
    var hiddens = [];
    $('#modal_broker').on('change','#checkbox', function(e){
        if($(this).prop('checked') == false){
            hiddens = $('.col-lg-6.hidden');
            hiddens.removeClass('hidden');
            $('#demoaccountform-checkbox').val('off');
            $('#demoaccountform-checkbox').trigger('change');
            return true;
        }
        $('#demoaccountform-checkbox').val('on');
        $('#demoaccountform-checkbox').trigger('change');
        if(hiddens.length > 0){
            $(hiddens).addClass('hidden');
        }
    });
    ", constant('yii\\web\\View::POS_END')) }}
