<!-- warning modal -->
<div id="addBroker" class="modal fade">
    <div class="modal-dialog ptmc-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>


                <span class="modal-title h6">{% if app.user.isGuest %}{{ translate('You are not Authorized') }}{% else %}Request broker{% endif %}</span>
            </div>


                {{ use('yii/helpers/Html') }}
                {{ use('yii/widgets/ActiveForm') }}
                {{ use('vova07/imperavi/Widget') }}



                {% set form = flat_active_form_begin({ 'id' : 'request-broker-form','action' : '/brokers/request-broker' }) %}

                <div class="modal-body">

                    <div class="">
                        <label>Broker name</label>
                        {{ form.field(request_broker, 'name',{'template' : '{input}'}).textInput({'maxlength' : 128}) | raw }}
                    </div>

                    <div class="mt-20">
                        <label>Link to site</label>
                        {{ form.field(request_broker, 'link',{'template' : '{input}'}).textInput({'maxlength' : 128,'placeholder':'http://protrader.org'}) | raw }}
                    </div>

                    <div class="mt-20">
                        <label>Comment</label>
                        {{ form.field(request_broker, 'comment',{'template' : '{input}'}).textarea() | raw }}
                        {#{{ form.field(request_broker, 'comment',{'template' : '{input}'}).widget(staticMethod('\\vova07\\imperavi\\Widget', 'className')) | raw }}#}
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                    <button type="submit" onclick="ga('send', 'event', 'button', 'click', 'Request Broker');"
                            class="btn btn-ptmc">{{ translate('Request') }}</button>
                </div>

                {{ flat_active_form_end() }}

        </div>
    </div>
</div>
<!-- /warning modal -->



