{% block content %}



    <div class="panel panel-flat">
        <div class="panel-heading ">
            <h4 class="panel-title">
                <a href="{{ app.controller.viewUrl ~ model.id }}">{{ model.title }}</a>
            </h4>
        </div>


        <div class="panel-body">
            <div class="media-left">
                <div class="thumb">
                    <img src="{{ model.getPictureLink(model.id, 'newsUploadPath') }}"
                         class="img-responsive img-rounded media-preview" alt="">
                </div>
            </div>

            <div class="media-body">
                {{ model.content | getLength(700) }}

            </div>
        </div>

        <div class="panel-footer panel-footer-transparent">
            <ul class="mt-15">
                <li class="text-muted"><a href="#"><i class="fa fa-user"></i> Авsdafasdfaтор</a> | Май 9, 2015</li>
                <li><i class="fa fa-eye position-left"></i> {{ getViewCounter(model) | default(0) }}</li>
                <li><i class="fa fa-comments-o position-left"></i> 10</li>
            </ul>

            <ul class="pull-right">
                <li>
                    {{ staticMethod('\\app\\models\\news\\News', 'getStatusClass', {model : model}) | raw }}
                </li>
                <li><a class="btn" href="{{ app.controller.viewUrl ~ model.alias }}">{{ translate('Read more') }}</a>
                </li>
            </ul>

        </div>
    </div>

    {{ this.registerJs("
        jQuery(document).ready(function(){

            /* Send like */
            jQuery('.like-btn').click(function(e){

                e.preventDefault();
                jQuery(this).addClass('disabled');
                var id = jQuery(this).attr('data-id');

                jQuery.ajax({
                    type: 'POST',
                    url: '/news/set-like',
                    data: {id: id},
                    success: function(data){
                        jQuery( '.count-like[data-id=' + id + ']' ).html(JSON.parse(data).count_like);
                    },
               });
            });

        });
    ") }}



{% endblock %}
