{% if ( app.user.isGuest and  model.getStatusName() != 'Refused' )  and ( app.user.isGuest and model.getStatusName() != 'Connected') %}
    <div data-toggle="modal" data-target="#modal_form_inline" class="btn-vote"
        href="#contactUs">
        <!-- {{ translate('Register to vote') }} -->
        <div id="count-like-{{ num }}" class="count-like">{{ model.counts.count_like | default(0) }}</div>
    </div>


{% elseif model.getStatusName() == 'Refused'  or model.getStatusName() == 'Connected' %}


{% else %}
    <div class="btn-vote {{ canLike(model) }}"
       href="#contactUs"
       data-id="{{ model.id }}"
       data-class-name="{{ model.getTypeEntity() }}"
       selector-counter="{{ selector }}"
    >
    	<div id="count-like-{{ num }}" class="count-like">{{ model.counts.count_like | default(0) }}</div>
    </div>
{% endif %}
