{% extends '@views/layouts/base.twig' %}
{% block body_class %}
    pace-done sidebar-opposite-visible page-knowledge-base fixed-header
    layout-boxed footer-no-fixed ptmc-about
{% endblock %}
{% block body %}

    {% block custom_css %}
        <style type="text/css">
            {{ model.css | raw }}
        </style>
    {% endblock %}

    {% if constant('YII_ENV_DEV') %}
        {{ register_limit_less_asset() }}
    {% endif %}


    {% include '@views/layouts/components/header.twig' %}

    <!--flash -->
    {% include '@views/layouts/components/_flash_message.twig' %}

    {% include '@views/user/modal/_modal_login.twig' %}

    {% block content %}
         {{ currentLang(model, 'content') | raw }} 
    {% endblock %}

    {% block custom_scripts %}
        <script>
            {{ model.js | raw }}
        </script>
    {% endblock %}

    {% include '@views/layouts/components/footer.twig' %}
{% endblock %}