<div class="col-lg-4 col-xs-3 text-muted forumQlinks">

    {% set fresh_comment = child.getLastPostByCategoryId() %}



    {#fresh comment in category#}
    {% if fresh_comment.id > 0 %}
        <div>

            <a class="" href="{{ fresh_comment.getViewUrl() }}">
                {{ getPreviewText( stripTag(fresh_comment.topic.title), 70) }}
            </a>

            <div class="forTpcLastCom">
                {{ dateUTCFormat(fresh_comment.created_at) }}

                {{ translate('by') }}

                {{ fresh_comment.user.getLinkUsername() | raw }}

                {% if isPtmcTeam(fresh_comment.user_id) %}
                    <span class="ptmc_team" title="PTMC team"></span>
                {% endif %}
            </div>


        </div>


        {#fresh topic in category, if have no comment yet#}
    {% elseif fresh_comment != null %}

        {% set fresh_topic = child.findLastTopic() %}

        <div>
            <a class="" href="{{ fresh_topic.getViewUrl() }}">
                {{ getPreviewText( stripTag(fresh_topic.title), 70) }}
            </a>

            <div class="forTpcLastCom">
                {{ dateUTCFormat(fresh_topic.created_at) }}

                {{ translate('by') }}

                {{ fresh_topic.user.getLinkUsername() | raw }}

                {% if isPtmcTeam(fresh_topic.user_id) %}
                    <span class="ptmc_team" title="PTMC team"></span>
                {% endif %}

            </div>
        </div>

    {% else %}

        {{ translate('No topics yet') }}

    {% endif %}


</div>
