<div class="">

    {% if not app.user.isGuest  and button %}
        <div class="pull-right forumAddTopic">
            <a href="#" onclick="ga('send', 'event', 'button', 'click', 'Add Topic');" data-toggle="modal"
               data-target="#forum-topic" class="btn btn-ptmc">
                <i class="fa fa-plus mr-5"></i>
                {{ translate('Add Topic') }}
            </a>
        </div>
    {% endif %}

    {% if app.user.isGuest  and button %}
        <div class="pull-right forumAddTopic">
            <a href="#" onclick="ga('send', 'event', 'button', 'click', 'Add Topic');"
               data-toggle="modal" data-target="#modal_form_inline" class="btn btn-ptmc">
                <i class="fa fa-plus mr-5"></i>
                {{ translate('Add Topic') }}
            </a>
        </div>
    {% endif %}

    {{ title | raw }}

    <small class="text-muted">{{ description }}</small>

    {% if roll == 1 %}
        <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
    {% endif %}

    {% if button %}
        {% include '@app/modules/forum/views/category/modal/_form_topic.twig' with {} %}
    {% endif %}

</div>
