<div class="media-left">
    <a href="{{ child.getViewUrl() | raw }}" class="forumStatus">
      <span class="default icon">
        <img src="/images/forum/status/ca-default.svg" onerror="this.onerror=null; this.src='/images/forum/status/ca-default.png'" alt="default"/>
        {#<span>9000</span>#}
      </span>

      <!-- <span class="new icon">
        <img src="/images/forum/status/ca-new.svg" onerror="this.onerror=null; this.src='/images/forum/status/ca-new.png'" alt="new"/>
      </span>

      <span class="hot icon">
        <img src="/images/forum/status/ca-hot.svg" onerror="this.onerror=null; this.src='/images/forum/status/ca-hot.png'" alt="hot"/>
      </span>

      <span class="hot-new icon">
        <img src="/images/forum/status/ca-hot-new.svg" onerror="this.onerror=null; this.src='/images/forum/status/ca-hot-new.png'" alt="hot-new"/>
      </span> -->
    </a>
</div>
