
  {% block content %}




      <div class="panel panel-default border-top-black">


          <div class="panel-heading ">


              <span class="panel-title">{{ translate('Category') }}</span>

              <small></small>

              <div class="heading-elements">
                  <ul class="icons-list">
                      <li><a data-action="collapse" class="rotate-180"></a></li>
                  </ul>
              </div>

              <a class="heading-elements-toggle"><i class="icon-menu"></i></a>

              <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
          </div>

          <div class="panel-body">
              <ul class="media-list">

                  <li class="media message">

                      <div class="media-left">
                          <a href="topic" class="btn border-default text-default btn-flat btn-rounded btn-icon btn-sm">
                              <i class="fa fa-comments"></i>
                          </a>
                      </div>
                      <div class="media-body">
                          <div class="col-lg-9 no-padding">
                              <span class="no-margin h2">

                                  <a href="{{ category.getUrl() }}">{{ category.title | raw }}</a>
                              </span>
                              <span class="display-block text-muted">{{ category.content | raw }}</span>
                          </div>
                          <div class="col-lg-1 pt-15">
                              <span class="label label-striped" title="2005 сообщений">2</span>
                          </div>
                          <div class="col-lg-2 no-padding-right">
                               <span class="text-muted text-left">
                                    {{ dateUTCFormat(category.created_at, 'F j, Y, g:i:s') }}

                                    <a href="topic#lastComment" class="ml-5" title="{{ translate('View the latest post')}}">
                                    <i class="fa fa-mail-forward"></i>
                                    </a>

                                </span>

                          </div>
                      </div>
                  </li>

              </ul>
          </div>
      </div>








      {#<div class="panel panel-flat">#}
          {#<div class="panel-heading ">#}
              {#<h4 class="panel-title">#}
                  {#<a href="{{ app.controller.viewUrl ~ model.id }}">{{ model.title }}</a>#}
              {#</h4>#}
          {#</div>#}


          {#<div class="panel-body">#}
              {#<div class="media-left">#}
                  {#<div class="thumb">#}
                      {#<img src="{{ model.getPictureLink(model.id, 'articlesUploadPath') }}" class="img-responsive img-rounded media-preview" alt="">#}
                  {#</div>#}
              {#</div>#}

              {#<div class="media-body">#}
                {#{{ model.content | getLength(700)}}#}

              {#</div>#}
          {#</div>#}

          {#<div class="panel-footer panel-footer-transparent">#}
              {#<ul class="mt-15">#}
                  {#<li class="text-muted"><a href="#"><i class="fa fa-user"></i> Автор</a> | Май 9, 2015</li>#}
                  {#<li><i class="fa fa-eye position-left"></i> 125</li>#}
                  {#<li><i class="fa fa-comments-o position-left"></i> 10</li>#}
              {#</ul>#}

              {#<ul class="pull-right">#}
                  {#<li>#}
      {#{{ staticMethod('\\app\\modules\\articles\\models\\Articles', 'getStatusClass', {model : model}) | raw }}#}
                  {#</li>#}
                  {#<li><a class="btn" href="#">Читать полностью</a></li>#}
              {#</ul>#}

          {#</div>#}
      {#</div>#}


      {{ this.registerJs("
        jQuery(document).ready(function(){

            /* Send like */
            jQuery('.like-btn').click(function(e){

                e.preventDefault();
                jQuery(this).addClass('disabled');
                var id = jQuery(this).attr('data-id');

                jQuery.ajax({
                    type: 'POST',
                    url: '/forum/set-like',
                    data: {id: id},
                    success: function(data){
                        jQuery( '.count-like[data-id=' + id + ']' ).html(JSON.parse(data).count_like);
                    },
               });
            });

        });
    ") }}



  {% endblock %}
