<li class="media">
    {% include '@app/modules/forum/views/components/_icon_category.twig' with {} %}
    {#{{ dump(child.getViewUrl()) }}#}
    <div class="media-body">
        <div class="col-lg-6 col-xs-7 no-padding ">
            <span class="no-margin h4">

                <a class="no-margin forumName" href="{{ child.getViewUrl() }}">
                    {{ child.title }}
                </a>
            </span>
            <span class="display-block text-muted">
                <small class="text-muted">
                    {{ child.description | raw }}
                </small>
            </span>
        </div>
        <div class="col-lg-2 col-xs-2 forumStats">
            <span class="label label-striped"
                  title="{{ topic.counts.count_view | default(0) }} {{ translate('views') }}">
                  <span class="viewsCode views">

                    {{ child.getCountViewTopics() | default(0) }}

                  </span>

            </span>

            <span class="label label-striped"
                  title="{{ topic.counts.count_view | default(0) }} {{ translate('views') }}">
                  <span class="viewsCode comment">

                 {{ child.getCountTopics() | default(0) }}

                  </span>
            </span>
        </div>
        {% include '@app/modules/forum/views/components/_fresh_comment.twig' %}
    </div>
</li>
