.ptmc-list .media-left img:not(.media-preview), .ptmc-list .media-right img:not(.media-preview), .ptmc-list .thumbnail .media img:not(.media-preview) {
    width: 100px;
    height: 100px;
    max-width: none
}

.page-header .page-title {
    padding: 20px 0
}

.disabled {
    cursor: default
}

.feature_slider {
    background-size: cover;
    height: 450px;
    width: 100%;
    overflow: auto;
    padding-left: 15px;
    background-position: center
}

.eauth-service-id-twitter {
    background-image: url('../images/twitter-icon-40x40.png') !important
}

#forum-topic .nav.nav-tabs .active a {
    color: #333 !important
}

.entity-link {
    color: #0b76cc !important
}

.category-link {
    color: #7b1fa2 !important
}

#forum-topic .redactor-box ul li .re-formatting, #forum-topic .redactor-box ul li .re-alignment {
    display: none
}

.panel.main-post.panel-default .modal .modal-content .modal-body .ceo-form label {
    display: block !important
}

.panel.main-post.panel-default .modal .modal-content .modal-body .ceo-form .nav.nav-tabs {
    float: none !important;
    margin-left: 0 !important
}

.panel.main-post.panel-default .modal .modal-content .modal-body .ceo-form .nav.nav-tabs a {
    color: #fff !important
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;

}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.error-summary {
    color: #d84315;
}

