<div class="panel-footer">
    <ul class="post-list">
        <li class="text-muted">
            <a href="{{ model.user.getProfileLink() }}" title="{{ model.user.fullname }}"  class="artAuth">
                {{ model.user.getAvatar(28,28) | raw }}
            </a>
            <a href="{{ model.user.getProfileLink() }}" title="{{ model.user.fullname }}">
                <span class="desktop">{{ model.user.getFullname() | raw }}</span>
            </a>
            |
            <span class="text-muted small">{{ dateUTCFormat(model.created_at,'d.m.Y') }}</span>
        </li>
        {% if model.updated_at > model.created_at %}
            <li>
                {{ translate('Modified by') }}
                <a href="{{ model.redactor.getProfileLink() }}">
                    {{ model.redactor.getFullname() }}
                </a>
                {{ dateUTCFormat(model.updated_at,'d.m.Y, H:i') }}
            {% endif %}
        </li>

    </ul>
    <ul class="pull-right">
        {# REPLY PART OF BUTTONS#}
        {% if not app.user.isGuest  and comment.user.id != app.user.identity.id and comment.level < 4 %}
            <li>
                <a href="javascript:void(0)"
                                      onclick="app.posts.quote('{{ model.id }}')">{{ translate('Quote') }}</a>
            </li>
        {% endif %}

        {% if app.user.identity.isAdmin() or app.user.identity.id == model.user_id %}
            <li>
                <a href="#" class="" data-target="#forum-topic" data-toggle="modal">Edit</a>
            </li>
            <li>
                <a href="{{ app.controller.deleteTopic ~ model.id }}" class="" data-confirm="Are you sure to delete this topic ?">Delete</a>
            </li>
            {% include '@app/modules/forum/views/category/modal/_form_topic.twig' with { 'topic_model_add' : model } %}
        {% endif %}


    </ul>
</div>

{% include '@views/layouts/components/scripts/_like.twig' %}