// out: ../css/style.css, compress: true

.no-sel{
  -moz-user-select: none; -ms-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -webkit-touch-callout: none;
}

.bb{
  box-sizing: border-box;
}

.d-none{
  display: none;
}

img{
  max-width: 100%;
}
.page-header{
  .page-title{
    padding: 20px 0;
  }
}
#top{
  position: fixed;
  right: 20px;
  bottom: 60px;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  content: "alex";
  top: auto;
  left: auto;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
}

.trM02{
  transition: .2s;
  -webkit-transition:  .2s;
  -moz-transition:  .2s;
  -ms-transition:  .2s;
  -o-transition:  .2s;
}
.tr3{
  transition: .3s;
  -webkit-transition:  .3s;
  -moz-transition:  .3s;
  -ms-transition:  .3s;
  -o-transition:  .3s;
}
.tr8{
  transition: .8s;
  -webkit-transition:  .8s;
  -moz-transition:  .8s;
  -ms-transition:  .8s;
  -o-transition:  .8s;
}
.navbar-inverse{
  z-index: 1030;
}
#navbar-second{
  z-index: 1050;
  &.fix{
    position: relative;
    z-index: 1000;
  }
}

.social{
  margin-left: 5px;
  margin-right: 5px;
  i{
    font-size: 16px;
  }
  &.facebook{
    color: #3765A3;
  }
  &.twitter{
    color: #41ABE1;
  }
  &.google{
    color: #EA4335;
  }
  &:hover{
    opacity: 0.8;
  }
}

.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a, .panel-footer > ul > li > a{
  color: #1E88E5;
  &:hover{
    color: #1472C4;
  }
}
.page-title .breadcrumb>li>a, .page-title .breadcrumb>li+li:before{
  content: none;
}
.page-title .breadcrumb>li::after{
  content: '\203A\00a0';
  padding: 0 0 0 5px;
}
.btn-color{
  color: #fff!important;
}

.section-name{
  font-size: 1.5em;
}

.affix{
  margin-top: 44px;
  bottom: 60px!important;
}

.sidebar-separate .sidebar-category{
  &.tree{
    margin-bottom: 0 !important;
  }
}

.kb-list-icon{
  font-size: 3em;
  color: #eee;
}

.play-block{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 12%;
  text-align: center;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.article .panel-body, .article .panel-heading{
  padding: 40px;
  p{
    font-size: 16px;
    line-height: 1.4em;
  }
}
// Tree Default
.tree-d{
  overflow: auto;
  margin-top: 20px;
  ul{
    list-style: none;
    padding-left: 0;
    li{
      position: relative;
      padding-left: 20px;
      line-height: 1.6em;
      .tr3;
      &::before{
        content: "\f0f6";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
        position: absolute;
        top: 2px;
        left: 3px;
        color: #03a9f4;
      }
      a, .folder-name{
        border: 0;
        margin-bottom: 7px;
        padding: 1px 6px;
        border-radius: 2px;
        cursor: pointer;
        display: block;
        color: #000000;
        line-height: 1.3em;
      }
      &.selected{
        &>a,  &>.folder-name{
          background-color: #2196f3;
          color: #fff;
        }
      }
      &.focused{
        &>a, &>.folder-name{
          background-color: #dadada;
          color: #000000;
        }
      }
      &.folder{
        cursor: pointer;
        max-height: 20px;
        overflow-y: hidden;
        padding-left: 30px;
        margin-bottom: 4px;
        .no-sel;
        &::before{
          content: "\f07b";
          top: 2px;
          left: 15px;
        }
        &::after{
          content: "\e9c7";
          font-family: 'icomoon';
          font-size: 16px;
          position: absolute;
          top: -1px;
          left: 2px;
        }
        .folder{
          margin-left: -12px;
          margin-bottom: 4px;
        }
        &.expanded{
          max-height: 1000px;
          .tr8;
          &::before{
            content: "\f07c";
            top: 2px;
            left: 15px;
          }

          &::after{
            content: "\e9c5";
            top: -2px;
            left: 0px;
          }
        }
        ul{
          li{

          }
        }
      }
    }
  }
}

.btn-block{
  a{
    display: block;
  }
}
.no-border-bottom{
  .panel-heading{
    border-bottom: 0!important;
  }
}
.forum{
  .thumbnail{
    max-width: 70%;
  }
  p{
    font-size: 16px;
    line-height: 1.6em;
  }
  .name{
    font-size: 17px;
    font-weight: 400;
    display: block;
    padding-bottom: 10px;
    &::after{
      content: ":";
    }
  }
  .img-sm{
    width: 50px!important;
    height: 50px!important;
  }
  .post{
    .name{
      padding-top: 0px;
      padding-bottom: 0;
    }
    .photo{
      .img-sm{
        width: 50px!important;
        height: 50px!important;
        position: absolute;
        left: 50%;
        margin-left: -25px;
      }
    }
    &.panel-collapsed{
      .name{
        &::after{
          content: none;
        }
      }
      .photo{
        .img-sm{
          width: 30px!important;
          height: 30px!important;
          margin-left: -15px;
        }
      }
    }
  }

  .media-left{
    padding-top: 5px;
    padding-left: 10px;
    .media-badge{
      left: 2px;
    }
    span.btn{
      cursor: default;
    }
  }
  .media-right{
    padding-top: 10px;
    padding-right: 10px;
    span.btn{
      cursor: default;
    }
  }
  .media-list{
    li{
      border-bottom: 1px solid #ddd;
      padding-bottom: 20px;
      &:last-child{
        border-bottom: 0;
      }
      .col-lg-2 span.text-muted{
        margin-top: 10px;
        display: block;
      }

    }
  }
}

@media (max-width: 768px) {
  #navbar-second{
    margin-top: 0px;
  }
  .navbar-top{
    padding-top: 0px;
  }
}
