{% extends '@views/layouts/main.twig' %}
{% block body_class %}
    pace-done sidebar-opposite-visible page-knowledge-base fixed-header
    layout-boxed art-page
{% endblock %}
  {% block content %}


      {#{{ use('yii/widgets/ListView') }}#}
      {{ use('app/components/custom_list_view/CustomListView') }}


      <div class="content-wrapper">

          <!-- Content area -->
          <div class="content">
              {#C:\OpenServer\domains\protraderorg.loc\modules\news\views\default\_include/_single_article.tw#}
              {{ custom_list_view_widget({'dataProvider' : dataProvider,'itemView' : '/_include/_single_article.twig',
                  'pager' : {
                      'prevPageLabel' : '← ' ~ translate('Previous'),
                      'nextPageLabel' : translate('Next') ~ ' →',
                  },
                  'summary':'',
                  'emptyText': '',
              })  | raw }}

          </div>

          <!-- /Content area -->
      </div>

  {% endblock %}



{% block right_sidebar %}

    {% include '@views/layouts/components/sidebars/_right_sidebar/_right-sidebar.twig' with {'List' : staticMethod('app\\modules\\news\\models\\NewsCategory','getList'),
    'title' : translate('Categories'),
    'is_it_category' : true} %}

{% endblock %}



