

{% macro menu(par,chi) %}
{% set elems = [
    [
        {name:'Home', link:'/views/mainpage/main', icn:'icon-home2'}
    ],
    [
        {name:'PTMC', link:'#', icn:'icon-puzzle4'},
        {name:'О приложении', link:'/views/ptmc/about', icn:'icon-home2'},
        {name:'Функционал', link:'/views/ptmc/features', icn:'icon-home2'},
        {name:'Брокеры', link:'/views/ptmc/brokers', icn:'icon-home2'},
        {name:'Скачать', link:'#', icn:'icon-home2'}

    ],
    [
        {name:'База знаний', link:'#', icn:'icon-books'},
        {name:'Документация', link:'/views/kb/kb-main', icn:'icon-book'},
        {name:'Видео-уроки', link:'/views/video/video-lessons', icn:'icon-book-play'},
        {name:'FAQ', link:'/views/faq/faq', icn:'icon-question4'}
    ],
    [
        {name:'Аналитика', link:'#', icn:'icon-magazine'},
        {name:'Новости', link:'#', icn:'icon-search4'},
        {name:'Статьи', link:'/views/articles/articles-list', icn:'icon-file-text'},
        {name:'Чарт', link:'/views/charts/chart_view', icn:'icon-chart'}
    ],
    [
        {name:'Общение', link:'#', icn:'icon-bubbles3'},
        {name:'Форум', link:'/views/forum/forum', icn:'icon-megaphone'},
        {name:'Запрос фич', link:'/views/features/features', icn:'icon-plus-circle2'}
    ],
    [
        {name:'Расширения', link:'#', icn:'icon-store2'},
        {name:'Скрипты', link:'#', icn:'icon-pencil3'}
    ]
]%}
{% set cls = '' %}
<div class="navbar navbar-fixed-top fix navbar-default" id="navbar-second">
  <ul class="nav navbar-nav no-border visible-xs-block">
    <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
  </ul>

  <div class="navbar-collapse collapse" id="navbar-second-toggle">
    <ul class="nav navbar-nav">

        {% for itemPar in elems %}

            {% if loop.index == par %}
                {% set pcls = ' active' %}
            {% else %}
                {% set pcls = '' %}
            {% endif %}

            {% for item in itemPar %}

                {% if loop.length > 1 %}

                        {% if loop.first %}
                            <li class="dropdown mega-menu{{ pcls }}">
                                <a href="{{ item.link }}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i class="{{ item.icn }} position-left"></i> {{ item.name }} <span class="caret"></span></a>
                                <div class="dropdown-menu dropdown-content">
                                    <div class="dropdown-content-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <ul class="menu-list">
                        {% else %}
                            {% if not loop.last %}
                                                    {% if pcls %}
                                                        {% if loop.index == chi+1 %}
                                                            {% set ccls = ' active' %}
                                                        {% else %}
                                                            {% set ccls = '' %}
                                                        {% endif %}
                                                    {% endif %}

                                                    <li class="{{ ccls }}">
                                                        <a href="{{ item.link }}">
                                                            <i class="{{ item.icn }} position-left"></i> {{ item.name }}
                                                        </a>
                                                    </li>

                            {% else %}
                                                    {% if pcls %}
                                                        {% if loop.index == chi+1 %}
                                                            {% set ccls = ' active' %}
                                                        {% else %}
                                                            {% set ccls = '' %}
                                                        {% endif %}
                                                    {% endif %}
                                                    <li class="{{ ccls }}">
                                                        <a href="{{ item.link }}">
                                                            <i class="{{ item.icn }} position-left"></i> {{ item.name }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endif %}

                        {% endif %}


                {% else %}

                    <li class="">
                        <a href="{{ item.link }}">
                            <i class="{{ item.icn }} position-left"></i> {{ item.name }}
                        </a>
                    </li>

                {% endif %}

            {% endfor %}

        {% endfor %}
      </ul>
      <form class="navbar-form navbar-right abs-right clSearch" action="#">
        <div class="form-group has-feedback">
          <input class="form-control input-xs" placeholder="Search" type="search">
          <div class="form-control-feedback">
            <i class="icon-search4 text-muted text-size-base"></i>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endmacro %}
