<ul class="nav navbar-nav">
				<li class=""><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>

				<li class="dropdown mega-menu">
					<a data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-puzzle4 position-left"></i> Protrader MC <span class="caret"></span></a>

					<div class="dropdown-menu dropdown-content">
						<div class="dropdown-content-body">
							<div class="row">
								<div class="col-md-12">
									<ul class="menu-list" style="overflow: hidden;" tabindex="0">
										<li>
											<a href="#"><i class="icon-pencil3"></i> Desktop</a>
										</li>
										<li>
											<a href="#"><i class="icon-pencil3"></i> Web</a>
										</li>

										<li>
											<a href="#"><i class="icon-pencil3"></i> Mobile</a>
										</li>

										<li>
											<a href="#"><i class="icon-pencil3"></i> Download</a>
										</li>
									</ul>
								</div>
              </div>
						</div>
					<div id="ascrail2000" class="nicescroll-rails nicescroll-rails-vr" style="padding-right: 0.5px; width: 3px; z-index: 1000; cursor: default; position: absolute; top: 0px; left: -3.5px; height: 0px; display: none;"><div style="position: relative; top: 0px; float: right; width: 3px; height: 0px; background-color: rgb(204, 204, 204); background-clip: padding-box; border-radius: 5px;" class="nicescroll-cursors"></div></div><div id="ascrail2000-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 3px; z-index: 1000; top: -3px; left: 0px; position: absolute; cursor: default; display: none;"><div style="position: absolute; top: 0px; height: 3px; width: 0px; background-color: rgb(204, 204, 204); background-clip: padding-box; border-radius: 5px;" class="nicescroll-cursors"></div></div></div>
				</li>

        <li class="dropdown mega-menu active">
					<a data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-books position-left"></i> База знаний <span class="caret"></span></a>

					<div class="dropdown-menu dropdown-content">
						<div class="dropdown-content-body">
							<div class="row">
								<div class="col-md-12">
									<ul class="menu-list" style="overflow: hidden;" tabindex="1">
										<li>
											<a href="kb-main.html"><i class="icon-book"></i> Документация</a>
										</li>
										<li class="active">
											<a href="video-lessons.html"><i class="icon-book-play"></i> Видео-уроки</a>
										</li>

										<li>
											<a href="#"><i class="icon-stairs"></i> Мануалы</a>
										</li>

										<li>
											<a href="#"><i class="icon-question4"></i> FAQ</a>
										</li>
									</ul>
								</div>
              </div>
						</div>
					<div id="ascrail2001" class="nicescroll-rails nicescroll-rails-vr" style="padding-right: 0.5px; width: 3px; z-index: 1000; cursor: default; position: absolute; top: 0px; left: -3.5px; height: 0px; display: none;"><div style="position: relative; top: 0px; float: right; width: 3px; height: 0px; background-color: rgb(204, 204, 204); background-clip: padding-box; border-radius: 5px;" class="nicescroll-cursors"></div></div><div id="ascrail2001-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 3px; z-index: 1000; top: -3px; left: 0px; position: absolute; cursor: default; display: none;"><div style="position: absolute; top: 0px; height: 3px; width: 0px; background-color: rgb(204, 204, 204); background-clip: padding-box; border-radius: 5px;" class="nicescroll-cursors"></div></div></div>
				</li>

        <li class="dropdown mega-menu">
          <a data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-magazine position-left"></i> Аналитика <span class="caret"></span></a>

          <div class="dropdown-menu dropdown-content">
            <div class="dropdown-content-body">
              <div class="row">
                <div class="col-md-12">
                  <ul class="menu-list" style="overflow: hidden;" tabindex="2">

                    <li>
                      <a href="articles-list.html"><i class="icon-file-text"></i> Статьи</a>
                    </li>

                    <li>
                      <a href="#"><i class="icon-microscope"></i> Обзоры</a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          <div id="ascrail2002" class="nicescroll-rails nicescroll-rails-vr" style="padding-right: 0.5px; width: 3px; z-index: 1000; cursor: default; position: absolute; top: 0px; left: -3.5px; height: 0px; display: none;"><div style="position: relative; top: 0px; float: right; width: 3px; height: 0px; background-color: rgb(204, 204, 204); background-clip: padding-box; border-radius: 5px;" class="nicescroll-cursors"></div></div><div id="ascrail2002-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 3px; z-index: 1000; top: -3px; left: 0px; position: absolute; cursor: default; display: none;"><div style="position: absolute; top: 0px; height: 3px; width: 0px; background-color: rgb(204, 204, 204); background-clip: padding-box; border-radius: 5px;" class="nicescroll-cursors"></div></div></div>
        </li>

        <li class="dropdown mega-menu">
          <a data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-bubbles3 position-left"></i> Общение <span class="caret"></span></a>

          <div class="dropdown-menu dropdown-content">
            <div class="dropdown-content-body">
              <div class="row">
                <div class="col-md-12">
                  <ul class="menu-list" style="overflow: hidden;" tabindex="3">

                    <li>
                      <a href="#"><i class="icon-megaphone"></i> Форум/Блог</a>
                    </li>

                    <li class="">
                      <a href="features.html"><i class="icon-plus-circle2"></i> Запрос фич</a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          <div id="ascrail2003" class="nicescroll-rails nicescroll-rails-vr" style="padding-right: 0.5px; width: 3px; z-index: 1000; cursor: default; position: absolute; top: 0px; left: -3.5px; height: 0px; display: none;"><div style="position: relative; top: 0px; float: right; width: 3px; height: 0px; background-color: rgb(204, 204, 204); background-clip: padding-box; border-radius: 5px;" class="nicescroll-cursors"></div></div><div id="ascrail2003-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 3px; z-index: 1000; top: -3px; left: 0px; position: absolute; cursor: default; display: none;"><div style="position: absolute; top: 0px; height: 3px; width: 0px; background-color: rgb(204, 204, 204); background-clip: padding-box; border-radius: 5px;" class="nicescroll-cursors"></div></div></div>
        </li>

        <li class="dropdown mega-menu">
          <a data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-store2 position-left"></i> Маркет <span class="caret"></span></a>

          <div class="dropdown-menu dropdown-content">
            <div class="dropdown-content-body">
              <div class="row">
                <div class="col-md-12">
                  <ul class="menu-list" style="overflow: hidden;" tabindex="4">

                    <li>
                      <a href="#"><i class="icon-pencil3"></i> Скрипты</a>
                    </li>

                    <li>
                      <a href="#"><i class="icon-pencil3"></i> Панели</a>
                    </li>

                    <li>
                      <a href="#"><i class="icon-pencil3"></i> Доп. Функцтонал</a>
                    </li>

                    <li>
                      <a href="#"><i class="icon-pencil3"></i> Комплекты фич</a>
                    </li>

                    <li>
                      <a href="#"><i class="icon-pencil3"></i> Воркспейсы</a>
                    </li>

                    <li>
                      <a href="#"><i class="icon-pencil3"></i> Цветовые схемы</a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          <div id="ascrail2004" class="nicescroll-rails nicescroll-rails-vr" style="padding-right: 0.5px; width: 3px; z-index: 1000; cursor: default; position: absolute; top: 0px; left: -3.5px; height: 0px; display: none;"><div style="position: relative; top: 0px; float: right; width: 3px; height: 0px; background-color: rgb(204, 204, 204); background-clip: padding-box; border-radius: 5px;" class="nicescroll-cursors"></div></div><div id="ascrail2004-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 3px; z-index: 1000; top: -3px; left: 0px; position: absolute; cursor: default; display: none;"><div style="position: absolute; top: 0px; height: 3px; width: 0px; background-color: rgb(204, 204, 204); background-clip: padding-box; border-radius: 5px;" class="nicescroll-cursors"></div></div></div>
        </li>

      </ul>