{% macro input(class, head, body, footer, footer_class, head_class, border, collapsed) %}

<div class="panel {{ class }}">
  {% if head %}
    <div class="panel-heading {{ head_class }}">
      {{ head|raw }}
      {% if collapsed %}
        <div class="heading-elements">
          <ul class="icons-list">
            {{ collapsed|raw }}
            <li><a data-action="collapse"></a></li>
          </ul>
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if border %}
    <hr class="no-margin">
  {% endif %}

  {% if body %}
    <div class="panel-body">
      {{ body|raw }}
    </div>
  {% endif %}

  {% if footer %}
    <div class="panel-footer {{ footer_class }}">
      {{ footer|raw }}
    </div>
  {% endif %}
</div>

{% endmacro %}
