{% macro input(id, class, head, collapsed, body) %}

<div id="{{ id }}" class="sidebar-category {{ class }}">
  {% if head %}
    <div class="category-title">
      <span>{{ head|raw }}</span>
      {% if collapsed %}
        <ul class="icons-list">
          <li><a href="#" data-action="collapse" class=""></a></li>
        </ul>
      {% endif %}
    </div>
  {% endif %}

  {% if body %}
    <div class="category-content">
      {{ body|raw }}
    </div>
  {% endif %}

</div>

{% endmacro %}
