{% extends '@views/layouts/main.twig' %}
  {% block content %}

      <div class="row">
          <!-- class, head, body, footer, footer_class, head_class, border -->
          <div class="col-lg-12">

          <div class="panel ">


              <div class="panel-body">
                  <div class="no-padding-left col-lg-12 no-padding-right">

                      <div class="col-lg-6 no-padding-left">

                          {#<h4 class="no-margin-top">Поиск</h4>#}

                          {#<div class="form-group has-feedback">#}
                              {#<input class="form-control" placeholder="Найди свое видео" type="search">#}

                              {#<div class="form-control-feedback">#}
                                  {#<i class="icon-search4 text-muted text-size-base"></i>#}
                              {#</div>#}
                          {#</div>#}

                          <h4 class="">Категории</h4>

                          {% for category in categories %}
                              <div class="col-lg-6 no-padding-left mb-20">
                                  <a href="/video-lessons/category/{{ category.alias }}" class="btn btn-flat border-info text-info"
                                     style="display: block;">{{ category.title }}</a>
                              </div>
                          {% endfor %}

                      </div>

                      <div class="col-lg-6 no-padding-right">

                          <div class="no-padding-left">
                              <h4 class="no-margin-top"><a href="video-category">Новые видео</a></h4>
                          </div>
                          <div class="video-container mb-10">
                              {{ staticMethod('\\app\\models\\video\\Video', 'getIframe', {_link : fresh.link, _width : '265', _height : '150'}) | raw }}
                          </div>
                          <a class="no-margin-top text-size-large">{{ fresh.title }}</a>

                      </div>

                  </div>

                  <div class="no-padding-left col-lg-12 no-padding-right">
                      <hr>
                  </div>

                  <div class="no-padding-left col-lg-12 no-padding-right">

                      <div class="row">

                          <div class="col-lg-12">
                              <h4 class="no-margin-top"><a href="video-category">Популярные</a></h4>
                          </div>

                          {% for video in popular %}
                              <div class="col-lg-3">
                                  <a href="/video-lessons/video/{{ video.alias }}" class="thumb mb-10">
                                      <img src="{{ video.getPicLink() }}" alt="">
                                      {#{{ staticMethod('\\app\\models\\video\\Video', 'getIframe', {_link : video.link, _width : '265', _height : '150'}) | raw }}#}
                                  </a>

                                  <a href="/video-lessons/video/{{ video.alias }}" class="caption">{{ video.title }}</a>
                              </div>
                          {% endfor %}

                      </div>

                  </div>

                  <div class="no-padding-left col-lg-12 no-padding-right">
                      <hr>
                  </div>

                  <div class="no-padding-left col-lg-12 no-padding-right">

                      <div class="row">

                          <div class="col-lg-12">
                              <h4 class="no-margin-top"><a href="video-category">Плейлисты</a></h4>
                          </div>

                          {% for playlist in playlists %}
                              <div class="col-lg-3">
                                  <a href="video-lessons-file" class="thumb mb-10">
                                      <img src="http://ru.leaprate.com/wp-content/uploads/2014/10/pfsoft.jpg" alt="">
                                      <span class="play-block">{{ playlist|length }}<br> видео<br>
                                          <i class="icon-three-bars"></i>
                                      </span>
                                  </a>

                                  <a href="video-lessons-file" class="caption">{{ playlist.title }}</a>
                              </div>
                          {% endfor %}

                      </div>


                  </div>

              </div>

          </div>
          
        </div>


      </div>

  {% endblock %}
