{% extends 'index.twig' %}
{% block title %}База знаний{% endblock %}
{% block breadCrumbs %}
  {% import 'macro/brCr.twig' as breads %}
  {{ breads.input({'Видео уроки':'video-lessons','Плейлисты':''}) }}
{% endblock %}
{% block headerMenu %}
{% import 'macro/mainMenu.twig' as nav %}
{{ nav.menu(3,2) }}
{% endblock %}
{% block classBody %}pace-done pb-20 sidebar-opposite-visible{% endblock %}
{% block content %}

<div class="row">
  <!-- Новые видео -->

    <h1 class="col-lg-12 no-margin-top">Плейлисты</h1>

    <div class="col-lg-6 col-sm-6">
      <div class="thumbnail">
        <div class="thumb">
          <a href="video-lessons-file">
            <img src="http://ru.leaprate.com/wp-content/uploads/2014/10/pfsoft.jpg" alt="">
          </a>
        </div>

        <div class="caption">
          <h6 class="no-margin">
            <a href="video-lessons-file" class="text-default">Как пользоваться Protrader</a>
            <span class="text-muted text-size-mini pull-right">
              <i class="fa fa-file-video-o position-left"></i> 12
            </span>
          </h6>
        </div>
      </div>

    </div>

    <div class="col-lg-6 col-sm-6">
      <div class="thumbnail">
        <div class="thumb">
          <a href="video-lessons-file">
            <img src="https://fxfinpro.com/images/posts/1484/Desktop2.png" alt="">
          </a>
        </div>

        <div class="caption">
          <h6 class="no-margin">
            <a href="video-lessons-file" class="text-default">Как торговать вместе с Protrader</a>
            <span class="text-muted text-size-mini pull-right">
              <i class="fa fa-file-video-o position-left"></i> 8
            </span>
          </h6>
        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-lg-6 col-sm-6">
      <div class="thumbnail">
        <div class="thumb">
          <img src="https://fxfinpro.com/images/posts/1484/Desktop2.png" alt="">
          <div class="caption-overflow">
            <span>
              <a href="video-lessons-file" class="btn border-white text-white btn-flat btn-icon btn-rounded"><i class="icon-link2"></i></a>
            </span>
          </div>
        </div>

        <div class="caption">
          <h6 class="no-margin">
            <a href="video-lessons-file" class="text-default">Protrader Multi-asset платформа - Обзор приложения для мобильных устройств</a>
            <span class="text-muted text-size-mini pull-right">
              <i class="fa fa-file-video-o position-left"></i> 8
            </span>
          </h6>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-6">
      <div class="thumbnail">
        <div class="thumb">
          <img src="http://ru.leaprate.com/wp-content/uploads/2014/10/pfsoft.jpg" alt="">
          <div class="caption-overflow">
            <span>
              <a href="/assets/images/placeholder.jpg" class="btn border-white text-white btn-flat btn-icon btn-rounded"><i class="icon-plus3"></i></a>
              <a href="video-lessons-file" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5"><i class="icon-link2"></i></a>
            </span>
          </div>
        </div>

        <div class="caption">
          <h6 class="no-margin">
            <a href="video-lessons-file" class="text-default">Торговые операции в Protrader</a>
            <span class="text-muted text-size-mini pull-right">
              <i class="fa fa-file-video-o position-left"></i> 12
            </span>
          </h6>
        </div>
      </div>

    </div>

  </div>
  <!-- /video grid -->
{% endblock %}
