{% extends 'index.twig' %}
{% block title %}База знаний{% endblock %}
{% block breadCrumbs %}
  {% import 'macro/brCr.twig' as breads %}
  {{ breads.input({'Видео уроки':''}) }}
{% endblock %}
{% block headerMenu %}
{% import 'macro/mainMenu.twig' as nav %}
{{ nav.menu(3,2) }}
{% endblock %}
{% block classBody %}pace-done pb-20 sidebar-opposite-visible{% endblock %}
{% block content %}

<div class="row">
    {% import 'macro/panels.twig' as panel %}
    <!-- class, head, body, footer, footer_class, head_class, border -->

    {{panel.input(
      '',
      '',
      include('views/video/components/main-content.twig')
    )}}
</div>

{% endblock %}
