{% extends 'index.twig' %}
{% block title %}База знаний{% endblock %}
{% block breadCrumbs %}
  {% import 'macro/brCr.twig' as breads %}
  {{ breads.input({'Видео уроки':'video-lessons','Использование терминала':'video-category'}) }}
{% endblock %}
{% block headerMenu %}
{% import 'macro/mainMenu.twig' as nav %}
{{ nav.menu(3,2) }}
{% endblock %}
{% block classBody %}pace-done pb-20 sidebar-opposite-visible{% endblock %}
{% block content %}

<div class="row">
  <!-- Новые видео -->

    <h1 class="col-lg-12 no-margin-top">Как пользоваться Protrader</h1>

    <div class="col-lg-12 col-sm-12">
      {% import 'macro/panels.twig' as panel %}
      {{panel.input(
        '',
        '',
        '<iframe width="100%" height="650" src="https://www.youtube.com/embed/4BmVon4UrSA" frameborder="0" allowfullscreen></iframe>'
      )}}
    </div>

  </div>
  <div class="row">

    <div class="col-lg-8 col-sm-6">
      <!-- Есть комментарии -->
      {{panel.input(
        'panel-default',
        '<h5 class="panel-title text-semiold"><i class="icon-bubbles4 position-left"></i> Комментарии (7)</h5>',
        include('components/comments.twig')
      )}}
      <!-- /есть комментарии -->
    </div>

    <div class="col-lg-4 col-sm-6">
      {{panel.input(
        'panel-default',
        'Похожие видео',
        include('/views/video/components/same-video.twig')
      )}}

    </div>

  </div>
  <!-- /video grid -->
{% endblock %}
{% block custom_scripts %}

  <script type="text/javascript" src="/assets/js/custom/ceditor.js"></script>

{% endblock %}
