{% extends '@views/layouts/main.twig' %}
{% block content %}

    {{ use('app/components/customComments') }}

    <div class="content">

    <div class="row">
        <!-- Новые видео -->

        <h1 class="col-lg-12 no-margin-top">{{ video.title }}</h1>

        {{ staticMethod('\\app\\models\\video\\Video', 'getStatusClass', {model : video}) | raw }}



        <h1>like <span class="count-like" data-id="{{ video.id }}">{{ video.entity.count_like | default('0') }}</span></h1>
        <h1>view <span>{{ getViewCounter(video) | default('0') }}</span></h1>



        <span class="text-primary count-like" data-id="{{ model.id }}" data-class-name="{{ getClassName(model) }}">
            {{ model.counts.count_like  | default(0) }}
        </span>

        <a href="#" class="like-btn" data-id="{{ model.id }}" data-class-name="{{ getClassName(model) }}">
            <i class="fa fa-thumbs-o-up tr03"></i>
        </a>


            <span class="text-primary count-dislike" data-id="{{ model.id }}" data-class-name="{{ getClassName(model) }}">
            {{ model.counts.count_dislike | default(0) }}
            </span>

            <a href="#" class="dislike-btn" data-id="{{ model.id }}" data-class-name="{{ getClassName(model) }}">
                <i class="fa fa-thumbs-o-down tr03"></i>
            </a>
        </li>


        <div class="col-lg-12 col-sm-12">

            <div class="panel ">


                <div class="panel-body">
                    {{ staticMethod('\\app\\models\\video\\Video', 'getIframe', {_link : video.link, _width : '100%', _height : '650'}) | raw }}
                </div>

            </div>


        </div>

    </div>
    <div class="row">

    <div class="col-lg-8 col-sm-6">
        <!-- Есть комментарии -->

        {{ custom_comments_widget({
            'model' : video,
            'options' : {},
        }) }}
        <!-- /есть комментарии -->
    </div>

    <div class="col-lg-4 col-sm-6">

        <div class="panel panel-default">
            <div class="panel-heading ">
                Похожие видео
            </div>


            <div class="panel-body">
                <a href="#" class="col-lg-12 text-default no-padding">
                    <div class="col-lg-4 no-padding">
                        <img src="http://placehold.it/120x70">
                    </div>

                    <div class="col-lg-8">
                        <h6 class="no-margin">
                            Protrader что где и куда
                        </h6>
                    </div>
                </a>
                <hr class="col-lg-12 no-padding">
                <a href="#" class="col-lg-12 text-default no-padding">
                    <div class="col-lg-4 no-padding">
                        <img src="http://placehold.it/120x70">
                    </div>

                    <div class="col-lg-8">
                        <h6 class="no-margin">
                            Направление Космос - #Пхукет (часть 1)
                        </h6>
                    </div>
                </a>
                <hr class="col-lg-12 no-padding">
                <a href="#" class="col-lg-12 text-default no-padding">
                    <div class="col-lg-4 no-padding">
                        <img src="http://placehold.it/120x70">
                    </div>

                    <div class="col-lg-8">
                        <h6 class="no-margin">
                            Как юзать новые фичи
                        </h6>
                    </div>
                </a>
                <hr class="col-lg-12 no-padding">
                <a href="#" class="col-lg-12 text-default no-padding">
                    <div class="col-lg-4 no-padding">
                        <img src="http://placehold.it/120x70">
                    </div>

                    <div class="col-lg-8">
                        <h6 class="no-margin">
                            Группа молодых студентов приезжает отдыхать
                        </h6>
                    </div>
                </a>

            </div>

        </div>



    </div>

    </div>
    <!-- /video grid -->
    </div>

    {% include '@views/layouts/components/scripts/_like.twig' %}

{% endblock %}
