{% extends '@views/layouts/main.twig' %}
{% block body_class %}
    pace-done sidebar-opposite-visible page-knowledge-base fixed-header
    layout-boxed art-page
{% endblock %}

  {% block content %}

      {#{{ use('yii/widgets/ListView') }}#}
      {{ use('app/components/custom_list_view/CustomListView') }}

      <div class="content-wrapper">

          <!-- Content area -->
          <div class="content">

                {{ custom_list_view_widget({
                    'dataProvider' : dataProvider,
                    'itemView' : '@articles_views/_include/_single_article.twig',
                    'options' : {
                        'class' : 'content'
                    },
                    'summary' : '',
                    'emptyText' : '',
                }) }}
          </div>

          <!-- /Content area -->
      </div>

  {% endblock %}

{% block right_sidebar %}

    {% include '@views/layouts/components/sidebars/_right_sidebar/_right-sidebar.twig' with {'List' : staticMethod('app\\modules\\articles\\models\\ArtclCategory','getList'),
    'title' : translate('Categories'),
    'is_it_category' : true} %}

{% endblock %}