{% extends '@views/layouts/main.twig' %}
{% block body_class %}
    pace-done sidebar-opposite-visible page-knowledge-base fixed-header
    layout-boxed article-single
{% endblock %}

  {% block content %}

      {% include '@views/layouts/components/scripts/_share.twig' %}

      {{ use('app/components/customComments') }}
      <div class="row">

        <div class="col-lg-12">
            <!-- class, head, body, footer, footer_class, head_class, border -->

            <div class="panel panel-article panel-flat new-art-view featureView featureReq">

                <div class="panel-body art">
                    <div class="featCat">
                        <div class="artInfo">
                            <div class="slideCont">
                                <a href="{{ model.user.getProfileLink() }}" class="artPhotoUser">
                                  {{ model.user.getAvatar(64,64) | raw }}
                                </a>
                                <a href="{{ model.user.getProfileLink() }}" class="artAuthor">
                                  {{ model.user.getFullname() }}
                                </a>
                                <span class="artData">{{  model.getDate('d.m Y') }}</span>
                            </div>
                        </div>
                        <div class="artBody" id="light-box">
                            <h1 class="">{{ currentLang(model, 'title') }}</h1>
                          {{ currentLang(model, 'content') | raw }}
                        </div>
                    </div>
                </div>

                {{ use('app/components/highlight/Highlight') }}

                {{ highlight_widget({}) }}

            </div>

            {{ custom_comments_widget({
                'model' : model,
                'options' : {},
            }) }}



        </div>
      </div>

  {% endblock %}


{% block right_sidebar %}
    {% include '@views/layouts/components/sidebars/_right_sidebar/_right-sidebar.twig' with {
    'models' : models,
    'title' : translate('Another ')~model.category.title,
    'is_it_category' : false} %}
{% endblock %}
