{% extends '@views/layouts/main.twig' %}
{% block body_class %}
    pace-done sidebar-opposite-visible page-knowledge-base fixed-header
    layout-boxed pb-20
{% endblock %}
  {% block content %}

      {{ use('yii/widgets/Pjax') }}
      {{ use('yii/widgets/ListView') }}

          <div class="content-wrapper">


                     <!-- Content area -->
                      <div class="content">

                              {{ list_view_widget({'dataProvider' : dataProvider,'itemView' : '_include/_single_article.twig',
                                  'pager' : {'prevPageLabel' : '← ' ~ translate('Previous'), 'nextPageLabel' : translate('Next') ~ ' →'},
                                  'emptyText': '',
                          'summary':'',
                              })}}

                      </div>

              <!-- /Content area -->
          </div>

  {% endblock %}



{% block mobile_sidebar %}

{% include '@views/layouts/components/sidebars/_right_sidebar/_mobile_sidebar.twig'  with {'List' : staticMethod('app\\models\\news\\NewsCategory','getList'),
'title' : translate('Categories'),
'is_it_category' : true}
%}

{% endblock %}



{% block right_sidebar %}

    {% include '@views/layouts/components/sidebars/_right_sidebar/_right-sidebar.twig' with {'List' : staticMethod('app\\models\\news\\NewsCategory','getList'),
    'title' : translate('Categories'),
    'is_it_category' : true} %}

{% endblock %}

