{% extends '@views/layouts/main.twig' %}
{% block content %}


    {{ use('yii/widgets/ListView') }}

    <div class="content">

        <div class="row">
            <div class="col-lg-12">
                <!-- class, head, body, footer, footer_class, head_class, border -->

                    {{ list_view_widget({
                    'dataProvider' : dataProvider,
                    'itemView' : '_include/_single_article.twig',
                        'pager' : {'prevPageLabel' : '← ' ~ translate('Previous'), 'nextPageLabel' : translate('Next') ~ ' →'},
                    'viewParams' : {'key' : 'val'},
                    'summary':'',
                        'emptyText':  '',
                    })}}

            </div>
        </div>
    </div>

{% endblock %}

{% block right_sidebar %}

    {% include '@views/layouts/components/sidebars/_right_sidebar/_right-sidebar.twig' with {'List' : staticMethod('app\\models\\news\\NewsCategory','getList'),
    'title' : translate('Categories'),
    'is_it_category' : true} %}

{% endblock %}
