{% extends '@views/layouts/main.twig' %}

  {% block content %}

      {{ use('app/components/customComments') }}

      <div class="row">
      <div class="col-lg-12">
          <!-- class, head, body, footer, footer_class, head_class, border -->

          <div class="panel panel-flat">
              <div class="panel-heading ">
                  <h1 class="panel-title">{{ currentLang(model, 'title') }}</h1>
              </div>

              <hr class="no-margin">

              <div class="panel-body">
                  {{ currentLang(model, 'content') | raw }}
              </div>

              {% include '@views/layouts/components/_single_article/_footer.twig' with{ 'getStatusClass' : staticMethod('\\app\\modules\\articles\\models\\Articles', 'getStatusClass', {model : model})} %}

          </div>

          {{ custom_comments_widget({
                'model' : model,
                'options' : {},
          }) }}


      </div>
      </div>

  {% endblock %}


{% block right_sidebar %}
    {% include '@views/layouts/components/sidebars/_right_sidebar/_right-sidebar.twig' with {
    'List' : staticMethod('app\\models\\news\\News','getListByCategory', {'id' :model.id,'category_id' :model.category_id}),
    'title' : translate('Another News'),
    'is_it_category' : false} %}
{% endblock %}
