{% extends '@views/mail/layouts/layout.twig' %}

{% block title %}
    You have now successfully created your demo trading account. We would like to remind you that your log-in details to PTMC are:
{% endblock %}

{% block body %}
    <center bgcolor="#ffffff" width="604" style="background-color:#ffffff;">

        <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="600" id="bodyTable"
               style="max-width:100% !important; width: 600px !important; min-width: 600px !important;">
            <tr>
                <td height="50" colspan="2" bgcolor="#ffffff" width="100%"></td>
            </tr>
        </table>

        <table bgcolor="#f5f5f5" border="0" cellpadding="0" cellspacing="0" height="100%" width="600" id="bodyTable"
               style="max-width:100% !important; width: 600px !important; min-width: 600px; border: 1px solid #353535;">
            <tr>
                <td height="30" border="0" colspan="4" bgcolor="#353535" width="100%" style="background-color: #353535;">
                    &nbsp;</td>
            </tr>
            <tr>
                <td align="left" width="50%" valign="top" style="background-color: #353535; padding: 0 0 10px 30px;">
                    <a href="http://protrader.org" target="_blank"> <img
                                src="http://files.pfsoft.com/pfsoft_com/ptmc/newDesign/logo.jpg" style="font-size: 10px;"
                                height="32" width="234" alt="Protrader Multi-Connect Trading Platform"
                                title="Protrader Multi-Connect Trading Platform"></a>
                </td>

                <td align="right" width="50%" valign="top" style="background-color: #353535; padding: 0 30px 10px 0;">
                    <a style="width: 32px; height: 32px; display: inline-block; text-decoration: none;"
                       href="https://www.facebook.com/PTMCplatform" title="Facebook">
                        <img src="http://files.pfsoft.com/pfsoft_com/ptmc/newDesign/facebook.jpg" border="0" alt="Facebook">
                    </a>
                    &nbsp;
                    <a style="width: 32px; height: 32px; display: inline-block; text-decoration: none;"
                       href="https://twitter.com/PTMCplatform" title="Twitter">
                        <img src="http://files.pfsoft.com/pfsoft_com/ptmc/newDesign/twitter.jpg" border="0" alt="Twitter">
                    </a>
                    &nbsp;
                    <a style="width: 32px; height: 32px; display: inline-block; text-decoration: none;"
                       href="https://plus.google.com/105613404449103719052/posts" title="Google +">
                        <img src="http://files.pfsoft.com/pfsoft_com/ptmc/newDesign/google.jpg" border="0" alt="Google +">
                    </a>
                    &nbsp;
                    <a style="width: 32px; height: 32px; display: inline-block; text-decoration: none;"
                       href="https://www.linkedin.com/company/ptmc-protrader-multi-connect" title="Linkedin">
                        <img src="http://files.pfsoft.com/pfsoft_com/ptmc/newDesign/linkedin.jpg" border="0" alt="Linkedin">
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="left"
                    style="background-color: #353535; font-size: 16px; border-bottom: 3px solid #ffbe00;">
                    <font size="3" face="Arial" color="#222222">&nbsp;</font>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="left"
                    style="font-size: 13px; padding-bottom: 30px; padding-left: 50px; padding-top: 30px; padding-right: 50px; max-width: 480px;">
                    <subject>Your demo account for PTMC platform</subject>
                    <p style="font-size: 17px; margin:0; padding:0; line-height:1.6em;">
                        <font color="#000000" face="Arial">
                            You have now successfully created your demo trading account. We would like to remind you that your log-in details to PTMC are:
                        </font>
                    </p>
                    <br>
                    <ul>
                        <li><p style="font-size: 15px; margin:0; padding:0; line-height:1.6em;"><font color="#666666" face="Arial">Login: {{ login }}</font></p></li>
                        <li><p style="font-size: 15px; margin:0; padding:0; line-height:1.6em;"><font color="#666666" face="Arial">Password: {{ password }}</font></p></li>
                        <li><p style="font-size: 15px; margin:0; padding:0; line-height:1.6em;"><font color="#666666" face="Arial">Connect to: Protrader Demo</font></p></li>
                    </ul>
                    <br>
                    <p style="font-size: 17px; margin:0; padding:0; line-height:1.6em;"><font color="#000000" face="Arial">Your Next Steps:</font></p>
                    <ol>
                        <li><p style="font-size: 15px; margin:0; padding:0; line-height:1.6em;"><font color="#666666" face="Arial"><a href="http://protrader.org/download" style="color:#F29E1D; font-weight:bold; text-decoration:none">Download</a> and install Protrader Multi-Connect</font></p></li>
                        <li><p style="font-size: 15px; margin:0; padding:0; line-height:1.6em;"><font color="#666666" face="Arial">Log in with the above details</font></p></li>
                        <li><p style="font-size: 15px; margin:0; padding:0; line-height:1.6em;"><font color="#666666" face="Arial">Visit traders’ sections: <a href="http://protrader.org/forum" style="color:#F29E1D; font-weight:bold; text-decoration:none">Forum</a> and <a
                                            href="http://protrader.org/forum" style="color:#F29E1D; font-weight:bold; text-decoration:none">Articles</a>.</font></p>
                        </li>
                    </ol>
                    <br><p style="font-size: 17px; margin:0; padding:0; line-height:1.6em;">
                        <font color="#000000" face="Arial">
                            If you have any questions or any proposals which will help us to improve PTMC, please do not
                            hesitate to contact us through the feedback button or through forum.
                        </font>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="font-size: 15px; color: #333333; padding-bottom: 20px; padding-left: 30px; padding-top: 20px; padding-right: 30px;"
                    colspan="2" align="right">
                    <font color="#333333">Sincerely,
                        <br>PTMC Team
                    </font>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="left" style="font-size: 16px; padding: 0 30px 0 30px">
                    <table bgcolor="#f5f5f5" border="0" cellpadding="0" cellspacing="0" width="600"
                           style="max-width:100%!important; width: 100%!important;">
                        <tr>
                            <td style="border-top: 1px dashed #aaaaaa;">
                                <font size="3" face="Arial" color="#222222">&nbsp;</font>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="left"
                    style="padding-top: 20px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px;">
                    <p style="padding: 0; margin: 0; font-size: 12px;">
                        <font face="Arial" color="#848484">Contact Info:</font>
                        <br/>
                        <font face="Arial" color="#848484">
                            Email: <a target="_blank" href="mailto:info@protrader.org"
                                      style="color:#a0522d;font-weight:bold;text-decoration:none">info@protrader.org</a>
                        </font>
                        <br/>
                        <font face="Arial" color="#848484">
                            Site: <a target="_blank" href="protrader.org"
                                     style="color:#a0522d;font-weight:bold;text-decoration:none">protrader.org</a>
                        </font>
                    </p>
                    <br/>
                    {#<p style="padding: 0; margin: 0; font-size: 10px;">#}
                    {#<font face="Arial" color="#848484">#}
                    {#In the past, you have provided protrader.org with your e-mail address. If you no longer want to receive the latest news and offers from Protrader, please click <a style="color:#a0522d;font-weight:bold;text-decoration:none" href="http://protrader.org/edit-profile#notific">unsubscribe</a>#}
                    {#</font>#}
                    {#</p>#}
                    <br/>
                    <p style="padding: 0; margin: 0; font-size: 10px;">
                        <font face="Arial" color="#848484">Copyright © 2016 PFSOFT LLC, All rights reserved.</font>
                    </p>
                </td>
            </tr>
        </table>
        <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="600" id="bodyTable"
               style="max-width:100% !important; width: 600px !important; min-width: 600px !important;">
            <tr>
                <td height="50" colspan="2" bgcolor="#ffffff" width="100%"></td>
            </tr>
        </table>
    </center>
{% endblock %}
