{#Category: {{ category }}<br/><br/>#}
Name: {{ theme }}<br/><br/>
Message: {{ description }}<br/><br/>
Email: {{ email }}<br/><br/>
Time: {{ "now"|date("H:i:s") }}<br/><br/>
IP: {{ app.request.getUserIP() }}<br/><br/>