{{ use('yii/widgets/ActiveForm') }}
{{ use('app/components/widgets/imperavi/Redactor') }}

<div id="modal_add_code" class="modal fade">
    <div class="modal-dialog ptmc-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="ga('send', 'event', 'button', 'click', 'Add code to code base');">×
                </button>
                {% if not model.isNewRecord %}
                    <div class="h6 modal-title">{{ translate('Edit code') }}</div>
                {% else %}
                    <div class="h6 modal-title">{{ translate('Add code') }}</div>
                {% endif %}
            </div>
            <div class="modal-body">
                {% set form = active_form_begin({
                'options' : {
                'id': 'form-codebase',
                'class' : 'form-horizontal group-border-dashed',
                'enctype' : 'multipart/form-data',
                },
                'fieldConfig' : {
                'template' : '{label}{error}\n<div class="col-lg-12 no-padding">{input}</div>\n{hint}',
                'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
                'labelOptions' : {'class' : 'col-lg-6 control-label no-padding-left'},
                'errorOptions' : {'class' : 'col-lg-6 help-block no-padding-right pull-right'}
                }
                }) %}

                {{ form.field(model, 'title').textInput({'maxlength' : true}) | raw }}
                {{ form.field(model, 'category_id').dropDownList(categories,{
                    'prompt': translate('Select category...')
                }) | raw }}

                <div id="codebase-response" class="codebase-response">
                    {% include '@app/modules/codebase/views/default/_table.twig' %}
                </div>

                {{ form.field(model, 'file[]', {'enableAjaxValidation' : false}).fileInput({'multiple': true, 'id' : 'description-file'}) | raw }}

                <input id="selected" type="text" name="selected" value="" style="display: none">

                <input id="uploaded" type="text" name="uploaded" value="" style="display: none">

                {{ Redactor_widget({
                    'model' : model,
                    'form' : form,
                    'field' : 'content',
                    'type' : constant('app\\components\\widgets\\imperavi\\Redactor::TYPE_FRONTEND'),
                    'input_id' : '#text-area-redactor-add-code',
                    'option_id' : 'text-area-redactor-add-code',
                    'imageUpload' : '/codebase/image-upload',
                }) }}

                <div class="modal-footer">
                    <button type="submit" class="btn btn-link" data-dismiss="modal">{{ translate('Cancel') }}</button>
                    <button type="submit" class="btn btn-ptmc">{{ translate('Save') }}</button>
                </div>
                {{ active_form_end() }}
            </div>

        </div>
    </div>
</div>

{{ this.registerJs("
    var selecteds = [];
    function selectFile(id){
        var result = confirm('Are you sure to delete this file ?');
        if(result){
            selecteds.push(id);
            $('ul.filesList a[data-id=' + id + ']').hide();
            var json = JSON.stringify(selecteds);
            $('#selected').val(json);
        }
    }
", constant('\\yii\\web\\View::POS_HEAD'))}}

{{ this.registerJs("
    var uploadeds = [];
    $('#description-file').change(function(e) {

        for(var i = 0; i < e.target.files.length; i++){
            uploadeds.push(e.target.files[i].name);
        }
        var json = JSON.stringify(uploadeds);
        $('#uploaded').val(json);
    });
", constant('\\yii\\web\\View::POS_READY'))}}
