{{ use('vova07/imperavi/Widget') }}

{{ this.form.field(this.model, this.field, { 'selectors' : { 'input' : this.input_id} } ).widget(
    '\\vova07\\imperavi\\Widget',
    {
        'options' : {
            'id' : this.option_id,
        },
        'settings' : this.getSettings(),
    }
) | raw }}