
<div class="item {% if loop.first %} active {% endif %}">
    <a href="/{{ slide.link  }}">

        <img src="{{ slide.getPictureLink(slide.id, UploadPath) }}">

        <div class="carousel-caption">

            <div class="title">{{ slide.title | raw }}</div>

            <div class="descr">{{ slide.description | raw }}</div>

        </div>
    </a>
</div>

