
<div class="page-container slider-container">
    <div class="row">
    <div class="col-lg-12">

        <div id="myCarousel" class="carousel slide index-slider" data-ride="carousel">


            <!-- Indicators -->
            <ol class="carousel-indicators mb--10">

                {% for slide in slides %}

                    <li data-target="#myCarousel" data-slide-to="{{ loop.index }}" class="{% if loop.first %} active {% endif %}"></li>

                {% endfor %}

            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">


                {% for slide in slides %}

                    {% include '@views/layouts/components/slider/__slide.twig' %}

                {% endfor %}

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left fa fa-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right fa fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
</div>