<div id="comment-modal-form" class="modal fade">
    <div class="modal-dialog ptmc-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                {% if model.reply_content %}
                    <span class="modal-title h6 text-muted">{{ translate('Reply to: ') }}
                        <span id="answer-author">{{ user.getFullname() }}</span>
                    </span>
                {% elseif app.controller.action.id == 'answer' %}
                    <span class="modal-title h6 text-muted">{{ translate('Answer') }}</span>
                {% elseif app.controller.action.id == 'edit' %}
                    <span class="modal-title h6 text-muted">{{ translate('Edit') }}</span>
                {% endif %}

            </div>

            {% set form = active_form_begin({
            'options' : {
            'id' : 'comment-modal-form',
            'class' : 'form-horizontal group-border-dashed',
            'data-pjax': '1',
            'action': 'forum/comment/save',
            'enctype' : 'multipart/form-data',
            },
            'fieldConfig' : {
            'template' : '{label}{error}\n<div class="col-lg-12 no-padding">{input}</div>\n{hint}',
            'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
            'labelOptions' : {'class' : 'col-lg-6 control-label no-padding-left'},
            'errorOptions' : {'class' : 'col-lg-6 help-block no-padding-right pull-right'}
            }
            }) %}
            <div class="modal-body">
                <div class="content-group">

                    {% if model.reply_content %}
                        <div class="replText">{{ model.reply_content | raw }}</div>
                        {{ form.field(model, 'reply_content').input('hidden').label(false) | raw }}
                    {% endif %}

                    <div id="add-answer">
                        {{ form.field(model, 'id').input('hidden').label(false) | raw }}
                        {{ form.field(model, 'reply_id').input('hidden').label(false) | raw }}
                        {{ form.field(model, 'action').input('hidden',{'value': app.controller.action.id}).label(false) | raw }}
                        {{ form.field(model, 'topic_id').input('hidden').label(false) | raw }}
                        {{ form.field(model,'content',{'selectors':{'input' : '#text-area-redactor'}}).widget('\\vova07\\imperavi\\Widget', {
                            'plugins': [
                                '\\app\\assets\\ImperaviAsset',
                            ],
                            'options':{
                                'id':'text-area-redactor'
                            },
                            'settings' : {
                                'lang' : 'en',
                                'replaceDivs':false,
                                'pastePlainText': true,
                                'minHeight' : 250,
                                'imageUpload' : '/forum/image-upload',
                                'uploadImageFields' : {
                                    'path' : 'upload/forum-comments/' ~ model.id,
                                },
                                'plugins':['advanced'],
                                'buttons' : ['bold', 'italic', 'link', 'image'],
                                'fileUpload' : '/forum/file-upload',
                                'uploadFileFields' : {
                                    'path' : 'upload/forum-comments' ~ model.id,
                                },
                                'imageUploadCallback' : jsexpression('function(e, response){$(e).wrap(\'<a href="\'+response.original+\'" data-popup="lightbox">\')}')
                            }
                        }).label(false) | raw }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">{{ translate('Cancel') }}</button>
                <button type="submit" class="btn btn-ptmc">{{ translate('Add') }}</button>
            </div>
            {{ active_form_end() }}
        </div>
    </div>
</div>
{{ this.registerJs("
   $('#text-area-redactor').redactor('caret.setAfter',  $('.redactor-editor').find('blockquote'));

", constant('\\yii\\web\\View::POS_READY')) }}