{#<!-- Primary modal -->#}
{#<div id="forum-theme" class="modal fade" style="display: none;">#}
    {#<div class="modal-dialog">#}
        {#<div class="modal-content">#}


            {#{% set form = active_form_begin({#}
            {#'action' : '/forum/category-add',#}
            {#'options' : {#}
            {#'class' : 'form-horizontal group-border-dashed',#}
            {#'enctype' : 'multipart/form-data',#}
            {#},#}
            {#'fieldConfig' : {#}
            {#'template' : '{label}\n<div class="col-lg-6">{input}</div>\n{hint}\n{error}',#}
            {#'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},#}
            {#'labelOptions' : {'class' : 'col-lg-3 control-label'},#}
            {#'errorOptions' : {'class' : 'col-lg-3 help-block', 'style' : 'margin-bottom: 8px;'}#}
            {#}#}
            {#}) %}#}


            {#<div class="modal-header bg-primary">#}
                {#<button type="button" class="close" data-dismiss="modal">×</button>#}
                {#<h6 class="modal-title">{{ translate('Add theme') }} </h6>#}
            {#</div>#}

            {#<div class="modal-body">#}

                {#<input name="FrmCategory[parent_id]" type="hidden" id="FrmCategory-parent_id" value="{{ category.id }}" >#}

                {#{{ form.field(category_model_add, 'title').textInput({'maxlength' : 128}) | raw }}#}
                {#{{ form.field(category_model_add, 'description').textInput({'maxlength' : 128}) | raw }}#}


            {#</div>#}

            {#<div class="modal-footer">#}
                {#<button type="submit" class="btn btn-link" data-dismiss="modal">{{ translate('Cancel') }}</button>#}
                {#<button type="submit" class="btn btn-primary">{{ translate('Save') }}</button>#}
            {#</div>#}

            {#{{ active_form_end() }}#}
        {#</div>#}
    {#</div>#}
{#</div>#}
{#<!-- /primary modal -->#}
