<!-- Primary modal -->
<div id="forum-topic" class="modal fade" style="display: none;">
    <div class="modal-dialog ptmc-modal">
        <div class="modal-content">

            {{ use('yii/widgets/ActiveForm') }}
            {{ use('app/components/customImage/CustomImageUpload') }}
            {{ use('app/components/ceo/CeoWidget') }}

            {% set form = active_form_begin({
            'action' : '/forum/topic-add',
            'options' : {
            'class' : 'form-horizontal group-border-dashed',
            'enctype' : 'multipart/form-data',
            'onsubmit' : '$(\'#buttonSaveTopicForm\').prop(\'disabled\', true)'
            },
            'fieldConfig' : {
            'template' : '{label}{error}\n<div class="col-lg-12 no-padding">{input}</div>\n{hint}',
            'options' : {'class' : 'form-group clear', 'style' : 'border-bottom: 0px;'},
            'labelOptions' : {'class' : 'col-lg-6 control-label no-padding-left'},
            'errorOptions' : {'class' : 'col-lg-6 help-block no-padding-right pull-right'}
            }
            }) %}

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <div class="h6 modal-title">
                    {% if 'category' not in this.context.route %}
                        {{ translate('Edit topic') }}
                    {% else %}
                        {{ translate('Create topic') }}
                    {% endif %}
                </div>
            </div>

            <div class="modal-body">

                {% if 'category' not in this.context.route %}
                    <input name="FrmTopic[category_id]" type="hidden" id="FrmTopic-category_id" value="{{ model.category_id }}">
                    <input name="FrmTopic[id]" type="hidden" id="FrmTopic-category_id" value="{{ model.id }}">
                {% else %}
                    <input name="FrmTopic[category_id]" type="hidden" id="FrmTopic-category_id" value="{{ model.id }}">
                {% endif %}

                {% if app.user.identity.isAdmin() %}
                    {{ ceo_widget_widget({
                        'model' : model,
                        'form' : form,
                        'options' : params,
                    }) }}
                {% endif %}

                {{ form.field(topic_model_add, 'title').textInput({'maxlength' : 255}) | raw }}

                {{ use('app/components/widgets/imperavi/Redactor') }}
                {{ Redactor_widget({
                    'model' : topic_model_add,
                    'form' : form,
                    'field' : 'content',
                    'type' : constant('app\\components\\widgets\\imperavi\\Redactor::TYPE_BASIC'),
                    'input_id' : '#text-area-redactor-topic',
                    'option_id' : 'text-area-redactor-topic',
                    'imageUpload' : '/forum/topic/image-upload',
                }) }}

            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-link" data-dismiss="modal">{{ translate('Cancel') }}</button>
                <button type="submit" onclick="ga('send', 'event', 'button', 'click', 'Save Topic');" class="btn btn-ptmc" id="buttonSaveTopicForm">{{ translate('Save') }}</button>
            </div>

            {{ active_form_end() }}
        </div>
    </div>
</div>
<!-- /primary modal -->
