{% if category.getParentLevel(category.id) == 1 %}

    {% set add_button =
    '<div class="btn-group" style="float:right">
                            <a href="#" data-toggle="modal" data-target="#forum-theme" class="btn btn-success"><i
                                        class="fa fa-plus mr-5"></i> ' ~ translate('Add theme') ~'</a>
                            <button type="button" class="btn bg-teal-600 dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false"><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="text-danger">
                                    <a class="text-danger" data-toggle="modal" data-target="#bugs" href="#">
                                        <i class="fa fa-exclamation-triangle"></i> Сообщить об ошибке
                                    </a>
                                </li>
                            </ul>
                        </div>' %}

{% elseif category.getParentLevel(category.id) > 1 %}
    {% set add_button =
    '<div class="btn-group" style="float:right;">
                            <a href="#" data-toggle="modal" data-target="#forum-topic" class="btn btn-success"><i
                                        class="fa fa-plus mr-5"></i> ' ~ translate('Add Topic') ~'</a>
                            <button type="button" class="btn bg-teal-600 dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false"><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="text-danger">
                                    <a class="text-danger" data-toggle="modal" data-target="#bugs" href="#">
                                        <i class="fa fa-exclamation-triangle"></i> Сообщить об ошибке
                                    </a>
                                </li>
                            </ul>
                        </div>' %}

{% endif %}