<div style="padding-left: 20px;">

    {{ html.submitButton(translate('Save ' ~ params.title) , {'class' : 'btn btn-success'} ) | raw }}

    <a href="{{ params.indexUrl }}" class="btn btn-default"
       data-pjax="0">{{ translate('Cancel') }}</a>

    {% if not model.isNewRecord %}

        <a href="{{ createUrl({'0' : params.deleteUrl, 'id':getQueryParams('id')}) }}" class="btn btn-danger"
           data-pjax="0"
           onclick="if(confirm('Do you want to delete ?'))
                   {
                   return true;
                   } else {
                   return false;
                   }
                   ">{{ 'Delete' }}</a>

    {% endif %}
</div>

