<style>
    ul.navigation.navigation-main.navigation-accordion {
        background-color: lightslategrey !important;
    }
</style>
<div class="sidebar sidebar-main">
    <div class="sidebar-fixed">
        <div class="sidebar-content" style="overflow-y: hidden; outline: none;" tabindex="0">

            <div class="sidebar-category sidebar-category-visible">
                <div class="category-content no-padding">
                    <ul class="navigation navigation-main navigation-accordion">
                        {#<li><a href="/cabinet/pages/index"><i class="icon-grid2"></i> <span>{{ translate('Dashboard') }}</span></a></li>#}


                        {#{'label' : '<span>' ~ translate('Improvments RTMC') ~ '</span>',#}
                        {#'url' : ['cabinet/pages/index'],#}
                        {#'active' : '#' in this.context.route,#}
                        {#'visible' :  true},#}

                        {#{#}
                        {#'label' : '<span>' ~ translate('Documentation') ~ '</span>',#}
                        {#'url' : ['cabinet/faq-index'],#}
                        {#'active' : 'cabinet/default/faq/index' in this.context.route,#}
                        {#'visible' :  true#}
                        {#},#}

                        {#{#}
                        {#'label' : '<span>' ~ translate('Video-Lessons') ~  '</span>',#}
                        {#'url' : ['cabinet/faq-index'],#}
                        {#'active' : 'cabinet/default/faq/index' in this.context.route,#}
                        {#'visible' :  true#}
                        {#},#}


                        {% set mmenu = [] %}
                        {% set cab = 'cabinet/default' %}
                        {#{{ dump(this.context.route) }}#}
                        {% set main_items =
                        [
                        {
                        'label': "<i class='icon-file-locked'></i><span>" ~ translate('Users') ~ "</span>",
                        'linkOptions' : {'data-toggle' : 'collapse'},
                        'url': ['cabinet/user/'],
                        'active' : cab ~ '/user' in this.context.route,
                        'visible' :  true,
                        'items': [

                        {
                        'label' : '<span>' ~ translate('Users List') ~ '</span>',
                        'url' : ['cabinet/user/user/index'],
                        'active' : cab ~ '/user-' in this.context.route,
                        'visible' :  true
                        },
                        {
                        'label' : '<span>' ~ translate('CROSS TRADE Users') ~ '</span>',
                        'url' : ['cabinet/user/crosstrade/index'],
                        'active' : cab ~ '/user-' in this.context.route,
                        'visible' :  true
                        },

                        {
                        'label' : '<span>' ~ translate('Users Custom Values List') ~ '</span>',
                        'url' : ['cabinet/user/user-custom-value/index'],
                        'active' : cab ~ '/users' in this.context.route,
                        'visible' :  true
                        },

                        ]
                        },

                        {
                        'label': "<i class='icon-file-locked'></i><span>" ~ translate('Static Pages') ~ "</span>",
                        'linkOptions' : {'data-toggle' : 'collapse'},
                        'url': ['cabinet/pages/pages/index'],
                        'active' : cab ~ '/pages' in this.context.route,
                        'visible' :  true,
                        'items': [

                        {
                        'label' : '<span>' ~ translate('Pages List') ~ '</span>',
                        'url' : ['cabinet/pages/pages/index'],
                        'active' : cab ~ '/pages' in this.context.route,
                        'visible' :  true
                        },

                        ]
                        },


                        {
                        'label': "<i class='icon-file-text'></i><span>" ~ translate('Articles') ~ "</span>",
                        'linkOptions' : {'data-toggle' : 'collapse'},
                        'url': ['cabinet/article/article/index'],
                        'active' : cab ~ '/article' in this.context.route,
                        'visible' :  true,
                        'items': [

                        {
                        'label' : '<span>' ~ translate('Articles List') ~ '</span>',
                        'url' : ['cabinet/article/article/index'],
                        'active' : cab ~ '/article/article' in this.context.route,
                        'visible' :  true
                        },

                        {
                        'label' : '<span>' ~ translate('Articles Category') ~  '</span>',
                        'url' : ['cabinet/article/category/index'],
                        'active' : cab ~ '/article/category' in this.context.route,
                        'visible' :  true
                        },

                        {
                        'label' : '<span>' ~ translate('Tags') ~  '</span>',
                        'url' : ['cabinet/article/tag/index'],
                        'active' : 'tag' in this.context.route,
                        'visible' :  true
                        },




                        ]
                        },

                        {
                            'label': "<i class='icon-bubbles4'></i><span>" ~ translate('Notifications') ~ "</span>",
                            'linkOptions' : {'data-toggle' : 'collapse'},
                            'url': ['cabinet/notify'],
                            'active' : '/notify' in this.context.route,
                            'visible' :  true,
                            'items': [
                                {
                                    'label' : '<span>' ~ translate('Events List') ~ '</span>',
                                    'url' : ['cabinet/notify/events'],
                                    'active' : '/notify/events' in this.context.route,
                                    'visible' :  true
                                },

                                {
                                    'label' : '<span>' ~ translate('Templates') ~ '</span>',
                                    'url' : ['cabinet/notify/templates'],
                                    'active' : '/notify/templates' in this.context.route,
                                    'visible' :  true
                                },
                                {
                                    'label' : '<span>' ~ translate('Queue events') ~ '</span>',
                                    'url' : ['cabinet/notify/queue'],
                                    'active' : '/notify/queue' in this.context.route,
                                    'visible' :  true
                                },
                                {
                                    'label' : '<span>' ~ translate('Messages') ~ '</span>',
                                    'url' : ['cabinet/notify/messages'],
                                    'active' : '/notify/messages' in this.context.route,
                                    'visible' :  true
                                },
                                {
                                    'label' : '<span>' ~ translate('Users Settings') ~ '</span>',
                                    'url' : ['cabinet/notify/users'],
                                    'active' : '/notify/users' in this.context.route,
                                    'visible' :  true
                                },
                                {
                                    'label' : '<span>' ~ translate('Users Subscribes') ~ '</span>',
                                    'url' : ['cabinet/notify/subscribes'],
                                    'active' : '/notify/subscribes' in this.context.route,
                                    'visible' :  true
                                },

                            ]
                        },
                        {
                            'label': "<i class='icon-chart'></i><span>" ~ translate('Charts') ~ "</span>",
                            'linkOptions' : {'data-toggle' : 'collapse'},
                            'url': ['cabinet/charts'],
                            'active' : '/charts' in this.context.route,
                            'visible' :  true,
                        },

                        {
                        'label': "<i class='icon-megaphone'></i><span>" ~ translate('Forum') ~ "</span>",
                        'linkOptions' : {'data-toggle' : 'collapse'},
                        'url': ['cabinet/forum/category/index'],
                        'active' : cab ~ '/forum/category' in this.context.route,
                        'visible' :  true,
                        'items': [

                        {
                        'label' : '<span>' ~ translate('Categories') ~ '</span>',
                        'url' : ['cabinet/forum/category/index'],
                        'active' : cab ~ '/forum/category' in this.context.route,
                        'visible' :  true
                        },

                        {
                        'label' : '<span>' ~ translate('Topic') ~  '</span>',
                        'url' : ['cabinet/forum/topic/index'],
                        'active' : cab ~ '/forum/topic' in this.context.route,
                        'visible' :  true
                        },

                        {
                        'label' : '<span>' ~ translate('Posts') ~  '</span>',
                        'url' : ['cabinet/forum/comment/index'],
                        'active' : cab ~ '/forum/comment' in this.context.route,
                        'visible' :  true
                        },

                        ]
                        },

                        {
                        'label': "<i class='icon-megaphone'></i><span>" ~ translate('FAQ') ~ "</span>",
                        'linkOptions' : {'data-toggle' : 'collapse'},
                        'url': ['cabinet/faq/faq/index'],
                        'active' : cab ~ '/faq/faq' in this.context.route,
                        'visible' :  true,
                        'items': [


                        {
                        'label' : '<span>' ~ translate('FAQ') ~  '</span>',
                        'url' : ['cabinet/faq/faq/index'],
                        'active' : this.context.route in [cab ~ '/faq/faq/index',cab ~ '/faq/faq/create',cab ~ '/faq/faq/update'],
                        'visible' :  true
                        },
                        {
                        'label' : '<span>' ~ translate('FAQ Category') ~  '</span>',
                        'url' : ['cabinet/faq/category/index'],
                        'active' : cab ~ '/faq/category' in this.context.route,
                        'visible' :  true
                        },

                        ]
                        },

                        {
                        'label': "<i class='icon-megaphone'></i><span>" ~ translate('Features') ~ "</span>",
                        'linkOptions' : {'data-toggle' : 'collapse'},
                        'url': ['/cabinet/features/features/index'],
                        'active' : cab ~ '/improvement' in this.context.route,
                        'visible' :  true,
                        'items': [

                        {
                        'label' : '<span>' ~ translate('Features') ~ '</span>',
                        'url' : ['/cabinet/features/features/index'],
                        'active' : this.context.route in ['cabinet/features/features/index',cab ~ 'cabinet/features/features/create',cab ~ 'cabinet/features/features/update'],
                        'visible' :  true
                        },

                        {
                        'label' : '<span>' ~ translate('Category Features') ~  '</span>',
                        'url' : ['/cabinet/features/category/index'],
                        'active' : cab ~ '/cabinet/features/category' in this.context.route,
                        'visible' :  true
                        },

                        {
                        'label' : '<span>' ~ translate('Request') ~ '</span>',
                        'url' : ['/cabinet/features/request/index'],
                        'active' : this.context.route in ['cabinet/features/request/index',cab ~ '/request/create',cab ~ 'request/update'],
                        'visible' :  true
                        },

                        ]
                        },

                        {
                        'label': "<i class='icon-store2'></i><span>" ~ translate('Brokers') ~ "</span>",
                        'linkOptions' : {'data-toggle' : 'collapse'},
                        'url': ['cabinet/broker/index'],
                        'active' : cab ~ '/broker' in this.context.route,
                        'visible' :  true,
                        'items': [

                        {
                        'label' : '<span>' ~ translate('Brokers') ~ '</span>',
                        'url' : ['cabinet/brokers/brokers/index'],
                        'active' : this.context.route in [cab ~ '/brokers/index',cab ~ '/brokers/create',cab ~ '/brokers/update'],
                        'visible' :  true
                        },

                        {
                        'label' : '<span>' ~ translate('Functional') ~  '</span>',
                        'url' : ['cabinet/brokers/improvements/index'],
                        'active' : cab ~ '/brokers/improvements' in this.context.route,
                        'visible' :  true
                        },

                        {
                        'label' : '<span>' ~ translate('Data Feeds') ~  '</span>',
                        'url' : ['cabinet/brokers/feeds/index'],
                        'active' : cab ~ '/brokers/feeds' in this.context.route,
                        'visible' :  true
                        },

                        ]
                        },




                        {
                        'label' : "<i class='icon-windows2'></i><span>" ~ translate('Comments') ~  '</span>',
                        'url' : ['cabinet/comments-index'],
                        'active' : cab ~ '/comments' in this.context.route,
                        'visible' :  true,
                        'items': [
                        {
                        'label' :  '<span>' ~ translate('Comments') ~  '</span>',
                        'url' : ['cabinet/comments/comments/index'],
                        'active' : cab ~ '/comments' in this.context.route,
                        'visible' :  true
                        },
                        ]
                        },




                        {
                        'label': "<i class='icon-windows2'></i><span>" ~ translate('Settings') ~ "</span>",
                        'linkOptions' : {'data-toggle' : 'collapse'},
                        'url': ['/cabinet/setting-add'],
                        'active' : '/cabinet/s' in this.context.route,
                        'visible' :  true,
                        'items': [

                        {
                        'label' : '<span> ' ~ translate('Сommon') ~  '</span>',
                        'url' : ['/cabinet/setting'],
                        'active' : cab ~ '/setting' in this.context.route,
                        'visible' :  true
                        },

                        {
                        'label' : '<span>' ~ translate('Slider') ~  '</span>',
                        'url' : ['cabinet/settings/slider/index'],
                        'active' : cab ~ '/settings/slider/' in this.context.route,
                        'visible' :  true
                        },

                        {
                        'label' : '<span>' ~ translate('Seo') ~  '</span>',
                        'url' : ['cabinet/settings/ceo/index'],
                        'active' : cab ~ '/settings/ceo' in this.context.route,
                        'visible' :  true
                        },
                        {
                        'label' : '<span>' ~ translate('Page errors handler') ~  '</span>',
                        'url' : ['cabinet/settings/error/index'],
                        'active' : cab ~ '/settings/error' in this.context.route,
                        'visible' :  true
                        },

                        ]
                        },

                        {
                        'label': "<i class='icon-windows2'></i><span>" ~ translate('Translations') ~ "</span>",
                        'linkOptions' : {'data-toggle' : 'collapse'},
                        'url': ['cabinet/languages', 'cabinet/translations'],
                        'active' : '/cabinet/s' in this.context.route,
                        'visible' :  true,
                        'items': [

                        {
                        'label' : '<span> ' ~ translate('Languages') ~  '</span>',
                        'url' : ['/cabinet/translate/language/index'],
                        'active' : cab ~ '/translate/language' in this.context.route,
                        'visible' :  true
                        },

                        ]
                        },

                        {
                            'label': "<i class='icon-windows2'></i><span>" ~ translate('Codebase') ~ "</span>",
                            'linkOptions' : {'data-toggle' : 'collapse'},
                            'url' : ['/cabinet/codebase/codebase/index'],
                            'active' : cab ~ '/codebase/codebase/' in this.context.route,
                            'visible' :  true,
                            'items': [
                                {
                                    'label' : '<span> ' ~ translate('Category List') ~  '</span>',
                                    'url' : ['/cabinet/codebase/category/index'],
                                    'active' : cab ~ '/codebase/category' in this.context.route,
                                    'visible' :  true
                                },

                                {
                                    'label' : '<span> ' ~ translate('Codebase List') ~  '</span>',
                                    'url' : ['/cabinet/codebase/codebase/index'],
                                    'active' : cab ~ '/codebase/codebase/' in this.context.route,
                                    'visible' :  true
                                },
                            ]
                        },

                        {
                            'label': "<i class='icon-windows2'></i><span>" ~ translate('Trash') ~ "</span>",
                            'linkOptions' : {'data-toggle' : 'collapse'},
                            'url': ['/cabinet/trash/trash/index'],
                            'active' : cab ~ '/trash/trash' in this.context.route,
                            'visible' :  true,
                            'items': [
                                {
                                    'label' : '<span> ' ~ translate('Trash List') ~  '</span>',
                                    'url' : ['/cabinet/trash/trash/index'],
                                    'active' : cab ~ '/trash/trash' in this.context.route,
                                    'visible' :  true
                                },
                            ]
                        },


                        ] %}

                        {% set mmenu = [
                        {
                        'header': 'MAIN',
                        'title': 'Main pages',
                        'list': main_items
                        },
                        ] %}


                        {% for menu in mmenu %}

                            {% for item in menu.list %}


                                {% if item.visible %}

                                    <li
                                            {% if item.active %}
                                                class="active"
                                            {% endif %}

                                    >
                                        <a href="{{ createUrl(item.url) | raw }}">
                                            {{ item.label | raw }}
                                        </a>

                                        {% if item.items %}

                                            <ul class="
                                            {% if item.active %}
                                                in
                                            {% endif %}
                                            ">

                                                {% for sub_item in item.items %}

                                                    {% if sub_item.visible %}

                                                        <li
                                                                {% if sub_item.active %}
                                                                    class="active"
                                                                {% endif %}
                                                        >
                                                            <a href="{{ createUrl(sub_item.url) | raw }}">
                                                                {{ sub_item.label | raw }}</a>
                                                        </li>

                                                    {% endif %}

                                                {% endfor %}

                                            </ul>
                                        {% endif %}

                                    </li>

                                {% endif %}

                            {% endfor %}
                        {% endfor %}


                        <!-- /layout -->
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>