{% extends '@cab_views/layouts/main.twig' %}


{% block title %}

    {% if 'add' in this.context.route %}

        {{ 'Add ' ~ params.title | raw }}

    {% elseif 'edit' in this.context.route %}

        {{ 'Edit ' ~ params.title | raw }}

    {% endif %}

{% endblock %}



{% block content %}

    {% include params.path_to_form ~ '_form.twig' with {'model': model} %}

{% endblock %}
