{% extends '@cab_views/layouts/main.twig' %}
{% block title %}
    {{ params.title | raw }}
{% endblock %}
{% block panelClasses %}
    panel-valera
{% endblock %}
{% block content %}

    {{ use('yii/grid/GridView') }}

        <div class="row no-margin pl-20 pr-20">
            <div id="navbar-filter" class="navbar-collapse collapse col-lg-9">
                <p class="navbar-text">Фильтрация:</p>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i
                                    class="icon-sort-time-asc position-left"></i> По типу <span
                                    class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Все</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Только черновики</a></li>
                            <li><a href="#">Жалобные</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            
            <div class="pull-right text-right no-padding col-lg-3">
                <a class="btn btn-primary" href="{{ params.addUrl }}">
                    <i class="fa fa-plus position-left"></i>
                    {{ params.add_title | raw }}
                </a>
            </div>
        </div>

        <div class="row no-margin">
            {% if this.context.route not in [
            'cabinet/default/comments-index',
            'cabinet/default/ceo-index',
            'cabinet/default/user-index'
            ] %}
            {% endif %}
            {{ grid_view_widget({
                'dataProvider': dataProvider,
                'filterModel': searchModel,
                'columns': columns,
            }) | raw }}
        </div>

    <div id="modal_default" class="modal fade in">

    </div>

{% endblock %}
