{% extends '@views/layouts/base.twig' %}

{% block body_class %}
    pace-done sidebar-opposite-visible page-knowledge-base fixed-header adm-page
{% endblock %}
{% block body %}


    {% if constant('YII_ENV_DEV') %}
        {{ register_limit_less_asset() }}
    {% endif %}

    <meta name=“robots” content=“noindex,nofollow”>

    {% include '@views/layouts/components/header.twig' %}
    <!--flash -->
    {% include '@views/layouts/components/_flash_message.twig' %}


    {% block headerMenu %}{% endblock %}
    <!-- Page header  -->
    <div class="ptmc-content">
        {% include '@views/layouts/components/_breadcrumbs.twig' %}
    </div>
    <!-- /Page header  -->

    <!-- Page container -->
    <div class="page-container admin-panel">
        <!-- Page content -->
        <div class="page-content">

            {% include '@cab_views/layouts/_left_sidebar.twig' %}

            <div class="content-wrapper">
                <!-- Content area -->
                <div class="content">
                
                    <div class="panel panel-flat {% block panelClasses %}{% endblock %}">
                        <div class="panel-heading">

                            <h1 class="panel-title">
                                {% block title %}{% endblock %}
                            </h1>

                        </div>

                        <div class="panel-body">
                            {% block content %}{{ content | raw }}{% endblock %}
                        </div>                       
                    </div>

                </div>
                <!-- /Content area -->
            </div>

            {% block right_sidebar %}{% endblock %}

        </div>
        <!-- /Page content -->
    </div>
    <!-- /Page container -->

    {% block custom_scripts %}{% endblock %}


{% endblock %}