<div class="buttonsVote">
    {% if model.getCountVotesByUserId(app.user.identity.id) <= 0 %}
    <div class="oneButton">
        <a data-id="1" id="sweet_success" type="button" selector-counter=".text-black" class="btn btn-ptmc btn-fw" onclick="up();" data-safe="true">Vote</a>
    </div>
    {% else %}
    <div class="twoButton">
        <a class="btn btn-ptmc {{ app.user.identity.count_votes > 0 ? "" : "disabled" }}" onclick="up();" data-safe="true">+</a>
        <a class="btn btn-ptmc {{ app.user.identity.count_votes > 0 ? "" : "disabled" }}" onclick="down();" data-safe="true">-</a>
    </div>
    {% endif %}
    <div class="clear"></div>
</div>
{{ this.registerJs("
       var entity = '"~model.getTypeEntity()~"';
       var entity_id = '"~model.id~"';
       var guest = '"~app.user.isGuest()~"';

       function up(){
             ga('send', 'event', 'button', 'click', 'Vote');
            if(guest == '1'){
                return true;
            }
            vote.up(entity, entity_id);
       }
       function down(){
             ga('send', 'event', 'button', 'click', 'Vote');
            if(guest == '1'){
                return true;
            }
            vote.down(entity, entity_id);
       }
    ", constant('\\yii\\web\\View::POS_END')) }}
