<span class="vote">
    <div class="circle-votes">{{ model.getCountVotes() }}</div>
    {% if not app.user.isGuest %}
        <div class="youHave">
            You have <b>{{ app.user.identity.count_votes  }}</b> votes left
        </div>
    {% endif %}
    {% if(model.status == constant('STATUS_VOTING', model)) %}
        {% if model.getCountVotesByUserId(app.user.identity.id) <= 0 %}
            {% if not app.user.isGuest and app.user.identity.count_votes == 0 %}

            {% else %}
                <div class="oneButton">
                    <a data-id="1" id="sweet_success" type="button" selector-counter=".text-black" class="btn btn-ptmc btn-fw" onclick="vote.up('{{ model.getTypeEntity() }}', '{{ model.id }}');" data-safe="true">Vote</a>
                </div>
            {% endif %}
        {% else %}
            <div class="twoButton">
                <a class="btn btn-ptmc {{ app.user.identity.count_votes > 0 ? "" : "disabled" }}" type="button" onclick="vote.up('{{ model.getTypeEntity() }}', '{{ model.id }}');" data-safe="true">+</a>
                <a class="btn btn-ptmc {{ model.getCountVotesByUserId(app.user.identity.id) > 0 ? "" : "disabled" }}" type="button" onclick="vote.down('{{ model.getTypeEntity() }}', '{{ model.id }}');" data-safe="true">-</a>
            </div>
        {% endif %}
    {% endif %}
</span>
<ul class="voters">
    {% for vote in model.votes %}
        <li id="votes-user-data-id-{{ vote.user.id }}">
            <a href="{{ vote.user.getViewUrl() }}">
            <span class="photo">
                {{ vote.user.getAvatar(25, 25) | raw}}
            </span>
            <span class="user">
                {{ vote.user.getFullName() | raw}}
            </span>
            </a>
            <span class="votes">
                {{ vote.count }}
            </span>
        </li>
    {% endfor %}
</ul>