{% extends '@views/layouts/main.twig' %}

  {% block content %}
      {% include '@app/modules/brokers/views/default/_include/_modal_broker.twig' %}

      {{ use('app/components/percentBar') }}

      {% include '@views/layouts/components/scripts/_share.twig' %}

      {% set description = model.getCustomValue(model, 'description') %}
      {% set available_instruments = model.getCustomValue(model, 'available_instruments') %}
      {% set real_time_data = model.getCustomValue(model, 'real_time_data') %}
      {% set historical_data = model.getCustomValue(model, 'historical_data') %}
      {% set pricing = model.getCustomValue(model, 'pricing') %}
      {% set pricing_url = model.getCustomValue(model, 'pricing_url') %}
      {% set demo_url = model.getCustomValue(model, 'demo_url') %}

      <div class="panel panel-article new-art-view brTab">
          <div class="art panel-body">

              <div class="featCat">
                  <div class="artInfo">
                      <img class="brLogo" src="{{ model.getImageUrl() }}" onerror="this.onerror=null; this.src='https://api.fnkr.net/testimg/220x130/ffbe00/444/?text={{ model.name }}'" alt="{{ model.name }} logo"/>

                      {% if model.is_demo and demo_url %}

                          <a target="_blank"
                             onclick="ga('send', 'event', 'button', 'click', 'Open account {{ model.name }}');"
                             rel="nofollow" href="{{ demo_url }}"
                             class="btn btn-border-ptmc ">{{ translate('Open account') }}</a>

                      {% endif %}

                      {% if real_url %}

                          <a target="_blank"
                             onclick="ga('send', 'event', 'button', 'click', 'Real account {{ model.name }}');"
                             rel="nofollow" href="{{ real_url }}"
                             class="btn btn-border-ptmc ">{{ translate('Real account') }}</a>

                      {% endif %}

                      {% if model.alias  == 'protrader'%}
                          <a class="btn btn-border-ptmc" href="" rel="nofollow" target="_blank" data-target="#modal_broker" data-toggle="modal">Open account</a>
                      {% endif %}
                  </div>
                  <div class="artBody">
                      <h1>
                          {{ model.name }}
                      </h1>
                      <p>
                          {{ model.getCustomValue(model, 'description') | raw }}
                      </p>
                      <p><a target="_blank" rel="nofollow" href="{{ model.site }}">{{ model.site }}</a></p>
                  </div>
              </div>

              <div class="featCat">
                  <div class="artInfo">
                      <span class="h2">{{ translate('Properties of') }} {{ model.name }}</span>
                  </div>
                  <div class="artBody">
                      <table class="table">
                          <tbody>

                          {% if available_instruments is not empty %}
                              <tr>
                                  <td class="text-semibold">{{ translate('Available Instruments') }}</td>
                                  <td>{{ available_instruments }}</td>
                              </tr>
                          {% endif %}
                          {% if real_time_data is not empty %}
                              <tr>
                                  <td class="text-semibold">{{ translate('Real-time Data') }}</td>
                                  <td>{{ real_time_data }}</td>
                              </tr>
                          {% endif %}
                          {% if historical_data is not empty %}
                              <tr>
                                  <td class="text-semibold">{{ translate('Historical Data') }}</td>
                                  <td>{{ historical_data }}</td>
                              </tr>
                          {% endif %}
                          {% if pricing is not empty %}
                              <tr>
                                  <td class="text-semibold">{{ translate('Pricing') }}</td>
                                  {% if pricing_url is not empty %}
                                        <td><a href="{{ pricing_url }}" target="_blank">{{ pricing }}</a></td>
                                  {% else %}
                                        <td>{{ pricing }}</td>
                                  {% endif %}
                              </tr>
                          {% endif %}

                          </tbody>
                      </table>

                  </div>
              </div>


              {% if model.status ==  constant('app\\modules\\brokers\\models\\Broker::STATUS_IN_THE_VOTING') or  model.status == constant('app\\modules\\brokers\\models\\Broker::STATUS_IN_PROGRESS') %}
                  <div class="featCat">
                      <div class="artInfo">

                      </div>
                      <div class="artBody">
                          <img src="/images/brokers/broker_nu_nu.jpg" alt="">
                      </div>
                  </div>
              {% endif %}

          </div>
      </div>

      {% include '@views/layouts/components/_shared_buttons.twig' %}
      {% include '@views/layouts/components/scripts/_like.twig' %}

  {% endblock %}


{% block right_sidebar %}
    <div class="sidebar sidebar-main sidebar-opposite sidebar-valera sidebar-default sidebar-separate">
        <div class="sidebar-content">
            {{ use('app/components/widgets/random/EntityList') }}
            {{ EntityList_widget({
                'className':'\\app\\modules\\brokers\\models\\Broker',
                'title':translate('Brokers'),
                'entity': model
            }) }}
            <a href="/download" class="side-bander">
            <span class="text">
                Start using <b>PTMC</b> with
            </span>
            <span class="logos">
                <span class="logo fxcm active"></span>
                <span class="logo lmax"></span>
                <span class="logo oanda"></span>
            </span>
            </a>

        </div>


    </div>

{% endblock %}
