{% extends '@views/layouts/main.twig' %}
  {% block content %}
      {{ use('yii/widgets/ListView') }}
      <div class="brokers-page">
          <div class="content">
              <div class="row">
                    {{ ListView_widget({
                        'dataProvider':dataProviderConnected,
                        'itemView':'_include/_connected_item.twig',
                        'summary':false,
                    }) }}
                    <a href="javascript:void(0);" onclick="document.location.href =  '/feature-request?category_ids[]=2'">
                      <div class="col-lg-4 col-md-4 col-sm-6">
                          <div class="panel broker-panel request">
                              <div class="panel-name text-center">
                                  WHAT BROKER <br> DO YOU USE?
                              </div>
                              <div class="panel-instruments text-center">
                                  Check out the Feature request section for incoming or requested Connecitons.
                              </div>
                              <div class="btn btn-ptmc-border">
                                  Request your broker
                              </div>
                          </div>
                      </div>
                    </a>

              </div>
          </div>
          <!-- /Content area -->
      </div>

      {% include '@app/modules/brokers/views/default/_include/_request_broker.twig' %}
  {% endblock %}
