{% extends '@views/layouts/main.twig' %}
  {% block content %}

      {#{{ use('yii/widgets/Pjax') }}#}
      {#{{ use('yii/widgets/ListView') }}#}
      {#{{ use('app/models/broker/Broker') }}#}

      <!-- Primary modal -->
      {#<div id="modal_broker" class="modal fade" style="display: none;">#}
      <div class="modal-dialog ptmc-modal">
          <div class="modal-content">


              {% include '@views/brokers/_include/_form_demo_register.twig' %}


          </div>
      </div>
      {#</div>#}
      <!-- /primary modal -->





  {% endblock %}



