{% extends '@views/layouts/main.twig' %}

  {% block content %}
      {% include '@app/modules/brokers/views/default/_include/_modal_broker.twig' %}

      {{ use('app/components/percentBar') }}
      {{ use('app/components/widgets/like/Button') }}

      {% include '@views/layouts/components/scripts/_share.twig' %}

      {% set description = model.getCustomValue(model, 'description') %}
      {% set minimum_position_size = model.getCustomValue(model, 'minimum_position_size') %}
      {% set maximum_leverage = model.getCustomValue(model, 'maximum_leverage') %}
      {% set payment_methods_available = model.getCustomValue(model, 'payment_methods_available') %}
      {% set tradable_instruments = model.getCustomValue(model, 'tradable_instruments') %}
      {% set spread_type = model.getCustomValue(model, 'spread_type') %}
      {% set spread = model.getCustomValue(model, 'spread') %}
      {% set execution_type = model.getCustomValue(model, 'execution_type') %}
      {% set number_of_currency_pairs = model.getCustomValue(model, 'number_of_currency_pairs') %}
      {% set demo_url = model.getCustomValue(model, 'demo_url') %}
      {% set real_url = model.getCustomValue(model, 'real_url') %}
      {% set account_currencies = model.getCustomValue(model, 'account_currencies') %}

      <div class="panel panel-article new-art-view brTab">
        <div class="art panel-body">

          <div class="featCat">
            <div class="artInfo">
              <img class="brLogo" src="{{ model.getImageUrl() }}" onerror="this.onerror=null; this.src='https://api.fnkr.net/testimg/220x130/ffbe00/444/?text={{ model.name }}'" alt="{{ model.name }} logo"/>

              {% if model.is_demo and demo_url %}

                  <a target="_blank"
                     onclick="ga('send', 'event', 'button', 'click', 'Demo account {{ model.name }}');"
                     href="{{ demo_url }}"
                     class="btn btn-border-ptmc ">{{ translate('Demo account') }}</a>

              {% endif %}

              {% if real_url %}

                  <a target="_blank"
                     onclick="ga('send', 'event', 'button', 'click', 'Real account {{ model.name }}');"
                     href="{{ real_url }}"
                     class="btn btn-border-ptmc ">{{ translate('Real account') }}</a>

              {% endif %}

               {% if model.alias  == 'protrader'%}
                   <a class="btn btn-border-ptmc" href="" rel="nofollow" target="_blank" data-target="#modal_broker" data-toggle="modal">Open account</a>
                {% endif %}
            </div>
            <div class="artBody">
                <h1>
                    {{ model.name }}
                </h1>
                <p>
                    {{ model.getCustomValue(model, 'description') | raw }}
                </p>
                <p><a target="_blank" href="{{ model.site }}">{{ model.site }}</a></p>
            </div>
          </div>

          <div class="featCat">
            <div class="artInfo">
              <span class="h2">{{ translate('Properties of') }} {{ model.name }}</span>
            </div>
            <div class="artBody">
              <table class="table">
                <tbody>
                  <tr class="titleCat">
                      <td colspan="5">{{ translate('Account Setup') }}</td>
                  </tr>
                  {% if model.is_demo is not empty %}
                      <tr>
                          <td class="text-semibold col-lg-6">{{ translate('Demo Available') }}</td>
                          <td>{% if model.is_demo %}Yes{% else %}No{% endif %}</td>
                      </tr>
                  {% endif %}
                  {% if model.account is not empty %}
                      <tr>
                          <td class="text-semibold">{{ translate('Minimum Account Size') }}</td>
                          <td>{{ model.account }}</td>
                      </tr>
                  {% endif %}
                  {% if  minimum_position_size is not empty %}
                      <tr>
                          <td class="text-semibold">{{ translate('Minimum Position Size') }}</td>
                          <td>{{ minimum_position_size }}</td>
                      </tr>
                  {% endif %}
                  {% if maximum_leverage is not empty %}
                      <tr>
                          <td class="text-semibold">{{ translate('Maximum Leverage') }}</td>
                          <td>{{ maximum_leverage }}</td>
                      </tr>
                  {% endif %}
                  {% if account_currencies is not empty %}
                      <tr>
                          <td class="text-semibold">{{ translate('Account Currencies') }}</td>
                          <td>{{ account_currencies }}</td>
                      </tr>
                  {% endif %}
                  {% if payment_methods_available is not empty %}
                      <tr>
                          <td class="text-semibold">{{ translate('Payment Methods Available') }}</td>
                          <td>{{ payment_methods_available }}</td>
                      </tr>
                  {% endif %}
                </tbody>
              </table>
              <table class="table">
                <tbody>
                  <tr class="titleCat">
                      <td colspan="5">
                          {{ translate('Standard Trade Information') }}
                      </td>
                  </tr>

                  {% if tradable_instruments is not empty %}
                      <tr>
                          <td class="text-semibold">{{ translate('Tradable Instruments') }}</td>
                          <td>{{ tradable_instruments }}</td>
                      </tr>
                  {% endif %}
                  {% if spread_type is not empty %}
                      <tr>
                          <td class="text-semibold">{{ translate('Spread Type') }}</td>
                          <td>{{ spread_type }}</td>
                      </tr>
                  {% endif %}
                  {% if spread is not empty %}
                      <tr>
                          <td class="text-semibold">{{ translate('Spread') }}</td>
                          <td>{{ spread }}</td>
                      </tr>
                  {% endif %}
                  {% if execution_type is not empty %}
                      <tr>
                          <td class="text-semibold">{{ translate('Execution Type') }}</td>
                          <td>{{ execution_type }}</td>
                      </tr>
                  {% endif %}
                  {% if number_of_currency_pairs is not empty %}
                      <tr>
                          <td class="text-semibold">{{ translate('Number of Currency Pairs') }}</td>
                          <td>{{ number_of_currency_pairs }}</td>
                      </tr>
                  {% endif %}
                  {% if model.traders is not empty %}
                      <tr>
                          <td class="text-semibold">{{ translate('Traders') }}</td>
                          <td>{{ model.traders }}</td>
                      </tr>
                  {% endif %}
                </tbody>
              </table>

            </div>
          </div>

          <div class="featCat">
            <div class="artInfo">
              <span class="h2">{{ translate('Supported features') }}</span>
            </div>
            <div class="artBody">
              <table class="table">
                  <tbody>

                  {% for category in categories %}

                      <tr class="titleCat">
                          <td colspan="5">{{ category }}</td>
                      </tr>

                      {% for improvement in model.brokerImprovement %}
                          {% if category == improvement.category.title %}
                              <tr class="">
                                  <td class="col-lg-6">
                                      <a href="{{ improvement.getViewUrl() }}">{{ improvement.title }}</a>
                                  </td>

                                  <td class="text-center col-lg-6">
                                      <div class="progress progress-xxs">

                                          {{ percent_bar_widget_widget({
                                              'model' : model,
                                              'amount' : improvement.counts.getPercent(),
                                              'template' : 'one',
                                          }) }}

                                      </div>
                                  </td>
                              </tr>
                          {% endif %}
                      {% endfor %}
                  {% endfor %}

                  </tbody>
              </table>
            </div>
          </div>


          {% if model.status ==  constant('app\\modules\\brokers\\models\\Broker::STATUS_IN_THE_VOTING') or  model.status == constant('app\\modules\\brokers\\models\\Broker::STATUS_IN_PROGRESS') %}
            <div class="featCat">
              <div class="artInfo">
                
              </div>
              <div class="artBody">
                <img src="/images/brokers/broker_nu_nu.jpg" alt="">
              </div>
            </div>
          {% endif %}

        </div>
      </div>

      {% include '@views/layouts/components/_shared_buttons.twig' %}
      {% include '@views/layouts/components/scripts/_like.twig' %}

  {% endblock %}


{% block right_sidebar %}
<div class="sidebar sidebar-main sidebar-opposite sidebar-valera sidebar-default sidebar-separate">
    <div class="sidebar-content">
        {{ use('app/components/widgets/random/EntityList') }}
        {{ EntityList_widget({
            'className':'\\app\\modules\\brokers\\models\\Broker',
            'title':translate('Brokers'),
            'entity': model
        }) }}
        <a href="/download" class="side-bander">
            <span class="text">
                Start using <b>PTMC</b> with
            </span>
            <span class="logos">
                <span class="logo fxcm active"></span>
                <span class="logo lmax"></span>
                <span class="logo oanda"></span>
            </span>
        </a>     

    </div>


</div>

{% endblock %}

