{{ use('yii/widgets/Breadcrumbs') }}

{{ breadcrumbs_widget({
    'options' :
    {
        'class' : 'breadcrumb breadcrumb-caret'
    },
    'itemTemplate' : "<li>{link}</li>\n",
    'activeItemTemplate' : "<li style='font-size: 13px;color: #aaa;'>{link}</li>\n",
    'links' : app.controller.breadcrumbs,
    'homeLink' : false,
}) }}