{% if app.session.getAllFlashes() %}

    {% for state, messages in app.session.getAllFlashes() %}

        <div class="alert alert-{{ state }}" role="alert" >

            {{ messages | raw }}

        </div>

    {% endfor %}

{% endif %}
<script type="text/javascript">
    function fade(){
        jQuery('div.alert').fadeOut();
    }
    setTimeout('fade()', 3000);
</script>
