{% set elems = [
    [
        {
            name: translate('PTMC'), link:'#', icon:'icon-bubbles3',
            'active' : ('brokers/features/index' in this.context.route) or ('pages/index' in this.context.route) or ('download' in this.context.route) or ('brokers/default/' in this.context.route) or ('brokers/features/' in this.context.route)
        },

        {
            name: translate('Brokers'), link:'/brokers',
            'active' : 'brokers/default/' in this.context.route
        },

        {
            name: translate('Features'), link:'/features',
            'active' : 'brokers/features' in this.context.route
        },

        {
            name: translate('Download'), link:'/download',
            'active' : getPagesUrl('download') in this.context.route
        },

    ],

    [
        {
            name: translate('Community'), link:'#', icon:'icon-bubbles3',
            'active' : ('articles' in this.context.route) or ('codebase/' in this.context.route) or ('request' in this.context.route) or ('forum/' in this.context.route)
        },

        {
            name: translate('Forum'), link:'/forum',
            'active' : 'forum/' in this.context.route
        },

        {
            name: translate('Articles'), link:'/articles',
            'active' : 'articles' in this.context.route
        },

        {
            name: translate('Code Base'), link:'/codebase',
            'active' : 'codebase/' in this.context.route
        },
        {
            name: translate('Feature Request'), link:'/feature-request',
            'active' : 'features/request/index' in this.context.route
        },
    ],

    [
        {
            name: translate('Support'), link:'#', icon:'icon-bubbles3',
            'active' : ('faq' in this.context.route) or ('kb' in this.context.route)
        },

        {
            name: translate('FAQ'), link:'/faq',
            'active' : 'faq' in this.context.route
        },

        {
            name: translate('Documentation'), link:'/kb/index',
            'active' : 'kb' in this.context.route
        },
    ],

    [
        {
            name: translate('Cross Trade'), link: '#', icon:'icon-bubbles3', 'active' : ('crosstrade' in this.context.route)
        },

        {
            name: translate('About'), link:'/crosstrade/about', 'active' : 'crosstrade/crosstrade/about' in this.context.route
        },

        {
            name: translate('Statistics'), link:'/crosstrade/stats', 'active' : 'crosstrade/crosstrade/index' in this.context.route or 'crosstrade/crosstrade/view' in this.context.route
},
    ],

]
%}

{% if(app.user.isGuest) %}
    {% set elems = elems | merge([
        [{
            name: translate('Download'), link:'/download',
            'active' : getPagesUrl('download') in this.context.route,
            'class' : 'btn-download',
            'attr' : 'class="btn-download-page"'
        }]
    ]) %}
{% endif  %}

<ul class="nav navbar-nav">

    {% for itemPar in elems %}
        {% for item in itemPar %}
            {#{{ dump(item) }}#}
            {% if loop.length > 1 %}
                {#FOR MAIN BUTTONS IN MENU LIKE HO,ME PTMC .....#}
                {% if loop.first %}
                    <li class="dropdown mega-menu {% if item.active %} active {% endif %} ">
                        <a href="{{ item.link }}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                            {{ item.name }} <i class="caret"></i>
                        </a>
                        <div class="dropdown-menu dropdown-content">
                            <div class="dropdown-content-body">
                                <ul class="menu-list">
                                    {#END MAIN BUTTONS#}
                                {% else %}
                                    {% if not loop.last %}
                                        {#FIRST AND ALL ITEMS EXCEPT LAST#}
                                        <li class=" {% if item.active %} active {% endif %}">
                                            <a href="{{ item.link }}">
                                                {{ item.name }}
                                            </a>
                                        </li>
                                        {#END FIRST#}
                                    {% else %} {#LAST ITEM IN LIST  WITH ALL DIV WICH NEED TO CLOSE#}
                                        <li class="{% if item.active %} active {% endif %} ">
                                            <a href="{{ item.link }}">
                                                {{ item.name }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    {% endif %}{#END LAST#}
                {% endif %}
            {% else %}
                {#SPECIAL PART OF CODE ONLY FOR BUTTON HOME#}

                {#{{ dump(item) }}#}

                <li class="{% if item.active %}active{% endif %} {{ item.class }}"
                {% if not app.user.isGuest and item.class %}{% endif %}>

                {% if currentURL() != item.link %}
                    <a href="{{ item.link }}" {{ item.attr }}>
                        {{ item.name }}
                    </a>
                {% else %}
                    <span {{ item.attr }}>
                        {{ item.name }}
                    </span>
                {% endif %}
            </li>
            {#SPECIAL PART OF CODE ONLY FOR BUTTON HOME#}
        {% endif %}
    {% endfor %}
{% endfor %}
</ul>

{% if app.controller.action.actionMethod != 'actionProfile' %}
    {% include '@views/layouts/components/_search.twig' %}
{% endif %}