
<!-- warning modal -->
<div id="bugs" class="modal fade">
    <div class="modal-dialog ptmc-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-close close-modal"></i>
                </button>
                <span class="modal-title h6">Write some feedback to PTMC team</span>
            </div>


            {{ use('yii/helpers/Html') }}
            {{ use('yii/widgets/FlatActiveForm') }}
            {{ use('vova07/imperavi/Widget') }}

            {% set feedback_bottom = getFeedbackForm() %}

            {% set bug_report = flat_active_form_begin({ 'id' : 'bug-report','action' : '/site/feedback' }) %}

            <div class="modal-body">

                <div style="display:none">

                    {{ bug_report.field(feedback_bottom, 'website', {'template' : '{input}'}).
                    textInput({'maxlength' : 128}) | raw }}

                </div>

               {# <div class="">
                <label>Category</label>
                <!-- <input type="text" value="" class="form-control"> -->
                    <select class="bootstrap-select" data-width="100%" name="FeedbackForm[category_id]" id="">
                <option value="0">Protrader.org website</option>
                <option value="1">Protrader MC</option>
                <option value="2">Brokers</option>
                <option value="3">Partnership</option>
                <option value="4">Common</option>
                </select>
                </div>#}

                {% if (app.user.isGuest()) %}
                    <div class="">
                        {#<label>{{ translate('Name') }}</label>#}

                        {{ bug_report.field(feedback_bottom, 'theme',{'template' : '{input}'}).
                        textInput({'maxlength' : 128, 'placeholder': translate('Name')}) | raw }}

                    </div>
               
                    <div class="mt-20">
                        {#<label>{{ translate('Email') }}</label>#}

                        {{ bug_report.field(feedback_bottom, 'email',{'template' : '{input}'}).
                        textInput({'maxlength' : 128, 'placeholder': translate('Email')}) | raw }}

                    </div>
                        
                    <div class="mt-20">
                    {#<label>{{ translate('Message') }}</label>#}

                    {{ bug_report.field(feedback_bottom, 'description',{'template' : '{input}'}).textarea({'maxlength' : 3000, 'placeholder': translate('Message')}) | raw }}

                    </div>
                {% else %}        
                    <div class="">
                    {#<label>{{ translate('Message') }}</label>#}

                    {{ bug_report.field(feedback_bottom, 'description',{'template' : '{input}'}).textarea({'maxlength' : 3000, 'placeholder': 'Message'}) | raw }}

                </div>
                {% endif %}
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">{{ translate('Cancel') }}</button>
                <button type="submit" class="btn btn-ptmc" onclick="ga('send', 'event', 'button', 'click', 'Contact us footer send feedback');">
                    {{ translate('Send feedback') }}
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /warning modal -->

{{ this.registerJs("
$('form').submit(function(){
        if ($('input#feedbackform-website').val().length != 0) {
            return false;
        }
});
") }}

{{ flat_active_form_end() }}