<div class="panel-footer">
  <ul class="text-muted">
    <li>30.10.2015 в 13:10, Отредактировал: talentedtrader 30.10.2015 13:13</li>
  </ul>
  <ul class="pull-right">
    <li class="pr-15"><a href="#"></a></li><a href="#">
    </a><li class="pr-10"><a href="#"><span class="pr-5">0</span> </a><a href="#"><i class="fa fa-thumbs-o-up tr03"></i></a></li><a href="#">
    </a><li class="pr-10"><a href="#"></a><a href="#"><i class="fa fa-thumbs-o-down tr03"></i></a></li><a href="#">
    </a><li class="dropdown"><a href="#">
      </a><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="icon-menu7"></i> <span class="caret"></span></a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
        <li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>
        <li><a href="#"><i class="icon-rotate-ccw2"></i> Reassign</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-pencil7"></i> Edit task</a></li>
        <li><a href="#"><i class="icon-cross2"></i> Remove</a></li>
      </ul>
    </li>
  </ul>
</div>