{#<form class="navbar-form navbar-right abs-right clSearch" action="{{ app.controller.getSearchAction() }}">#}
    {#<div class="form-group has-feedback">#}

        {#{% if(app.controller.search_visible) %}#}
        {#<input name="search" class="form-control input-xs search-ptmc" placeholder="Search" type="search"  value="{{ getSearchValue() }}">#}

        {#<div id="search-loop" class="form-control-feedback">#}
            {#<i class="icon-search4 text-muted text-size-base"></i>#}
        {#</div>#}

        {#<input id="search-btn" hidden="" type="submit" value="Search">#}
        {#{% endif %}#}

    {#</div>#}
{#</form>#}

{#{{ this.registerJs("#}
{#jQuery(document).ready(function(){#}

    {#/* Send search */#}
    {#jQuery(document).keypress(function(e){#}
        {#if(e.which == 13) {#}
                  {#$(this).parents('form').submit();#}
        {#}#}
    {#});#}

    {#$('#search-loop').click(function(e){#}
        {#e.stopPropagation();#}
        {#if ($(this).parents('form').hasClass('clSearch')) {#}
            {#$(this).parents('form').removeClass('clSearch');#}
            {#$(this).prev('input').focus();#}
        {#}#}
        {#else{            #}
            {#$(this).parents('form').submit();#}
        {#}#}
    {#});#}
    {#$('.abs-right').click(function(e) {#}
        {#e.stopPropagation();#}
    {#});#}
    {#$('body').click(function() {#}
        {#$('.abs-right').addClass('clSearch');#}
    {#});#}

{#});#}
{#") }}#}
