<div class="artShare">

    <div class="socWrap" style="">
        <g:plusone></g:plusone>
    </div>

    <div class="socWrap">
        <div id="fb-root"></div>
        <div class="fb-share-button" data-href="" data-layout="button_count"></div>
    </div>

    <div class="socWrap">
        <script class="linkedin-btn" type="IN/Share" data-url="" data-counter="right"></script>
    </div>

    <div class="socWrap">
        <iframe id="tweet-button" allowtransparency="true" frameborder="0" scrolling="no"
                src="http://platform.twitter.com/widgets/tweet_button.html?count=horizontal"
                style="width:110px; height:20px;">
        </iframe>
    </div>

</div>