<div class="navbar navbar-default ptmc-footer navbar-sm">
    <div class="navbar-boxed" id="navbar-footer">

        <div class="navbar-text no-padding-left">
            © {{ currentYear() }}. PTMC is based on <a href="http://protrader.com" target="_blank">PFSOFT Protrader</a> technology.
        </div>

        <div class="socials">
          <ul>
            <li class="sc-twitter">
              <a target="_blank" href="https://twitter.com/PTMCplatform">
                <img src="/images/sb-footer/social_icon2_twitter1.svg" class="normal" alt="Twitter" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_twitter1.png'">
                <img src="/images/sb-footer/social_icon2_twitter.svg" class="hover" alt="Twitter" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_twitter.png'">
              </a>
            </li>
            <li class="sc-facebook">
              <a target="_blank" href="https://www.facebook.com/PTMCplatform/">
                <img src="/images/sb-footer/social_icon2_facebook1.svg" class="normal" alt="facebook" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_facebook1.png'">
                <img src="/images/sb-footer/social_icon2_facebook.svg" class="hover" alt="facebook" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_facebook.png'">
                
              </a>
            </li>
            <li class="sc-google">
              <a target="_blank" href="https://plus.google.com/b/105613404449103719052/105613404449103719052/posts?gmbpt=true&hl=ru">
                <img src="/images/sb-footer/social_icon2_google1.svg" class="normal" alt="google" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_google1.png'">
                <img src="/images/sb-footer/social_icon2_google.svg" class="hover" alt="google" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_google.png'">
                
              </a>
            </li>
            <li class="sc-linkedin">
              <a target="_blank" href="https://www.linkedin.com/company/ptmc-protrader-multi-connect?trk=top_nav_home">
                <img src="/images/sb-footer/social_icon2_lin1.svg" class="normal" alt="linkedin" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_lin1.png'">
                <img src="/images/sb-footer/social_icon2_lin.svg" class="hover" alt="linkedin" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_lin.png'">
                
              </a>
            </li>
          </ul>
        </div>

        <div class="navbar-right no-margin-right">
            <ul class="nav navbar-nav no-padding-right">
                <li><a class="btn" href="/download">{{ translate('Download PTMC') }}</a></li>
                <li><a class="btn" href="/privacy-policy">{{ translate('Privacy Policy') }}</a></li>
<!--                 <li>
                    <a class="btn bug" data-toggle="modal" data-target="#bugs" onclick="ga('send', 'event', 'button', 'click', 'Contact us footer');">
                        <span>{{ translate('Contact us') }}</span>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</div>

<div class="feedback-btn" onclick="ga('send', 'event', 'button', 'click', 'Contact us circle');">
  <div class="border">
    <div class="img">
      <img src="/images/feedback/icon_feedback.svg" class="feedback" alt="feedback_image">
      <img src="/images/feedback/close_feedback.svg" class="close" alt="close">
    </div>
    <div class="text">
    {% if app.params['live-chat'] is defined and app.params['live-chat'] == '1' %}
        Live <br>Chat
    {% else %}
        Contact <br>us
    {% endif %}
    </div>
  </div>
</div>
<div class="feedback-back">

</div>
{% if app.params['live-chat'] is defined and app.params['live-chat'] == '1' %}
<!--Start of Tawk.to Script zalypa-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/576105d9ddb549146fca33f6/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->
<style>
  .feedback-Modal.open{
    width: 330px;
    padding: 5px;
  }
  .feedback-Modal.open{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
  @media screen and (max-width: 768px){
    .feedback-Modal {
      position: fixed;
      float: left;
      background-color: #353535;
      color: #fff;
      opacity: 0;
      width: 1px;
      max-height: 1px;
      bottom: 85px;
      right: 40px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      transition: all .3s,width .3s,max-height .5s,opacity .5s;
      -webkit-transition: all .3s,width .3s,max-height .5s,opacity .5s;
      -moz-transition: all .3s,width .3s,max-height .5s,opacity .5s;
      -o-transition: all .3s,width .3s,max-height .5s,opacity .5s;
      -ms-transition: all .3s,width .3s,max-height .5s,opacity .5s;
      z-index: 0;
    }
    .feedback-Modal.open{
      left: auto;
      top: auto;
      height: auto;
      bottom: 95px;
      right: 10px;
      z-index: 1032;
    }
  }
  @media screen and (max-width: 480px){
    .feedback-Modal.open{
      bottom: 5px;
      right: 5px;
    }
  }
</style>
{% endif %}
<div class="feedback-Modal">
  <div class="content">
      {{ use('yii/helpers/Html') }}
      {{ use('yii/widgets/FlatActiveForm') }}
      {{ use('vova07/imperavi/Widget') }}

      {% set feedback = getFeedbackForm() %}

      {% set bug_report_form = flat_active_form_begin({ 'id' : 'bug-report-form','action' : '/site/feedback' }) %}
      
      {% if app.params['live-chat'] is defined and app.params['live-chat'] == 1 %}
      <div class="footerQuestion">
        <div id="tawk_576105d9ddb549146fca33f6" class="ff"></div>
      </div>
      {% else %}
          <div class="modal-header">
              <span class="h6 no-margin">Write some feedback to PTMC team</span>
              <i class="fa fa-close close-modal"></i>
          </div>
          <div class="modal-body">

              <div style="display:none">
                  {{ bug_report_form.field(feedback, 'website', {'template' : '{input}'}).textInput({'maxlength' : 128, 'placeholder': ''}) | raw }}
              </div>

             {# <div class="">
                  <!-- <label>Category</label> -->
                  <!-- <input type="text" value="" class="form-control"> -->
                  <select class="bootstrap-select" data-width="100%" name="FeedbackForm[category_id]" id="">
                      <option value="0">Protrader.org website</option>
                      <option value="1">Protrader MC</option>
                      <option value="2">Brokers</option>
                      <option value="3">Partnership</option>
                      <option value="4">Common</option>
                  </select>
              </div>#}

             {% if (app.user.isGuest()) %}
              <div class="mt-20">
                  <!-- <label>{{ translate('Name') }}</label> -->
                  {{ bug_report_form.field(feedback, 'theme',{'template' : '{input}'}).textInput({'maxlength' : 128, 'placeholder': translate('Name') }) | raw }}
              </div>
              <div class="mt-20">
                  <!-- <label>{{ translate('Email') }}</label> -->
                  {{ bug_report_form.field(feedback, 'email',{'template' : '{input}'}).textInput({'maxlength' : 128, 'placeholder': translate('Email') }) | raw }}
              </div>
              <div class="mt-20">
                  <!-- <label>{{ translate('Message') }}</label> -->
                  {{ bug_report_form.field(feedback, 'description',{'template' : '{input}'}).textarea({'maxlength' : 3000, 'placeholder': translate('Message') }) | raw }}
                  {#{{ form.field(bug_report, 'description',{'template' : '{input}'}).widget(staticMethod('\\vova07\\imperavi\\Widget', 'className')) | raw }}#}
              </div>
              {% else %}
                  <div class="">
                  <!-- <label>{{ translate('Message') }}</label> -->
                  {{ bug_report_form.field(feedback, 'description',{'template' : '{input}'}).textarea({'maxlength' : 3000, 'placeholder': 'Message'}) | raw }}
                  
              </div>
              {% endif %}
          </div>

          <div class="modal-footer">
              <button type="submit" onclick="ga('send', 'event', 'button', 'click', 'Contact us feedback');" class="btn btn-ptmc">{{ translate('Send feedback') }}</button>
          </div>
      {% endif %}
      <div class="footer">          
        <!-- <i class="fa fa-close close-modal"></i> -->
      </div>
  </div>
</div>




{{ flat_active_form_end() }}

  {% include '@views/layouts/components/_modal_feedback.twig' %}

<div class="" style="display: none;" id="top"></div>
{{ this.registerJs("

jQuery(document).ready(function(){

    var scroll = $(window).scrollTop();
      if ( scroll > 200 ) {
        $('#top').fadeIn('fast');
      } 
      else {
        $('#top').fadeOut('fast');
      }
      
    $('body').on('click','.spoiler .sp-title',function() {
      if ($(this).parent('.spoiler').hasClass('collapsed')) {
        $(this).parent('.spoiler').removeClass('collapsed');
      }
      else{
        $(this).parent('.spoiler').addClass('collapsed');
      }
    });

    var ww = $(window).width();
    if (ww < 768) {
      var tempScrollTop, currentScrollTop = 0;
      $(window).scroll(function() {
        var currentScrollTop = $(window).scrollTop();
        if (tempScrollTop < currentScrollTop ) {
          $('.feedback-btn').addClass('open');
        }
        else if (tempScrollTop > currentScrollTop ){
          if ($('.feedback-Modal').hasClass('open')) {
            
          }
          else{
            $('.feedback-btn').removeClass('open');
          }
        }
        tempScrollTop = currentScrollTop;
      });
    };
    
    $('.feedback-back').click(function(){
      if($('.feedback-btn').hasClass('open')){
        $('.feedback-btn').removeClass('open');
        $('.feedback-Modal .content').removeClass('open');
        $('.feedback-Modal').removeClass('open');
        $('.feedback-back').removeClass('open'); 
        $('body').removeClass('MenuOpen');
      }
    });
    $('.feedback-Modal .close-modal').click(function() {
        $('.feedback-btn').removeClass('open');
        $('.feedback-Modal .content').removeClass('open');
        $('.feedback-Modal').removeClass('open');
        $('.feedback-back').removeClass('open'); 
        $('body').removeClass('MenuOpen');
    })


    $('.feedback-btn').click(function(){
      if ($(this).hasClass('open')) {
        $(this).removeClass('open');
        $('.feedback-Modal .content').removeClass('open');
        $('.feedback-Modal').removeClass('open');
        $('.feedback-back').removeClass('open');
        $('body').removeClass('MenuOpen');
      }
      else{
        $(this).addClass('open');
        $('.feedback-Modal').addClass('open');
        $('.feedback-back').addClass('open');
        $('body').addClass('MenuOpen');
        setTimeout(function() { $('.feedback-Modal .content').addClass('open'); }, 300);
      }
    });

    var wh = $(window).height();
    var bh = $('body').height();
    var fh = $('.ptmc-footer').height();
    var scroll = $(window).scrollTop();

    if (scroll > bh-wh-fh) {
      $('.feedback-btn').addClass('footer');
    }
    else{
      $('.feedback-btn').removeClass('footer');
    };

    $(window).scroll(function(){
      var header = $('.navbar-fixed');
      var oneHead = $('.navbar-fixed').height();
      var scroll = $(window).scrollTop();
      var wh = $(window).height();
      var bh = $('body').height();
      var fh = $('.ptmc-footer').height();
      if (scroll > bh-wh-fh) {
        $('.feedback-btn').addClass('footer');
      }
      else{
        $('.feedback-btn').removeClass('footer');
      };
      
      if ( scroll > 40 ){
        $(header).addClass('navbar-fixed-top');
        $('body').css('padding-top', oneHead).addClass('fixed_nav');
      }
      else {
        $(header).removeClass('navbar-fixed-top');
        $('body').removeClass('fixed_nav');
        $('body').attr('style', '');
      };
      var scroll = $(window).scrollTop();
      if ( scroll > 150 ) {
        $('#top').fadeIn('fast');
      } 
      else {
        $('#top').fadeOut('fast');
      }

    });

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    if(window.user != undefined && user != null && user.id > 0){
        ga('create', 'UA-44579577-1', {'userId':user.id});
    }else{
        ga('create', 'UA-44579577-1', 'auto');

    }
    ga('send', 'pageview');


   (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter28203172 = new Ya.Metrika({ id:28203172, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName('script')[0], s = d.createElement('script'), f = function () { n.parentNode.insertBefore(s, n); }; s.type = 'text/javascript'; s.async = true; s.src = 'https://mc.yandex.ru/metrika/watch.js'; if (w.opera == '[object Opera]') { d.addEventListener('DOMContentLoaded', f, false); } else { f(); } })(document, window, 'yandex_metrika_callbacks');

});
") }}
<noscript><div><img src="https://mc.yandex.ru/watch/28203172" style="position:absolute; left:-9999px;" alt="" /></div></noscript>