{{ use('app/modules/notify/widgets/BellDropDown') }}
<!-- Main navbar -->
<div class="navbar ptmc-navbar">
  <div class="navbar-ptmc-box">
    <div class="navbar-left-side">
      {% if currentURL() != '/' %}
        <a class="navbar-brand" href="/">
          <img src="/images/logo.svg" onerror="this.onerror=null; this.src='/images/logo.png'" alt="Logo PTMC">
        </a>
        {% else %}
            <span class="navbar-brand" href="/">
          <img src="/images/logo.svg" onerror="this.onerror=null; this.src='/images/logo.png'" alt="Logo PTMC">
        </span>
      {% endif %}
    </div>

    <div class="navbar-center-side">
      {% include '@views/layouts/components/_mainMenu.twig' %}
    </div>

    <div class="navbar-right-side">
      {% if not  app.user.isGuest %}  {% else %}
      <div class="navbar-left">
        <a class="header-link login-btn">
            <i class="fa fa-sign-in" aria-hidden="true"></i> {{ translate('Login') }}
        </a>
        <div class="dropdown-loginForm">
            <div class="tabbable">
              <div class="modal-header">
                  <ul class="nav nav-tabs nav-tabs-solid nav-justified">
                      <li class="active">
                          <a href="#login-form-tab" data-toggle="tab" aria-expanded="false" id="login-tab-item">
                             
                             {{ translate('Log in') }}
                          </a>
                      </li>
                      <li>
                          <a href="#registration-form-tab" data-toggle="tab"
                             aria-expanded="false" id="registration-tab-item">
                             {{ translate('Registration') }}
                          </a>
                      </li>
                  </ul>
              </div>

              <div class="tab-content">

                  {{ use('nodge/eauth/Widget') }}
                  {{ use('yii/helpers/Html') }}
                  {{ use('yii/widgets/ActiveForm') }}

                  {% include '@views/user/modal/__login_form.twig' %}
                  {% include '@views/user/modal/__registration_form.twig' %}
                  {% include '@views/user/modal/__recovery_password_form.twig' %}

                <div id="social-widget" onclick="ga('send', 'event', 'button', 'click', 'registration_social');">
                  {{ Widget_widget({"action" : "/login"}) }}
                </div>
                  
              </div>
            </div>
          </div>
      </div>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">

        {#<li class="language-switch active">#}
          {#<a class="langsw" data-toggle="dropdown" aria-expanded="false">#}
            {#{% if app.language == 'en-US' %}ENG{% else %}RUS{% endif %}#}
            {#<!-- <span class="caret"></span> -->#}
          {#</a>#}

          {#<ul class="langsw-menu active">#}
            {#<li class="{% if app.language == 'en-US' %}active{% endif %}"><a href="/en" class="english">ENG</a></li>#}

            {#<li class="{% if app.language == 'ru-RU' %}active{% endif %}"><a href="/ru" class="russian">RUS</a></li>#}
          {#</ul>#}
        {#</li>#}

        {% if not  app.user.isGuest %}
        <li class="dropdown dropdown-user">

          <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">

              {{ app.user.identity.getAvatar(20,20) | raw }}
            <span>{{ app.user.identity.getFullname() |raw }}</span>
            <i class="caret"></i>
          </a>


          <ul class="dropdown-menu dropdown-menu-right">

            <li><a href="{{ app.user.identity.getViewUrl() }}" id="my-profile">{{ translate('My profile') }}</a></li>
            {% if   app.user.identity.isAdmin() %}

              <li><a href="/cabinet/" id="admin-page">{{ translate('Admin page') }}</a></li>

            {% endif %}
            <li><a href="/logout"  data-method="post" id="exit">{{ translate('Exit') }}</a></li>
          </ul>
        </li>

        
        {{ BellDropDown_widget() }}

        {% endif %}

      </ul>

    </div>
    <ul class="mob-nav-button pull-right">

      <li>
        <a class="text-center burger" data-target="mobPanel">
          <i class="icon-menu7"></i>
        </a>
      </li>

    </ul>
  </div>
</div>




<!-- /main navbar -->

<!-- Mobile navbar -->
  <div id="navbar-mobile" class="mobPanel">
    <div class="header">
      <a href="/">
        <img src="/images/logo.svg" onerror="this.onerror=null; this.src='/images/logo.png'" style="margin-top: 0; height: 100%;" alt="Logo PTMC">
      </a>
      <span class="pull-right">
      {% if not  app.user.isGuest %}

        {{ BellDropDown_widget({mobile:true}) }}

      {% endif %}
        <a href="#close-navbar-mobile">
          <i class="fa fa-close"></i>
        </a>
      </span>
    </div>
    <div class="body">

      <div class="mob-block">

        {% if not app.user.isGuest %}
            <a href="{{ app.user.identity.getViewUrl() }}">
                {{ app.user.identity.getAvatar(32,32) | raw }}
            <span>{{ app.user.identity.getFullname() |raw }}</span>
          </a>
          |
          <a href="/logout" class="mt-5 text-muted" data-method="post">{{ translate('Exit') }}</a>

          {% else %}<a class="btn btn-fw log" data-toggle="modal" data-target="#modal_form_inline" href="#">{{ translate('Log in') }}</a>

        {% endif %}

      </div>
      <span class="pull-right">

        <!-- BellDropDown_widget()

        {{ BellDropDown_widget({mobile:true}) }}

        BellDropDown_widget() END -->

        <a id="closeNav" href="#close-navbar-mobile">
          <!-- <i class="fa fa-close"></i> -->
        </a>
      </span>
    </div>
    <div class="body">

      {% include '@views/layouts/components/_mainMenu.twig' %}
      <div class="mob-block no-padding-top">
        <div class="mob-line"></div>
      </div>
      <div class="socials">
          <ul>
            <li class="sc-twitter twitter">
              <a target="_blank" class="twitter" href="https://twitter.com/PTMCplatform">
                <img src="/images/sb-footer/social_icon2_twitter1.svg" class="normal" alt="Twitter" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_twitter1.png'">
                <img src="/images/sb-footer/social_icon2_twitter.svg" class="hover" alt="Twitter" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_twitter.png'">
              </a>
            </li>
            <li class="sc-facebook facebook">
              <a target="_blank" class="facebook" href="https://www.facebook.com/PTMCplatform/">
                <img src="/images/sb-footer/social_icon2_facebook1.svg" class="normal" alt="facebook" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_facebook1.png'">
                <img src="/images/sb-footer/social_icon2_facebook.svg" class="hover" alt="facebook" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_facebook.png'">

              </a>
            </li>
            <li class="sc-google google">
              <a target="_blank" class="google" href="https://plus.google.com/b/105613404449103719052/105613404449103719052/posts?gmbpt=true&hl=ru">
                <img src="/images/sb-footer/social_icon2_google1.svg" class="normal" alt="google" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_google1.png'">
                <img src="/images/sb-footer/social_icon2_google.svg" class="hover" alt="google" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_google.png'">

              </a>
            </li>
            <li class="sc-linkedin linkedin">
              <a target="_blank" class="linkedin" href="https://www.linkedin.com/company/ptmc-protrader-multi-connect?trk=top_nav_home">
                <img src="/images/sb-footer/social_icon2_lin1.svg" class="normal" alt="linkedin" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_lin1.png'">
                <img src="/images/sb-footer/social_icon2_lin.svg" class="hover" alt="linkedin" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_lin.png'">

              </a>
            </li>
          </ul>
          <div class="clear"></div>
        </div>

    </div>
  </div>

<!-- /Mobile navbar -->
