{{ use('app/components/notification/widgets/BellDropDown') }}
<!-- Main navbar -->
<div class="navbar navbar-inverse headroom headroom--top navbar-ptmc">
  <div class="navbar-boxed">
    <div class="navbar-header">
      {% if currentURL() != '/' %}
        <a class="navbar-brand" href="/">
          <img src="/images/logo.svg" onerror="this.onerror=null; this.src='/images/logo.png'" style="margin-top: 0; height: 100%; width: 100%" alt="Logo PTMC">
        </a>
        {% else %}
            <span class="navbar-brand" href="/">
          <img src="/images/logo.svg" onerror="this.onerror=null; this.src='/images/logo.png'" style="margin-top: 0; height: 100%; width: 100%" alt="Logo PTMC">
        </span>
      {% endif %}
      <ul class="nav navbar-nav pull-right visible-xs-block">

        <li>
          <a class="text-center burger" data-target="mobPanel">
            <i class="icon-menu7"></i>
          </a>
        </li>

      </ul>
    </div>

    <div class="navbar-collapse collapse" id="">
      <div class="navbar-right">

        <div class="navbar-left">
          <a class="header-link" data-toggle="modal" data-target="#modal_form_inline" href="#">
              {% if not  app.user.isGuest %}  {% else %} {{ translate('Log in') }} {% endif %}
          </a>
        </div>
        <ul class="nav navbar-nav">

          {% if not  app.user.isGuest %}
          <li class="dropdown notifications">
              {#{{ BellDropDown_widget() }}#}
          </li>
          <li class="dropdown dropdown-user">

            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">

                {{ app.user.identity.getAvatar(20,20) | raw }}
              <span>{{ app.user.identity.getFullname() |raw }}</span>
              <i class="caret"></i>
            </a>


            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="{{ app.user.identity.getViewUrl() }}" id="my-profile">{{ translate('My profile') }}</a></li>
              <li class="divider"></li>

              {% if   app.user.identity.isAdmin() %}

                <li><a href="/cabinet/" id="admin-page">{{ translate('Admin page') }}</a></li>

              {% endif %}



              <li class="divider"></li>
              <li><a href="/logout"  data-method="post" id="exit">{{ translate('Exit') }}</a></li>
            </ul>
          </li>


          {% endif %}

          {#<li class="dropdown language-switch active">#}
            {#<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">#}
              {#{% if app.language == 'en-US' %}ENG{% else %}RUS{% endif %}#}
              {#<span class="caret"></span>#}
            {#</a>#}

            {#<ul class="dropdown-menu active">#}
              {#<li class="{% if app.language == 'en-US' %}active{% endif %}"><a href="/en" class="english">ENG</a></li>#}

              {#<li class="{% if app.language == 'ru-RU' %}active{% endif %}"><a href="/ru" class="russian">RUS</a></li>#}
            {#</ul>#}
          {#</li>#}
        </ul>

      </div>
    </div>
  </div>
</div>




<!-- /main navbar -->

<!-- Mobile navbar -->
  <div id="navbar-mobile" class="mobPanel">
    <div class="header">
      <a href="/">
        <img src="/images/logo.svg" onerror="this.onerror=null; this.src='/images/logo.png'" style="margin-top: 0; height: 100%;" alt="Logo PTMC">
      </a>
      <span class="pull-right">

        <!-- BellDropDown_widget() -->

        {#{{ BellDropDown_widget({mobile:true}) }}#}

        <!-- BellDropDown_widget() END -->

        <a href="#close-navbar-mobile">
          <i class="fa fa-close"></i>
        </a>
      </span>
    </div>
    <div class="body">

      <div class="mob-block">

        {% if not app.user.isGuest %}
            <a href="{{ app.user.identity.getViewUrl() }}">
                {{ app.user.identity.getAvatar(32,32) | raw }}
            <span>{{ app.user.identity.getFullname() |raw }}</span>
          </a>

          <a href="/logout" class="pull-right mt-5" data-method="post">{{ translate('Exit') }}</a>

          {% else %}<a class="btn btn-fw log" data-toggle="modal" data-target="#modal_form_inline" href="#">{{ translate('Log in') }}</a>

        {% endif %}

        <div class="mob-line"></div>

      </div>
      {% include '@views/layouts/components/_mainMenu.twig' %}
      <div class="mob-block no-padding-top">
        <div class="mob-line"></div>
      </div>
      <div class="socials">
          <ul>
            <li class="sc-twitter twitter">
              <a target="_blank" class="twitter" href="https://twitter.com/PTMCplatform">
                <img src="/images/sb-footer/social_icon2_twitter1.svg" class="normal" alt="Twitter" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_twitter1.png'">
                <img src="/images/sb-footer/social_icon2_twitter.svg" class="hover" alt="Twitter" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_twitter.png'">
              </a>
            </li>
            <li class="sc-facebook facebook">
              <a target="_blank" class="facebook" href="https://www.facebook.com/PTMCplatform/">
                <img src="/images/sb-footer/social_icon2_facebook1.svg" class="normal" alt="facebook" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_facebook1.png'">
                <img src="/images/sb-footer/social_icon2_facebook.svg" class="hover" alt="facebook" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_facebook.png'">

              </a>
            </li>
            <li class="sc-google google">
              <a target="_blank" class="google" href="https://plus.google.com/b/105613404449103719052/105613404449103719052/posts?gmbpt=true&hl=ru">
                <img src="/images/sb-footer/social_icon2_google1.svg" class="normal" alt="google" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_google1.png'">
                <img src="/images/sb-footer/social_icon2_google.svg" class="hover" alt="google" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_google.png'">

              </a>
            </li>
            <li class="sc-linkedin linkedin">
              <a target="_blank" class="linkedin" href="https://www.linkedin.com/company/ptmc-protrader-multi-connect?trk=top_nav_home">
                <img src="/images/sb-footer/social_icon2_lin1.svg" class="normal" alt="linkedin" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_lin1.png'">
                <img src="/images/sb-footer/social_icon2_lin.svg" class="hover" alt="linkedin" onerror="this.onerror=null; this.src='/images/sb-footer/social_icon2_lin.png'">

              </a>
            </li>
          </ul>
        </div>

    </div>
  </div>

<!-- /Mobile navbar -->

{% block headerMenu %}
  <div class="navbar-fixed">
    <div class="navbar navbar-fixed-top fix navbar-default" id="navbar-second">
        <div class="navbar-boxed navbar-collapse collapse" id="navbar-second-toggle">
          <div class="fixed_logo">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.svg" onerror="this.onerror=null; this.src='/images/logo.png'" style="width: 187px; height: 25px;" alt="Logo PTMC">
            </a>
          </div>
          {% include '@views/layouts/components/_mainMenu.twig' %}
        </div>
    </div>
  </div>
{% endblock %}
