<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf-param" content="_csrf">
<meta name="csrf-token" content="{{ app.request.getCsrfToken() }}">
<!-- Global stylesheets -->

<link href="/css/protraderdesign/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
<link href="/css/protraderdesign/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/css/protraderdesign/minified/core.min.css" rel="stylesheet" type="text/css">
<link href="/css/protraderdesign/minified/components.min.css" rel="stylesheet" type="text/css">
<link href="/css/protraderdesign/minified/colors.min.css" rel="stylesheet" type="text/css">
<link href="/css/protraderdesign/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
<link href="/css/protraderdesign/style.css" rel="stylesheet" type="text/css">
<!-- /global stylesheets -->

<!-- Core JS files -->
<script type="text/javascript" src="/js/protraderdesign/plugins/loaders/pace.min.js"></script>
<script type="text/javascript" src="/js/protraderdesign/core/libraries/jquery.min.js"></script>
<script type="text/javascript" src="/js/protraderdesign/core/libraries/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/protraderdesign/plugins/loaders/blockui.min.js"></script>
<script type="text/javascript" src="/js/protraderdesign/plugins/ui/nicescroll.min.js"></script>
<script type="text/javascript" src="/js/protraderdesign/plugins/ui/drilldown.js"></script>
<!-- /core JS files -->

<!-- Theme JS files -->
<script type="text/javascript" src="/js/protraderdesign/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript" src="/js/protraderdesign/plugins/forms/styling/switchery.min.js"></script>
<script type="text/javascript" src="/js/protraderdesign/plugins/forms/styling/switch.min.js"></script>

<script type="text/javascript" src="/js/protraderdesign/plugins/ui/headroom/headroom_jquery.min.js"></script>
<script type="text/javascript" src="/js/protraderdesign/plugins/ui/headroom/headroom.min.js"></script>

<script type="text/javascript" src="/js/protraderdesign/plugins/forms/selects/bootstrap_select.min.js"></script>
<script type="text/javascript" src="/js/protraderdesign/pages/form_bootstrap_select.js"></script>

<script type="text/javascript" src="/js/protraderdesign/plugins/buttons/hover_dropdown.min.js"></script>

<script type="text/javascript" src="/js/protraderdesign/core/app.js"></script>
<script type="text/javascript" src="/js/protraderdesign/core/libraries/bootstrap.min.js"></script>
<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>


<script type="text/javascript" src="/js/protraderdesign/pages/form_checkboxes_radios.js"></script>
<script type="text/javascript" src="/js/protraderdesign/plugins/media/fancybox.min.js"></script>
<script type="text/javascript" src="/js/protraderdesign/pages/components_thumbnails.js"></script>
<!-- Theme JS files -->

<script type="text/javascript" src="/js/protraderdesign/custom/main_script.js"></script>



