<div class="col-lg-3">
    <h5 class="no-margin">{{ translate('Contact info') }} </h5>

    {% if profile.skype %}

        <span class="spanwithicon no-padding-left col-lg-12">
          <i class="fa fa-skype" style="width: 22px; text-align: center"></i>
          <a href="skype:{{ profile.skype }}?call">
              {{ profile.skype }}
          </a>
        </span>

    {% endif %}

    {% if profile.phone %}

        <span class="spanwithicon no-padding-left col-lg-12">
          <i class="fa fa-mobile" style="width: 22px; text-align: center"></i>
            {{ profile.phone }}
        </span>

    {% endif %}


    {% set site = staticMethod('app\\models\\user\\UserCustomField','getDataByAttrName',{'website':'website'}) %}
    {% if site %}
        <span class="spanwithicon no-padding-left col-lg-12" style="background-position: 2px 6px;">
                <i class="fa fa-desktop" style="width: 22px; text-align: center"></i>
                <a target="_blank" href="{{  site   }}">{{  site }}</a>
        </span>
    {% endif %}

    {% set social_profile = staticMethod('app\\models\\user\\UserCustomField','getDataByAttrName',{'social_profile':'social_profile'}) %}
    {% if social_profile %}
        <span class="spanwithicon no-padding-left col-lg-12" style="background-position: 2px 6px;">
                <i class="fa fa-desktop" style="width: 22px; text-align: center"></i>
                <a target="_blank" href="{{  social_profile   }}">{{  social_profile }}</a>
        </span>
    {% endif %}

</div>