<div class="col-lg-2 infoRow">

        <h5 class="no-margin">{{ translate('Personal info') }}</h5>

        <span class="spanwithicon no-padding-left col-lg-12">
          <i class="fa fa-calendar" style="width: 22px; text-align: center"></i>
            {{ profile.birth_date | date ('j, n, Y')}}
        </span>

    {% set address = staticMethod('app\\models\\user\\UserCustomField','getDataByAttrName',{'address':'address'}) %}
    {% if address %}
       <span class="spanwithicon no-padding-left col-lg-12">
        <i class="fa fa-home" style="width: 22px; text-align: center"></i>
        {{ address }}
        </span>
    {% endif %}


    {% set url = staticMethod('app\\models\\user\\UserCustomField','getDataByAttrName',{'url':'url'}) %}
    {% if url %}
        <span class="spanwithicon no-padding-left col-lg-12">
          <i class="fa fa-vk" style="width: 22px; text-align: center"></i>
          <a href="url" target="_blank">url</a>
        </span>
    {% endif %}


    {% set country = staticMethod('app\\models\\user\\UserCustomField','getCountry') %}
    {% if country %}
        <span class="spanwithicon no-padding-left col-lg-12">
        <i class="fa fa-desktop" style="width: 22px; text-align: center"></i>
        <a target="_blank" href="#">{{ country }}</a>
    </span>
    {% endif %}


    {% set university_name = staticMethod('app\\models\\user\\UserCustomField','getDataByAttrName',{'university_name':'university_name'}) %}
    {% if university_name %}
        <span class="spanwithicon no-padding-left col-lg-12">
        <i class="fa fa-desktop" style="width: 22px; text-align: center"></i>
        <a target="_blank" href="{{  university_name   }}">{{  university_name }}</a>
    </span>
    {% endif %}


    {% set faculty_name = staticMethod('app\\models\\user\\UserCustomField','getDataByAttrName',{'faculty_name':'faculty_name'}) %}
    {% if faculty_name %}
        <span class="spanwithicon no-padding-left col-lg-12">
        <i class="fa fa-desktop" style="width: 22px; text-align: center"></i>
        <a target="_blank" href="{{  faculty_name   }}">{{  faculty_name }}</a>
    </span>
    {% endif %}


    {% set faculty_name = staticMethod('app\\models\\user\\UserCustomField','getDataByAttrName',{'education_form':'education_form'}) %}
    {% if education_form %}
        <span class="spanwithicon no-padding-left col-lg-12">
        <i class="fa fa-desktop" style="width: 22px; text-align: center"></i>
        <a target="_blank" href="{{  education_form   }}">{{  education_form }}</a>
    </span>
    {% endif %}


    {% set faculty_name = staticMethod('app\\models\\user\\UserCustomField','getDataByAttrName',{'count_friends':'count_friends'}) %}
    {% if count_friends %}
        <span class="spanwithicon no-padding-left col-lg-12">
        <i class="fa fa-desktop" style="width: 22px; text-align: center"></i>
        <a target="_blank" href="{{  count_friends   }}">{{  count_friends }}</a>
    </span>
    {% endif %}



</div>
