{#<div class="col-lg-5">#}
{#<div class="col-lg-6 no-padding">#}
    {#<h5 class="no-margin">Trading skill</h5>#}
    {#<span>Options » 1 месяц(ев),<br>Equities » 10 years,<br>Futures » 5 месяц(ев),<br>Forex/CFDs » 1 years</span>#}
{#</div>#}
{#<div class="col-lg-6 no-padding">#}
    {#<h5 class="no-margin">Стиль в торговле</h5>#}
    {#<span>Long term,<br>Day trading,<br>Swing trading,<br>Scalping</span>#}
{#</div>#}
{#</div>#}